<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for map in sitemap %}
    <url>
        <loc>{{ map.location }}</loc>
        {% if map.lastModified %}
        <lastmod>{{ map.lastModified.format('c') }}</lastmod>
        {% endif %}
        
        {% if map.changeFrequency %}
        <changefreq>{{ map.changeFrequency }}</changefreq>
        {% endif %}
        
        {% if map.priority %}
        <priority>{{ map.priority }}</priority>
        {% endif %}
    </url>
    {% endfor %}
</urlset>