.cv .cv-row {
	margin-bottom: 25px;
}
.cv .info-view > div {
	float: left;
}

.cv .info-view {
	position: relative;
	margin-left: 8px;
}

/*
====================================
Education 
==================================== 
*/

.cv .education-row .info-view .logo {
	float: right;
	margin-right: 30px;
}

.cv .education-row .info-view .dates {
	color:#828487;
	line-height: 18px;
	width: 145px;
	margin-right: 75px;
}

.cv .education-row .info-view .actions a:first-child {
	margin-right: 10px;
}

.cv .education-row .info-view .college-and-course {
	width: 280px;
	margin-right: 30px;
}

.cv .education-row .info-view .college {
	font-weight: bold;
	font-size: 16px;
}

/*
====================================
Work Experience
====================================
*/

.cv .work-experience-row .info-view .dates {
	color:#828487;
	line-height: 18px;
	width: 145px;
	margin-right: 75px;
}

.cv .work-experience-row .info-view .job-summary {
	width: 513px;
}

.cv .work-experience-row .info-view .job-summary .position {
	color: #202935;	
	font-size: 16px;
	font-weight: bold;
}

.cv .work-experience-row .info-view .job-summary .company {
	color: #202935;	
	font-size: 16px;
}

/*
====================================
Reference row
====================================
*/

.cv .reference-row .info-view > div {
	float: none !important;
}

.cv .reference-row .info-view .contact-name {
	font-weight: bold;		
}

.cv .reference-row .form-view .control-group {
	margin-right: 20px;
	margin-bottom: 1px;
}

.cv .reference-row .form-view input {
	width: 180px;
}
