#cv_form h3 {
	font-weight: bold;
	font: 20px Arial;
	line-height: 20px;
	color: #000;
	margin:0;
	padding:0;
}

#cv_form h4 {
	margin:0;
	padding:0;
	font: 15px Arial;
	font-weight: normal;
	font-style: italic;
}

/*
====================================
Name and Covernote
====================================
*/

#name-and-covernote {
	margin-bottom: 25px;
}

#name-and-covernote h3 {
	margin-bottom: 25px;
}

#name-and-covernote > div {
	float: left;
}

#covernote-wrapper {
	margin-left: 20px;
}

#covernote-wrapper textarea {
	width: 490px;
	
}

/*
====================================
Education 
==================================== 
*/

#cv_form .education-row .form-view .control-group {
	margin-right: 20px;
	margin-bottom: 1px;
}

#cv_form .education-row .form-view input.education-date-input {
	width: 176px;
}

#cv_form .education-row .form-view input.education-college {
	width: 403px;
}

#cv_form .education-row .form-view input.education-course {
	width: 396px;
}

#cv_form .education-row .form-view input.education-award {
	width: 403px;
}

#cv_form .education-row .info-view .logo {
	float: right;
	margin-right: 30px;
}

#cv_form .education-row .info-view .dates {
	color:#828487;
	line-height: 18px;
	width: 145px;
	margin-right: 75px;
}

#cv_form .education-row .info-view .actions a:first-child {
	margin-right: 10px;
}

#cv_form .education-row .info-view .college-and-course {
	width: 280px;
	margin-right: 30px;
}

#cv_form .education-row .info-view .college {
	font-weight: bold;
	font-size: 16px;
}

/*
====================================
Work Experience
====================================
*/

#cv_form .work-experience-row .form-view .control-group {
	margin-right: 20px;
	margin-bottom: 1px;
}

#cv_form .work-experience-row .form-view input.work-experience-date-input {
	width: 176px;
}

#cv_form .work-experience-row .form-view input.work-experience-company {
	width: 403px;
}

#cv_form .work-experience-row .form-view input.work-experience-position {
	width: 396px;
}

#cv_form .work-experience-row .form-view .work-experience-description {
	width: 403px;
}

#cv_form .work-experience-row .info-view .dates {
	color:#828487;
	line-height: 18px;
	width: 145px;
	margin-right: 75px;
}

#cv_form .work-experience-row .info-view .job-summary {
	width: 513px;
}

#cv_form .work-experience-row .info-view .job-summary .position {
	color: #202935;	
	font-size: 16px;
	font-weight: bold;
}

#cv_form .work-experience-row .info-view .job-summary .company {
	color: #202935;	
	font-size: 16px;
}

#cv_form .work-experience-row .form-view .finish-date-help {
	position: relative;
	top: -10px;
	font-style: italic;
	
}

/*
====================================
Reference row
====================================
*/

#cv_form .reference-row .info-view > div {
	float: none !important;
}

#cv_form .reference-row .info-view .contact-name {
	font-weight: bold;		
}

#cv_form .reference-row .form-view .control-group {
	margin-right: 20px;
	margin-bottom: 1px;
}

#cv_form .reference-row .form-view input {
	width: 180px;
}

/*
====================================
Generic row stuff
====================================
*/

#cv_form .cv-row .form-view {
	display: none; 
}

#cv_form .cv-row .info-view {
	position: relative;
	display: none; 
	margin-left: 8px;
}

#cv_form .cv-row .info-view > div {
	float: left;
}

#cv_form .cv-row .info-view .actions {
	float: none;
	position: absolute;
	right: -45px;
	top: 8px;
	background: #fff;
	padding: 4px 9px;
	width: 50px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#cv_form .cv-row .form-view .row-form-buttons-wrapper {
	clear: left;
	float: right;
	text-align: right;
	width: 250px;
	margin: 20px 45px 10px 0;
}

#cv_form .cv-row .form-view .row-form-buttons-wrapper button {
	margin-left: 10px;
}

#cv_form .cv-row  .form-view {
	border: 1px dashed #ccc;
	display: none;
}

#cv_form .cv-row {
	position: relative;
	margin-bottom: 4px;
}

#cv_form .cv-row .move-handler {
	cursor: move;
	position: absolute;
	left: -8px;
	top: 0px;
	opacity: 0.6;
	display: none;
}

#cv_form .cv-row .move-handler:hover {
	opacity: 1;
}

#cv_form .cv-row:hover .move-handler {
	display: block;
}

/*
====================================
Other misc stuff
====================================
*/

#cv_form {
	background: #fff;
}

#cv_form .typcn {
	font-size: 1.6em;
}

#cv_form .padded {
	padding: 13px 0 0 25px;
}

#cv_form hr.divider {
	background: #eee;
	color: #eee;
	height: 2px;
}

#wanawork_userbundle_cvtype_achievements {
	width: 93%;
	height: 200px;
}

#cv_form .cv-row div.control-group.error  {
	margin-right: 0;
	position: relative; 
	top: -10px;
}

#cv_form .cv-row .date-block div.control-group.error {
	max-width: 200px;
}

#cv_form .reference-row div.control-group.error {
	max-width: 200px;
}

#cv_form .empty-message {
	border: 1px dashed #ccc;
	text-align: center;
	padding-bottom: 15px;
}

#cv_form .rows-wrapper .empty-message .message {
	width: 50%;
	margin-left: 25%;
	text-align: left;
}

.rows-wrapper > .new-row {
	display: none;
	float: right;
	margin: 5px 5px 5px 0;
}


