/*
====================================
Header
====================================
*/
#cv-header h1 {
	font-size: 18px;
	line-height: 18px;
	margin: 0 0 10px 0;
	padding: 0;
	color: #202935;
}

#cv-header h2 {
	font-size: 15px;
	line-height: 15px;
	margin: 0 0 15px 0;
	padding: 0;
	color: #202935;
	font-weight: normal;
}