{{ form_errors(form) }}
<form action="" method="post" {{ form_enctype(form) }} novalidate class="form-horizontal">
    
    <fieldset>
    	<legend>Company Information</legend>
    	
    	{{ form_row(form.companyName) }}
    	{{ form_row(form.companyNumber) }}
    	{{ form_row(form.address) }}
    	{{ form_row(form.city) }}
    	{{ form_row(form.county) }}
    	{{ form_row(form.phoneNumber) }}
    	{{ form_row(form.email) }}
    	{{ form_row(form.website) }}
    	{{ form_row(form.skype) }}
    </fieldset>
    
    <fieldset>
    	<legend>Company Contact</legend>
    	{{ form_row(form.contactName) }}
    </fieldset>
    
    <fieldset>
    	<legend>Social Networks</legend>
    	
    	<div class="control-group">
            {{ form_label(form.facebook) }}
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on">facebook.com/</span>
                    {{ form_widget(form.facebook,  {attr: {placeholder: 'Username'}}) }}
                </div>
	    	    {{ form_errors(form.facebook) }}
	        </div>
	    </div>
	    
    	
    	<div class="control-group">
            {{ form_label(form.twitter) }}
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on">@</span>
                    {{ form_widget(form.twitter,  {attr: {placeholder: 'Username'}}) }}
                </div>
	    	    {{ form_errors(form.twitter) }}
	        </div>
	    </div>
    
    	{{ form_row(form.linkedin) }}
    	
    </fieldset>
    
    <fieldset>
    	<legend>Other Information</legend>
    	{{ form_rest(form) }}
    </fieldset>
    
    <div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-main ">Save</button>
		</div>
	</div>
</form>
