{% extends "WanaworkUserBundle::base.html.twig" %}
{% block title %}
Admin Panel - Employers
{% endblock %}

{% block body %}
{% include 'WanaworkUserBundle:User:_admin-panel.html.twig' with {menu_selection: 'company'} %}

<table class="default-table">
    <thead>
        <tr>
            <th>Company name</th>
            <th>Contact name</th>
            <th>Email</th>
            <th>Is verified</th>
            <th>Phone Number</th>
            <th>City</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for employer in employers %}
        <tr>
            <td><a href="{{ path('company_show', {slug: employer.slug }) }}">{{ employer.companyName }}</a></td>
            <td>{{ employer.contactName }}</td>
            <td>{{ employer.email }}</td>
            <td>
                {{ employer.isVerified ? 'Yes' : "No" }}
                {% if employer.isVerified %}
                <br />
                By {{ employer.verifiedBy.name }}
                {% endif %}
            </td>
            <td>{{ employer.phoneNumber }}</td>
            <td>{{ employer.city }}</td>
            <td>
            
                <div class="btn-group">
				  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				    Action
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
				    <li>
                        <a href="{{ path('company_show', {slug: employer.slug}) }}">Show</a>
                    </li>
                    <li>
                        <a href="{{ path('company_edit', {slug: employer.slug }) }}">Edit</a>
                    </li>
                    <li>
                        {% if employer.isVerified %}
                        <a class="verification-link" href="{{ path('company_mark_unverified', {slug: employer.slug}) }}">Revoke Verification</a>
                        <form style="display:none;" method="post" action="{{ path('company_mark_unverified', {slug: employer.slug}) }}">
                        </form>
                        {% else %}
                        <a class="verification-link" href="{{ path('company_mark_verified', {slug: employer.slug}) }}">Grant Verification</a>
                        <form style="display:none;" method="post" action="{{ path('company_mark_verified', {slug: employer.slug}) }}">
                        </form>
                        {% endif %}
                    </li>
				  </ul>
				</div>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="row">
	<div class="span12">
		<div class="navigation">
    	{{ knp_pagination_render(employers) }}
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	{% javascripts filter='?yui_js' 
	'bundles/wanaworkuser/js/employer/index.js'
	 %}
		<script src="{{ asset(asset_url) }}"></script>
	{% endjavascripts %}
{% endblock %}
