{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}New Company Profile{% endblock %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>New Company Profile</h1>
        <h2>Please fill out your company profile. It's required to request CVs from candidates</h2>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div style="background:#fff; padding: 5px 20px;">
	    {% include 'WanaworkUserBundle:EmployerProfile:_form.html.twig' with {mode: 'create'} %}    
	    </div>    
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'@WanaworkUserBundle/Resources/public/css/employerProfile/form.css'%}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts filter='?yui_js' 
	'@WanaworkUserBundle/Resources/public/js/employer/form.js'%}
	<script src="{{ asset(asset_url) }}"></script>	
{% endjavascripts %}
{% endblock %}