{% extends "WanaworkUserBundle::base.html.twig" %}

{% block body %}
<div class="row">
	<div class="span12">
		<div id="bnrMainLite">
			<div id="bnrTxtLite">
				<h1>Sign Up</h1>
			</div>
		</div>
	</div>
</div>
<div id="background-blue-lite"></div>

<div class="row">
	<div class="span12">
		{% include 'WanaworkUserBundle:EmployerProfile:_signup-breadcrums.html.twig' with {active: 3} %}
	</div>
</div>

<div class="row" id="cntntHolder">
	<div class="span11">
		<h2>Your Profile is ready</h2>
		<p>
			Thank you for completing your profile.
		</p>
		<p>
			You can now start search for candidates. <br /><br />
			<a class="btn" href="{{ path('wanawork_main_search') }}">Start Searching</a>
		</p>
	</div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'@WanaworkUserBundle/Resources/public/css/ads/ad-post-common.css' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}
