{% extends "WanaworkUserBundle::base.html.twig" %}

{% block body %}
<div class="row">
	<div class="span12">
		<div id="bnrMainLite">
			<div id="bnrTxtLite">
				<h1>Sign Up</h1>
			</div>
		</div>
	</div>
</div>
<div id="background-blue-lite"></div>

<div class="row">
	<div class="span12">
		{% include 'WanaworkUserBundle:EmployerProfile:_signup-breadcrums.html.twig' with {active: 2} %}
	</div>
</div>

<div class="row" id="cntntHolder">
	<div class="span11">{% include 'WanaworkUserBundle:EmployerProfile:_form.html.twig' %}</div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'@WanaworkUserBundle/Resources/public/css/ads/ad-post-common.css' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}