{% extends "WanaworkUserBundle::base.html.twig" %}

{% block title %}{{ profile.companyName }} - Company Profile{% endblock %}
{% block meta %}
<meta content="Company profile for {{ profile.companyName }}" name="description" />
{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">
        <div class="profile">
            
            {% if profile.isVerified %}
            <span class="verification-label label label-success">Company Verified</span>
            {% else %}
            <a href="{{ path('employer_verification_request', {slug: profile.slug}) }}" 
              title="The identity of this company has not been yet verified"><span class="verification-label label label-warning">Company Not Verified</span></a>
            {% endif %}
        
            <section class="top clearfix">
            
                <div class="column column1">
                    <div class="avatar">
		                {% if profile and profile.webPath %}
					    <img src="{{ asset((profile.webPath) | apply_filter('thumbnail_145_wide'))  }}" id="profileImg" />
						{% else %}
						<img src="{{ asset('images/avaPlaceHold.jpg') }}" id="profileImg" />
						{% endif %}
					</div>
                </div>
                
                <div class="column column2">
	                <h1 class="company-name"> 
						{{ profile.companyName }}
					</h1>
					
					<div class="two-line-pair company-number">
					   <div class="heading">Company Number</div>
					   <div class="text">{{ profile.companyNumber ? profile.companyNumber : 'Not provided' }}</div>
					</div>
					
					<div class="two-line-pair company-contact">
					   <div class="heading">Contact Name</div>
					   <div class="text">{{ profile.contactName }}</div>
					</div>
					
                </div>
                
                <div class="column column3">
                
                    <h3>Company Description</h3>
                    {% if profile.about %}
                        {{ profile.about }}
                    {% else %}
                        Not provided
                    {% endif %}
                </div>
            
            </section>
            
            <section class="middle clearfix">
                
                {% if profile.website %}
                <div class="with-icon contact-details">
                    <img src="{{ asset('static/typicons.2.0/png-24px/world.png') }}" />
                    <a href="{{ profile.website }}">{{ profile.website }}</a>
                </div>
                {% endif %}
                
                {% if is_granted('VIEW', profile) %}
                <div class="with-icon contact-details">
                    <img src="{{ asset('static/typicons.2.0/png-24px/mail.png') }}" />
                    <a href="mailto:{{ profile.email }}">{{ profile.email }}</a>
                </div>
                
                <div class="with-icon contact-details">
                    <img src="{{ asset('static/typicons.2.0/png-24px/device-phone.png') }}" />
                    <tel>{{ profile.phoneNumber }}</tel>
                </div>
                {% endif %}
            
            </section>
            
            <section class="bottom clearfix">
            
                <div class="column column1">
                    <h3>Company Address</h3>
                    {{ profile.address }}<br/>
				    {{ profile.city }}<br/>
				    {{ profile.county }}
                </div>
                
                <div class="column column2">
                    <h3>Social Networks</h3>
                    {% if profile.facebook %}
                    <div class="social-network with-icon">
                        <img src="{{ asset('static/typicons.2.0/png-24px/social-facebook.png') }}" />
                        <a href="http://facebook.com/{{ profile.facebook }}">{{ profile.facebook }}</a>
                    </div>
					{% endif %}
					
					{% if profile.twitter %}
                    <div class="social-network with-icon">
                        <img src="{{ asset('static/typicons.2.0/png-24px/social-twitter.png') }}" />
                        <a href="https://twitter.com/{{ profile.twitter }}">{{ profile.twitter }}</a>
                    </div>
					{% endif %}
					
					{% if profile.linkedin %}
                    <div class="social-network with-icon">
                        <img src="{{ asset('static/typicons.2.0/png-24px/social-linkedin.png') }}" />
                        <a href="{{ profile.linkedin }}">LinkedIn Profile</a>
                    </div>
					{% endif %}
					
					{% if profile.skype %}
					<div class="social-network with-icon">
					    <img src="{{ asset('static/typicons.2.0/png-24px/social-skype.png') }}" />
					    <a href="skype:{{ profile.skype }}?call">{{ profile.skype }}</a>
					</div>
					{% endif %}
                    
                </div>
            </section>
            
            {% if is_granted('EDIT', profile) %}
			<a class="edit-link" href="{{ path('company_edit', {slug: profile.slug}) }}"><img src="{{ asset('static/typicons.2.0/png-24px/edit.png') }}" />Edit Profile</a>
			{% endif %}
        </div>
    </div>
</div>

{% if is_granted("ROLE_ADMIN") %}
<div class="row">
    <div class="span12">
        <h3>Administrators</h3>
        <ul>
            {% for user in profile.users %}
            <li>
                <a href="{{ path('user_show', {id: user.id}) }}">{{ user.name }}</a>
                (<a href="mailto:{{ user.email }}">{{ user.email }}</a>)
            
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{# {% if app.user != profile %}#}
{# <div id="profileRqst">#}
{# 	{% include 'WanaworkUserBundle:EmployeeProfile:_requests-table.html.twig' with {#}
{# 					requests: cvRequests,#}
{# 					emptyMessage: 'You don\'t have any CV requests from this Employer',#}
{# 					hideCompanyColumn: true#}
{# 				} %}#}
{# </div>#}
{# {% endif %}#}

{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'@WanaworkUserBundle/Resources/public/css/employerProfile/profile.css'
	 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}


