{% extends "WanaworkUserBundle::base.html.twig" %}

{% block title %}Company Verification Pending{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">
        <div class="empty-wrapper">
            <div class="message-content">
                <h1>Verification Pending</h1>
                <p>
                    We are currently reviewing your verification request and will be in touch shortly
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

