{% extends "WanaworkUserBundle::base.html.twig" %}

{% block title %}Company Verification{% endblock %}

{% block body %}
<div class="row">
	<div class="span12 heading">
		<h1>Company Verification</h1>
		<h2>Verified companies enjoy increased response rate from candidates and their CV request limits are lifted</h2>
	</div>
</div>

<div class="row">
	<div class="span4">
		<table class="plansTable">
			<thead>
				<tr>
					<th>
						<div class="planName">Unverified</div>
						<div class="description">
							Suitable for Small to Medium<br>sized businesses
						</div>
						<div class="priceAndDuration">
							<span class="price">FREE</span>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="white triangle">
					<td><img src="{{ asset('images/plnArr.png') }}" />
					</td>
				</tr>
				<tr class="white">
					<td>Full search capabilities</td>
				</tr>
				<tr class="dark">
					<td>Free employer profile, including<br>
					<b>1 account manager</b> log in
					</td>
				</tr>
				<tr class="white">
					<td>Savable searches, free updates &amp; alerts</td>
				</tr>
				<tr class="dark">
					<td>Full package to manage your recruitment: shortlists &amp; on
						site messaging</td>
				</tr>
				<tr class="white">
					<td><b>{{ constant('Wanawork\\UserBundle\\Entity\\EmployerProfile::UNVERIFIED_DAILY_REQUESTS') }} CV</b> Requests per day limit</td>
				</tr>
				<tr class="white" style="border: 0;">
				    <td style="text-align: center; font-weight: bold;">
				        Your current plan
				    </td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="span4">
		<table class="plansTable">
			<thead>
				<tr>
					<th>
						<div class="planName">Verified</div>
						<div class="description">
							Suitable for Small to Medium<br>sized businesses
						</div>
						<div class="priceAndDuration">
							<span class="price">&euro;{{ employer_verification_price / 100 }}</span> <span class="separator">/</span>
							<span class="duration">once off</span>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="white triangle">
					<td><img src="{{ asset('images/plnArr.png') }}" />
					</td>
				</tr>
				<tr class="white">
					<td>Full search capabilities</td>
				</tr>
				<tr class="dark">
					<td>Free employer profile, including<br>
					<b>1 account manager</b> log in
					</td>
				</tr>
				<tr class="white">
					<td>Savable searches, free updates &amp; alerts</td>
				</tr>
				<tr class="dark">
					<td>Full package to manage your recruitment: shortlists &amp; on
						site messaging</td>
				</tr>
				<tr class="white">
					<td><b>{{ constant('Wanawork\\UserBundle\\Entity\\EmployerProfile::VERIFIED_DAILY_REQUESTS') }} CV</b> Requests per day limit</td>
				</tr>
				<tr class="dark">
					<td>Increased responses from candidates.</td>
				</tr>
{# 				<tr class="white">#}
{# 					<td>Access to publish blog articles</td>#}
{# 				</tr>#}
				<tr class="white" style="border: 0;">
					<td style="text-align: center;">
					   <a href="{{ path('payment_verification_purchase', {id: profile.id}) }}"
						class="btn btn-main btn-large">Pay &amp; Become Verified</a>
				    </td>
				</tr>

			</tbody>
		</table>
	</div>

	<div class="span4">
		<table class="plansTable">
			<thead>
				<tr>
					<th>
						<div class="planName">Corporate</div>
						<div class="description">
							Suitable for Large corporation
							<!-- br-->
							and Recruitment Agencies
						</div>
						<div class="priceAndDuration">
							<span class="price">Contact us for pricing</span>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="white triangle">
					<td><img src="{{ asset('images/plnArr.png') }}" />
					</td>
				</tr>
				<tr class="white">
					<td>Advanced search capabilities and CV filtering</td>
				</tr>
				<tr class="dark">
					<td>Customised account management systems, unlimited user logins</td>
				</tr>
				<tr class="white">
					<td>Savable searches, search updates &amp; alerts</td>
				</tr>
				<tr class="dark">
					<td>Complete recruitment management solutions, candidate
						verification processes</td>
				</tr>
				<tr class="white">
					<td><b>Unlimited CV</b> Requests per day limit</td>
				</tr>
				<tr class="dark">
					<td>Increased responses from all candidates.</td>
				</tr>
				<tr class="white">
					<td>Customisable application process</td>
				</tr>
{# 				<tr class="dark">#}
{# 					<td>Access to publish blog articles</td>#}
{# 				</tr>#}
				<tr class="white" style="border: 0;">
					<td style="text-align: center;"><a href="#"
						class="btn btn-main btn-large">Get in touch</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
    <div class="span12">
        <b>Verfication FAQ:</b>
        <ul>
            <li>All prices quoted are excluding VAT</li>
            <li>Verification is typically done within 1 working day</li>
            <li>To speed up the verification process, complete your company profile fully</li>
            <li>Once we receive the payment, we will be touch over the phone</li>
        </ul>
    </div>
</div>
<link rel="stylesheet" type="text/css" media="all"
	href='/bundles/wanaworkmain/css/Pages/plans.css' />
{% endblock %} {% block stylesheets %} {{ parent() }} {% stylesheets
filter='?yui_css' filter='cssrewrite' %}
<link rel="stylesheet" type="text/css" media="all"
	href="{{ asset(asset_url) }}" />
{% endstylesheets %} {% endblock %}

