{% extends "WanaworkUserBundle::base.html.twig" %}
{% block body %}
<h1>Employer Verification</h1>
<p>
Employer verification is done by Wannawork Team to verify the identity of companies that use the service.
Verification is carried out for the safety of candidates, and to reduce spam and unwanted CV Access Requests
</p>

{% endblock %}