.ad-box {
	width: 99%;
	margin-bottom: 10px;
}

.ad-box.premium {
	width: 99%;
}

.ad-box .ad-content {
	border: 2px solid #ccc;
}
.ad-box.premium .ad-content {
	border: 4px solid #f3550e;
}


.ad-box .item {
	line-height: 14px;
}

.ad-box .underlined {
	display: inline-block;
	border-bottom: 2px solid #00ae6e;
}


/* 
==============================
Top Section
==============================
*/
.ad-box .ribbon {
	display: block;
	font-size: 16px;
	background: #f3550e;
	padding: 6px 15px;
	color: #ffffff;
	height: 16px;
	font-weight: normal;
	max-width: 70%;
	overflow: hidden;
	text-transform: lowercase;
}

.ad-box .match {
	font-size: 16px;
	font-weight: normal;
	color: #00ae6e;
	float: right;
}

.ad-box.premium .match {
	position: relative;
	top: 4px;
}

.ad-box .match > span {
	font-weight: 600;
}

.ad-box img.corner {
	height: 28px;
}

/* 
==============================
Top Section
==============================
*/
.ad-box .intro {
	background: #fff;
	padding: 20px 25px;
}

.ad-box .intro .headline {
	font: 18px Arial;
	font-weight: 600;
	line-height: 18px;
	margin: 0 0 10px 0;
	padding: 0;
}

.ad-box .intro .pitch {
	font-size: 15px;
	font-weight: normal;	
	float: left;
	clear: left;
	max-width:70%;
}

.ad-box .intro .action {
	position: relative;
	top: -5px;
	float: right;
}

/* 
==============================
Work Section
==============================
*/
.ad-box .work {
	margin-top: 2px;
	background: #F6F6F6;
	padding: 10px 25px;
}

.ad-box .experience-length {
	white-space: nowrap;
	font-weight: 600;
}

.ad-box .experience {
	float: left;	
	width: 100%;
	margin-bottom: 6px;
}

.ad-box .profession {
	font-weight: 600;
}

.ad-box .education {
	float: left;
	width:47%;
	margin-left: 3%;	
}

.ad-box .industries {
	font-weight: 600;
}

.ad-box .education-level {
	font-weight: 600;
	display: inline;
}

.ad-box .positions {
	width: 47%;
	float: left;
}

.ad-box .position-list {
	font-weight: 600;
}

/* 
==============================
Misc Section
==============================
*/

.ad-box .misc {
	margin-top: 2px;
	background: #F6F6F6;
	padding: 10px 25px;
}

.ad-box .misc .column {
	float: left;
}

.ad-box .locations-list {
	font-weight: 600;
}

.ad-box .languages-list {
	font-weight: 600;
}

.ad-box .locations.column {
	width: 47%;
}

.ad-box .languages.column {
	width: 47%;
	margin-left: 3%;
}

.ad-box .admin {
    padding: 20px;	
}

.ad-box .admin > div {
	float: left;
	margin-right: 15px;
}

/* .img-match{
	float:left;
	margin-left:10px;
	padding-top:7px;
}

.ad-box-button{
	text-align: center;
	padding-top: 20px;
}

div.ad-box .icon{
	margin:-2px 10px 0 0;
	display:inline-block;
	float: left;
}

div.ad-box div.admin-box {
	border-top: 1px dashed #ccc;
	padding-top: 5px;
	position: relative;
}

div.ad-box div.admin-box div.action-buttons {
	position: absolute;
	bottom: 0;
	right: 0;
}

div.ad-box div.admin-box form.delete-form {
	display: none;
}


.ad-header {
	background: #fff;
	padding: 10px 0 20px 0;
}

.ad-header .headline, .ad-header .pitch{
	margin-left:20px;
}

.ad-box-descr .des-first{
	padding-left:20px;
}

.ad-box-descr .des-end{
	padding-right:20px;
}


#ad-list .pos-and-match {
	margin: 0 -20px -20px -20px;
	padding: 10px 20px 20px 20px;
	background: #f9f9f9;
	border-top: 1px #d7d7d7 dashed;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}


.ad-box-descr{
	background: #f6f6f6;
	border-top: 2px solid #eeeeee;
	padding: 13px 0;
}

.ad-box-descr .description {
	margin-bottom: 7px;
}

.ad-box-descr .description p{
	overflow:hidden;
}

.ad-box-descr .pitch {
	font-size: 15px;
}



#posted_ads h2 {
	font-size: 15px;
}

#posted_ads form, #posted_ads form div  {
	display: inline;
}

#posted_ads .iconEdit, #posted_ads .iconDel {
	float:none;
	display: inline-block;
} */