.aside-stat {
	width: 100%;
}

.aside-stat .headline {
	font-size: 18px;
	line-height: 18px;
	color: #202935;
	margin-bottom: 10px;
}

.aside-stat .stat-row {
	margin-bottom: 15px;
}

.aside-stat .stat-row .count {
	color: #00ae6e;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	display: inline-block;
	margin-right: 3px;
}

.aside-stat .stat-row .description {
	color: #666;
}

.aside-stat .expiry-information {
	margin-top: 10px;
}

.aside-stat .expiry-information .progress {
	margin-bottom: 2px;
}

.aside-stat .expiry-information .timeago {
	white-space: nowrap;
}

.aside-stat .upgrade-info {
	margin: 20px 0;
}

.aside-stat .upgrade-info .btn {
}