.plans table.plansTable {
	margin: 0 auto;
}


table.plansTable.non-selected {
	border: 3px #cbcbcb solid;
}

table.plansTable.non-selected thead {
	background-color: #cbcbcb;
	color: #fff;
}

table.plansTable tr.triangle td img.green {
	display: inline;
}

table.plansTable tr.triangle td img.gray {
	display: none;
}

table.plansTable.non-selected  tr.triangle td img.green {
	display: none;
}

table.plansTable.non-selected  tr.triangle td img.gray {
	display: inline;
}

.action-heading {
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
	font-family: Arial;
	color: #202935;
}


a#pay-twitter.btn-primary:link, a#pay-twitter.btn-primary:visited, #pay-twitter.btn-primary {
	
	background: #419ce0;
	-webkit-box-shadow: 0px 2px 0px 0px #237ec1;
	box-shadow: 0px 2px 0px 0px #237ec1;
	color: #fff;
}

a#pay-twitter.btn-primary:hover, #pay-twitter.btn-primary:hover {
	background-image: none;
	background-color: #4FB4FF;
}

a#pay-twitter.btn-primary:active, #pay-twitter.btn-primary:active {
	background-color: #3E91CF;
	-webkit-box-shadow: 0px -2px 0px 0px #2E668F;
	box-shadow: 0px -2px 0px 0px #2E668F;
}

.payment-row .column {
	float: left;
	width: 30%;
	margin-right: 1%;
}

.payment-row .column1 {
	padding-left: 20px;
}

.payment-row .column button {
	width: 90%;
}

.payment-row .column p {
	margin-top: 10px;
	color: #202935;	
	opacity: .5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
 	filter: alpha(opacity=50);
 	-moz-opacity:0.5;
 	-khtml-opacity: 0.5;
 	width: 90%;
 	padding-left: 3px;
}

#payment-options {
	margin-top: 20px;
}
#payment-options li {
	float: left;
}

#pay-button {
	float: right;
	margin-top: 50px;
	margin-right: 50px;
}