h1.published {
	text-align: center;
	display: block;
}

body {
	background: #fff !important;
}

#premium-benefits {
	list-style: disc;
	padding-left: 20px;
}

#premium-benefits li {
	margin-bottom: 10px;
}

#price {
	margin-top: 20px;
	color: #07ad70;
	font-size: 23px;
	line-height: 23px;
	font-weight: 600;
}

#payment-options {
	margin-top: 20px;
}
#payment-options li {
	float: left;
}

.ad-box .ribbon {
	height: 38px;
	padding: 4px 6px;
}

.ad-box img.corner {
	height: 46px;
}

a.preview.active {
	background: #07ad70;
	color: #fff;
	padding: 2px 4px;
	text-decoration: none;
	cursor: default;
}

#preview-block {
	margin-top: 10px;
}