.heading h1 {
	margin-bottom: 40px;
}

#ad-form h1 {
	font-size: 18px;
	line-height: 18px;
	margin: 5px 0 10px 0;
	padding: 0;
	color: #202935;
}

#ad-form h2 {
	font-size: 15px;
	line-height: 15px;
	margin: 0 0 15px 0;
	padding: 0;
	color: #202935;
	font-weight: normal;
}

#ad-form label {
	color: #888;
}

#ad-form .typcn {
	font-size: 1.6em;
}

 .ad .badge-holder {
	background: url('/bundles/wanaworkuser/images/adpost/step1/badge.png');
	width: 415px;
	height: 43px; 
	padding: 2px 0;
	text-indent: 20px;
} 

.ad .ad-content {
	border: 2px solid #e1e1e1;
	padding: 25px;
	width: 620px;
}

.ad .ad-content.second-section,
.ad .ad-content.third-section,
.ad .ad-content.fourth-section {
	border-top: 0 none;
}

.ad .ad-content .field-holder {
	margin-left: 0;
	margin-right: 0;
}

#pitch-wrapper {
	margin-top: 7px;
}

#wanawork_userbundle_adtype_headline {
	width: 580px;
}
#wanawork_userbundle_adtype_pitch {
	height: 90px;
	width: 580px;
}

#wanawork_userbundle_adtype_positions {
	width: 565px;
}

#wanawork_userbundle_adtype_locations {
	width: 565px;
}

#positions-wrapper {
	margin-bottom: 20px;
}

#wanawork_userbundle_adtype_profession,
#wanawork_userbundle_adtype_experience,
#wanawork_userbundle_adtype_industries,
#wanawork_userbundle_adtype_positions,
#wanawork_userbundle_adtype_languages,
#wanawork_userbundle_adtype_locations,
#wanawork_userbundle_adtype_educationLevel {
	width: 270px;
}

#work-as-wrapper, #positions-wrapper, #locations-wrapper {
	margin-right: 0;
}

#industries-wrapper, #education-wrapper, #languages-wrapper {
	margin-left: 0;
}

#avatar-wrapper {
	margin-left: 40px;
	margin: 13px 75px 0 40px;
}

#cv-file-upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(-300px, 0) scale(4);
	font-size: 23px;
	direction: ltr;
	cursor: pointer;
}

.fileinput-button {
	position: relative;
	overflow: hidden;
}

.cv-wrapper {
	margin-top: 30px;
}

.cv {
	padding: 15px 10px;
	width: 620px;
}

.cv .choice {
	text-align: center;
}

/* #upload-button-wrapper {
	position: relative;
}

#upload-button-wrapper input[type=file] {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0); 
	width: 129px;
	height: 36px;
	cursor: point;
	margin: 0;
	padding: 0;
} */

.cv-wrapper h1 span {
	font-size: 16px;
	line-height: 20px;
	color: #888;
	font-weight: 400;
	float: right;
}

.notes {
	width: 210px;
}

.notes ul  {
    list-style: disc;
    margin: 0;
    padding: 0;
    list-style-position: outside;
}

.notes ul li {
	list-style-image: url("/static/typicons.2.0/png-24px/tick.png");
	vertical-align: top;
	margin-bottom: 15px;
}

.btn-preview {
	float: right;
	margin-right: 20px;
}

.preview {
	display: none;
	z-index: 20000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(/images/1px-white-95.png) repeat; 
}
.preview h1 {
	text-align: center;
}
.preview .preview-inner {
	width: 800px;
	margin: 0 auto;
	margin-top: 50px;
}
.preview .ad-box {
	width: 100%;
}

#hide-preview {
	float: right;
}
