<div class='row'>
	<div class="span12">
		<ul class="nav nav-pills">
		  	<li class="{{ menu_selection == 'list' ? 'active' : '' }}">
		  		<a href="{{ path('jobs') }}">List</a>
		  	</li>
		  	<li class="{{ menu_selection == 'stats' ? 'active' : '' }}">
		  		<a href="{{ path('jobSpecs_statistics') }}">Statistics</a>
		  	</li>
		</ul>
	</div>
</div>
