<div class="job-form-wrapper">
    {{ form_errors(form) }}
    <form method="POST" novalidate action="{{ action }}" id="job-form">
        <div class="control-group">
	        {{ form_label(form.title, 'Job Title. Position you are trying to fill') }}
	        {{ form_widget(form.title, {
	                  attr: {'placeholder': 'Chef, Shop Assistant, etc'}
	            }) }}
	        {{ form_errors(form.title) }}
        </div>
        
        <div class="control-group">
	        {{ form_label(form.profession, 'Profession - who are you looking to recruit?') }}
	        {{ form_widget(form.profession) }}
	        {{ form_errors(form.profession) }}
        </div>
            
        <div class="control-group">
	        {{ form_label(form.description, 'Job Description. Full overview of your position. Duties, requirements, etc') }}
	        {{ form_widget(form.description) }}
	        {{ form_errors(form.description) }}
        </div>
            
        <fieldset id="optional-data" class="clearfix">
            <legend>At a Glance, Useful Information for the Candidate</legend>
            <div class="left" style="width: 50%;">
            {{ form_row(form.industries, {label: 'Industries, where the job is'}) }}
	        {{ form_row(form.positions, {label: 'What sort of positions you are offering'}) }}
	        {{ form_row(form.languages, {label: 'Required Languages'}) }}
	        {{ form_row(form.salary, {label: 'Proposed salary package'}) }}
            </div>
            <div class="left" style="width: 50%;">
            {{ form_row(form.locations, {label: 'Where is the job based?'}) }}
	        {{ form_row(form.educationLevel, {label: 'Desired level of candidate\'s education'}) }}
            {{ form_row(form.experience, {label: 'How many years experience do you require in similar positions?'}) }}
            
            </div>
	        
	        {{ form_widget(form._token) }}
        </fieldset> 
	            
	    <br />
	    <input type="submit" class="btn btn-main" value="Create Job">
	    
	    <div class="control-group">
	        {{ form_label(form.public, 'List this position publicly?') }}
	        {{ form_widget(form.public) }}
	        <div class="help">Otherwise, it will only be available to your shortlisted candidates</div>
	        {{ form_errors(form.public) }}
	        
        </div>
	</form>
</div>