{% extends "WanaworkUserBundle::base.html.twig" %}

{% block title %}Your Job Openings{% endblock %}

{% block body %}

<div class="row">
    <div class="span12 heading">
        <h1>Your Job Openings</h1>
        <h2>Below is a list of jobs you created. 
        When requesting access to candidate's CVs you will be using these job openings to communicate your requirements</h2>
    </div>
</div>

<div class="row">
    <div class="span12">
        {% if jobs | length == 0 %}
        <div class="row">
            <div class="span12">
			    <div class="empty-wrapper">
			        <div class="message-content">
				        <h2>No Jobs Here. Yet.</h2>
				        <p>
							If you'd like to request access to candidate's CV's, you would need to 
							create a few jobs. Otherwise, how would candidates know if they want to approve your requests?
						</p>
						
						<a class="btn" href="{{ path('jobs_new') }}">Create your first job</a>
			        </div>
			    </div>
			</div>
		</div>
		
		{% else %}
		
		<a class="btn btn-main new-job-button" href="{{ path('jobs_new') }}">Create new job</a>
		<table class="default-table jobs-table">
		    <thead>
                <tr>
                    <th>Job Title</th>
                    <th>Job Description</th>
                    <th></th>
                </tr>
		    </thead>
		    
		    <tbody>
		        {% for job in jobs %}
		        <tr>
		            <td class="column title-column">{{ job.title }}</td>
		            <td class="column description-column">
		                <div class="description">
		                    {{ job.description |  purify('ckeditor') }}
		                </div>
		            </td>
		            <td class="column action-column">
		                <div class="btn-group">
						    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						       Action
						       <span class="caret"></span>
						    </a>
						    <ul class="dropdown-menu">
						        <li><a href="{{ path('jobs_edit', {id: job.id}) }}">Edit the job</a></li>
						        <li><a href="{{ path('jobs_show', {id: job.id}) }}">View the job</a></li>
						    </ul>
						</div>
		            </td>
		        </tr>
		        {% endfor %}
		    </tbody>
		</table>
		
        {% endif %}
    </div>
</div>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'bundles/wanaworkuser/css/jobSpec/employer.css'
	 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	{% javascripts filter='?yui_js' 
	'bundles/wanaworkuser/js/jobSpec/employers.js' %}
		<script src="{{ asset(asset_url) }}"></script>
	{% endjavascripts %}
{% endblock %}