{% extends "WanaworkUserBundle::base.html.twig" %}
{% block title %}JobSpec List{% endblock %}

{% block body -%}

<div class="row">
    <div class="span12">
    
    {% include 'WanaworkUserBundle:JobSpec:_admin-panel.html.twig' with {menu_selection: 'list'} %}
        <h1>JobSpec list</h1>
    
	     <table class="default-table job-table">
	        <thead>
	            <tr>
	                <th>Id</th>
	                <th>Title</th>
	                <th>Description</th>
	                <th>Actions</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for entity in pagination %}
	            <tr>
	                <td><a href="{{ path('jobs_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
	                <td>{{ entity.title }}</td>
	                <td>{{ entity.description | purify('ckeditor') }}</td>
	                <td>
	                <ul>
	                    <li>
	                        <a href="{{ path('jobs_show', { 'id': entity.id }) }}">show</a>
	                    </li>
	                    <li>
	                        <a href="{{ path('jobs_edit', { 'id': entity.id }) }}">edit</a>
	                    </li>
	                </ul>
	                </td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	</div>
</div>

    
<div class="row">
		<div class="span12">
			<div class="navigation">
	    	{{ knp_pagination_render(pagination) }}
		</div>
	</div>
</div>

    <ul>
        <li>
            <a href="{{ path('jobs_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
