{% extends '::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>Jobs By Industry</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        
    </div>
</div>
{% endblock %}