{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}
{% block title %}JobSpec Statistics{% endblock %}

{% block body %}
{% include 'WanaworkUserBundle:JobSpec:_admin-panel.html.twig' with {menu_selection: 'stats'} %}

<div class="row">
    <div class="span12">
    
	    Reporting Period:
	        <form method="GET" action="{{ path('all_ads_statistics') }}">
		        <ul class="report-settings">
		            <li>
		                <span>Start Date:</span>
		                <input value="{{ start_date }}" type="datetime" id="start-date" name="start-date" class="input-small" />
		            </li>
		            <li>
		                <span>End Date:</span>
		                <input value="{{ finish_date }}" type="datetime" id="finish-date" name="finish-date" />
		            </li>
		            <li>
		                <input class="btn" type="submit" value='Filter'>
		            </li>
		        </ul>
		    </form>
	    
         <table class="default-table stat-table">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Result</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Number Of Jobs</td>
                    <td>{{ numberOfJobsData }}</td>
                </tr>
            </tbody>
        </table>
        
        <br></br>
        <br></br>
        
         <table class="default-table stat-table" id="profession-table">
            <thead>
                <tr>
                    <th>Profession</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for row in mostUsedProfessionData %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row['c'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <br></br>
        <br></br>
        
         <table class="default-table stat-table" id="industry-table">
            <thead>
                <tr>
                    <th>Industry</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for row in mostUsedIndustryData %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row['c'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <br></br>
        <br></br>
        
         <table class="default-table stat-table" id="location-table">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for row in mostUsedLocationData %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row['c'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <br></br>
        <br></br>
        
         <table class="default-table stat-table" id="position-table">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for row in mostUsedPositionData %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row['c'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <br></br>
        <br></br>
        
         <table class="default-table stat-table" id="education-table">
            <thead>
                <tr>
                    <th>Education Level</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for row in mostUsedEducationLevelData %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row['c'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <br></br>
        <br></br>
        
         <table class="default-table stat-table" id="language-table">
            <thead>
                <tr>
                    <th>Language</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for row in mostUsedLanguageData %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row['c'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <br></br>
        <br></br>
        
        <table class="default-table stat-table" id="experience-table">
            <thead>
                <tr>
                    <th>Experiences</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for row in mostUsedExperienceData %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row['c'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
	    
    </div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
	'vendor/datetimepicker/jquery.datetimepicker.js'
	'vendor/jquery-dynatable/jquery.dynatable.js'
	'@WanaworkUserBundle/Resources/public/js/jobSpec/jobspec-statistics.js'
	%}
    <script src="{{ asset(asset_url) }}"></script>	
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='?yui_css' filter='cssrewrite'
    'vendor/datetimepicker/jquery.datetimepicker.css'
    'vendor/jquery-dynatable/jquery.dynatable.css'
    'static/css/admin-common.css'
	'@WanaworkUserBundle/Resources/public/css/jobSpec/jobspec-statistics.css' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
	{% endstylesheets %}
{% endblock %}

