{% set formTemplate %}
{% include 'WanaworkUserBundle:JobSpec:_form.html.twig' with {action: path('jobs_new', {_format: 'json'})} %}
{% endset %}

{% set ar = {'form': formTemplate} %}

{{ ar | json_encode | raw }}