{% extends '::base.html.twig' %}

{% block title %}New Job Opening{% endblock %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>New Job</h1>
    </div>
</div>
    
<div class="row">
    <div class="span12">
        {% include 'WanaworkUserBundle:JobSpec:_form.html.twig' with {action: path('jobs_new')} %}
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
    'bundles/wanaworkuser/css/jobSpec/form.css'
	 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% javascripts filter='?yui_js' 
    'vendor/ckeditor/ckeditor.js'
	'bundles/wanaworkuser/js/jobSpec/form.js'
%}
	<script src="{{ asset(asset_url) }}" type="text/javascript"></script>
{% endjavascripts %}
{% endblock %}
