{% extends '::base.html.twig' %}

{% block title %}Jobs By Profession{% endblock %}
{% block meta %}
<meta content="List of professions for which we can supply jobs" name="description">
{% endblock %}

{% block body -%}
<div class="row">
    <div class="span12 heading">
        <h1>Jobs By Profession</h1>
        <h2>Below is a list of professions that our employers use to advertise their jobs</h2>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div style="text-align:right;">
            <a href="{{ path('jobs_recent') }}">Recent Jobs</a>
        </div>
        <ul id="professions" class="clearfix">
            {% for job in jobs %}
            <li>
                <a href="{{ path('jobs_for_profession', {profession_slug: job[0].slug}) }}">{{ job[0] }}</a>
{#                 ({{ job['job_count'] }})#}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'bundles/wanaworkuser/css/jobSpec/professions.css'
	 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}