{% extends '::base.html.twig' %}

{% block title %}List of recent jobs{% endblock %}
{% block meta %}
<meta content="List of recent jobs posted by our employers" name="description" />
{# <link rel="next" href="" />#}
{# <link rel="prev" href="" />#}
{% endblock %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>Recent Jobs</h1>
        <h2>Below is a list of recent jobs</h2>
    </div>
</div>

<div class="row">
    <div class="span12">
        <ul class="breadcrumb" style="margin-bottom: 5px;">
		  <li><a href="{{ path('jobs_by_profession') }}">Jobs by Profession</a> <span class="divider">/</span></li>
		  <li class="active">Recent Jobs</li>
		</ul>
    </div>
</div>

<div class="row">
    <div class="span12">
        
        {% for job in jobs %}
        <article class="job-view">
            <header>
                <h3>{{ job.title }}</h3>
            </header>
            <section>
		        <p class="description">
		            {{ job.description | purify('ckeditor') }}
	            </p>
            </section>
        </article>
        {% else %}
        <div class="empty-wrapper">
	        <div class="message-content">
		        <h2>No Jobs Found</h2>
		        <p>
					We currently don't have any jobs for the profession you selected.
					Please check back later.
				</p>
				<p>
				    You can also post an Ad for the this profession, and advertise yourself.
				    Employers will get in touch with you instead.
				</p>
				
				<a class="btn" href="{{ path('ad_new') }}">Post an Ad</a>
	        </div>
	    </div>
        {% endfor %}
    </div>
</div>

<div class="row">
	<div class="span12">
		<div class="navigation">
    	{{ knp_pagination_render(jobs) }}
		</div>
	</div>
</div>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'bundles/wanaworkuser/css/jobSpec/jobs-for-profession.css'
	 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}