{% extends '::base.html.twig' %}

{% block title %}{{ job.title }} - Job Opening{% endblock %}
{% block meta %}
<meta content="Job Available - {{ job.title }}. Check this page to apply" name="description">
{% endblock %}

{% block body %}
<div class="row">
    <div class="span8">
        <div class="job-view heading">
            <h1 class="title">{{ job.title }}</h1>
            <h2>{{ job.employer.companyName }}</h2>
            <div class="description">
                {{ job.description | purify('ckeditor') }}
            </div>
        </div>
    </div>
    
    {% if job.profession %}
    <div class="span4">
        <div class="heading">
            <h1 class="title">Additional Info</h1>
            <div class="job-view-aside">
	            <div>
	                <span class='title'>Profession:</span>
	                <span class="description">{{ job.profession }}</span>
	            </div>
	            
	            {% if job.industries | length > 0 %}
	            <div>
	                <span class='title'>Industries:</span>
	                <span class="description">
	                {{ job.industries.toArray | join(', ') }}
	                </span>
	            </div>
	            {% endif %}
	            
	            {% if job.positions | length > 0 %}
	            <div>
	               <span class="title">Available positions:</span>
	               <span class="description">
	               {{ job.positions.toArray | join(', ') }}
	               </span>
	            </div>
	            {% endif %}
	            
	            {% if job.languages | length > 0 %}
	            <div>
	               <span class="title">Required Languages:</span>
	               <span class="description">
	               {{ job.languages.toArray | join(', ') }}
	               </span>
	            </div>
	            {% endif %}
	            
	            {% if job.locations | length > 0 %}
	            <div>
	               <span class="title">Job Location:</span>
	               <span class="description">
	               {{ job.locations.toArray | join(', ') }}
	               </span>
	            </div>
	            {% endif %}
	            
	            {% if job.experience %}
	            <div>
	               <span class="title">Required Experience:</span>
	               <span class="description">
	               {{ job.experience }}
	               </span>
	            </div>
	            {% endif %}
	            
                {% if job.educationLevel %}
	            <div>
	               <span class="title">Education Requirements:</span>
	               <span class="description">
	               {{ job.educationLevel }}
	               </span>
	            </div>
	            {% endif %}
	            
	            {% if job.salary %}
	            <div>
	               <span class="title">Salary:</span>
	               <span class="description">
	               {{ job.salary }}
	               </span>
	            </div>
	            {% endif %}
                	            	            
	        </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
    'bundles/wanaworkuser/css/jobSpec/show.css'
	 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}