<div class='row'>
	<div class="span12">
		<ul class="nav nav-pills">
			<li class="{{ menu_selection == 'systememail' ? 'active' : '' }}">
		    	<a href="{{ path('systememail') }}">System Emails</a>
		  	</li>
		  	<li class="{{ menu_selection == 'systememail_reports' ? 'active' : '' }}">
		    	<a href="{{ path('systememail_reports') }}">Reports</a>
		  	</li>
		  	<li class="{{ menu_selection == 'admin_blockedemail' ? 'active' : '' }}">
		  		<a href="{{ path('admin_blockedemail') }}">Unsubscribed Emails</a>
		  	</li>
		  	
		  	<li class="{{ menu_selection == 'social_twitter' ? 'active' : '' }}">
		  		<a href="{{ path('social_twitter') }}">Twitter Analysis</a>
		  	</li>
		</ul>
	</div>
</div>
