{% extends '::base.html.twig' %}

{% block body -%}
{% include 'WanaworkUserBundle:SystemEmail:_email-admin.html.twig' with {menu_selection: 'systememail'} %}
<div class="row">
    <div class="span12">
        <table class="default-table">
            <thead>
                <tr>
                    <th>Date Opened</th>
                    <th>Time Opened</th>
                    <th>IP Address</th>
                </tr>
            </thead>
            
            <tbody>
                {% for tracker in systemEmail.trackers %}
                <tr>
                    <td>{{ tracker.date.format('d-m-Y') }}</td>
                    <td>{{ tracker.date.format('H:i:s') }}</td>
                    <td>{{ tracker.ip }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3">
                        This Email has never been openend
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>
</div>
{% endblock %}