{% extends '::base.html.twig' %}

{% block body -%}
{% include 'WanaworkUserBundle:SystemEmail:_email-admin.html.twig' with {menu_selection: 'systememail'} %}
<div class="row">
    <div class="span12">
        <table class="default-table">
            <thead>
                <tr>
                    <th>Link</th>
                    <th>Click Count</th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                {% for link in systemEmail.links %}
                <tr>
                    <td>
                        {{ link.href }}<br />
                        Text: "{{ link.text }}"
                    </td>
                    <td>{{ link.clicks | length }}</td>
                    <td>
                        {% if link.clicks | length > 0 %}
                        <a href="#" class="view-details-link">View Details</a>
                        {% endif %}
                    </td>
                </tr>
                
                    {% if link.clicks | length > 0 %}
                <tr style="display: none;">
                    <td colspan="3">
                        <table>
                            <thead>
                                <tr>
                                    <th>Date Clicked</th>
                                    <th>IP Address</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for click in link.clicks %}
                                <tr>
                                    <td>
                                        {{ click.date.format('d-m-Y H:i:s') }}
                                    </td>
                                    <td>{{ click.ip }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                    {% endif %}
                
                {% else %}
                <tr>
                    <td colspan="3">
                        This email has not links
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
    </div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
	'bundles/wanaworkuser/js/system-email/click-stats.js'
	%}
		<script src="{{ asset(asset_url) }}"></script>	
	{% endjavascripts %}
{% endblock %}