{% extends '::base.html.twig' %}

{% block body -%}
{% include 'WanaworkUserBundle:SystemEmail:_email-admin.html.twig' with {menu_selection: 'systememail'} %}
<div class="row">
    <div class="span12">
    
        <div class="admin-button-panel">
            <a class="btn" href="{{ path('systememail_new', {type: 9}) }}" id="new-email-link">New Email</a>
        </div>
	    <table class="default-table">
	        <caption>List of emails sent by the system</caption>
	        <thead>
	            <tr>
	                <th>Type</th>
	                <th>Email</th>
	                <th>Date Created</th>
	                <th>Date Sent</th>
	                <th>Status</th>
	                <th>Subject</th>
	                <th>Email Attempts</th>
	                <th>Engagement</th>
	                <th>Actions</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for entity in entities %}
	            <tr>
	                <td>{{ entity.typeName | capitalize }}</td>
	                <td>
	                   {% if entity.user %}
	                   <a href="{{ path('user_show', {id: entity.user.id}) }}">{{ entity.email }}</a>
	                   {% else %}
	                   {{ entity.email }}
	                   {% endif %}
	                </td>
	                <td>{% if entity.dateCreated %}{{ entity.dateCreated.format(date_format) }}{% endif %}</td>
	                <td>{% if entity.dateSent %}{{ entity.dateSent|date('Y-m-d H:i:s') }}{% endif %}</td>
	                <td>{{ entity.statusName | capitalize }}</td>
	                <td>{{ entity.subject }}</td>
	                <td>{{ entity.attempts }}</td>
	                <td>
	                   {% if entity.trackers | length > 0 %}
	                   <a href="{{ path('systememail_open_stats', {id: entity.id}) }}">
	                   {% endif %}
	                   {{ entity.trackers | length }} Views
	                   {% if entity.trackers | length > 0 %}
	                   </a>
	                   {% endif %}
	                   <br />
	                   
	                   {% if entity.totalLinkClicks > 0 %}
	                   <a href="{{ path('systememail_link_stats', {id: entity.id}) }}">
	                   {% endif %}
                       {{ entity.totalLinkClicks }} Clicks  
                       {% if entity.totalLinkClicks > 0 %}
                       </a>
	                   {% endif %}                
	                </td>
	                <td>
	                <ul>
	                    <li>
	                        <a href="{{ path('systememail_show', { 'id': entity.id }) }}">show</a>
	                    </li>
	                </ul>
	                </td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>

    </div>
</div>

<div class="row">
	<div class="span12">
		<div class="navigation">
    	{{ knp_pagination_render(entities) }}
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
	'bundles/wanaworkuser/js/system-email/index.js'
	%}
		<script src="{{ asset(asset_url) }}"></script>	
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='?yui_css' filter='cssrewrite'
	'bundles/wanaworkuser/css/system-email/index.css'
		 %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
	{% endstylesheets %}
{% endblock %}
