{% extends '::base.html.twig' %}

{% block body -%}

<div class="row">
    <div class="span12 heading">
        <h1>New Email</h1>
        <h2>Use this form to send custom emails</h2>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div style="padding: 20px; background: #fff;">
        {{ form(form) }} 
        </div>   
    </div>
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% javascripts filter='?yui_js' 
    'vendor/ckeditor/ckeditor.js'
    'bundles/wanaworkuser/js/system-email/form.js'
%}
	<script src="{{ asset(asset_url) }}" type="text/javascript"></script>
{% endjavascripts %}
{% endblock %}