{% extends '::base.html.twig' %}

{% block body -%}
{% include 'WanaworkUserBundle:SystemEmail:_email-admin.html.twig' with {menu_selection: 'systememail_reports'} %}

<div class="row">
    <div class="span12">
        {% if dates | length > 0 %}
        Reporting period:
        <select id="date" data-url="{{ path('systememail_reports') }}">
            <option value="">All time</option>
            {% for date in dates %}
            <option {{ selectedDate == date ? 'selected' : '' }}>{{ date }}</option>
            {% endfor %}
        </select>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="span12">
        <table class="default-table">
            <thead>
                <tr>
                    <th>Email Type</th>
                    <th>Number Sent</th>
                    <th>Number Opened</th>
                    <th>Open Rate</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result['type_name'] }}</td>
                    <td style="text-align: right;">{{ result['email_count'] }}</td>
                    <td style="text-align: right;">{{ result['open_count'] }}</td>
                    <td style="text-align: right;">{{ (result['open_count'] * 100 / result['email_count']) | round }}%</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">No data to show</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
	'bundles/wanaworkuser/js/system-email/reports.js'
	%}
		<script src="{{ asset(asset_url) }}"></script>	
	{% endjavascripts %}
{% endblock %}