{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
    <div class="span12 heading">
        <h1>Subscription Management</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div style="background: #fff; padding:20px;">
            We added you back to our email list.<br />
            Thank you
        </div>
    </div>
</div>
{% endblock %}
