{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
    <div class="span12 heading">
        <h1>Subscription Management</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div style="background: #fff; padding:20px;">
            We removed your email ({{ systemEmail.email }}) from all of our email communications. <br /><br />
            
            If you did this by mistake, you can 
            <a href="{{ path('systememail_resubscribe', {id: systemEmail.id}) }}">resubscribe</a>.
        </div>
    </div>
</div>
{% endblock %}
