<div class="cv">
    <h3>Covernote</h3>
    <div class="cv-row">
        {{ cv.covernote }}
    </div>
    <h3>Education</h3>
    {% for education in cv.educations %}
    <div class="cv-row education-row">
        <div class="info-view padded clearfix">
			<div class="dates">
				<span class="start">{{ education.start | date('M Y') }}</span> <span class="divider">&ndash;</span>
				<span class="finish">{{ education.finish | date('M Y') }}</span>
				<div class="duration">{{ education.duration }}</div>
			</div>
			<div class="college-and-course">
				<div class="college">{{ education.college }}</div>
				<div class="course">{{ education.course }}</div>
			</div>
			<div class="award">{{ education.award }}</div>
			<div class="logo"></div>
	    </div>
    </div>
    {% endfor %}
    
    <h3>Work Experience</h3>
    
    {% for work_experience in cv.jobs %}
    <div class="cv-row work-experience-row">
		<div class="info-view padded clearfix">
			<div class="dates">
				<span class="start">{{ work_experience.start | date('M Y') }}</span>
				<span class="divider">&ndash;</span>
				<span class="finish">{{ work_experience.finish ? work_experience.finish | date('M Y') : 'Currently Here' }}</span>
	
				<div class="duration">{{ work_experience.duration }}</div>
			</div>
	
			<div class="job-summary">
				<div class="position">{{ work_experience.position }}</div>
				<div class="company">{{ work_experience.company }}</div>
				<div class="description">{{ work_experience.description }}</div>
			</div>
	
			<div class="logo"></div>
		</div>
	</div>
	{% endfor %}
	
	<h3>References</h3>
	{% for reference in cv.references %}
	<div class="cv-row reference-row">
		<div class="info-view padded clearfix">
	        <div class="contact-name">{{ reference.contact }}</div>
	        <div class="company">{{ reference.employer }}</div>
	        <div class="phone-number">{{ reference.telephone }}</div>
	        <div class="email">{{ reference.email }}</div>
		</div>
	</div>
	{% endfor %}
    
    <h3>Interest &amp Hobbies</h3>
    <div class="cv-row">
        {{ cv.achievements }}
    </div>
</div>


