{% extends "WanaworkUserBundle::base.html.twig" %}

{% block body %}
<div class="wrap">
{% include 'WanaworkUserBundle:EmployeeProfile:_profile-header.html.twig' %}
{% include 'WanaworkUserBundle:EmployeeProfile:_profile-menu.html.twig' with {selection: 'cv'} %}

	<div class="box">
		<div class="clear"></div>
		<h1>The CV is empty</h1>	
	</div>
	
<div class="clear"></div>
</div>
{% endblock %}