{% import 'WanaworkUserBundle:CV:_form_education_row.html.twig' as education_macro %}
{% import 'WanaworkUserBundle:CV:_form_job_row.html.twig' as job_macro %}
{% import 'WanaworkUserBundle:CV:_form_reference_row.html.twig' as reference_macro %}

<div class="row">
<div class="span12">
{{ form_errors(form) }}
<form id="cv_form" novalidate action="" method="post" {{ form_enctype(form) }}>
	
	<div id="name-and-covernote" class="clearfix padded">
	   <h3>CV Name &amp; Cover Note</h3>
	   <div class="control-group">
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}
			{{ form_errors(form.name) }}
		</div>
		
		<div class="conrol-group" id="covernote-wrapper">
		   {{ form_label(form.coverNote) }}
		   {{ form_widget(form.coverNote) }}
		   {{ form_errors(form.coverNote) }}
        </div>
	</div>
	
	<hr class="divider" />
	
	<div id="education-wrapper" class="rows-wrapper clearfix" data-mincount="1"
	   data-prototype="{{ education_macro.education(form.educations.vars.prototype) | e }}">
	    <h3 class="padded">Education</h3>
{# 	    <h4 class="padded" style="padding-top: 4px; padding-bottom:5px;">Start with the most recent education of you received</h4>#}
	    
	    {% for education in form.educations %}
	       {{ education_macro.education(education, mode) }}
	    {% else %}
	    <div class="empty-message padded">
	       <div class="message">
	           In this section you can create your education list, both 2nd and 3rd level.
	           Please start with the most recent.
	       </div>
	       <button class="btn btn-main new-row new-education">Create New Education</button>
	    </div>
	    {% endfor %}
	    
	    <button class="btn btn-inverse new-row new-education">Add New Education</button>
	</div>
	
	<hr class="divider" />
    
    <div id="work-experience-wrapper" class="rows-wrapper clearfix" data-mincount="0"
        data-prototype="{{ job_macro.work_experience(form.jobs.vars.prototype) | e }}">
        <h3 class="padded">Work Experience</h3>
        {% for job in form.jobs %}
            {{ job_macro.work_experience(job, mode) }}
        {% else %}
	    <div class="empty-message padded">
	       <div class="message">
	           In this section you can create your work experience. Please enter the most recent first.
	       </div>
	       <button class="btn btn-main new-row new-education">Create New Work Experience</button>
	    </div>
	    {% endfor %}
	    <button class="btn btn-inverse new-row new-work-experience">Add New Work Experience</button>
    </div>
    
    <hr class="divider" />
    
    <div id="reference-wrapper" class="rows-wrapper clearfix" data-mincount="0"
        data-prototype="{{ reference_macro.reference(form.references.vars.prototype) | e }}">
        <h3 class="padded">References</h3>
        
        {% for reference in form.references %}
            {{ reference_macro.reference(reference, mode) }}
        {% else %}
	    <div class="empty-message padded">
	       <div class="message">
	           In this section you can create your references. Please enter the most recent first.
	       </div>
	       <button class="btn btn-main new-row new-education">Create New Reference</button>
	    </div>
	    {% endfor %}
	    <button class="btn btn-inverse new-row new-work-experience">Add New Reference</button>
    </div>
    
    <hr class="divider" />
    
    <div id="achivements-wrapper" class="padded">
        <h3>Awards/Achivements/Hobbies</h3>
        <br />
        {{ form_widget(form.achievements) }}	
        {{ form_errors(form.achievements) }}
    </div>
    
	<div class="control-group" style="margin-top: 15px;">
		<div class="controls">
			<button type="submit" class="btn-large btn btn-main right">Save</button>
		</div>
	</div>
	
	{{ form_row(form._token) }}
</form>
</div>
</div>
