<div class="form_row template clearfix">
{# {{ form_row(achievement.start, {'error_class': 'input-medium', 'control_group_class':'start_date','attr': {'class': 'input-medium'}}) }} #}
{# {{ form_row(achievement.finish, {'error_class': 'input-medium','control_group_class':'finish_date', 'attr': {'class': 'input-medium'}}) }} #}
{# {{ form_row(achievement.college, {'error_class': 'input-medium','control_group_class':'college', 'attr': {'class': 'input-medium'}}) }} #}
{{ form_row(achievement.title, {'error_class': 'input-medium','control_group_class':'title', 'attr': {'class': 'input-medium span5'}}) }} 
{{ form_row(achievement.description, {'control_group_class':'description', 'attr': {'class': 'input-large span9'}}) }}
<a href='#' class="icon-remove delete" title="Remove Achievement Entry"></a>
</div>
