{% macro reference(reference, mode) %}

{% set open = 1 %}
{% if mode == 'create' %}

	{% if app.request.request | length %}
	    {% set hasError = 0 %}
		{% for field in reference %}
			{% if field.vars.errors | length %}
			{% set hasError = 1 %}
			{% endif %}
		{% endfor %}
		{% set open = hasError %}
	{% endif %}

{% elseif mode == 'edit' %}
    {% set open = 0 %}
    {% if app.request.request | length %}
		{% for field in reference %}
			{% if field.vars.errors | length %}
			{% set open = 1 %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endif %}

{% set valid = (open == 1 ? 0 : 1) %}

<div class="cv-row reference-row">
    <img src="{{ asset('static/typicons.2.0/png-24px/arrow-move.png') }}" class="move-handler" />
	<div class="info-view padded clearfix" style="{{ valid ? 'display: block;' : '' }}">
        <div class="contact-name">{{ reference.contact.vars['value'] }}</div>
        <div class="company">{{ reference.employer.vars['value'] }}</div>
        <div class="phone-number">{{ reference.telephone.vars['value'] }}</div>
        <div class="email">{{ reference.email.vars['value'] }}</div>
        
        <div class="actions">
			<a href="#" title="Delete Reference Entry" class="delete-row"><img
				src="/bundles/wanaworkuser/images/cv/step2/delete.png" alt="Delete" /></a>
			<a href="#" title="Edit Reference Entry" class="edit-row"><img
				src="/bundles/wanaworkuser/images/cv/step2/edit.png" alt="Edit" /></a>
		</div>
	</div>
	
	<div class="form-view clearfix padded" style="{{ valid ? '' : 'display: block;' }}">
        <div class="control-group left">
			{{ form_label(reference.employer, '', {img_icon: '/bundles/wanaworkuser/images/cv/step2/employer.png'}) }}
			{{ form_widget(reference.employer) }} 
			{{ form_errors(reference.employer) }}
	    </div>
	    
	    <div class="control-group left">
			{{ form_label(reference.contact, '', {span_icon: 'user'}) }}
			{{ form_widget(reference.contact) }} 
			{{ form_errors(reference.contact) }}
	    </div>
	    
	    <div class="control-group left">
			{{ form_label(reference.telephone, '', {span_icon: 'device-phone'}) }}
			{{ form_widget(reference.telephone) }} 
			{{ form_errors(reference.telephone) }}
	    </div>
	    
	    <div class="control-group left">
			{{ form_label(reference.email, '', {span_icon: 'mail'}) }}
			{{ form_widget(reference.email) }} 
			{{ form_errors(reference.email) }}
	    </div>
	    
	    <div class="row-form-buttons-wrapper work-experience-buttons-wrapper">
			<button class="btn btn-danger delete-row">Delete</button>
			<button class="btn btn-main save-row">Save</button>
		</div>
	</div>
</div>


{% endmacro %}
