{% macro education(education, mode) %}

{% set open = 1 %}
{% if mode == 'create' %}

	{% if app.request.request | length %}
	    {% set hasError = 0 %}
		{% for field in education %}
			{% if field.vars.errors | length %}
			{% set hasError = 1 %}
			{% endif %}
		{% endfor %}
		{% set open = hasError %}
	{% endif %}

{% elseif mode == 'edit' %}
    {% set open = 0 %}
    {% if app.request.request | length %}
		{% for field in education %}
			{% if field.vars.errors | length %}
			{% set open = 1 %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endif %}

{% set valid = (open == 1 ? 0 : 1) %}

<div class="cv-row education-row">
    <img src="{{ asset('static/typicons.2.0/png-24px/arrow-move.png') }}" class="move-handler" />
    <!-- VIEW: Information (Collapsed) -->
	<div class="info-view padded clearfix" style="{{ valid ? 'display: block;' : '' }}">
		<div class="dates">
			<span class="start">{{ education.start.vars['value'] }}</span> <span class="divider">&ndash;</span>
			<span class="finish">{{ education.finish.vars['value'] }}</span>

			<div class="duration"></div>
		</div>

		<div class="college-and-course">
			<div class="college">{{ education.college.vars['value'] }}</div>
			<div class="course">{{ education.course.vars['value'] }}</div>
		</div>

		<div class="award">{{ education.award.vars['value'] }}</div>

		<div class="logo"></div>

		<div class="actions">
			<a href="#" title="Delete Education Entry" class="delete-row"><img
				src="{{ asset('/bundles/wanaworkuser/images/cv/step2/delete.png') }}" alt="Delete" /></a>
			<a href="#" title="Edit Education Entry" class="edit-row"><img
				src="{{ asset('/bundles/wanaworkuser/images/cv/step2/edit.png') }}" alt="Edit" /></a>
		</div>
	</div>
	
	<!-- VIEW: Form (expanded) -->
	<div class="form-view padded clearfix" style="{{ valid ? '' : 'display: block;' }}">
	
		<div class="control-group left date-block start-date-block">
		    {{ form_label(education.start, '', { 
			   span_icon:'time' 
            }) }} 
			{{ form_widget(education.start) }}
			{{ form_errors(education.start) }}
        </div>

        <div class="control-group left date-block finish-date-block">
			{{ form_label(education.finish, '', { 
			    span_icon: 'time' 
            }) }} 
			{{ form_widget(education.finish) }}
			{{ form_errors(education.finish) }}
        </div>

		<div class="control-group left college-block">
		    {{form_label(education.college,'', { 
			   img_icon: '/bundles/wanaworkuser/images/cv/step2/institute.png' })
             }} 
			{{ form_widget(education.college) }} 
			{{ form_errors(education.college) }}
		</div>

		<div class="control-group left" style="clear: left;">
			{{ form_label(education.course, '', { 
			   span_icon: 'th-list' 
            })}} 
			{{ form_widget(education.course)}}
			{{ form_errors(education.course) }}
	    </div>

        <div class="control-group left">
			{{ form_label(education.award, '', { 
			   span_icon: 'clipboard'
            })}} 
			{{ form_widget(education.award) }}
			{{ form_errors(education.award) }}
	    </div>

		<div class="row-form-buttons-wrapper education-buttons-wrapper">
			<button class="btn btn-danger delete-row">Delete</button>
			<button class="btn btn-main save-row">Save</button>
		</div>
	</div>
</div>

{% endmacro %}
