{% macro work_experience(work_experience, mode) %}

{% set open = 1 %}
{% if mode == 'create' %}

	{% if app.request.request | length %}
	    {% set hasError = 0 %}
		{% for field in work_experience %}
			{% if field.vars.errors | length %}
			{% set hasError = 1 %}
			{% endif %}
		{% endfor %}
		{% set open = hasError %}
	{% endif %}

{% elseif mode == 'edit' %}
    {% set open = 0 %}
    {% if app.request.request | length %}
		{% for field in work_experience %}
			{% if field.vars.errors | length %}
			{% set open = 1 %}
			{% endif %}
		{% endfor %}
	{% endif %}
{% endif %}

{% set valid = (open == 1 ? 0 : 1) %}

<div class="cv-row work-experience-row">
    <img src="{{ asset('static/typicons.2.0/png-24px/arrow-move.png') }}" class="move-handler" />
	<div class="info-view padded clearfix" style="{{ valid ? 'display: block;' : '' }}">
		<div class="dates">
			<span class="start">{{ work_experience.start.vars['value'] }}</span>
			<span class="divider">&ndash;</span>
			<span class="finish">{{ work_experience.finish.vars['value'] }}</span>

			<div class="duration"></div>
		</div>

		<div class="job-summary">
			<div class="position">{{ work_experience.position.vars['value'] }}</div>
			<div class="company">{{ work_experience.company.vars['value'] }}</div>
			<div class="description">{{ work_experience.description.vars['value'] }}</div>
		</div>

		<div class="logo"></div>

		<div class="actions">
			<a href="#" title="Delete Work Experience Entry" class="delete-row"><img
				src="/bundles/wanaworkuser/images/cv/step2/delete.png" alt="Delete" /></a>
			<a href="#" title="Edit Work Experience Entry" class="edit-row"><img
				src="/bundles/wanaworkuser/images/cv/step2/edit.png" alt="Edit" /></a>
		</div>
	</div>

	<div class="form-view padded clearfix" style="{{ valid ? '' : 'display: block;' }}">
		<div class="control-group left date-block">
			{{ form_label(work_experience.start, '', { span_icon:'time' })
			}} 
			{{ form_widget(work_experience.start) }} 
			{{ form_errors(work_experience.start) }}
	    </div>

		<div class="control-group left date-block">
			{{ form_label(work_experience.finish, '', { span_icon: 'time'
			}) }} 
			{{ form_widget(work_experience.finish) }}
			<div class="finish-date-help">Leave blank if still in this job</div> 
			{{form_errors(work_experience.finish) }}
		</div>

		<div class="control-group left">
			{{ form_label(work_experience.company, '', {img_icon:
			'/bundles/wanaworkuser/images/cv/step2/employer.png'}) }} 
			{{ form_widget(work_experience.company) }} 
			{{ form_errors(work_experience.company) }}
		</div>

		<div class="control-group left" style="clear: left;">
			{{ form_label(work_experience.position, '', {span_icon:
			'briefcase'}) }} 
			{{ form_widget(work_experience.position) }}
			{{ form_errors(work_experience.position) }}
		</div>

		<div class="control-group left">
			{{ form_label(work_experience.description, '', {span_icon:
			'document-text'}) }} 
			{{ form_widget(work_experience.description) }} 
			{{ form_errors(work_experience.description) }}
		</div>

		<div class="row-form-buttons-wrapper work-experience-buttons-wrapper">
			<button class="btn btn-danger delete-row">Delete</button>
			<button class="btn btn-main save-row">Save</button>
		</div>

	</div>
</div>
{% endmacro %}
