<form id="upload-cv-form" action="" method="post" {{ form_enctype(form) }} novalidate>
    {{ form_errors(form) }}
    
    <div class="control-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>
    
    <div class="control-group">
        {{ form_label(form.file) }}
        {{ form_widget(form.file) }}
        <div class="help">Allowed file formats: PDF, Open Office &amp; Word Documents</div>
        {{ form_errors(form.file) }}
    </div>
    
    <div class="control-group clearfix" style="margin-top: 15px;">
		<div class="controls">
			<button type="submit" class="btn-large btn btn-main right">Upload</button>
		</div>
	</div> 
	
	{{ form_rest(form) }}
</form>