{% extends "WanaworkUserBundle::base.html.twig" %}

{% block body %}
<div class="row">
	<span class="span12">
		{% include 'WanaworkUserBundle:EmployeeProfile:_profile-menu.html.twig' with {selection: 'cv'} %}

		<div class="tab-content" style="background: #fff;">
			<div id="profile" class="profile-tab tab-pane active">
				<h2>Please complete your profile first</h2>			
			</div>
	
		</div>	
	</span>
</div>
		

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/wanaworkuser/js/profile_form.js') }}"></script>

{% endblock %}