<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="shortcut icon" href="{{ asset('images/icon.ico') }}" type="image/x-icon"/>
	<link rel="icon" href="{{ asset('images/icon.ico') }}"  type="image/ico"/>
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'bootstrap/css/bootstrap.css'
	'static/css/common.css'
	'@WanaworkUserBundle/Resources/public/css/cv/show.css'
%}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}	
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic' rel='stylesheet' type='text/css'>

	<style>
	body {
	background: #fff;
	}
	</style>

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span12">
				<img src="{{ asset('/images/logoFull.png') }}" class="right" style="margin-top:10px;">
			</div>
		</div>
        <div class="row">
            <div class="span12">
                <div class="full-ad">
		            {% include 'WanaworkUserBundle:CV:_cv-view.html.twig' %}
                </div>
            </div>
        </div>
		<div class="row">
			<div class="span12" style="margin-bottom: 20px;">
				<hr />
				<div id="copyright">
				Copyright &copy; 2012 WanaWork. All Rights Reserved. <br>
				<div class="clear"></div>
				</div>
				<img src="{{ asset('/images/logoFull.png') }}" class="right" style="margin-top:10px;">
			</div>
		</div>
	</div>
		
</body>
</html>
