{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}
{% block body %}
<div class="row">
	<span class="span12">
		{% include 'WanaworkUserBundle:EmployeeProfile:_profile-menu.html.twig' with {selection: 'cv'} %}

		<div class="tab-content" id="cntntHolder">
			<div id="cv" class="cv-tab tab-pane active">
					<div class="row">
						<div class="span10">
						{% for cv in user.employeeProfile.cvs %}
						{% if is_granted('VIEW', cv) %}
						<a href="{{ path('cv_show', {id: cv.id}) }}">{{ cv.name }}</a> <br />
						{% endif %}
						{% endfor %}
						</div>
					</div>
				
			</div>
		</div>	
	</span>
</div>
{% endblock %}

