{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}
{% block title %}New CV{% endblock %}

{% block body %}
<div class="row">
	<div class="span12">
		<div id="ad-progress-timeline">
            <img src="{{ asset('/bundles/wanaworkuser/images/cv/step2/timeline.png') }}" alt="Steps - Progress" />
            <img id="ad-progress-badge" src="{{ asset('/bundles/wanaworkuser/images/adpost/steps-common/badge.png') }}" alt="Price Badge - Cheapest plan is free" />	    
	    </div>
	</div>
</div>

<div class="row">
    <div class="span12">
        <ul class="breadcrumb">
		  <li><a href="{{ path('ad_step2', {id: ad.id}) }}">CV List</a> <span class="divider">/</span></li>
		  <li class="active">New CV</li>
		</ul>
    </div>
</div>

<div class="row">
    <div class="span12" id="cv-header">
        <h1>Upload or Create Your CV</h1>
        <h2>We highly recommend using our CV builder. It has been designed to provide the most accurate picture of your skills to employers</h2>
    </div>
</div>

<div class="row">
    <div class="span12" id="cv-type-selection-wrapper">
        <a href="{{ path('ad_create_step2_form', {ad: ad.id}) }}" class="btn btn-main btn-large cv-builder-button">
            Use Our CV Builder
        </a>
        <span style="color: #b1b1b1; font-size: 20px; font-weight: bold; padding: 4px; position: relative; top: 3px;">or</span>
        <a href="{{ path('ad_create_step2_upload', {ad: ad.id}) }}" class="btn btn-main btn-large cv-upload-button">
            Upload Your CV
        </a>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
    '@WanaworkUserBundle/Resources/public/css/cv/step2-common.css'
    '@WanaworkUserBundle/Resources/public/css/cv/step2-cv-choice.css'
	'@WanaworkUserBundle/Resources/public/css/ads/ad-post-common.css'
	 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}