{% extends "WanaworkUserBundle::base.html.twig" %}

{% block body %}
{% set user = cv.profile.user %}
<div class="row">
	<span class="span12">
		{% include 'WanaworkUserBundle:EmployeeProfile:_profile-menu.html.twig' with {selection: 'cv'} %}

		<div class="tab-content">
			<div id="cv" class="cv-tab-show tab-pane active">
				<div class="row">
					<div class="span10" >
						
						{% include 'WanaworkUserBundle:CV:_cv-view.html.twig' %}
						
					</div>
				</div>
				
			</div>
		</div>	
	</span>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/wanaworkuser/js/cv.js') }}"></script>
	<script src="{{ asset('bundles/wanaworkuser/js/jobs_form.js') }}"></script>
{% endblock %}
