<div class='row'>
	<div class="span12">
		<ul class="nav nav-pills">
			<li class="{{ menu_selection == 'entity_sectors' ? 'active' : '' }}">
		    	<a href="{{ path('entity_sectors') }}">Sectors &amp; Professions</a>
		  	</li>
		  	<li class="{{ menu_selection == 'entity_qualifications' ? 'active' : '' }}">
		  		<a href="{{ path('entity_qualification') }}">Qualifications</a>
		  	</li>
		  	<li class="{{ menu_selection == 'entity_sector_experience' ? 'active' : '' }}">
		  		<a href="{{ path('entity_sector_experience') }}">Experience</a>
		  	</li>
		  	<li class="{{ menu_selection == 'admin_country' ? 'active' : '' }}">
		  		<a href="{{ path('admin_country') }}">Countries</a>
		  	</li>
		  	
		  	<li class="{{ menu_selection == 'entity_county' ? 'active' : '' }}">
		  		<a href="{{ path('entity_county') }}">Counties</a>
		  	</li>
		  	
		  	<li class="{{ menu_selection == 'entity_language' ? 'active' : '' }}">
		  		<a href="{{ path('entity_language') }}">Languages</a>
		  	</li>
		  	
		  	<li class="{{ menu_selection == 'entity_nametitle' ? 'active' : '' }}">
		  		<a href="{{ path('entity_nametitle') }}">Name Titles</a>
		  	</li>
		  	
		  	<li class="{{ menu_selection == 'entity_positiontype' ? 'active' : '' }}">
		  		<a href="{{ path('entity_positiontype') }}">Position Types</a>
		  	</li>
		  	
		</ul>
	</div>
</div>