{% extends '::base.html.twig' %}

{% block body %}
{% include "WanaworkUserBundle:Entity:_entity-list.html.twig" with {menu_selection: 'entity_sectors'} %}

<div class="row">
    <div class="span4">
        <b>Sectors</b>
        <div class="btn-group entity-filter" data-toggle="buttons-radio">
		  <button type="button" class="all btn btn-small btn-main active">All</button>
		  <button type="button" class="selected btn btn-small btn-main">Selected</button>
		  <button type="button" class="not-selected btn btn-small btn-main">Not Selected</button>
		</div>
        {% if sectors | length > 0 %}
        <ul id="sector-list" class="entity-list">
            {% for sector in sectors %}
            <li id="sector-{{ sector.id }}" class="entity" data-dialogtitle="Sector - {{ sector.name }}">
                <span class="count badge badge-info">{{ sector.jobs | length }}</span>
                <div class="input">
                    <input type="checkbox" />
                </div>
                <a href="{{ path('sector_edit', {id: sector.id}) }}" class="name">{{ sector }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        No ssectors found
        {% endif %}
    </div>
    
    <div class="span4" id="middle-column">
        <b>Connections</b>
        <div class="wait-message">
            Select sector or profession to see connections
        </div>
        
        <div id="connections-form">
        
        </div>
    </div>
    
    <div class="span4">
        <b>Professions</b>
        <div class="btn-group entity-filter" data-toggle="buttons-radio">
		  <button type="button" class="all btn btn-small btn-main active">All</button>
		  <button type="button" class="selected btn btn-small btn-main">Selected</button>
		  <button type="button" class="not-selected btn btn-small btn-main">Not Selected</button>
		</div>
        {% if professions | length > 0 %}
        <ul id="profession-list" class="entity-list">
            {% for profession in professions %}
            <li id="profession-{{ profession.id }}" class="entity" data-dialogtitle="Profession - {{ profession }}">
                <span class="count badge badge-info">{{ profession.sectors | length }}</span>
                <div class="input">
                    <input type="checkbox" />
                </div>
                <a href="{{ path('profession_edit', {id: profession.id}) }}" class="name">{{ profession }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        No professions found
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="span4">
        <a class="new-entity-link" href="{{ path('sector_new') }}"><i class="icon icon-plus-sign"></i>New Sector</a>
    </div>
    <div class="span4">
        <a href="{{ path('entity_sectors', {_format: 'file'}) }}"><i class="icon icon-download"></i>Export</a>
    </div>
    <div class="span4">
        <a class="new-entity-link" href="{{ path('profession_new') }}"><i class="icon icon-plus-sign"></i>New Profession</a>
    </div>
</div>

<div id="dialog" title="New Entity"></div>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets '@WanaworkUserBundle/Resources/public/css/entity/sectors.css'
	filter='?yui_css' filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
	   'vendor/stickymojo/stickyMojo.js'
		'@WanaworkUserBundle/Resources/public/js/entity/sectors.js' %}
		<script src="{{ asset(asset_url) }}"></script>	
	{% endjavascripts %}
{% endblock %}