{% if reference is defined %}
	{% set path = path('reference_update', {id: reference.id} )  %}
{% else %}
	{% set path = path('reference_create', {cvId: cv.id}) %}
{% endif %}

<form action="{{ path }}" method="post" {{ form_enctype(form) }} novalidate>
    {{ form_widget(form) }}
        
    <div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-main ">Save</button>
		</div>
	</div>
</form>