<div class="field">
	<div class="fieldInstit left">
		<img src="{{ asset('images/iconWork.png') }}" />
		<div class="fieldText">{{ reference.employer }}</div>
	</div>

	<div class="fieldPerson left">
		<img src="{{ asset('images/iconPerson.png') }}" />
		<div class="fieldText">{{ reference.contact }}</div>
	</div>

	{#
	{% if is_granted('EDIT', cv) %}
	<div class="fieldEdit right">
	
		<a href="{{ path('reference_edit', {id: reference.id}) }}" class="iconEdit"></a>
		<form method="post" action="{{ path('reference_delete', {id: reference.id}) }}">
			{{ form_widget(delete_form) }}
			<input type="submit" class="iconDel" value="" />
		</form>
	</div>
	{% endif %}
	#}
	<div class="clear"></div>

	<div class="fieldTelep left">
		<img src="{{ asset('images/iconTelep.png') }}" />
		<div class="fieldText">{{ reference.telephone }}</div>
	</div>

	<div class="fieldMail left">
		<img src="{{ asset('images/iconMail.png') }}" />
		<div class="fieldText">{{ reference.email }}</div>
	</div>
	<div class="clear"></div>
</div>