<h1>Reference list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Employer</th>
            <th>Contact</th>
            <th>Telephone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('reference_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.employer }}</td>
            <td>{{ entity.contact }}</td>
            <td>{{ entity.telephone }}</td>
            <td>{{ entity.email }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('reference_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reference_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('reference_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
