<h1>Reference</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Employer</th>
            <td>{{ entity.employer }}</td>
        </tr>
        <tr>
            <th>Contact</th>
            <td>{{ entity.contact }}</td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td>{{ entity.telephone }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('reference') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('reference_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('reference_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
