<div id="candidatesSection">
	<div id="candidateWalkThrough">
		<div class="row">
			<div class="span12"><img src="{{ asset("images/titleWrk1.png") }}"></div>
			<div class="span12" id="stpImg"><img src="{{ asset("images/stpImg1.png") }}"></div>
		
			<div class="span4">
				<h4>Sign up</h4>
				Join thousands of motivated candidates <br />today. 
				Everyone on Wanawork really <br />wants to work and employers know it. <br />
				It is free and easy, so sign up now.
			</div>
		
			<div class="span4">
				<h4>Build Profile</h4>
				We help you build an effective career <br />profile. 
				It will showcase you in a safe <br />and secure environment. 
				Hundreds of <br />employers are looking for someone as motivated as you right now. 
				<br />It's really simple!
			</div>
		
			<div class="span4">
				<h4>Publish an Ad</h4>
				And connect with employers all over<br /> Ireland today. Tailor your ad to attract<br /> 
				only the right employers (industry,<br /> location, etc) for you. Your next career <br />
				move is awaiting for you.
			</div>
		</div>
	</div>
	
	<div id="bnrBnft">
		<div class="row">
			<div class="span12"><img src="{{ asset("images/titleBnf1.png") }}"></div>
		</div>
		<div class="row">
			<div class="span4">
				<img src="{{ asset("images/bnfImg_1.png") }}">
				<h4>Automate Your Job Search</h4>
				You will be considered for all jobs<br /> relevant to you with no extra work.
			</div>
		
			<div class="span4">
				<img src="{{ asset("images/bnfImg_2.png") }}" />
				<h4>Get Feedback And Stats</h4>
				Keek track of employers who are<br /> potentially interested in you.
			</div>
		
			<div class="span4">
				<img src="{{ asset("images/bnfImg_3.png") }}">
				<h4>Stay Anonymous,<br /> Safe & Secure</h4>
				Review employers before allowing them<br /> access to your CV.
			</div>
		</div>
	</div>
	
	<div id="bnrBnftBg"></div>
	
	<div id="plans">
		<div class="row">
			<div class="span12"><img src="{{ asset("images/titlePln.png") }}"></div>
		</div>
		
		<div class="row">
			<div class="span6">
				<table class="plansTable">
					<thead>
						<tr>
							<th>
								<div class="planName">Standard</div>
								<div class="priceAndDuration">
									<span class="price">&euro;5</span>
									<span class="separator">/</span>
									<span class="duration">2 months</span>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
					  <tr class="white triangle">
					  	<td>
					  		<img src="{{ asset("images/plnArr.png") }}"  />
					  	</td>
					  </tr>
					  <tr class="white">
					  	<td>Automating your job search. Visibility to all Employers</td>
					  </tr>
					  <tr class="dark">
					  	<td>Unlimited updates to your ads</td>
					  </tr>
					  <tr class="white">
					  	<td>Standard listing in search results for <b>60 days</b></td>
					  </tr>
					  <tr class="dark">
					  	<td>Get back on the top. 1 Free bump per month.</td>
					  </tr>
					  <tr class="white">
					  	<td>Access to <b>standard statistics</b></td>
					  </tr>
					  <tr class="dark">
					  	<td>No badges</td>
					  </tr>
					  <tr class="white">
					  	<td>Full control over who has access to your profile</td>
					  </tr>
					  <tr class="white" style="border:0;">
					  	<td style="text-align:center;">
					  		<a href="{{ path('wanawork_register', {type:'employee'}) }}" class="btn btn-main btn-large">Sign Up</a>
					  	</td>
					  </tr>
					</tbody>
				</table>
			</div>
			
			<div class="span6">
				<table class="plansTable">
					<thead>
						<tr>
							<th>
								<div class="planName">Premium</div>
								<div class="priceAndDuration">
									<span class="price">&euro;9</span>
									<span class="separator">/</span>
									<span class="duration">2 months</span>
								</div>
							</th>
						</tr>
					</thead>
					
					<tbody>
						<tr class="white triangle">
						  	<td>
						  		<img src="{{ asset("images/plnArr.png") }}" />
						  	</td>
					    </tr>
						<tr class="white">
					  		<td>Automating your job search. Visibility to all Employers</td>
					  	</tr>
						<tr class="dark">
							<td>Unlimited updates to your ads</td>
						</tr>
						<tr class="white">
							<td><b>Priority</b> listing in search results for <b>60 days</b></td>
						</tr>
						<tr class="dark">
							<td>Stay on the top. <b>3 bumps per month</b> included</td>
						</tr>
						<tr class="white">
							<td>Access to <b>advanced statistics</b></td>
						</tr>
						<tr class="dark">
							<td><b>Personalised badges</b> to draw attention</td>
						</tr>
						<tr class="white">
							<td>Full control over who has access to your profile</td>
						</tr>
						<tr class="white" style="border:0;">
							<td style="text-align:center;">
							<a href="{{ path('wanawork_register', {type:'employee'}) }}" class="btn btn-main btn-large">Sign Up</a>
						</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>