<div id="employersSection">
<div id="candidateWalkThrough">
		<div class="row">
			<div class="span12"><img src="{{ asset("images/titleWrk2.png") }}"></div>
			<div class="span12" id="stpImg"><img src="{{ asset("images/stpImg2.png") }}"></div>
		
			<div class="span4">
				<h4>Sign up</h4>
				Join hundreds of employers today. 
				Build<br />your company profile and start looking<br />for candidates who really want to work.<br />  
				It's free and easy, sign up today.
			</div>
		
			<div class="span4">
				<h4>Search</h4>
				Searching is simple and offers you<br />access to thousands of candidates who<br />are <b>currently looking for work.</b> 
				Tailor<br />your search criteria to find the skills,<br />qualifications and experience you need<br />for your business.
			</div>
		
			<div class="span4">
				<h4>Connect</h4>
				Gain access to an unlimited number of<br />candidate profiles, communicate with<br />them on/off site and manage your<br />shortlists. 
			</div>
		</div>
	</div>
	
	<div id="bnrBnft">
		<div class="row">
			<div class="span12"><img src="{{ asset("images/titleBnf1.png") }}"></div>
		</div>
		<div class="row">
			<div class="span4">
				<img src="{{ asset("images/bnfImg_4.png") }}">
				<h4>Accurate Search</h4>
				Find a candidate with specific skills who<br />genuinely wants to work and is not just<br />‘looking for a job’.
			</div>
		
			<div class="span4">
				<img src="{{ asset("images/bnfImg_5.png") }}" />
				<h4>Always Current Candidates</h4>
				Every candidate you find is open to<br />opportunities of employment.
			</div>
		
			<div class="span4">
				<img src="{{ asset("images/bnfImg_6.png") }}">
				<h4>Totally Free</h4>
				And you can do all of this completely<br />FREE of charge.
			</div>
		</div>
	</div>
	
	<div id="bnrBnftBg"></div>
	
	<div id="plans">
		<div class="row">
			<div class="span12"><img src="{{ asset("images/titlePln.png") }}"></div>
		</div>
		
		<div class="row">
			<div class="span4">
				<table class="plansTable">
					<thead>
						<tr>
							<th>
								<div class="planName">Unverified</div>
								<div class="description">Suitable for Small to Medium<br />sized businesses</div>
								<div class="priceAndDuration">
									<span class="price">FREE</span>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
					  <tr class="white triangle">
					  	<td>
					  		<img src="{{ asset("images/plnArr.png") }}"  />
					  	</td>
					  </tr>
					  <tr class="white">
					  	<td>Full search capabilities</td>
					  </tr>
					  <tr class="dark">
					  	<td>Free employer profile, including<br /><b>1 account manager</b> log in</td>
					  </tr>
					  <tr class="white">
					  	<td>Savable searches, free updates & alerts</td>
					  </tr>
					  <tr class="dark">
					  	<td>Full package to manage your recruitment: shortlists & on site messaging</td>
					  </tr>
					  <tr class="white">
					  	<td><b>15 CV</b> Requests per hour limit</td>
					  </tr>
					  <tr class="white" style="border:0;">
					  	<td style="text-align:center;">
					  		<a href="{{ path('wanawork_register', {type:'employer'}) }}" class="btn btn-main btn-large">Sign Up</a>
					  	</td>
					  </tr>
					</tbody>
				</table>
			</div>
			
			<div class="span4">
				<table class="plansTable">
					<thead>
						<tr>
							<th>
								<div class="planName">Verified</div>
								<div class="description">Suitable for Small to Medium<br />sized businesses</div>
								<div class="priceAndDuration">
									<span class="price">&euro;249</span>
									<span class="separator">/</span>
									<span class="duration">once off</span>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
					  <tr class="white triangle">
					  	<td>
					  		<img src="{{ asset("images/plnArr.png") }}"  />
					  	</td>
					  </tr>
					  <tr class="white">
					  	<td>Full search capabilities</td>
					  </tr>
					  <tr class="dark">
					  	<td>Free employer profile, including<br /><b>1 account manager</b> log in</td>
					  </tr>
					  <tr class="white">
					  	<td>Savable searches, free updates & alerts</td>
					  </tr>
					  <tr class="dark">
					  	<td>Full package to manage your recruitment: shortlists & on site messaging</td>
					  </tr>
					  <tr class="white">
					  	<td><b>50 CV</b> Requests per hour limit</td>
					  </tr>
					   <tr class="dark">
					  	<td>Increased responses from candidates.</td>
					  </tr>
					  <tr class="white">
					  	<td>Access to publish blog articles</td>
					  </tr>
					  <tr class="white" style="border:0;">
					  	<td style="text-align:center;">
					  		<a href="{{ path('wanawork_register', {type:'employer'}) }}" class="btn btn-main btn-large">Sign Up</a>
					  	</td>
					  </tr>

					</tbody>
				</table>
			</div>


			<div class="span4">
				<table class="plansTable">
					<thead>
						<tr>
							<th>
								<div class="planName">Corporate</div>
								<div class="description">Suitable for Large corporations</br>and Recruitment Agencies</div>
								<div class="priceAndDuration">
									<span class="price">Contact us for pricing</span>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
					  <tr class="white triangle">
					  	<td>
					  		<img src="{{ asset("images/plnArr.png") }}"  />
					  	</td>
					  </tr>
					  <tr class="white">
					  	<td>Advanced search capabilities and CV filtering</td>
					  </tr>
					  <tr class="dark">
					  	<td>Customised account management systems, unlimited user logins</td>
					  </tr>
					  <tr class="white">
					  	<td>Saveable searches, search updates & alerts</td>
					  </tr>
					  <tr class="dark">
					  	<td>Complete recruitment management solutions, candidate verification processes</td>
					  </tr>
					  <tr class="white">
					  	<td><b>Unlimited CV</b> Requests per hour limit</td>
					  </tr>
					  <tr class="dark">
					  	<td>Increased responses from all candidates.</td>
					  </tr>
					  <tr class="white">
					  	<td>Customisable application process</td>
					  </tr>
					  <tr class="dark">
					  	<td>Access to publish blog articles</td>
					  </tr>
					  <tr class="white" style="border:0;">
					  	<td style="text-align:center;">
					  		<a href="{{ path('wanawork_register', {type:'employer'}) }}" class="btn btn-main btn-large">Sign Up</a>
					  	</td>
					  </tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
