{% extends "WanaworkMainBundle::base.html.twig" %}

{% block title %}Contact us{% endblock %}

{% block meta %}
<meta content="Get in touch if you need any help" name="description">
{% endblock %}

{% block body %}
<div class="row">
    <div class="span6 heading">
        <h1>Send us a Message</h1>
        <div class="contact-form">
            {% if message_sent is defined %}
            <div class="alert alert-success">
                Message sent. We'll be in touch shortly. Thanks!
            </div>
            {% endif %}
            {{ form(contact_form) }}
        </div>
    </div>
    
    <div class="span5 offset1 heading">
        <h1>Get in Touch</h1>
        <div class="contact-info">
            <b>Email:</b> <a href="mailto:hello@wannawork.ie">hello@wannawork.ie</a><br />
            <b>Phone Number:</b> 089 204 4040
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets '@WanaworkMainBundle/Resources/public/css/contactus.css' 
	filter='?yui_css' filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}