{% extends "WanaworkMainBundle::base.html.twig" %}

{% block title %}Product Overview for Employers{% endblock %}
{% block meta %}
<meta content="Product oveview. Simple and affordable recruitment platform. Features, benefits and prices" name="description" />
{% endblock %}

{% block container %}
<div id="main">

<div id="wrapper-top">
    <div class="container">
        <div class="row" id="title-row">
             <h1>A Brand New Way to Recruit</h1>
             <h2>Candidates advertise their skills and you search for them</h2>
        </div>
    </div>
</div>

<div id="wrapper-middle">
    <div class="container">
        <div class="row">
            <div class="span7">
                <h3>Advanced &amp; Accurate Search</h3>
                <p>
                    Our accurate and advanced search enables you to find the candidates with the exact skills you require.
                    Profession, experience, education, location, and much more. 
                    <nobr><a href="{{ path('wanawork_main_search') }}">Take a look yourself</a></nobr>
                </p>
            </div>
            <div class="span5">
                <img alt="Search Icons" src="{{ asset('bundles/wanaworkmain/images/employers-overview/search-icons.png') }}" />
            </div>
        </div>
        
        <div class="row">
            <div class="span7">
                <img alt="Search Icons" src="{{ asset('bundles/wanaworkmain/images/employers-overview/wannawork-sample-advert.png') }}" />
            </div>
            <div class="span5">
                <br />
                <br />
                <br />
                <br />
                <h3>Only Current Adverts &amp; Candidates</h3>
                <p>
                    On Wannawork.ie, candidates pay to advertise their skills. 
                    It means that behind every advert you see is a person ready to work for you.
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="span7">
                <br />
                <br />
                <br />
                <br />
                <h3>Absolutelly Free to Start. Sign Up Today</h3>
                <p>
                    We provide all employers with 5 FREE CV requests per day. More than enough for a typical company.
                    If you ever need more, they're still very affordable.
                    <br />Since all adverts are anonymous, you'd need to request access from the candidate to their full CV
                </p>
            </div>
            <div class="span5">
				<form id="signup-form" class="form_employer" action="{{ path('wanawork_register', {type: 'employer'}) }}" method="post"  
					{{ form_enctype(form_employer) }} novalidate class="form-horizontal">
					{{ form_errors(form_employer) }} 
					
					{{ form_row(form_employer.name, {help: 'Your full name, not your company name'}) }}
					{{ form_row(form_employer.email) }}
					{{ form_row(form_employer.password) }}
					{{ form_rest(form_employer) }}
				
					<div class="control-group">
						<div class="controls">
							<button id="submit-employer" type="submit" class="btn btn-main">Sign Up</button>
						</div>
					</div>
				</form>
            </div>
        </div>
    </div>
</div>


<div id="wrapper-benefits">
    <div class="container">
        <div class="row">
            <div class="span12">
                <h3>Some of Our Features</h3>
            </div>
        </div>
        <div class="row">
            <div class="span1">
                <img src="{{ asset('bundles/wanaworkmain/images/employers-overview/feature-skill-search.png') }}" alt="Skill Search" />
            </div>
            <div class="span5">
                <h4>The easiest way to find skills</h4>
                <p>
                    Our custom-built skill search allows you to select the exact skills you require. 
                    You can search for candidates based on their profession, 
                    location and many other parameters. 
                    Using our search, you won't be wasting any time filtering through irrelevant or inaccurate CVs
                </p>
            </div>
            
            <div class="span1">
                <img src="{{ asset('bundles/wanaworkmain/images/employers-overview/feature-real-results.png') }}" alt="Real Results" />
            </div>
            <div class="span5">
                <h4>Real results &mdash; Real person behind every CV</h4>
                <p>
                    All ads are paid for by candidates to ensure their commitment to work. 
                    Each Ad allows you to make a hiring decision at a glance. 
                    We rank ads based on suitability of the candidate to your role.
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="span1">
                <img src="{{ asset('bundles/wanaworkmain/images/employers-overview/feature-quick-cv-access.png') }}" alt="Quick CV Access" />
            </div>
            <div class="span5">
                <h4>One click to access full CV</h4>
                <p>
                    One click CV access allows you to easily request 
					access to full CV of candidates whose ads you 
					think suit your role.
                </p>
            </div>
            <div class="span1">
                <img src="{{ asset('bundles/wanaworkmain/images/employers-overview/feature-private-mail.png') }}" alt="Private Mail - Communication with Candidates" />
            </div>
            <div class="span5">
                <h4>Communicate with prospective candidates right here</h4>
                <p>
                    Once the candidate grants you access to their full CV, 
                    you can communicate with them onsite, 
                    and offsite to request further information and arrange interviews.
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="span1">
                <img src="{{ asset('bundles/wanaworkmain/images/employers-overview/feature-organised-hiring.png') }}" alt="Organised Hiring Process" />
            </div>
            <div class="span5">
                <h4>Organise your hiring process</h4>
                <p>
                    All of the CVs you gain access to, are added to your shortlist. 
                    You can easily go back and review all of your available CVs before making a hiring decision.
                </p>
            </div>
            <div class="span1">
                <img src="{{ asset('bundles/wanaworkmain/images/employers-overview/feature-simple-job-specs.png') }}" alt="Simple Job Specs" />
            </div>
            <div class="span5">
                <h4>Communicate your requirements easily</h4>
                <p>
                    Each time you request access to candidate's CV, 
                    you need to provide them with a role overview for which you are hiring. 
                    We make it easy to communicate your requirements. 
                    You can create job specs and easily attach them to every CV request.
                </p>
            </div>
        </div>
            
    </div>
</div>

<div id="wrap-testimonial">
    <div class="container">
        <div class="row">
            <div class="span1">
                <a href="#" id="quote-scroll-left"></a>
            </div>
            <div class="span9">
                <ul id="testimonials">
                    <li>
                        <blockquote>
                            <table>
                                <tr>
                                    <td>
                                     <span class="quote quote-left">&ldquo;</span>   
                                    </td>
                                    <td>
                                        <p>
                                            In the summer, we need to recruit a lot of additional staff. 
                                            It was always a nightmare, and outrageously expensive. 
                                            Since I found Wannawork, I haven't had to pay for recruitment, 
                                            and I've saved a lot of time.
					                        <span class="quote quote-right">&rdquo;</span>
					                    </p>
                                    </td>
                                </tr>
                            </table>
		                    <small><cite title="Leo Cox, Cox's Steak House">Leo Cox</cite>, Cox's Steak House</small>
						</blockquote>
                    </li>
                    <li>
                        <blockquote>
                            <table>
                                <tr>
                                    <td>
                                     <span class="quote quote-left">&ldquo;</span>   
                                    </td>
                                    <td>
                                        <p>
					                        I've been recruiting professional sales people for years. 
					                        It's always been so expensive, and very hit or miss. 
					                        Wannawork just works.
					                        <span class="quote quote-right">&rdquo;</span>
					                    </p>
                                    </td>
                                </tr>
                            </table>
		                    <small><cite title="Cormac Killeen, Utility Solutions">Cormac Killeen</cite>, Utility Solutions</small>
						</blockquote>
                    </li>
                    <li>
                        <blockquote>
                            <table>
                                <tr>
                                    <td>
                                     <span class="quote quote-left">&ldquo;</span>   
                                    </td>
                                    <td>
                                        <p>
					                        I've always found it tough to recruit good skilled people in my business. 
					                        I don't have a lot to invest in recruitment and always wanted 
					                        a one stop shop that didn't cost a fortune. Wannawork was FREE. 
					                        I couldn't believe how lucky I was to find it.
					                        <span class="quote quote-right">&rdquo;</span>
					                    </p>
                                    </td>
                                </tr>
                            </table>
		                    <small><cite title="Cliff Deane, WL Studios">Cliff Deane</cite>, WL Studios</small>
						</blockquote>
                    </li>
                    <li>
                        <blockquote>
                            <table>
                                <tr>
                                    <td>
                                     <span class="quote quote-left">&ldquo;</span>   
                                    </td>
                                    <td>
                                        <p>
					                        I'm in the customer service business. 
					                        More so than the obvious savings 
					                        I've made by managing my recruitment with Wannawork, 
					                        I have to applaud them on their commitment to service and product. 
					                        I've never seen a recruitment solution so simple and effective.
					                        <span class="quote quote-right">&rdquo;</span>
					                    </p>
                                    </td>
                                </tr>
                            </table>
		                    <small><cite title="A. Murray, Empire Acquisitions">A. Murray</cite>, Empire Acquisitions</small>
						</blockquote>
                    </li>
                </ul>
            </div>
            <div class="span1" style="text-align: center;">
                <a href="#" id="quote-scroll-right"></a>
            </div>
        </div>
    </div>
</div>

<div id="wrap-bottom">
    <div class="container">
        <div class="row">
            <div class="span6 offset3" style="text-align: center;">
                <h1>Try Wannawork.ie Today</h1>
                <p>
                    Wannawork.ie can simplify your recruitment process and 
                    save you money
                </p>
                <a href="#signup-form" class="btn btn-white">Sign up</a>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 
    'bundles/wanaworkmain/css/employers-overview.css' 
	filter='?yui_css' filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts filter='?yui_js' 
    'vendor/bxslider/jquery.bxslider.js'
    '@WanaworkMainBundle/Resources/public/js/employers-overview.js' %}
	<script src="{{ asset(asset_url) }}"></script>	
{% endjavascripts %}
{% endblock %}