<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>Wannawork.ie - More than just a jobsite</title>

	{% include '::_include-charset.html.twig' %}
	{% include '::_include-favicon.html.twig' %}
	{% include '::_include-fonts.html.twig' %}
	{% include '::_include-analytics.html.twig' %}
	{% include '::_include-scripts.html.twig' %}
	
	{% stylesheets filter='?yui_css' filter='cssrewrite'
		'bootstrap/css/bootstrap.css'
		'static/css/bootstrap-mods.css'
		'static/css/inputs.css'
		'static/css/common.css'
		'static/css/buttons.css'
		'vendor/fullPage/jquery.fullPage.css'
		'bundles/wanaworkmain/css/index.css'
	     %}
		<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
	{% endstylesheets %}

{#     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>#}
{# 	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>	#}
{# 	<script src="/vendor/fullPage/jquery.fullPage.js"></script>#}
{# 	<script src="/bundles/wanaworkmain/js/index.js"></script>#}

{% javascripts filter='?yui_js' 
    'static/js/jquery-1.8.3.js'
	'bootstrap/js/bootstrap.js'
	'static/js/ajax.js'
	'vendor/jquery-placeholder/jquery.placeholder.js'
	'vendor/text-overflow/lib/jquery.text-overflow.js'
	'static/js/hacks.js'
	'vendor/fullPage/jquery.fullPage.js'
	'vendor/fullPage/vendors/jquery.easings.min.js'
	'bundles/wanaworkmain/js/index.js'
	%}
	<script src="{{ asset(asset_url) }}"></script>
{% endjavascripts %}
	
</head>
<body>


<div id="fullpage">

    <form id="signup-employer" method="POST" action="{{ path('wanawork_register', {type: 'employer'}) }}">
        {{ form_widget(form_employer) }}
    </form>

    <div class="section" id="section-home">
    
        <ul id="home-backgrounds">
            <li id="home-backgrounds-1"></li>
            <li id="home-backgrounds-2"></li>
            <li id="home-backgrounds-3"></li>
            <li id="home-backgrounds-4"></li>
        </ul>
        
	    <div id="home-menu">
	        <div class="column">
	           <img src="{{ asset('images/logo_white.png') }}" alt="Wannawork.ie Logo"/>
	        </div>
	        
	        <div class="column clearfix" id="home-column-social">
		        <ul id="home-social-icons" class="clearfix">
		            <li>
		                <a href="{{ site_url_facebook }}">
		                    <img src="{{ asset('images/social2/facebook.png') }}" />
		                </a>    
		            </li>
		            <li>
		                <a href="{{ site_url_twitter }}">
		                    <img src="{{ asset('images/social2/twitter.png') }}" />
		                </a>    
		            </li>
		               
		            <li>
		                <a href="{{ site_url_linkedin }}">
		                    <img src="{{ asset('images/social2/linkedin.png') }}" />
		                </a>    
		            </li>
			        <li>
		                <a href="https://plus.google.com/100424487962031527457" rel="publisher"><img src="{{ asset('images/social2/google.png') }}" /></a>
		            </li>
			    </ul>
		    </div>
		    
		    <div class="column">
		      <a href="{{ path('login') }}" class="btn btn-white login-link">Login</a>
		   </div>
	    </div>
	    
	    <div id="home-content">
	       <div id="home-content-text">
	           <h1>Post an <a href="#" id="advert-link">Advert</a> &amp; Employers Will Find You</h1>
	       </div>
	       
	       <h2>Sign up to find a job. It's simple.</h2>
           <form class="signup-form employee_form " action="{{ path('wanawork_register', {type: 'employee'}) }}" method="post"
           id="signup-form-1"
	           {{ form_enctype(form_employee) }} novalidate>
	           
	           {{ form_errors(form_employee) }} 
	           {{ form_widget(form_employee) }}
	           
	           <div class="control-group clearfix" id="registration_account-type">
	               <label id="label_candidate_account" class="control-label"">
	                   Sign up as:
    	               <span class="required" title="This field is required" style="display: inline;">*</span>
    	           </label>
    	           <div class="controls">
                       <input id="candidate_company_candidate" type="radio" name="candidate[account]" value="candidate" checked="checked" /> 
                       <label for="candidate_company_candidate">Candidate</label>
                       
                       <input id="candidate_company_company" type="radio" name="candidate[account]" value="employer" /> 
                       <label for="candidate_company_company">Company</label>
    	               
    	           </div>
    	       </div>
	           
	           <div class="control-group">
	               <div class="controls">
	                  <button id="submit-candidate" type="submit" class="btn btn-main">Sign Up</button>
	               </div>
	           </div>
            </form>
	    </div>
	               
    </div> 
    

    <div class="section" id="section-features">
	   <div class="container">
            <div class="row row1">
                <div class="span12">
                    <h1>Features, That Will Help You Get Hired</h1>
                </div>
            </div>
            
            <div class="row row2">
                <div class="span7 offset3">
                    <ul id="feature-list" class="clearfix">
                        <li>
                            <a href="#feature-advert" class="active">
                                <img src="{{ asset('bundles/wanaworkmain/images/index/feature-advert.png') }}" /><br/>
                                Your Advert
                            </a>
                        </li>
                        <li>
                            <a href="#feature-stats">
                                <img src="{{ asset('bundles/wanaworkmain/images/index/feature-statistics.png') }}" /><br />
                                Statistics
                            </a>
                        </li>
                        
                        <li>
                            <a href="#feature-privacy">
                                <img src="{{ asset('bundles/wanaworkmain/images/index/feature-privacy.png') }}" /><br />
                                Privacy
                            </a>
                        </li>
                        
                        <li>
                            <a href="#feature-inbox">
                                <img src="{{ asset('bundles/wanaworkmain/images/index/feature-inbox.png') }}" /><br />
                                Your Inbox
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
	   </div>
	   
	   <div id="features-content-wrap">
	       <div class="content">
		       <div class="feature-slide" id="feature-advert">
		          <div class="left col-picture">
		              <img src="{{ asset('bundles/wanaworkmain/images/index/feature-slide-adbox.png') }}" alt="Wannawork.ie Advert Sample" />
		          </div>
		          
		          <div class="left col-text">
    		          <h2>Present Your Skills <br />With an Advert Like This</h2>
    		          <p>
    		              Instead of applying for jobs, post an advert like this, sit back and employers will find you,
    		              by requesting access to your CV.
    		              
    		          </p>
		          </div>
		       </div>
		       <div class="feature-slide" id="feature-stats">
		          <div class="left col-text">
		              <h2>Keep an Eye on Your Ad's Performance</h2>
		              <p>Once your ad is live, we will provide you with daily statistics about 
		              who viewed your ad and how many times. You will always have full visibility about your progress.</p>
		          </div>
		          
		          <div class="left col-picture">
		              <img src="{{ asset('bundles/wanaworkmain/images/index/feature-slide-statistics.png') }}" alt="Wannawork.ie Advert Statistics" />
		          </div>
		          
		       </div>
		       <div class="feature-slide" id="feature-privacy">
		          <div class="left col-picture">
		              <img src="{{ asset('bundles/wanaworkmain/images/index/feature-slide-privacy.png') }}" alt="Wannawork.ie Advert Privacy" />
		          </div>
		          
		          <div class="left col-text">
		              <h2>Advertise your skills while staying anonymous</h2>
		              <p>
		                  Your advert is public, but your CV is always private. 
		                  Employers will request access to your CV and you would need to approve it.
		              </p>
		          </div>
		       </div>
		       <div class="feature-slide" id="feature-inbox">
		       
		          <div class="left col-text">
		              <h2>Communicate with prospective employers right here</h2>
		              <p>
		                  When you grant an employer access to you CV, you can communicate with 
		                  that employer without leaving Wannawork, set up interviews, or request more information
		              </p>
		          </div>
		          
		          <div class="left col-picture">
		              <img src="{{ asset('bundles/wanaworkmain/images/index/feature-slide-inbox.png') }}" alt="Wannawork.ie Advert Inbox" />
		          </div>
		          
		       </div>
		   </div>
	   </div>
	   
	</div>
    
    <div class="section" id="section-signup">
        <div class="container">
            <div class="row row1">
                <div class="span12">
                    <a href="{{ path('login') }}" class="btn btn-white login-btn">Login</a>
                    <h1>Try a Different Job Search</h1>
                    <h2>Join Hundreds of Successful Candidates</h2>
                </div>
            </div>
        </div>
        
        <div class="content-wrap">
        
	        <div class="container">
	            <div class="row row2">
	                <div class="span5">
	                    <form class="signup-form employee_form"  id="signup-form-2"
	                       action="{{ path('wanawork_register', {type: 'employee'}) }}" 
	                       method="post" 
	                       data-action-candidate="{{ path('wanawork_register', {type: 'employee'}) }}"
                           data-action-employer="{{ path('wanawork_register', {type: 'employer'}) }}"
				           {{ form_enctype(form_employee2) }} novalidate>
				           {{ form_errors(form_employee2) }} 
				           {{ form_widget(form_employee2) }}
				           
				           
				           <div class="control-group clearfix" id="registration_account-type">
				               <label id="label_candidate_account" class="control-label"">
				                   Sign up as:
			    	               <span class="required" title="This field is required" style="display: inline;">*</span>
			    	           </label>
			    	           <div class="controls">
			                       <input id="candidate_company_candidate2" type="radio" name="candidate[account]" value="candidate" checked="checked" /> 
			                       <label for="candidate_company_candidate2">Candidate</label>
			                       
			                       <input id="candidate_company_company2" type="radio" name="candidate[account]" value="employer" /> 
			                       <label for="candidate_company_company2">Company</label>
			    	               
			    	           </div>
			    	       </div>
				           
				           <div class="control-group">
				               <div class="controls">
				                  <button id="submit-candidate" type="submit" class="btn btn-main">Sign Up</button>
				               </div>
				           </div>
			            </form>
			            
			            <div>
			              <a style="color: #fff;" href="{{ path('wanawork_main_employers_overview') }}">Are you looking to hire? Check out our offers to employers</a>
	                    </div>
	                </div>
	                <div class="offset2 span5">
	                    <h3 style="margin-bottom: 40px;">Employers are Waiting for Your CV</h3>
	                    <img src="{{ asset('/bundles/wanaworkmain/images/index/employers-logos.png') }}" alt="" />
	                </div>
	            </div>
	        </div>
        </div>
        <div style="position: absolute; bottom: 0;  width: 100%;">
        {% include '::_footer-main.html.twig' %}</div>
        
    </div> 
	
</div>


</body>
</html>