{% extends "WanaworkMainBundle::base.html.twig" %}

{% block header %}
{% include '::bare_header.html.twig' %}
{% endblock %}

{% block title %}Login{% endblock %}

{% block meta %}
<meta content="Candidate and Employer login" name="description">
{% endblock %}

{% block body %}
<div class="row">
	<div class="span12">
		<img style=" float: left;" src="{{ asset('/bundles/wanaworkmain/images/login/login_title_line.jpg') }}" alt="line" />
		<h1 style="font-size: 18pt; margin: 0 29px 0 29px; float: left; position: relative; top: -20px;">Login</h1>
		<img style=" float: left;" src="{{ asset('/bundles/wanaworkmain/images/login/login_title_line.jpg') }}" alt="line" />
	</div>
</div>

<div class="row">
	<span class='span12'>
		{% if error %}
    	<div id="error-message" class="label label-important">{{ error.message }}</div>
		{% endif %}
		
		<form action="{{ path('login_check') }}" method="post" id="login-form">
		
		    <div class="control-group" id="email-holder">
		    	<label for="username" class="control-label">Email:</label>
		    	<div class="controls">
		    		<input placeholder="Email" type="email" id="username" name="_username" value="{{ last_username }}" />
		    	</div>
			</div>
			
			<div class="control-group" id="password-holder">
		    	<label for="password" class="control-label">Password:</label>
		    	
		    	<div class="controls">
		    		<input type="password" id="password" name="_password" placeholder="Password" />
		    	</div>
			</div>
			
			<div class="control-group">
				<div class="controls">
					<a href="{{ path('restore_password') }}" id="forgot-pass-link">Forgot password?</a>
					<button type="submit" class="btn btn-main" id="login-button">Login</button>
				</div>
			</div>
			
			{% if login_redirect is defined %}
		    <input type="hidden" name="_target_path" value="{{ login_redirect }}" />
		    {% endif %}
		</form>
		
		<div id="signup">
			Not registered?<br />
			<a class="btn btn-main" href="{{ path('wanawork_register') }}">Create an account</a>
		</div>
	
	</span>
</div>
{% endblock %}

{% block footer %}
{% include '::_footer-bare.html.twig' %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'static/css/common_bare.css'
	'@WanaworkMainBundle/Resources/public/css/login.css'
 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}
