@charset "utf-8";
/* CSS Document */

/* ------ COMMON elements and properties ------ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	-webkit-font-smoothing: antialiased;
}

html,body {
	height: 100%;
}

ol,li,ul {
	font: inherit;
	vertical-align: baseline;
	margin-left: 0;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display: block;
}

body {
	line-height: 1;
	background: #ededed;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

html,body {
	font-family: Arial, Helvetica, sans-serif;
	color: #030303;
}

.clear{
	clear:both;
}

.right{
	float: right;
}

.left{
	float: left;
}

.wrap {
	margin: 0 auto;
	position: relative;
	text-align: left;
	width: 940px;
}

#logoPlace {
	height: 131px;
}

#logo {
	background: url("images/logo.png") no-repeat;
	display: block;
	width: 1164px;
	height: 150px;
	margin: 20px auto 0 auto;
	text-indent: -9999px;
}

#mainMenu {
	font: 15px Arial;
	padding: 11px 0 0 10px;
	list-style: none;
	font-size: 16px;
	font-weight: bold;
	z-index:1;
}

#mainMenu a:link,#mainMenu a:visited {
	color: #ffffff;
	text-decoration: none;
}

#mainMenu a:hover {
	color: #ffffff;
	text-decoration: underline;
}

#mainMenu a:hover>#mainMenu li {
	background: url("images/hdrMnHvr.png");
}

#headerMenu {
	margin: -10px auto 0 auto;
	background: url("images/headerMenu.png");
	height: 39px;
	width: 491px;
}

#mainMenu li {
	float: left;
	border-right: solid 1px #8d8d8d;
	padding: 7px 46px 0 46px;
	height: 28px;
	margin-top: -9px;
}

#mainMenu .lastLi {
	float: left;
	border-right: 0;
	padding-right:44px;
	padding-left: 44px;
}

#mainMenu a {
	
}

#bnrMain {
	height: 195px;
	margin-top: -20px;
	position: relative;
}

#bnrMainLite {
	height: 100px;
	margin-top: 0px;
	position: relative;
}

#bnrTxtLite {
	color: #ffffff;
	line-height: 140%;
	font-size: 20px;
	text-align: center;
	padding-top: 0px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#background-blue {
	height: 195px;
	background: #006ac7 url("images/blueBg.jpg");
	border: none;
	width: 100%;
	position: absolute;
	z-index: -1;
	top: 177px;
	left: 0;
}

#background-blue-mini {
	height: 100px;
	background: #006ac7 url("images/blueBg.jpg");
	border: none;
	width: 100%;
	position: absolute;
	z-index: -1;
	top: 177px;
	left: 0;
}

#bnrTxt {
	color: #ffffff;
	line-height: 140%;
	font-size: 20px;
	text-align: center;
	padding-top: 50px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#freeBadge{
     position: absolute;
     top:120px;
     right:0;
}

#About{
	margin:65px 0 0 0;
}

.aboutText{
	margin: 60px 0 0 0;
}

.aboutText span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.aboutText img{
	margin-right: 50px;
}

#Registration{
	margin:20px 0 100px 0;
}

#ContactUs{
	margin:0 0 100px 0;
}

#ContactUs #text{
	text-align: center;
	margin:30px 0 -20px 0;
	color:#474747;
}

#imgLock{
	position: absolute;
	top:190px;
	left:50px;
}

#imgKey{
	position: absolute;
	top:74px;
	right:50px;
}

#imgMail{
	position: absolute;
	top:113px;
	left:25px;
}

#imgComment{
	position: absolute;
	top:375px;
	right:50px;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}

.btn-primary.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}


.btn {
	background-image: none;
	background-color: #e7e7e7;
	-webkit-box-shadow: 0px 2px 0px 0px #c2c2c2;
	box-shadow: 0px 2px 0px 0px #c2c2c2;
	color: #414141;
}

.btn:hover {
	background-image: none;
	background-color: #efefef;
}

.btn:active {
	background-image: none;
	background-color: #c2c2c2;
	-webkit-box-shadow: 0px -2px 0px 0px #9f9f9f;
	box-shadow: 0px -2px 0px 0px #9f9f9f;
}

a.btn-primary:link, a.btn-primary:visited, .btn-primary {
	background-image: none;
	background-color: #0067cc;
	-webkit-box-shadow: 0px 2px 0px 0px #00488f;
	box-shadow: 0px 2px 0px 0px #00488f;
	color: #ffffff;
}

a.btn-primary:hover, .btn-primary:hover {
	background-image: none;
	background-color: #056fd6;
}

a.btn-primary:active, .btn-primary:active {
	background-image: none;
	background-color: #00488f;
	-webkit-box-shadow: 0px -2px 0px 0px #003569;
	box-shadow: 0px -2px 0px 0px #003569;
}

table.Employer {
	border: 3px #07ad70 solid;
}

table.Employer thead {
	background-color: #07ad70;
}

table.signupTable {
	border-collapse: collapse;
	border-spacing: 0;
	margin:50px auto 0px;
}

table.signupTable tbody {
	color: #535353;
}

table.signupTable tbody tr.white {
	background-color: #fff;
}

table.signupTable tbody td {
	padding: 0 30px;
	text-align: left;
}

table.signupTable thead div.signupName {
	font-size: 25px;
	text-transform: uppercase;
}

table.signupTable thead span.separator,table.signupTable thead span.duration
	{
	font-weight: normal;
}

.signupTable label{
	font-size: 14px;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"]{
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="email"],
input[type="password"]:focus{
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"]{
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.signupTable input#email{
	width: 464px;
}

.signupTable input#first_name, .signupTable input#last_name{
	width: 190px;
}

.signupTable textarea#comment{
	width: 464px;
	height: 110px;
}

.signupTable button{
	margin-top: -10px;
}

#footerArea {
	position: relative;
	margin-top: -60px; /* negative value of footer height */
	height: 60px;
	clear: both;
	padding-top: 20px;
}

#footer {
	height: 60px;
	z-index: 1;
	position: relative;
	margin-right: auto;
    margin-left: auto;
    background-color: #424242;
}

#copyright {
	margin: 20px 0 10px 0;
	font: 12px Arial;
	float: left;
	color: #656565;
}

#social-icons {
	float: left;
	margin-left: 200px;
	margin-top: 10px;
}

