<div id="footerArea">	
{# 	<div id="footerLinks" class="container">#}
{# 		<div class="wrap">#}
{# 			<div id="menuLinks">#}
{# 			     <ul id="0">#}
{# 					<li id="1"><a href="index.php" title="Home">Home</a></li>#}
{# 					<li id="23"><a href="news.php" title="News">News</a></li>#}
{# 					<li id="31"><a href="default-template.php?page_id=15" title="About Us">About Us</a></li>#}
{# 					<li id="24"><a href="contact-us.php" title="Contact Us">Contact Us</a></li>#}
{# 					<li id="33"><a href="help" title="Help">Help</a>#}
{# 					    <ul id="33">#}
{# 					    	<li id="44"><a href="help-template.php?page_id=40" title="How to Join">How to Join</a></li>#}
{# 							<li id="45"><a href="help-template.php?page_id=44" title="How it Works">How it Works</a></li>#}
{# 							<li id="56"><a href="help-template.php?page_id=55" title="Candidate Advice">Candidate Advice</a></li>#}
{# 							<li id="35"><a href="help-template.php?page_id=21" title="Candidate FAQ">Candidate FAQ</a></li>#}
{# 							<li id="34"><a href="help-template.php?page_id=20" title="Employer FAQ">Employer FAQ</a></li>#}
{# 							<li id="46"><a href="terms-and-conditions" title="Terms of Use">Terms of Use</a></li>#}
{# 						</ul>#}
{# 					</li>#}
{# 					<li id="40"><a href="training-courses" title="Training Courses">Training Courses</a>#}
{# 						<ul id="40">#}
{# 				    		<li id="41"><a href="real-time-training" title="Real Time Training">Real Time Training </a></li></ul></li>#}
{# 					<li id="47"><a href="hireland-support-the-cause-page" title="Hireland">Hireland</a>#}
{# 				    <ul id="47"><li id="48"><a href="help-template.php?page_id=45" title="Jobs in Dublin ">Jobs in Dublin </a></li>#}
{# 				    <li id="53"><a href="help-template.php?page_id=50" title="Jobs in Cork ">Jobs in Cork </a></li>#}
{# 				    <li id="54"><a href="help-template.php?page_id=51" title="Jobs in Galway ">Jobs in Galway </a></li>#}
{# 				    <li id="49"><a href="help-template.php?page_id=46" title="Jobs in Leinster">Jobs in Leinster</a></li>#}
{# 					<li id="50"><a href="help-template.php?page_id=47" title="Jobs in Connaught">Jobs in Connaught</a></li>#}
{# 					<li id="51"><a href="help-template.php?page_id=48" title="Jobs in Munster ">Jobs in Munster </a></li>#}
{# 					<li id="52"><a href="help-template.php?page_id=49" title="Jobs in Ulster">Jobs in Ulster</a></li></ul></li>#}
{# 					<li id="55"><a href="business-of-the-day2" title="Business of the Day ">Business of the Day </a>#}
{# 				    <ul id="55"><li id="57"><a href="help-template.php?page_id=56" title="About Business of the Day ">About Business of the Day </a></li>#}
{# 					<li id="58"><a href="about-business-of-the-day" title="How to become Business of the Day ">How to become Business <br>of the Day </a></li></ul></li>#}
{# 					<li id="59"><a href="login.php" title="Login">Login</a></li>#}
{# 				</ul>#}
{# 			</div>#}
{# 		</div>#}
{# 		<div class="clear"></div>#}
{# 	</div>#}
	
	<div id="footer" class="container">
	    <div class="row">
	       <div class="span5" id="copyright">
	           Copyright &copy; 2013&ndash;{{ "now" | date('Y') }} Wannawork. All Rights Reserved.<br />
	           <a style="color:#656565;" href="{{ path('terms_and_conditions') }}">Terms &amp; Conditions</a>
	       </div>
	       
	       <div class="span2">
	           <ul id="footer-social" class="clearfix">
	               <li>
	                   <a href="{{ site_url_facebook }}">
	                       <img src="{{ asset('images/social/Facebook.png') }}" />
	                   </a>    
	               </li>
	               <li>
	                   <a href="{{ site_url_twitter }}">
	                       <img src="{{ asset('images/social/Twitter.png') }}" />
	                   </a>    
	               </li>
	               
	               <li>
	                   <a href="{{ site_url_linkedin }}">
	                       <img src="{{ asset('images/social/LinkedIn.png') }}" />
	                   </a>    
	               </li>
	               <li>
	                   <a href="https://plus.google.com/100424487962031527457" rel="publisher"><img src="{{ asset('images/social/GooglePlus.png') }}" /></a>
	               </li>
	           </ul>    
	       </div>
	       
	       <div class="span5">
	           <img src="{{ asset('/images/ftrLg.png') }}" class="right" style="margin-top:10px;">
	       </div>
	    </div>
	</div>
{# 	<div id="footerBg1"></div>#}
	<div id="footerBg2"></div>
</div>	

{# <img style="width:32px;" src="{{ asset('/images/social/twitter.png') }}" />#}
