<div id="footer">
	<div id="footer-content">
		<div id="copyright">Copyright &copy; Wannawork 2013&ndash;{{ "now" | date('Y') }}. All rights reserved.</div>
		
		<ul id="footer-social" class="clearfix">
			<li><a href="{{ site_url_facebook }}"> <img
					src="{{ asset('images/social/Facebook.png') }}" />
			</a></li>
			<li><a href="{{ site_url_twitter }}"> <img
					src="{{ asset('images/social/Twitter.png') }}" />
			</a></li>

			<li><a href="{{ site_url_linkedin }}"> <img
					src="{{ asset('images/social/LinkedIn.png') }}" />
			</a></li>
			<li>
	           <a href="https://plus.google.com/100424487962031527457" rel="publisher"><img src="{{ asset('images/social/GooglePlus.png') }}" /></a>
	        </li>
		</ul>
		<a href="{{ path('wanawork_main_homepage') }}"><img
			src="{{ asset('/images/ftrLg.png') }}" class="right" /></a>
	</div>
</div>
