<div id="footerArea">	
    <div id="footer-wrapper1">
		<div id="footerLinks" class="container">
		    <div class="row">
		        <div class="span3">
				     <ul class="menuLinks" class="clearfix">
				         <li>
				             <a href="http://wannawork.ie/blog">Wannawork Blog</a>
				             {% if app.environment != 'test' and wanawork_footer_service.blogs and wanawork_footer_service.blogs | length > 0 %}
				             <ul style="max-width: 200px;">
				                 {% for blog in wanawork_footer_service.blogs %}
				                 <li>
				                     <a href="http://wannawork.ie/blog/{{ blog['post_name'] }}">{{ blog['post_title'] }}</a>
				                 </li>
				                 {% endfor %}
				             </ul>
				             {% endif %}
				         </li>
				     </ul>
				</div>
				<div class="span3">
				    <ul class="menuLinks">
				        <li>
				             <a href="{{ path('wanawork_main_aboutus') }}">About Wannawork</a>
				             <ul>
				                 <li>
				                     <a href="{{ path('wanawork_main_aboutus') }}">About Us</a>
				                 </li>
				                 <li>
				                     <a href="{{ path('wanawork_main_contactus') }}">Contact us</a>
				                 </li>
				                 <li>
				                     <a href="{{ path('wanawork_main_faq') }}">FAQ</a>
				                 <li>
				                     <a href="{{ path('terms_and_conditions') }}">Terms &amp; Conditions</a>
				                 </li>
				                 <li>
				                     <a href="{{ path('wanawork_main_cookie_policy') }}">Cookies Policy</a>
				                 </li>
				                 <li>
				                     <a href="{{ path('wanawork_main_privacy_policy') }}">Privacy Policy</a>
				                 </li>
				             </ul>
				         </li>
				    </ul>
				
				</div>
				<div class="span3">
				    <ul class="menuLinks">
				        <li>
				             <a href="{{ path('jobs_by_profession') }}">Jobs By Profession</a>
				             <ul>
				                {% for profession in wanawork_footer_service.jobs %}
				                <li>
				                    <a href="{{ path('jobs_for_profession', {profession_slug: profession.slug}) }}">{{ profession }}</a>
				                </li>
				                {% endfor %}
				             </ul>
				         </li>
				    </ul>
				</div>
				<div class="span3">
				    <ul class="menuLinks">
				        <li>
				             <a href="{{ path('ad_candidates_profession_list') }}">Candidates</a>
				             <ul>
				                {% for profession in wanawork_footer_service.professions %}
				                <li>
				                    <a href="{{ path('ad_candidates_by_profession', {profession_slug: profession.slug}) }}">{{ profession }}</a>
				                </li>
				                {% endfor %}
				             </ul>
				         </li>
				    </ul>
				</div>
	        </div>
		</div>
	</div>
	
	<div id="footer-wrapper2">
		<div id="footer" class="container">
		    <div class="row">
		       <div class="span5" id="copyright">
		           Copyright &copy; 2013&ndash;{{ "now" | date('Y') }} Wannawork. All Rights Reserved.<br />
		       </div>
		       
		       <div class="span2">
		           <ul id="footer-social" class="clearfix">
		               <li>
		                   <a href="{{ site_url_facebook }}">
		                       <img src="{{ asset('images/social/Facebook.png') }}" />
		                   </a>    
		               </li>
		               <li>
		                   <a href="{{ site_url_twitter }}">
		                       <img src="{{ asset('images/social/Twitter.png') }}" />
		                   </a>    
		               </li>
		               
		               <li>
		                   <a href="{{ site_url_linkedin }}">
		                       <img src="{{ asset('images/social/LinkedIn.png') }}" />
		                   </a>    
		               </li>
		               <li>
	                       <a href="https://plus.google.com/100424487962031527457" rel="publisher"><img src="{{ asset('images/social/GooglePlus.png') }}" /></a>
	                   </li>
		           </ul>    
		       </div>
		       
		       <div class="span5">
		           <img src="{{ asset('/images/ftrLg.png') }}" class="right" style="margin-top:10px;">
		       </div>
		    </div>
		</div>
    </div>
</div>	

{# <img style="width:32px;" src="{{ asset('/images/social/twitter.png') }}" />#}
