{% set currentPath = current_path() %}

<ul id="user-menu">
    <li><a href="{{ path('wanawork_main_search') }}" 
	   class="{{ begins_with(currentPath, '/search') ? 'active': '' }}">Find Candidates</a></li>
	   
	<li><a href="{{ path('my_employer_profile') }}" 
	   class="{{ begins_with(currentPath, '/my/profile') ? 'active': '' }}">Profile</a></li>
	   
	<li><a class="{{ begins_with(currentPath, '/my/saved-searches') ? 'active': '' }}"
	    href="{{ path('my_saved_searches') }}">Saved Searches</a></li>
	
	<li>
   {% if app.user.defaultProfile and  (app.user.getNumberOfUnreadEmails() > 0) %}
   <span class="badge badge-counter">{{ app.user.getNumberOfUnreadEmails() }}</span>
   {% endif %}
	<a class="{{ begins_with(currentPath, '/mailbox') ? 'active': '' }}" href="{{ path('mailbox_index') }}">Mailbox</a>
	</li>
	
	<li><a href="{{ path('my_job_list') }}"
	   class="{{ begins_with(currentPath, '/my/jobs') ? 'active': '' }}">Job Specs</a></li>
	
	<li><a href="{{ path('my_shortlisted_cvs') }}" class="{{ begins_with(currentPath, '/my/cvs') ? 'active': '' }}">CVs</a></li>
</ul>

