{% set currentPath = current_path() %}

<ul id="user-menu">
	<li><a href="{{ path('ad_new') }}" 
	   class="{{ begins_with(currentPath, '/new-ad') ? 'active': '' }}">Publish New AD</a></li>
	<li><a href="{{ path('my_ads') }}" 
	   class="{{ begins_with(currentPath, '/my/ads') ? 'active': '' }}">My Ads</a></li>
	<li>
	   {% if app.user.defaultProfile and app.user.defaultProfile.pendingCvRequests | length > 0 %}
	   <span class="badge badge-counter">{{ app.user.defaultProfile.pendingCvRequests | length }}</span>
	   {% endif %}
	   <a class="{{ begins_with(currentPath, '/my/cv-requests') ? 'active': '' }}" href="{{ path('my_cv_requests') }}">Access Requests</a>
	</li>
	<li>
	   {% if app.user.defaultProfile and  (app.user.getNumberOfUnreadEmails() > 0) %}
	   <span class="badge badge-counter">{{ app.user.getNumberOfUnreadEmails() }}</span>
	   {% endif %}
	    <a class="{{ begins_with(currentPath, '/mailbox') ? 'active': '' }}" href="{{ path('mailbox_index') }}">Mailbox</a>
	</li>
</ul>

{# <li>#}
{# 	<a href="{{ path('my_ads') }}">#}
{# 		{% if app.user.employeeProfile and app.user.employeeProfile.webPath %}#}
{# 		<img src="{{ asset((app.user.employeeProfile.webPath) | apply_filter('thumbnail_35'))  }}" alt="Profile Picture" id="avatar" />#}
{# 		{% else %}#}
{# 		<img src="{{ asset('/images/avaPlaceHoldmini.jpg') }}" alt="Profile Picture" id="avatar" />#}
{# 		{% endif %}#}
{# 	</a>	#}
{# </li>#}


{# <li>#}
{# 	<a href="#" id="headerBell" style="position:relative;" #}
{# 		class="smallTooltip"#}
{# 		data-placement="bottom"#}
{# 		title="{% transchoice pendingRequestCount %}#}
{# 	    	{0} You have no unanswered CV requests|{1} You have 1 unanswered CV request|]1,Inf] #}
{# 	    	You have %pendingRequestCount% unaswered CV requests#}
{# 			{% endtranschoice %}">#}
{# 		{% if pendingRequestCount > 0 %}#}
{# 		<img src="/images/iconHNew.png" style="position:absolute; top:0; right:0; margin:-4px -5px 0 0;" />#}
{# 		{% endif %}#}
{# 		<img src="/images/iconHBell.png" />#}
{# 	</a>#}
{# </li>#}

{# <div id="cvRequestHolder">#}
{# 	<ul>#}
{# 		{% for request in app.user.getReceivedCvRequestsAndPending() %}#}
{# 		{% if loop.index0 < 7 %}#}
{# 		<li>#}
{# 		<img src="/images/icnCvHldr.png" style="margin:-3px 5px 0 0" class="left" />#}
{# 			<a href="{{ path('company_show', {id: request.user.employerProfile.id}) }}" class="from left">#}
{# 				{{ request.user.employerProfile.companyName }}#}
{# 			</a>#}
{# 			<a title="Approve Request" href="{{ path('user_shortlist_approve', {adId: request.ad.id, userId: request.user.id}) }}" class="icon iconOk" title=""></a>#}
{# 			<a title="Deny Request" href="{{ path('user_shortlist_deny', {adId: request.ad.id, userId: request.user.id}) }}" class="icon iconRemove" title=""></a>#}
{# 		</li>#}
{# 		{% endif %}#}
{# 		{% else %}#}
{# 		<li style="text-align: center;">#}
{# 			No new requests#}
{# 		</li>#}
{# 		{% endfor %}#}
{# 		<li class="view-all">#}
{# 			<a href="{{ path('my_shortlist_requests') }}">View All</a>#}
{# 		</li>#}
{# 	</ul>#}
{# </div>#}
