{% set p = (app.request.pathInfo) %}

<div id="header-wrapper">
	<div class="container">
		<div class="row">
			<div class="span12" style="position: relative;">
				{% if app.user == false %}
				    <a id="header-logo" href="{{ path('wanawork_main_homepage') }}"></a>
 				    {% include '::_header-login.html.twig' %}
				{% else %}
				    <a id="header-logo-small" href="{{ path('wanawork_main_homepage') }}"></a>
 					{% if is_granted("ROLE_ADMIN") %}
						{% include '::_header-admin.html.twig' %}
					{% elseif app.user.menuType == 'candidate' %}
						{% include '::_header-employee.html.twig' %}
					{% elseif  app.user.menuType == 'employer' %}
						{% include '::_header-employer.html.twig' %}
					{% endif %}
					
					{% include '::_header-profile.html.twig' %}
					
				</ul>
				{% endif %}
			</div>
		</div>
		
{# 		{% if app.user and app.user.menuType == 'employer' and app.user.defaultProfile and app.user.defaultProfile.id and not app.user.defaultProfile.isVerified %}#}
{# 		<div class="row">#}
{# 		    <div class="span12" style="height: 25px;">#}
{# 		        <div class="alert alert-info" style="margin-bottom: 2px; margin-top:5px;">#}
{# 		            {% set count = app.user.defaultProfile.remainingCVRequests %}#}
{# 				    {% transchoice count %}#}
{# 				    {0} No CV Requests left |{1} 1 CV Request left|]1,Inf] %count% CV Requests left#}
{# 				    {% endtranschoice %}#}
{# 				    Upgrade Now#}
{# 		        </div>#}
{# 		    </div>#}
{# 		</div>#}
{# 		{% endif %}#}
		
	</div>
</div>
