<ul id="user-menu">
    <li><a class="{{ begins_with(p, '/admin/daily-details') ? 'active' : '' }}" href="{{ path('daily_details') }}">Overview</a></li>
    <li><a class="{{ begins_with(p, '/users') ? 'active' : '' }}" href="{{ path('users_list') }}">Users</a></li>
	<li><a href="{{ path('ad_list') }}" class="{{ begins_with(p, '/ads') ? 'active' : '' }}">Ads</a></li>
	<li>
        <a href="{{ path('payment_index') }}" class="{{ begins_with(p, '/payment') ? 'active' : '' }}">Finance</a>
    </li>
    <li>
        <a class="{{ begins_with(p, '/entity') ? 'active' : '' }}" href="{{ path('entity_index') }}">Entities</a>
    </li>
    <li>
        <a class="{{ begins_with(p, '/admin/mail') ? 'active' : '' }}" href="{{ path('systememail') }}">Social</a>
    </li>
    <li>
        <a class="{{ begins_with(p, '/admin/search') ? 'active' : '' }}" href="{{ path('search_list') }}">Search</a>
    </li>
    <li>
        <a class="{{ begins_with(p, '/jobs') ? 'active' : '' }}" href="{{ path('jobs') }}">Jobs</a>
    </li>
</ul>