<ul id="profile-menu">
    <li>
        <a title="My Account" style="color: #fff; text-decoration: none;" href="{{ path('my_account') }}">{{ app.user.name }}</a>
    </li>
    <li>
        <a title="Log out" href="{{ path('logout') }}" id="exit-link"></a>
    </li>
</ul>