<span id="login-register-block">
    <a href="{{ path('wanawork_register') }}" class="btn btn-black">Sign Up</a>
    <span style="margin:4px 5px 0 5px; display: inline-block; color: #b1b1b1;">or</span>
    <a id="login-link" href="{{ path('login') }}" class="btn btn-black">Login</a> 
</span>
        
<div id="loginHolder">
	<form action="{{ path('login_check') }}" method="post" style="margin: 0;">
	   <input class="input-medium" placeholder="Email" type="email" id="username" name="_username" 
			value="{{ last_username is defined ? last_username : '' }}" />    	
				
        <input class="input-medium" type="password" id="password" name="_password" placeholder="Password" />
    	<a href="{{ path('restore_password') }}" class="forgot">Forgot password?</a>
    	<button type="submit" class="btn btn-main btn-medium">Login</button>
	</form>
</div>