{% if app.session.flashbag.has('okMessage') %}
<ul class="top-message alert alert-success" data-dismiss="alert">
{% for flashMessage in app.session.flashbag.get('okMessage') %}
    <li>{{ flashMessage }}</li>
{% endfor %}
</ul>
{% endif %}


{% if app.session.flashbag.has('infoMessage') %}
<ul class="top-message alert alert-info" data-dismiss="alert">
{% for flashMessage in app.session.flashbag.get('infoMessage') %}
    <li>{{ flashMessage }}</li>
{% endfor %}
</ul>
{% endif %}