<!--[if lt IE 9]>
<script>
      document.createElement('header');
      document.createElement('nav');
      document.createElement('section');
      document.createElement('article');
      document.createElement('aside');
      document.createElement('footer');
   </script>
<![endif]-->

<!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.js') }}"></script>
<![endif]-->

<script type="text/javascript">
	wanawork = {};
</script>