{% for flashMessage in app.session.flashBag.get('errorMessages') %}
<div class="row">
	<span class="span6 offset3">
		<div class="alert alert-error top-alert fade in">
			<a class="close" data-dismiss="alert" href="#">&times;</a>
	    	{{ flashMessage }}
	    </div>
	</span>
</div>
{% endfor %}

{% for flashMessage in app.session.flashBag.get('successMessages') %}
<div class="row">
	<span class="span6 offset3">
		<div class="alert alert-success top-alert fade in">
			<a class="close" data-dismiss="alert" href="#">&times;</a>
	    	{{ flashMessage }}
	    </div>
	</span>
</div>
{% endfor %}

{% for flashMessage in app.session.flashBag.get('infoMessages') %}
<div class="row">
	<span class="span6 offset3">
		<div class="alert alert-info top-alert fade in">
			<a class="close" data-dismiss="alert" href="#">&times;</a>
	    	{{ flashMessage }}
	    </div>
	</span>
</div>
{% endfor %}