<!DOCTYPE html>
<html lang="en">
<head>
    
	{% include '::_include-charset.html.twig' %}
	{% include '::_include-favicon.html.twig' %}
	{% include '::_include-fonts.html.twig' %}
	{% include '::_include-analytics.html.twig' %}
	{% include '::_include-scripts.html.twig' %}
	
	<title>{% block title %}{% endblock %} - Wannawork.ie</title>
	<meta content="Recruitment, job-hunting" name="keywords">
	{% block meta %}
	
	{% endblock %}
	
	{% block stylesheets %}
	{% stylesheets filter='?yui_css' filter='cssrewrite'
		'bootstrap/css/bootstrap.css'
		'static/css/bootstrap-mods.css'
		'static/css/inputs.css'
		'static/css/common.css'
		'static/css/header.css'
		'static/css/tables.css'
		'static/css/buttons.css'
		'vendor/chosen/chosen.css'
		'static/css/jquery-ui-1.9.1.custom.min.css'
		'vendor/jGrowl/jquery.jgrowl.css'
	     %}
		<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
	{% endstylesheets %}		
	{% endblock %}
</head>
<body id="wanawork">

<div id="wrapMain">
<div id="loading-indicator">Loading</div>

{% include '::_header-notification.html.twig' %}

{% block header %}
{% include '::_header.html.twig' %}
{% endblock %}

{% block container %}
<div class="container" id="main">
{% block body %}

{% endblock %}
</div>
{% endblock %}

{% block footer %}
{% include '::_footer-main.html.twig' %}
{% endblock %}
</div>


{% if not app.request.cookies.has('cookie_policy_agreed') %}
	<div id="cookie-panel">
	This site uses cookies. By continuing to browse the site you are agreeing to our use of cookies.
	<a href="{{ path('wanawork_main_cookie_policy') }}">Find out more</a>.
	<a id="agree-to-cookies" href="#" class="btn">Ok, I got that.</a>
	</div>
{% endif %}

</body>
</html>

{% block javascripts %}
{# 	'vendor/jquery.mtz.monthpicker/jquery.mtz.monthpicker.js'#}
{# 'vendor/ckeditor/ckeditor.js' #}
{% javascripts filter='?yui_js' 
    'static/js/jquery-1.8.3.js'
    'static/js/jquery-ui-1.9.0.min.js'
	'bootstrap/js/bootstrap.js'
	'static/js/ajax.js'
	'vendor/chosen/chosen.jquery.js'
	'vendor/underscore/underscore.js'
	'vendor/jGrowl/jquery.jgrowl.js'
	'vendor/timeago/jquery.timeago.js'
	'vendor/jquery-placeholder/jquery.placeholder.js'
	'vendor/text-overflow/lib/jquery.text-overflow.js'
	'vendor/jquery-cookie/jquery.cookie.js'
	'static/js/common.js'
	'static/js/hacks.js'
	%}
	<script src="{{ asset(asset_url) }}"></script>
{% endjavascripts %}

{% endblock %}
{#
<script>
$(function(){

	var jGrowlOptions = { life: 5000 };
	{% for flashMessage in app.session.flashBag.get('messages') %}
		$.jGrowl("{{ flashMessage }}", jGrowlOptions);		
	{% endfor %}
		
});
</script>
#}
