{# form_row.html.twig #}
{# {% use 'form_div_layout.html.twig' with field_widget as base_field_widget %}#}
{% use 'form_div_layout.html.twig' with form_label as base_form_label %}

{% block form_row %}
    <div class="control-group {{ errors | length > 0 ? 'error' : '' }} 
    	{{ control_group_class is defined ? control_group_class : '' }}
    ">
    
    {% if hide_label is not defined %}    
	{{ form_label(form) }}
	{% endif %}
        
        <div class="controls">
        
        {% if hide_input is defined %}
        <span style="display:none"> 
        {% endif %}
        {{ form_widget(form) }}
        {% if hide_input is defined %}
        </span> 
        {% endif %}
        
        {% block field_errors %}
        {% if errors | length > 0 %}
	        {% for error in errors %}
	        <span class="help-inline {{ error_class is defined ? error_class : '' }}" style="display:block;">
	        	{{ error.messageTemplate|trans(error.messageParameters, 'validators') | striptags('<a>') | raw }}
	        </span>
	        
	        {% endfor %}
	    {% endif %}
	    {% endblock %}
	    
	    {% if help is defined %}
        <span class="help-block">{{ help | raw }}</span>
    	{% endif %}
	    
        </div>
    </div>
{% endblock form_row %}

{# {% block field_widget %}#}
{#     {{ block('base_field_widget') }}#}
{# {% endblock %}#}

{% block form_errors %}
    {% if errors|length == 1 %}
        <div class="control-group error">
            <span class="help-inline">{{ errors[0].messageTemplate|trans(errors[0].messageParameters, 'validators')~'. ' }}</span>
        </div>
    {% elseif errors|length > 1 %}
    	<div class="alert alert-error">
    		<button type="button" class="close" data-dismiss="alert">&times;</button>
    		<ul>
            {% for error in errors %}
                <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators')~'. ' }}</li>
            {% endfor %}
        	</ul>
        </div>
    {% endif %}
{% endblock form_errors %}

{% block form_label %}
{% spaceless %}
    {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {% endif %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <label id="label_{{ id }}"
     class="control-label" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        
        {% if span_icon is defined %}
        <img src="{{ asset('static/typicons.2.0/png-24px/'~span_icon~'.png') }}"  />
        {% elseif typcn_icon is defined %}
        <span class="typcn typcn-{{ typcn_icon }}"></span>
        {% elseif img_icon is defined %}
        <img src="{{ img_icon }}" alt="Form Icon" />
        {% endif %}
        
        
    	{{ label|trans({}, translation_domain) }}:
    	{% if required %}
        <span class="required" title="This field is required">*</span>
    	{% endif %}
    </label>
{% endspaceless %}
{% endblock form_label %}

