
{% macro error_class(field) %}
    {% if field.vars.errors | length %}
    error
    {% endif %}
{% endmacro %}

{% macro error_classes(fields) %}
	{% set ok = true %}
    {% for field in fields %}
    	{% if field.vars.errors | length %}
    		{% set ok = false %}
    	{% endif %}
    {% endfor %}
    
    {% if not ok %}
    error
    {% endif %}
    
{% endmacro %}