<div id="candidatesSection">
	<div id="feauters">
		<div class="row">
			<div class="span12"><img src="{{ asset("images/titleFtrs.png") }}"></div>
		</div>
	</div>
	<div id="plans">
		<div class="row">
			<div class="span12"><img src="{{ asset("images/titlePln.png") }}"></div>
		</div>
		
		<div class="row">
			<div class="span6">
				<table class="plansTable">
					<thead>
						<tr>
							<th>
								<div class="planName">Standard</div>
								<div class="priceAndDuration">
									<span class="price">&euro;5</span>
									<span class="separator">/</span>
									<span class="duration">2 months</span>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
					  <tr class="white triangle">
					  	<td>
					  		<img src="{{ asset("images/plnArr.png") }}"  />
					  	</td>
					  </tr>
					  <tr class="white">
					  	<td>Automating your job search. Visibility to all Employers</td>
					  </tr>
					  <tr class="dark">
					  	<td>Unlimited updates to your ads</td>
					  </tr>
					  <tr class="white">
					  	<td>Standard listing in search results for <b>60 days</b></td>
					  </tr>
					  <tr class="dark">
					  	<td>Get back on the top. 1 Free bump per month.</td>
					  </tr>
					  <tr class="white">
					  	<td>Access to <b>standard statistics</b></td>
					  </tr>
					  <tr class="dark">
					  	<td>No badges</td>
					  </tr>
					  <tr class="white">
					  	<td>Full control over who has access to your profile</td>
					  </tr>
					  <tr class="white" style="border:0;">
					  	<td style="text-align:center;">
					  		<a href="{{ path('wanawork_register', {type:'employee'}) }}" class="btn btn-main btn-large">Sign Up</a>
					  	</td>
					  </tr>
					</tbody>
				</table>
			</div>
			
			<div class="span6">
				<table class="plansTable">
					<thead>
						<tr>
							<th>
								<div class="planName">Premium</div>
								<div class="priceAndDuration">
									<span class="price">&euro;9</span>
									<span class="separator">/</span>
									<span class="duration">2 months</span>
								</div>
							</th>
						</tr>
					</thead>
					
					<tbody>
						<tr class="white triangle">
						  	<td>
						  		<img src="{{ asset("images/plnArr.png") }}" />
						  	</td>
					    </tr>
						<tr class="white">
					  		<td>Automating your job search. Visibility to all Employers</td>
					  	</tr>
						<tr class="dark">
							<td>Unlimited updates to your ads</td>
						</tr>
						<tr class="white">
							<td><b>Priority</b> listing in search results for <b>60 days</b></td>
						</tr>
						<tr class="dark">
							<td>Stay on the top. <b>3 bumps per month</b> included</td>
						</tr>
						<tr class="white">
							<td>Access to <b>advanced statistics</b></td>
						</tr>
						<tr class="dark">
							<td><b>Personalised badges</b> to draw attention</td>
						</tr>
						<tr class="white">
							<td>Full control over who has access to your profile</td>
						</tr>
						<tr class="white" style="border:0;">
							<td style="text-align:center;">
							<a href="{{ path('wanawork_register', {type:'employee'}) }}" class="btn btn-main btn-large">Sign Up</a>
						</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>