<div id="employersSection">
	<div id="feauters">
		<div class="row">
			<div class="span12"><img src="{{ asset("images/titleFtrs.png") }}"></div>
		</div>
	</div>
	<div id="plans">
		<div class="row">
			<div class="span12"><img src="{{ asset("images/titlePln.png") }}"></div>
		</div>
		
		<div class="row">
			<div class="span4">
				<table class="plansTable">
					<thead>
						<tr>
							<th>
								<div class="planName">Unverified</div>
								<div class="description">Suitable for Small to Medium<br />sized businesses</div>
								<div class="priceAndDuration">
									<span class="price">FREE</span>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
					  <tr class="white triangle">
					  	<td>
					  		<img src="{{ asset("images/plnArr.png") }}"  />
					  	</td>
					  </tr>
					  <tr class="white">
					  	<td>Full search capabilities</td>
					  </tr>
					  <tr class="dark">
					  	<td>Free employer profile, including<br /><b>1 account manager</b> log in</td>
					  </tr>
					  <tr class="white">
					  	<td>Savable searches, free updates & alerts</td>
					  </tr>
					  <tr class="dark">
					  	<td>Full package to manage your recruitment: shortlists & on site messaging</td>
					  </tr>
					  <tr class="white">
					  	<td><b>15 CV</b> Requests per hour limit</td>
					  </tr>
					  <tr class="white" style="border:0;">
					  	<td style="text-align:center;">
					  		<a href="{{ path('wanawork_register', {type:'employer'}) }}" class="btn btn-main btn-large">Sign Up</a>
					  	</td>
					  </tr>
					</tbody>
				</table>
			</div>
			
			<div class="span4">
				<table class="plansTable">
					<thead>
						<tr>
							<th>
								<div class="planName">Verified</div>
								<div class="description">Suitable for Small to Medium<br />sized businesses</div>
								<div class="priceAndDuration">
									<span class="price">&euro;249</span>
									<span class="separator">/</span>
									<span class="duration">once off</span>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
					  <tr class="white triangle">
					  	<td>
					  		<img src="{{ asset("images/plnArr.png") }}"  />
					  	</td>
					  </tr>
					  <tr class="white">
					  	<td>Full search capabilities</td>
					  </tr>
					  <tr class="dark">
					  	<td>Free employer profile, including<br /><b>1 account manager</b> log in</td>
					  </tr>
					  <tr class="white">
					  	<td>Savable searches, free updates & alerts</td>
					  </tr>
					  <tr class="dark">
					  	<td>Full package to manage your recruitment: shortlists & on site messaging</td>
					  </tr>
					  <tr class="white">
					  	<td><b>50 CV</b> Requests per hour limit</td>
					  </tr>
					   <tr class="dark">
					  	<td>Increased responses from candidates.</td>
					  </tr>
					  <tr class="white">
					  	<td>Access to publish blog articles</td>
					  </tr>
					  <tr class="white" style="border:0;">
					  	<td style="text-align:center;">
					  		<a href="{{ path('wanawork_register', {type:'employer'}) }}" class="btn btn-main btn-large">Sign Up</a>
					  	</td>
					  </tr>

					</tbody>
				</table>
			</div>


			<div class="span4">
				<table class="plansTable">
					<thead>
						<tr>
							<th>
								<div class="planName">Corporate</div>
								<div class="description">Suitable for Large corporation</ br>and Recruitment Agencies</div>
								<div class="priceAndDuration">
									<span class="price">Contact us for pricing</span>
								</div>
							</th>
						</tr>
					</thead>
					<tbody>
					  <tr class="white triangle">
					  	<td>
					  		<img src="{{ asset("images/plnArr.png") }}"  />
					  	</td>
					  </tr>
					  <tr class="white">
					  	<td>Advanced search capabilities and CV filtering</td>
					  </tr>
					  <tr class="dark">
					  	<td>Customised account management systems, unlimited user logins</td>
					  </tr>
					  <tr class="white">
					  	<td>Saveable searches, search updates & alerts</td>
					  </tr>
					  <tr class="dark">
					  	<td>Complete recruitment management solutions, candidate verification processes</td>
					  </tr>
					  <tr class="white">
					  	<td><b>Unlimited CV</b> Requests per hour limit</td>
					  </tr>
					  <tr class="dark">
					  	<td>Increased responses from all candidates.</td>
					  </tr>
					  <tr class="white">
					  	<td>Customisable application process</td>
					  </tr>
					  <tr class="dark">
					  	<td>Access to publish blog articles</td>
					  </tr>
					  <tr class="white" style="border:0;">
					  	<td style="text-align:center;">
					  		<a href="{{ path('wanawork_register', {type:'employer'}) }}" class="btn btn-main btn-large">Sign Up</a>
					  	</td>
					  </tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
