{% extends "WanaworkMainBundle::base.html.twig" %}

{% block title %}About Us{% endblock %}
{% block meta %}
<meta content="The story of Wannawork.ie, how we started and what we do" name="description">
{% endblock %}

{% block body %}

<div class="row">
	<div class="span12 heading">
		<h1>About Us</h1>
		<h2>Wannawork &ndash; A story of recruitment revolution</h2>
	</div>
</div>

<div class="row">
	<div class="span12 clearfix">
	    <article>
		<div class="main-block">
			<p>Wannawork.ie, as you have probably guessed by now, is a bit
				different! Well, actually, we're a lot different. We've completely
				revolutionised how eRecruitment works, with some majorly disruptive
				technology and probably the best recruitment solution since
				LinkedIn.</p>

			<p>Wannawork.ie is the most revolutionary eRecruitment website ever
				to come to the market. Traditional recruitment is boring, doesn't
				engage people, and frankly speaking, doesn't work for the 21st
				century.</p>

			<p>The old way of recruiting candidates for jobs has become
				ineffective with the development of modern technologies and web
				platforms. The traditional Job Board style jobsite isn't exactly
				what one would call "Useful", for candidates. You spend hours
				trawling through a sea of irrelevant and inaccurate job postings,
				never knowing if you're searching for the right things, and more
				often than not, not getting anything more than a generic "Your CV
				is being kept on file!" in response to your applications.</p>

			<p>You annoy yourself getting worked up about not hearing back from
				employers and recruiters and have no way of gauging how effectively
				you're spending your time, because practically no-one will give you feedback.</p>

			<p>But let's not be too harsh on employers and recruiters. Using
				these traditional job sites and job boards is no holiday for them
				either. Because so many people that don't meet the job spec make
				applications they spend days and often weeks wading through a swamp
				of CVs that have next to nothing to do with the job
				they advertised. That means there's a good chance your CV is
				floating somewhere emits the quandary of other job applications
				(often ranging in the high hundreds), and you don't even get
				noticed.</p>
				<p>
				These sites seem simple and practical, and true lots of people use
				them, but the thing to remember is that candidates, employers and
				recruiters would all save time and money if they had a more efficient
				and effective solution.
				</p>
			<p>So that's what we've done at Wannawork!</p>
			
			<p>
			Wannawork.ie allows candidates to build an intuitive and totally
			searchable career profile, which they control access to, and publish
			anonymous advertisements detailing the exact positions they
			"Wannawork" in, so that employers and recruiters can search for the
			criteria relevant to the positions they want to fill and find
			candidates!
			</p>
			
			<p>That means candidates have their job search automated, and
				employers only have to contact candidates with the exact skills,
				qualifications and experience relevant to the position they want to
				fill. Making life so much easier for everyone involved. Saving
				employers, candidates and even recruiters bucket loads of time and
				money!</p>
			<p>Wannawork's highly functional and extremely easy to use interface
				means candidates can have their profile built in minutes and publish
				their ads to be found by hundreds of employers instantly. Likewise
				for employers, because our service is free for employers to use,
				employers can quickly and easily sign-up and get searching for
				candidates they want to employ in just a few short minutes.</p>
		    
		</div>
		</article>
		
		<aside>
		    <div class="aside-block">
		    <img src="{{ asset('bundles/wanaworkmain/images/Pages/about-us/emmett-corcoran.png') }}" alt="Emmett Corcoran - Wannawork.ie CEO">
		    <br />
		    <q cite="http://twitter.com/EmmettTCorcoran">
		      <p>
		      We're just changing the world, one job at a time
		      </p>
		    </q>
		    <div class="author">
			 &mdash;&nbsp;<a href="http://twitter.com/EmmettTCorcoran">Emmett Corcoran</a> <nobr>CEO, Wannawork.ie</nobr>
			</div>
			
{# 			So, Like I said:#}
{# 			"...Changing the world one job at a time..." Do you want to be part of#}
{# 			the team that is changing the world? Good. Because we're recruiting#}
{# 			talented people across all departments right now. Check out our "Careers#}
{# 			Page" now for more details. #}
            </div>
		</aside>

	</div>
</div>


{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 'bundles/wanaworkmain/css/Pages/about-us.css' 
	filter='?yui_css' filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}
