{% extends "WanaworkMainBundle::base.html.twig" %} 

{% block title %}Frequently Asked Questions{% endblock %}
{% block meta %}
<meta content="A list of some of the most asked questions and answers" name="description">
{% endblock %}

{% block body %}
<div class="row">
	<div class="span12 heading">
		<h1>Frequently Asked Questions</h1>
		{# <h2></h2>#}
	</div>
</div>

<div class="row">
	<div class="span4">
		<aside id="table-of-contents">
			<h3>Candidate's FAQ</h3>
			<ul>
				<li><a href="#candidate-how-do-i-signup">How do I sign up?</a></li>
				<li><a href="#candidate-forgotten-password">Forgotten password?</a></li>
				<li><a href="#candidate-why-use-wannawork">Why should I use
						Wannawork.ie?</a></li>
				<li><a href="#candidate-how-does-it-work">How does it work?</a></li>
				<li><a href="#candidate-how-much-does-it-cost">How much does it
						cost?</a></li>
				<li><a href="#candidate-who-will-see-my-cv">Who will see my CV?</a></li>
				<li><a href="#candidate-how-do-i-create-my-cv">How do I create my
						CV?</a></li>
				<li><a href="#candidate-how-can-i-report-job-postings">How can I
						report questionable job postings?</a></li>
				<li><a href="#candidate-what-are-shortlist-requests">What are
						shortlist requests?</a></li>
				<li><a href="#candidate-what-is-private-messaging">What is private
						messaging?</a></li>
				<li><a href="#candidate-what-is-a-verified-employer">What's the
						difference between a verified and unverified employer on
						Wannawork?</a></li>
			</ul>

			<h3>Employer's FAQ</h3>
			<ul>
				<li><a href="#employer-how-do-i-signup">How do I sign up?</a></li>
				<li><a href="#employer-forgotten-password">Forgotten password?</a></li>
				<li><a href="#employer-why-should-i-use-wannawork">Why should I use
						Wannawork.ie?</a></li>
				<li><a href="#employer-how-much-does-it-cost">How much does it cost?</a></li>
				<li><a href="#employer-how-does-it-work">How does it work? </a></li>
				<li><a href="#employer-how-do-i-find-candidates">How do I find
						candidates?</a></li>
				<li><a href="#employer-why-should-i-get-verified">Why should I get
						verified?</a></li>
				<li><a href="#employer-how-do-i-get-verified">How do I get verified?
				</a></li>
				<li><a href="#employer-what-are-saved-search-alerts">What are saved
						search alerts?</a></li>
				<li><a href="#employer-what-are-shortlists">What are shortlists?</a></li>
				<li><a href="#employer-what-are-job-specs">What are Job Specs?</a></li>
			</ul>
		</aside>
	</div>

	<div class="span8">
	    <h3 class="articles-title">Candidate FAQ</h3>
		<div class="articles">
			<article id="candidate-how-do-i-signup">
				<h4>How Do I sign up?</h4>
				<p>Signing up to Wannawork only takes a few minutes. 
				    <ol>
				        <li>Click the "sign up" button, and register with a valid email address</li>
				        <li>Fill out your personal profile (private information), and your personal ad (public information)</li>
				        <li>Upload or you CV, or use our CV builder</li>
				        <li>Choose your job-hunting package</li>
				    </ol>
				</p>
			</article>

			<article id="candidate-forgotten-password">
				<h4>Forgotten password?</h4>
				<p>Don't worry. If you forget your password, you can reset it securely. 
				    When you try to log into Wannawork, you will see a link that
					says "Forgot Password?". This will lead you to a page and you will be
					asked to enter the email you used to register for Wannawork.ie
					originally. We will send you a link via email and you will be asked
					to follow this link and enter and confirm a new password. Then you
					are free to start finding jobs with Wannawork again.</p>
			</article>

			<article id="candidate-why-use-wannawork">
				<h4>Why should I use Wannawork.ie?</h4>
				<p> Wannawork is known by thousands Irish employers. It is considered
					by many to be the best online recruitment platform they have ever
					used. Our employers come to Wannawork before they go anywhere else
					to find talented people when they have a job opening. As a
					candidate on Wannawork you are being considered for every single
					job relevant to you. Real employers are looking for real candidates
					just like you, right now on Wannawork. Put yourself in front of
					employers instantly and start connecting with them today. 
					We take the hastle out of finding a job, and you will be able to track
					your progress through every step of your job-hunt. 
					<a href="{{ path('wanawork_register') }}">Sign up</a>
					here, and get to work.</p>
			</article>

			<article id="candidate-how-does-it-work">
				<h4>How does it work?</h4>
				<p> Unlike worn out and weathered traditional recruitment where an
					employer pays barely affordable sums of money to place a job opening on a job site
					and you apply for jobs, Wannawork does the exact opposite.
					We allow you, the candidate, to find a job by advertising
					yourself as being available for work. On the other hand, employers search for the
					exact skills and experience they require. If an employer
					thinks you're a good match, they can request access to see your full
					CV. 
					Then you have the choice to check out the employer's profile and see if
					you want to grant them access to your personal information. You have
					full control over who sees your private information on Wannawork.
					You stay fully anonymous until such time as you grant an employer access to your CV.</p>
			</article>
			<article id="candidate-how-much-does-it-cost">
				<h4>How much does it cost?</h4>
				<p> Wannawork is considered by most candidates and job hunters as the
					best value online recruitment solution they have ever used. The
					amount of time you save by automating your job search is
					invaluable, as once you have created your profile, employers start
					contacting you about the jobs they have available. Finding a job
					with Wannawork couldn't be easier or better value. For just 5 cent
					a day (&euro;3 for 60 days) you can advertise yourself to employers
					all over Ireland. Wannawork puts you in front of
					real employers looking to employ real candidates just like you.
					<a href="{{ path('wanawork_register') }}">Join us</a> 
					and give yourself the best possible chance of finding a job!</p>
			</article>

			<article id="candidate-who-will-see-my-cv">
				<h4>Who will see my CV?</h4>
				<p>Very simply, only the people you want to see your CV will see it.
					Every employer, before getting access to your CV, must request access
					from you. It is up to you at that point to make a judgement call on
					whether or not you feel comfortable giving the person (employer)
					access to your personal data (CV &amp; Contact Details). We recommend
					that you report any suspicious behaviour or suspect job offers and
					employers to support@wannawork.ie immediately. Wannawork.ie will do
					everything in our power to protect your personal information, and
					you will remain anonymous until you grant access to your CV to an
					employer.</p>
			</article>
			
			<article id="candidate-how-do-i-create-my-cv">
				<h4>How do I create my CV?</h4>
				<p>
				    Wannawork is all about choice. You have numerous options of how
					to get your CV on Wannawork.ie. 
					<ol>
					    <li>Upload a PDF version of your existing CV</li>
					    <li>Build your CV using our customised "CV Builder" (Recommended)</li>
					    <li>
					       <span class="muted">
					       Automatically fill out our CV builder using the
					       information you have in your LinkedIn profile</span> (coming soon)
					    </li>
					</ol>
					
					Of course we
					recommend using our standard CV Builder as it is what our employers
					have become used to seeing and they love how standardised and easy
					to read it is. In a few minutes you will have built a very concise
					and employer-friendly CV, which you can save, edit and even print.
					Show employers you want to work, and build your Wannawork CV today.
				</p>
			</article>
			<aritcle id="candidate-how-can-i-report-job-postings">
			<h4>How can I report questionable job postings?</h4>
			<p>If you ever see anything questionable or suspicious on Wannawork
				please report it straight away. You can email any suspicious
				activity to <a href="mailto:support@wannawork.ie">support@wannawork.ie</a>. However, when you receive a
				shortlist request (a request to access your CV) from an employer,
				you will also receive a description of the job they are offering or
				a personal message. If you find the job on offer or the person
				(employer) offering the job to be in any way suspect all you have to
				do is click the "report this" link at the bottom of the feature. You
				will be redirected to a message form and asked to give details on
				what you are reporting and why. Your identity will never be revealed
				to the person or persons you are reporting so please feel safe in
				reporting suspicious activity on Wannawork.ie.</p>
			</aritcle>
			
			<article id="candidate-what-are-shortlist-requests">
				<h4>What are shortlist requests?</h4>
				<p>When an employer requests access to your CV they are actually
					sending you a "Shortlist Request". You have the ability to grant
					them access to your CV, in which case your CV gets "shortlisted" on
					the employer's profile. This means you're in with a chance of
					getting the job on offer. You, of course, can at any time revoke an
					employer's access to your CV which will remove you from their
					shortlist, and end their access to your CV. As you would expect,
					you will also have the option to deny any employer access in the
					first place. If you choose deny an employer access they will not get
					access to your CV at all. The employer will simply be notified that
					you have chosen not to grant them access at this time. Employers
					will be able to offer you an alternative package by sending you
					another "shortlist request". If you are ever pestered by an
					employer please "report" them to Wannawork Team.</p>
			</article>
			<article id="candidate-what-is-private-messaging">
				<h4>What is private messaging?</h4>
				<p>As you might expect Private Messaging is just that, a private
					messaging service. Wannawork allows you to keep all your
					communication with an employer onsite in one easy to follow thread
					of messages. This is a good option to use if you are in the early
					stages of a job offer. Of course, as we strive to connect employers
					and candidates, it is your prerogative should you wish to
					take the communication offsite and communicate with employers via
					another medium.</p>
			</article>
			<article id="candidate-what-is-a-verified-employer">
				<h4>What's the difference between a verified and unverified employer
					on Wannawork?</h4>
				<p>An unverified employer on
					Wannawork is someone who has created an Employer profile but who
					the team at Wannawork have not directly contacted to check them
					out. Most of the unverified employers on Wannawork are SME's who
					don't require the additional services provided by Wannawork when
					they pay to get verified. You see once an employer gets verified by
					Wannawork, they
					can send more CV requests. So to make sure they're not spamming all
					you nice candidates we have to check them out and make sure they
					are who they claim they are. Now even though
					we carry out a lot of tests to be as sure as possible that an
					employer is who they claim to be before we verify them, we still
					recommend you do your own due diligence on an employer before
					granting them access to your full CV and your personal data. We
					also strongly recommend that before you go for interview that you
					ensure you are meeting with a real employer. If you think there is
					anything suspicious about any employer on Wannawork do not hesitate
					to "contact us."</p>
			</article>
        </div>
        
        <h3 class="articles-title">Employer FAQ</h3>
        <div class="articles">
			<article id="employer-how-do-i-signup">
				<h4>How do I sign up?</h4>
				<p>Signing up to Wannawork only takes a few minutes. You just click
					the "Sign Up" button in the top right hand side of the screen.
					You will have to register using a valid email address and create
					a password. You will then be prompted to start building your
					"Employer Profile". This will take less than 2 minutes. Once you
					have created your profile, you will be free to start searching for
					and requesting access to skilled and experienced candidates' CV's.
					<a href="{{ path('wanawork_register') }}">Join the recruitment revolution</a> today</p>
			</article>
			<article id="employer-forgotten-password">
				<h4>Forgotten password?</h4>
				<p>Don't worry. If you forget your password, a fairly standard
					secure password reset through your email will put every thing right
					again. When you try to log into Wannawork, you will see a link that
					says "Forgot Password" this will lead you to a page and you will be
					asked to enter the email you used to register for Wannawork.ie
					originally. We will send you a link via email and you will be asked
					to follow this link and enter and confirm a new password. Then you
					are free to start finding a skilled candidates with Wannawork
					again.</p>
			</article>
			<article id="employer-why-should-i-use-wannawork">
				<h4>Why should I use Wannawork.ie?</h4>
				<p>Wannawork is known and trusted by thousands of Irish employers.
					It is considered by many to be the best online recruitment platform
					they have ever used. Our employers come to Wannawork before they go
					anywhere else to find talented people when they have a job opening.
					The candidates on Wannawork are not only searching for a job, but
					the actually want to work. They want to work so much they've
					invested a lot of time and energy in building an up to date profile
					on Wannawork. They have paid to advertise themselves, in order to
					maximise their opportunities of finding a job. Our pool of
					candidates is always up to date, as candidates must pay to renew
					their ad every 60 days. That means you don't waste any time or
					money wading through an unqualified and irrelevant ocean of CV's.
					Empower yourself, and start instantly connecting with ambitious and
					motivated job hunters today. <a href="{{ path('wanawork_register') }}">Sign Up</a>, and get to hiring!</p>
			</article>

			<article id="employer-how-much-does-it-cost">
				<h4>How much does it cost?</h4>
				<p>For employers, the best part about Wannawork is the fact that it
					is FREE! Because we charge candidates to advertise themselves, we
					don't have to charge you, the employer. Wannawork intends on always
					being free for employers.</p>
			</article>

			<article id="employer-how-does-it-work">
				<h4>How does it work?</h4>
				<p>Unlike worn out and tired traditional recruitment where you pay
				    to place a job opening on a job site only to have
					irrelevant candidates apply for the job, Wannawork does the exact
					opposite. Wannawork.ie allows the candidates to find a job by
					advertising themselves as being available for work. Then you, the
					employer, search for the exact skills and experience you require. 
					If you think you've found a good match, you can
					request access to see the candidates full CV. When requesting
					access from a candidate you get to send them a personal message, a
					reusable job description or both. This is to explain to them what
					you are offering. The candidate will be able to access your company
					profile to assess whether or not they wish to grant you access to
					their full CV and personal information.</p>
			</article>

			<article id="employer-how-do-i-find-candidates">
				<h4>How do I find candidates?</h4>
				<p>When searching for candidates using Wannawork.ie customised
					candidate search software, you will be able to search by the
					candidate's: 
					<ul>
					    <li>Desired Profession</li>
					    <li>Industry Experience</li>
					    <li>Role Types</li>
					    <li>Qualifications</li>
					    <li>Languages</li>
					    <li>Locations</li>
					</ul>
					  
					Your candidate search will
					return anonymous ads. These ads will highlight to you the
					criteria which each candidate has been matched on. You will know
					what percentage match each candidate is, and searches will be
					returned in descending order form 100% match to 50% match. Each ad
					will stand out with a unique title and pitch, written by each
					candidate. Once you see a candidate ad you like, you will be need
					to request access from the candidate. Once the candidate has
					reviewed your request and feels that they are interested, you will
					have access to their full CV, profile and contact information and
					will be able to freely communicate with them.</p>
			</article>

			<article id="employer-why-should-i-get-verified">
				<h4>Why should I get verified?</h4>
				<p>Most Wannawork employers get verified because they know it shows
					candidates that they are bona fide. Employers who get verified get
					more responses to the CV requests they send to candidates who want
					to work. In addition to getting more responses, verified employers
					can send hundreds more CV request than unverified employers each day.
					Unverified employers can only send 5 CV requests per day, and get a
					lower response rate from candidates. Whereas verified employers can
					send 500 CV requests per day and benefit from a greater response
					rate from candidates.</p>
			</article>

			<article id="employer-how-do-i-get-verified">
				<h4>How do I get verified?</h4>
				<p>In order for Wannawork to verify you are the employer you are
					claiming to be, we will do the following: 
					<ul>
					    <li>
					        We will check the company CRO number you have provided us against the CRO's records
						</li>
						<li>
						    We will	verify the registered trading address of your company, and verify you operate from this address
						</li>
						<li>
						    We will verify the telephone number provided by you, 
						    and cross check it against an alternative source
						</li>
					</ul>
					
					In order to give you verified status,
					we must be able to verify you on at least 2 of the 3 criteria
					listed above. As part of the verification process you
					will need to pay 250 euro (plus VAT @ 23%). This payment is used to
					cover the cost Wannawork.ie incurs in verifying your company's
					identity. The fee is once off, and as long as you adhere to
					Wannawork's terms and conditions, you and your business will have
					life long access to a virtually unlimited number of qualified,
					skilled and experienced candidates.</p>
			</article>

			<article id="employer-what-are-saved-search-alerts">
				<h4>What are saved search alerts?</h4>
				<p>When you carry out a candidate search, sometimes you won't find
					the right candidate for your job opening. As opposed to having to
					come back and do the search all over again, we give you the option
					to save the search criteria. If you choose to save the search
					criteria, Wannawork will enter that criteria into the "Saved
					Searches" section of your profile. We will also notify you if a new
					candidate joins that matches your search criteria.</p>
			</article>

			<article id="employer-what-are-shortlists">
				<h4>What are shortlists?</h4>
				<p>When you request access to a candidate's CV you are actually
					sending a "Shortlist Request". When the candidate grants you access,
					their CV gets "shortlisted" in the CV section of your profile. This
					means you can access that CV simply by going to your shortlist page
					and clicking on it. You will be able to arrange different CV's into
					categorised lists, "Shortlists".</p>
			</article>

			<article id="employer-what-are-job-specs">
				<h4>What are Job Specs?</h4>
				<p>A job spec is a
					specification of the job on offer. In order to request access to a
					candidates full CV you must send along with you request a personal
					message or a job spec or both. You can create numerous Job Specs.
					They will all be stored in the "Job Specs" section of your profile.
					You can edit and delete them at any time. When you are sending a
					candidate your CV access request you will be able to attach saved
					Jobs or alternatively you can create a new Job Spec there and then.
					Job Specs should be detailed and informative. They should give a
					clear description of the role and the broad terms of the position
					on offer.</p>
			</article>
		</div>
	</div>
</div>
{% endblock %} 

{% block stylesheets %} {{ parent() }} {% stylesheets
'@WanaworkMainBundle/Resources/public/css/Pages/faq.css'
filter='?yui_css' filter='cssrewrite' %}
<link rel="stylesheet" type="text/css" media="screen"
	href="{{ asset(asset_url) }}" />
{% endstylesheets %} {% endblock %}
