{% extends "WanaworkMainBundle::base.html.twig" %}

{% block title %}Price plans{% endblock %}
{% block meta %}
<meta content="Our price plans for candidates and employers" name="description">
{% endblock %}

{% block body %}
<div class="row">
	<div class="span12">
		<div id="bnrMainLite">
			<div id="bnrTxtLite">
				<h1>Plans</h1>
			</div>
		</div>
	</div>
</div>
<div id="background-blue-lite"></div>

<div id="employerCandidateSwitch">
	<div class="row">
		<div class="span12">
			<span style="font-size: 19px;">For</span> <br /> <br />
			<a id="candidate-switch" href="#" class="btn btn-large active" style="margin-right:25px;">Job Hunters</a>
			<a id="employer-switch" href="#" class="btn btn-large">Employers</a>
		</div>
	</div>
</div>

{% include 'WanaworkMainBundle:Pages:_candidate.html.twig' %}
{% include 'WanaworkMainBundle:Pages:_employer.html.twig' %}

{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets '@WanaworkMainBundle/Resources/public/css/Pages/plans.css' 
	filter='?yui_css' filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}