{% extends "::base.html.twig" %}

{% block title %}Privacy Policy{% endblock %}
{% block meta %}
<meta content="Learn about how we treat your personal information" name="description">
{% endblock %}

{% block body %}
<div class="row">
	<div class="span12 heading">
		<h1>Privacy Policy</h1>
	</div>
</div>

<div class="row">
	<div class="span10">
		<div id="privacy-policy">
			<p>We at Wannawork.ie care about your privacy and we respect your
				privacy rights.</p>
			<p>Wannawork.ie has created this Privacy Policy to demonstrate our
				firm commitment to privacy. The following outlines this commitment
				to users as we want to be able to provide everyone with a user
				experience that is safe and secure. Wannawork.ie wants to ensure, to
				our best efforts, that any information you give us remains private
				and are used only for the purposes outlined in this Policy.</p>
			<p>By using the Website and/or the Wannawork.ie Service, you permit
				the collection and use of your personal information as outlined
				below and you signify your agreement to this Privacy Policy (last
				updated on 03.01.2014). If you do not agree with these terms, you
				should not use the Website and/or an Wannawork.ie Service.</p>

			<h3>ABOUT OUR PRIVACY POLICY</h3>
			<p>Our website Wannawork.ie which includes any webpage containing
				this domain name, including any page that is enabled for use by a
				mobile device or any webpage redirected from another domain name
				(the "Website" ) and the services provided on the Website (for a
				more complete description of the services see our Terms and
				Conditions ) (the "Wannawork.ie Service ") are operated by
				Wannawork.ie , Hayden House, Strokestown, Co. Roscommon, Ireland ("
				we ", "us " and "our "). The Website and the Wannawork.ie Service
				help people find, advertise, apply for or express interest in
				vacancies, and provide employment, consultant or contractor related
				information.</p>
			<p>This policy, our Terms and Conditions and any other documents
				referred to in either of them set out the basis on which any
				personal data we collect from you, or that you provide to us, will
				be processed by us. If you are a Customer (i.e. a
				recruiter/candidate) then the Wananwork.ie Customer Terms also form
				part of your agreement with us. Please read the following carefully
				to understand our views and practices regarding your personal data
				and how we will treat it.</p>

			<h3>SITE SECURITY</h3>

			<p>Wannawork.ie is committed to protecting the information you
				provide us with. To prevent unauthorised access or disclosure of
				information under our control, Wannawork.ie has appropriate security
				management systems in place to safeguard the information we collect.
			</p>
			<p>Firewalls, Intrusion Detection and Virus Scanners are used on all
				parts of the Wannawork.ie website. Encryption during transmission is
				also used on sections of the site where security is particularly
				important.</p>
			<p>While Wannawork.ie makes every effort to protect all personal
				information, we recognise that unfortunately no data transmission
				over the Internet can be guaranteed to be 100% secure. As a result
				Wannawork.ie cannot ensure or warrant the security of any
				information you transmit to us, you do so at your own risk.</p>

			<h3>HOW WE COLLECT INFORMATION ON WANNAWORK.IE</h3>

			<p>When registering as a user of the Website or during your time as a
				user of the Website you will be asked to provide information to us.
				We will inform you at the time of collecting information from you
				whether you must provide the information to use the Website or a
				particular Wannawork.ie Service, or whether the provision of
				information requested by us is optional . We will inform you at the
				time of collecting information from you whether the information that
				you provide to us will be accessible to other users of the Website
				or by third parties, so that you can decide whether to provide the
				information to us.</p>
			<p>
				We may collect and process the following data about you:<br />
			
			
			<ul>
				<li>if you contact us, we may keep a record of that correspondence;
				</li>
				<li>information that you submit in response to surveys or polls;</li>
				<li>details of applications for employment positions that you make
					using the Website;</li>
				<li>details of resumes or curricula vitae which you make available
					on the Website for third parties to browse in connection with
					employment, consultant or contractor positions; </li>
				<li>
					details of your visits to the Website including, but
					not limited to, traffic data, location data, weblogs
					and other communication data, whether this is
					required for our own billing purposes or otherwise
					and the resources that you access;
				</li>
				<li>proof of identity that we request from you before we disclose
					personal information to you that we hold (in order to establish
					that we are disclosing the personal data to you and not to someone
					pretending to be you);</li>
				<li>and personal details that you submit to us, such as your name,
					address, telephone number, email address, gender and date of birth.
				</li>
			</ul>
			</p>

			<h3>USES MADE OF THE INFORMATION</h3>

			<p>Wannawork.ie's Customers post information about employment,
				consultant or contractor vacancies on the Website, whether on their
				own behalf or, if a recruitment or consultancy, on behalf of third
				parties ("Job Specifications"). These Job Specifications can then be
				accessed and read by other users of the Website. You can search for
				registered Customers of the Website, whether they are direct
				employers or agencies. Wannawork.ie does not vet or monitor the Job
				Specifications in terms of their terms and conditions applicable to
				the use of your personal information.</p>

			<p>We use information held about you in the following ways:</p>

			<ul>
				<li>to provide registered Customers of the Website with the
					information that you submit to the Website in response to a Job
					Specification. Submission of information by you to a particular Job
					Specification is treated by us to be permission to forward to that
					information to the Customer or Customers that have posted that Job
					Specification only;</li>
				<li>if you choose to be a registered user of the Website, we will
					display details of the personal information about you that you
					submit to the Website for registered Customers of the Website, so
					that Customers are able to evaluate whether you are a suitable
					candidate for a vacant position (whether or not a Job
					Specification);</li>
				<li>you will be able to control the type of personal information
					about you which will be displayed in this way through your user
					account; to ensure that content from the Website is presented in
					the most effective manner for you and for your computer;</li>
					
				<li>to provide you with information, products or services that you
					request from us or which we feel may interest you, where you have
					consented to be contacted for such purposes; </li>
			    <li>
			     to allow you to
					participate in interactive features of our service, when you choose
					to do so;
			    </li>
				<li>and to notify you about changes to our service.</li>
			</ul>
			
			<p>
			 We may also use
					your email address to send you updates or news regarding the
					Website or a Wannawork.ie Service, but you may choose not to
					receive emails of this type by accessing your Candidate Profile
					page of the Website and updating your notification settings .
					Additionally, we or a registered Customer may use your email
					address to contact you where you are a registered user or if you
					have responded to a Job Specification.
			</p>

			<p>We do not request (nor encourage you) to submit sensitive data to
				the Website, (ie data relating to racial or ethnic origin, political
				or religious opinions, membership of a trade union, physical or
				mental health or condition or sexual life, the commission of any
				offence or related documentation). If, however, you choose to do so
				then you consent to our processing this data in the manner set out
				in this Privacy Policy.</p>

			<h3>WANNAWORK.IE SERVICES</h3>

			<p>Client Profiles Wannawork.ie vacancy advertising clients are given
				the option to have a profile page on site. This includes information
				related to their company such as; company logo, contact details,
				company profile, web address and related links. This information is
				disclosed for your convenience and information, however if you
				access some of the links and web addresses disclosed on these pages,
				you will leave the Wannawork.ie website.</p>

			<p>Some Wannawork.ie clients are advertised on site under featured
				employer member pages; which means Wannawork.ie host a number of
				their web pages on our server to provide users with an experience
				similar to the recruiter's own website.</p>

			<p>There are featured links on these member pages, which when
				accessed you will leave the Wannawork.ie domain.</p>

			<p>User Profiles Wannawork.ie candidates (people looking to obtain
				work) are given the option to have a profile page on the site. This
				includes personal information, specifically, name and contact
				details. These users also have the option of building an online CV
				using our CV builder or uploading a PDF versionn of an existing CV
				to the site. This is information is private, and candidates control
				access to this information. Should a candidate choose to make this
				information available to a specific employer, recruiter or
				consultant, they do so at their own risk. Wannawork.ie makes no
				guarantee that all employers have been verified as who they claim to
				be. Although we will make all reasonable endevours to maintain the
				quality of users on our site. These users must also publish an
				Advertisement in order to be found by recruiters. This advertisment
				is clearly marked as being "public"- that is any member of the
				public who does visit the site may see this information. Users
				create public content at their own risk.</p>

			{# <h3>CONTENT REQUIRED</h3>#}

			<h3>DISCLOSURE OF YOUR INFORMATION TO OTHER PEOPLE</h3>

			<p>Except as set out in this Policy, we do not disclose to any third
				party personal information that you provide to us unless we have
				your permission or we believe the law permits or requires it.</p>

			<p>If you provide personal information to us you understand and agree
				that we may disclose your personal information to third parties
				expressly mentioned in this Policy and the following third parties:
			</p>
			
			
			<ul>
			    <li>
			    	any member of our group of companies, which means
			    	our subsidiaries, our ultimate holding company and
			    	its subsidiaries; to the prospective seller or buyer
			    	of any business or assets related to the Website or
			    	all or part of Wannawork.ie;
			    </li>
			    
			    <li>
			        to a third party if we
					are under a duty to disclose or share your personal data with that
					third party in order to comply with any legal obligation, or in
					order to enforce or apply our Terms and Conditions and other
					agreements, or to protect the rights, property, or safety of
					Wannawork.ie, our customers, or others. This includes exchanging
					information with third parties for the purposes of fraud protection
					and credit risk reduction. We will notify you, where legally permitted and/or required, when information about
					you may be provided to third parties in ways other than explained
					above, and you will have the option to prevent such information
					sharing at the time that we notify you.
			    </li>
			    
			    <li>
			        if you have indicated at registration, or at any time during your
					time as a user of the Website, that you are happy to receive
					information or promotions from selected third parties about goods
					and services which may be of interest to you, you consent to us
					sending you such offers or information. You may opt out of receiving
					such offers or change your preferences at any time by accessing the
					"Email notifications" tab on the "Your Account" page of the Website
					or alternatively, if you have problems doing this, you can contact
					us;  
			    </li>

			</ul>

			<p>We do not disclose personal information about you to third parties
				(including advertisers or marketing companies), but we may provide
				them with aggregate anonymised information about the Website's
				users. For example, we may inform them that 500 men aged under 30
				have registered as users of the Website, or we might inform third
				parties regarding the number of unique users who visit a particular
				Job Specification on the Website, the demographic breakdown of our
				registered users of the Website or the activities that visitors to
				the Website engage in while on the Website. We may also use such
				aggregate anonymised information to help Customers improve their Job
				Specifications.</p>

			<p>We may provide your personal data to third parties for purposes
				that you agree to elsewhere in this Privacy Policy where those third
				parties based outside of Ireland or outside the European Economic
				Area (which may not provide the same protection for such information
				as offered in the Ireland), and you consent to a transfer of your
				personal information to third parties identified in this Privacy
				Policy for purposes identified in this Privacy Policy.</p>

			<h3>SECURITY AND CONTROL OF YOUR PERSONAL DATA</h3>

			<p>We will take all steps reasonably necessary to ensure that your
				data is treated securely and in accordance with this Privacy Policy.
			</p>

			<p>Where we have given you (or where you have chosen) a password
				which enables you to access certain parts of the Website, you are
				responsible for keeping this password confidential. You must not to
				share your Website password with anyone.</p>

			<p>Unfortunately, the transmission of information via the Internet is
				not completely secure. Although we will endeavour to protect your
				personal data, we cannot guarantee the security of your data
				transmitted to the Website; any transmission is at your own risk.
				Once we have received your information, we will use strict
				procedures and security features to endeavour to prevent
				unauthorised access. You acknowledge that we are not responsible for
				any intercepted information sent via the Internet, and you hereby
				release us from any and all claims arising out of or related to the
				use of intercepted information in any unauthorised manner.</p>

			<p>You should be aware that when you disclose personally identifiable
				information and agree to make that information available to our
				Customers on the Website (e.g. by submitting a CV to a recruiter
				Customer using the Website) that the information disclosed in your
				communication may be used by the Customer. These third parties may
				use your information (for example they may contact you, arrange an
				interview with you, review your suitability for a particular
				position) and such third activities are beyond our control.</p>

			<p>As a registered user of the Website and/or the Wannawork.ie
				Service, you can modify your personal information at any time by
				accessing your Candidate Profile section of the Website or
				alternatively if you have problems doing this, you can contact us .
				It is your responsibility to keep your personal information up to
				date at all times.</p>

			<p>If you have submitted information directly to a Customer in
				respect of a particular Job Specification then you understand that
				we process that information as an agent of the Customer (whether or
				not as a registered user of the Website and/or the Wannawork.ie
				Service). We may hold a back-up copy of the information that you
				submit, but only as an agent of the Customer. If you wish to modify
				or deal with your personal information submitted information
				directly to Customer in respect of a particular Job Specification
				then you should contact the Customer directly, as they have
				responsibility for that personal information. As agent of the
				Customer, we will comply with the Customer's instructions in respect
				of that personal information. If you wish to understand the
				Customer's data protection or privacy policy with regards to the
				dealings that it has with your personal information then you should
				contact the Customer directly to establish such terms.</p>

			<h3>LINKS TO THIRD PARTY WEBSITES</h3>

			<p>The Website may, from time to time, contain links to and from the
				websites of our partner networks, Customers, advertisers and
				affiliates as well as third party websites to which we have no
				affiliation. If you follow a link to any of these websites, please
				note that these websites have their own privacy policies and that we
				do not accept any responsibility or liability for these policies.</p>

			<p>We also use third party advertisements to support our site. Some
				of these advertisers may use technology such as cookies and web
				beacons when they advertise on our site, which will also send these
				advertisers (such as Google through the Google AdSense program)
				information including your IP address, your ISP , the browser you
				used to visit our site, and in some cases, whether you have Flash
				installed. This is generally used for geotargeting purposes or
				showing certain ads based on specific sites visited.</p>

			<h3>IP ADDRESSES AND COOKIES</h3>

			<p>We may collect information about your computer, including (where
				available) your IP address, operating system and browser type, for
				system administration, statistical purposes. This is statistical
				data about our users' browsing actions and patterns, and does not
				identify any individual.</p>

			<p>For the same reason, we may obtain information about your general
				internet usage by using a cookie file which is stored on the hard
				drive of your computer. Cookies contain information that is
				transferred to your computer's hard drive. On revisiting the Website
				our computer server will recognise the cookie, giving us information
				about your last visit. They help us to improve the Website and to
				deliver a better and more personalised service. They enable us:</p>

			<ul>
				<li>to estimate our audience size and usage pattern;</li> 
				<li>
					to store information about your preferences, and so
					allow us to customise the Website according to your
					individual interests and make your usage of the
					Website more enjoyable;
				</li>
				<li>
				    and to speed up your searches
				</li>
			</ul>
			
			<p> You may refuse to
				accept cookies by activating the setting on your browser
				which allows you to refuse the setting of cookies.
				However, if you select this setting you may be unable to
				access certain parts of the Website. Unless you have
				adjusted your browser setting so that it will refuse
				cookies, our system will issue cookies when you log on
				to the Website.
			</p>

			<p>
				For more information about how our cookies work view our
				<a href="{{ path('wanawork_main_cookie_policy') }}">cookies policy</a>. 
				For information on how to control your cookies go to
				www.allaboutcookies.org.
			</p>
			
			<h3>
				ACCESS TO INFORMATION AND UPDATING, VERIFYING AND
				DELETING PERSONAL DATA
			</h3>

			<p>
				At any time, you can make a written request to have
				access to all the personal information that we hold
				about you. We will provide this information to you and
				may request a small administrative charge.
			</p>

			<p>
				You may inform us of any changes in your personal data
				and in accordance with our obligations to you, we will
				update or delete your personal data accordingly.
			</p>

			<p>
				Please note the section of this Privacy Policy regarding
				personal data submitted directly to our Customers.
			</p>

			<h3>MARKETING</h3>

			<p>
				To provide the best user experience Wannawork.ie may
				invite you to provide us with information regarding your
				personal or professional interests and experiences with
				our products or services. Providing this additional
				information is optional.
			</p>
			
			<h3>Google Analytics Demographics and Interest Reporting</h3>
			<p>
			    We use data from "Google Analytics Demographics and Interest Reporting" provided to us by Google
			    that is collected about you - your interests, age, gender, and other information.
			    The storage of this information is done by Google. 
			    We use this information to better understand the demographics and interests of our visitors
			    and to help us provide you better services. 
			</p>

			<h3>COPYRIGHT STATEMENT</h3>

			<p>
				Copyright is implied irrespective of whether a copyright
				symbol or a copyright statement is displayed. Content on
				the Wannawork.ie website can be downloaded for personal
				non-commercial use . Where use of other materials is
				desired the source must first approve and also be
				acknowledged.
			</p>

			<p>
				Permission to reproduce the Wannawork.ie copyright does
				not extend to any material on this site which may be the
				property of a third party. Authorisation to reproduce
				such material must be obtained from the copyright
				holders concerned.
			</p>

			<h3>CHANGES TO OUR PRIVACY POLICY</h3>

			<p>
				Any changes we may make to our Privacy Policy in the
				future will be posted on this page, you may also be
				notified by email. You should visit this page
				periodically to review any changes to the Privacy
				Policy.
			</p>

			<h3>USER FEEDBACK AND COMPLAINTS</h3>

			<p>
				Questions, comments and requests regarding this Privacy
				Policy are welcomed and should be addressed to
				admin@wannawork.ie.
			</p>
		</div>
	</div>
</div>

<style>
#privacy-policy {
    padding: 20px;
    background: #fff;
}			

#privacy-policy h3 {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 3px;
	margin-top: 10px;
	text-transform: uppercase;
}

#privacy-policy ul {
	list-style: disc;
}

#privacy-policy ul li {
	margin-left: 30px;
}
</style>
{% endblock %}