{% if entity is defined %}
{% set id = entity.search.id %}
{% endif %}
<form novalidate method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-main">Subscribe</button>
			<span class="button-separator">or</span>
			<a class="btn btn-small btn-inverse" href="{{ path('wanawork_main_search', {searchId: entity.search.id}) }}">Cancel</a>
		</div>
	</div>
</form>

