<h1>SearchNotification list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Searchname</th>
            <th>Lastupdated</th>
            <th>Newlyavailble</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('search-nofitication_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.searchName }}</td>
            <td>{% if entity.lastUpdated %}{{ entity.lastUpdated|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.newlyAvailble }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('search-nofitication_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('search-nofitication_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('search-nofitication_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
