{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}New Search Notification{% endblock %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>New Search Notification</h1>
        <h2>
        You can subscribe to receive notifications for this search, when new ads become available.<br />
        </h2>
    </div>
</div>

<div class="row">
    <div class="span6">
        <div style="background: #fff; padding: 20px; border: 1px solid #ccc;">
            {% include 'WanaworkUserBundle:SearchNotification:_form.html.twig' %}
        </div>
    </div>
    
    <div class="span6">
        <div style="background: #f5f5f5; padding: 20px; width: 70%;">
            <i class="icon icon-info-sign"></i>&nbsp;<b>Search Notifications Overview:</b><br />
	        <ul style="list-style: disc; margin-left: 20px;">
	            <li>We'll email you once a week, on Monday morning, if we have new candidates for you.</li>
	            <li>You can unsubscribe from these emails any time.</li>
	        </ul>
	    </div>
    </div>
</div>

{% endblock %}

