{% extends "WanaworkUserBundle::base.html.twig" %}

{% block title %}Saved Searches{% endblock %}

{% block body %}
<div class="row">
	<div class="span12 heading">
	    <h1>Saved Searches</h1>
	    <h2>Below is a list of candidate searches that you saved</h2>
	</div>
</div>

<div class="row">
	<div class="span12">
        <table id="cv-list" class='default-table'>
			<thead>
				<tr>
					<th>Name</th>
					<th>Profession</th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				{% for notification in user.savedSearches %}
				<tr>
					<td>
					    {% if not notification.active %}
					    <i class="icon icon-ban-circle" 
					      title="You are not receiving notification on this search"></i>&nbsp;
					    {% endif %}   
				        {{ notification.searchName }}
					</td>
					<td>
						{{ notification.search.profession }}
					</td>
					<td>
						<div class="btn-group action-button">
						  <a class="btn dropdown-toggle btn-inverse" data-toggle="dropdown" href="#">
						    Action
						    <span class="caret"></span>
						  </a>
						  <ul class="dropdown-menu">
						  	<li>
						  		<a href='{{ path('wanawork_main_search', {searchId: notification.search.id}) }}'>
						  			<i class="icon icon-search"></i>View All Ads
						  		</a>
						  	</li>
						  	<li>
						  	    {% if notification.active %}
						  	    <a href="{{ path('search_nofitication_disable', {id: notification.search.id}) }}">
						  	       <i class="icon icon-stop"></i>Stop notifications
						  	    </a>
						  	    {% else %}
						  	    <a href="{{ path('search_nofitication_enable', {id: notification.search.id}) }}">
						  	       <i class="icon icon-play"></i>Enable notifications
						  	    </a>
						  	    {% endif %}
						  	</li>
						  </ul>
						 </div>
					</td>
				</tr>
				{% else %}
				<tr>
					<td colspan="3" style="text-align: center;">
					You do not have any Saved Searches<br />
					You can receive email notifications
					when new Ads become available for your search criteria. <br /><br />
					<a class="btn" href="{{ path('wanawork_main_search') }}">Find Candidates</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'@WanaworkUserBundle/Resources/public/css/employerProfile/saved-searches.css' %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	{% javascripts filter='?yui_js' 
	'@WanaworkUserBundle/Resources/public/js/employer_cvs.js' %}
		<script src="{{ asset(asset_url) }}"></script>
	{% endjavascripts %}

{% endblock %}

