{% extends "WanaworkUserBundle::base.html.twig" %}

{% block body %}

<div class="row">
    <div class="span12 heading">
        <h1>Saved Search</h1>
        <h2></h2>
    </div>
</div>

<div class="row">
    <div class="span7">
        <div style="background: #fff; padding: 20px;">
            <h4>{{ entity.searchName }}</h4>
            <div>
                <b>Profession:</b>
                {{ entity.search.profession }}
            </div>
        </div>
        <span style="color: #333;" class="right">Created on {{ entity.createdOn.format(date_format) }}</span>
    </div>
    
    <div class="span5">
        <div class="side-panel">
            {% if entity.active %}
            <i class="icon icon-play"></i>You're currently subscribed to weekly emails for this search.
            <div style="margin-top: 20px;">
                <a href="{{ path('search_nofitication_disable', {id: entity.search.id}) }}" class="btn btn-warning">Unsubscribe</a>
                <span class="button-separator">or</span>
                <form method="POST" action="{{ path('search_nofitication_delete', {id: entity.search.id})  }}" class="delete-form">
                    <input type='submit' class="btn btn-danger" value="Delete Saved Search" />
                    {{ form_rest(delete_form) }}
                </form>
            </div>
            {% else %}
            <i class="icon icon-stop"></i>You're currently not receiving notifications for this search.
            <div style="margin-top: 20px;">
                <a href="{{ path('search_nofitication_enable', {id: entity.search.id}) }}" class="btn">Re-Subscribe</a>
                <span class="button-separator">or</span> 
                <form method="POST" action="{{ path('search_nofitication_delete', {id: entity.search.id})  }}" class="delete-form">
                    <input type='submit' class="btn btn-danger" value="Delete Saved Search" />
                    {{ form_rest(delete_form) }}
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <a href='{{ path('wanawork_main_search', {searchId: entity.search.id}) }}' class="btn btn-main">View New Candidate</a>
    </div>
</div>
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
		'@WanaworkUserBundle/Resources/public/js/search-notification/show.js' %}
		<script src="{{ asset(asset_url) }}"></script>	
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 'bundles/wanaworkuser/css/search-notification/show.css'
	filter='?yui_css' filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}
