{% extends '::base.html.twig' %}

{% block body -%}
    {% include "WanaworkUserBundle:Entity:_entity-list.html.twig" with {menu_selection: 'entity_language'} %}
    <h1>Language edit</h1>
    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('entity_language') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
