{% extends '::base.html.twig' %}

{% block body -%}
    {% include "WanaworkUserBundle:Entity:_entity-list.html.twig" with {menu_selection: 'entity_language'} %}
    <h1>Language list</h1>
    
    <ul>
        <li>
            <a href="{{ path('entity_language_new') }}">
                Create a new entry
            </a>
        </li>
        <li>
            <a href="{{ path('entity_language_export') }}">
                Export
            </a>
        </li>
    </ul>
    
    <table class="default-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('entity_language_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('entity_language_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('entity_language_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
