.entity-filter {
	float: right;
	margin-bottom: 5px;
	display: none;
}

.entity-list {
	overflow-y: auto;
	clear:both;
}

.entity-list .entity {
    border: 1px solid #aaaaaa;
    background: #ffffff ;
    color: #222222;
    margin-bottom: 4px;
    padding: .3em;
    position: relative;
}

.entity-list .entity .count {
	width: 20px;
	text-align: center;
}

.entity-list .entity.selected {
	color: #fff;
	background-color: #0088cc;
}
.entity-list .entity.selected .name {
	color: #fff;
}

.entity-list .entity .name {
	display: inline-block;
	color: #000;
	text-decoration: none;
}

.entity-list .entity .input {
	display: inline-block;
	visibility: hidden;
	position: relative;
	top: -3px;
}

#connections-form input[type='text'] {
	width: 260px;
}

#connections-form button {
	float: left;
	margin-right: 10px;
}

#connections-form form {
	display: block;
	clear:both:
}

#connections-form form:FIRST-CHILD {
	margin-bottom: 10px;
}

#footerArea {
	display: none;
}

#main {
	padding-bottom: 0 !important;
}