{% if is_granted("CREATE", thread) %}
<div class="new-message-form">
    {% if is_granted("CREATE", thread) %}
    <form method="POST" action="{{ path('mailbox_create', {id: thread.id}) }}" novalidate>
	{{ form_widget(form.text) }}
	{{ form_row(form._token) }}
    <div class="submit">
        <button type="submit" class="btn btn-main send-message-button">Send</button>
    </div>
    </form>
    {% endif %}
</div>
{% endif %}