{% import "WanaworkUserBundle:Message:_macro.html.twig" as message_macro %}
<div id="message-{{ message.id }}" class="message {{ message_macro.message_class(message) }} clearfix {{ loop is defined and loop.index0 == 0 ? 'first' : '' }}">
	<div class="headline clearfix">
	    <div class="author">
	        {% if message.profile.webPath %}
		    <img class="avatar" src="{{ asset((message.profile.webPath) | apply_filter('thumbnail_192'))  }}" alt="Profile Picture" />
		    {% else %}
		    <img  src="/images/profAva.png" alt='Default Profile Picture' class="avatar" />
		    {% endif %}
	        
	        {% if message.authorEmployee %}
	        <a href="{{ path('ad_show', {slug: message.thread.cvRequest.ad.slug}) }}">{{ message.profile.name }}</a>
	        {% elseif message.authorEmployer %}
	        <a href="{{ path('company_show', {slug: message.profile.slug}) }}">{{ message.profile.companyName }}</a>
	        <span class="employer-author-name">{{ message.author.name }}</span>
	        {% endif %}
	    </div>
	    
	    <div class="post-date">
	        <img src="{{ asset('bundles/wanaworkuser/images/messages/time.png') }}" alt="clock" />
	        <span>{{ message.postedOn.format(date_format) }}</span>
	    </div>
	</div>
	
	<div class="body">
	    {{ message.text | nl2br }}
	</div>
</div>
