<div class="search">
    <input class="thread-search" type="text" placeholder="Find Mail" />
</div>

<ul class="threads">
{% for thread in threads %} 
	{% set unreadMessages = thread.unreadMessages(app.user.defaultProfile) | length %}
	{% set linkText = 'View thread' %}
	{% if thread.messages.count > 0 %}
		{% set linkText = thread.messages.last.shortText(30) %}
	{% endif %}
	
	<li id="thread-{{ thread.id }}" data-messagesurl="{{ path('mailbox', {id: thread.id}) }}" 
	    data-threadurl="{{ path('mailbox_index', {selectedThread: thread.id}) }}"
	    data-markreadurl="{{ path('mailbox_mark_read', {id: thread.id}) }}"
	    class="clearfix thread {{ selectedMailbox == thread ? 'selected' : '' }}">
	
		<div class="headline clearfix">
		    <div class="respondent">
		       {% if app.user.employeeProfile == thread.employee %}
	           {{ thread.employer.companyName }}
	             {% if thread.employer.verified %}
	             <img title="This employer was verified by Wannawork Team" 
	                 class="verification-icon" alt="Verified account" 
	                 src="{{ asset('bundles/wanaworkuser/images/messages/verified.png') }}" />
	             {% endif %}
	           {% elseif app.user.employerProfiles.contains(thread.employer) %} 
		       {{ thread.employee.name }}
		       {% endif %}
		    </div>
		    <div class="last-message-time" title="Date & Time of last message">{{ thread.lastMessageDateInWords }}</div>
		</div>
		
		<div class="body clearfix">
		    <div class="new-message-count-badge">
		        {% if thread.unreadMessages(app.user.defaultProfile) | length > 0  %}
		        <span title="{% transchoice unreadMessages %}
					 {0} No new messages |{1} 1 new message|]1,Inf] 
					 %unreadMessages% new messages
					 {% endtranschoice %}"
			     class="unread-count badge badge-counter">{{thread.unreadMessages(app.user.defaultProfile) | length }}</span>
			     {% else %}
			     &nbsp;
			     {% endif %}
		    </div>
		    <div class="last-message-text">
		        {% if thread.messages | length > 0 %}
		        {{ thread.messages.last.getShortText(70) }}
		        {% else %}
		        No messages yet
		        {% endif %}
		    </div>
		</div>
	</li> 
{% endfor %}
</ul>