{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Mailbox{% endblock %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>Mailbox</h1>
        <h2>
            {% if app.user.menuType == 'candidate' %}
            Below is your communication with potential employers, to whom you granted full access to your CV
            {% elseif  app.user.menuType == 'employer' %}
            Below is your communication with candidates, who granted you full access to their CV
            {% endif %}
        </h2>
    </div>
</div>

{% if threads | length %}
<div class="row">
	<div class="span12">
	    <div class="mailbox clearfix">
	        <div class="left-column">
			{% include 'WanaworkUserBundle:Message:_thread-list.html.twig' %}
			</div>
			<div class="right-column">
			{% if selectedMailbox %}
			    {% include 'WanaworkUserBundle:Message:mailboxContents.html.twig' with {thread: selectedMailbox} %}
			{% else %}
			    Please select a thread from the left
			{% endif %}
			</div>
		</div>
	</div>
</div>

{% else %}
<div class="empty-wrapper">
    <div class="message-content">
        <h3>Your mailbox is empty</h3>
    </div>
</div>
{% endif %}
{% endblock %}


{% block footer %}
<div></div>
{% endblock %}
 
{% block javascripts %}
{{ parent() }}
{% javascripts filter='?yui_js' 
    'vendor/autosize/jquery.autosize.js'
    'vendor/history.js/scripts/bundled-uncompressed/html4+html5/jquery.history.js'
	'@WanaworkUserBundle/Resources/public/js/mailbox.js'
	%}
	<script src="{{ asset(asset_url) }}"></script>
{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite' 
	'@WanaworkUserBundle/Resources/public/css/mailbox.css' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}