
<div class="messages">
	{% for message in thread.messages %}
	{% include 'WanaworkUserBundle:Message:_message.html.twig' %}
	{% else %}
	<div class="empty-wrapper mailbox-empty-message">
	    <div class="message-content">
	        <h3>This thread is empty</h3>
	    </div>
	</div>
	{% endfor %}
</div>

{% include 'WanaworkUserBundle:Message:_form.html.twig' %}

{# 	{% if is_granted('DELETE', message) %}#}
{# 	<i class="icon icon-remove smallTooltip" data-placement="left" title="Delete the message"></i>#}
{# 	<form class="delete-form" method="POST" action="{{ path('message_delete', {id: message.id}) }}">#}
{# 		{{ form_widget(deleteForms[message.id]) }}#}
{# 	</form> #}
{# 	{% endif %}#}

