{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}
{% block body %}

{% include 'WanaworkUserBundle:Message:_messages.html.twig' %}
{% include 'WanaworkUserBundle:Message:_form.html.twig' %}	
{% endblock %}