{% extends '::base.html.twig' %}

{% block body -%}
{% include "WanaworkUserBundle:Entity:_entity-list.html.twig" with {menu_selection: 'entity_county'} %}

    <h1>County creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('entity_county') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
