.cv-requests .requests-table {
	clear: both;
}

.cv-requests .status-toopltip {
	display: none;
}

.cv-requests .filter-buttons {
	float: right;
	margin-bottom: 10px;
}
.cv-requests .filter-buttons span {
	float: left;
}

.cv-requests .filter-buttons a {
	color: #000;
	margin-left:11px;
	float: left;
}

.cv-requests .filter-buttons a.all {
	color: #202935;	
}

.cv-requests .filter-buttons a.all.active {
	background: #202935;	
}

.cv-requests .filter-buttons a.pending {
	color: #777;	
}

.cv-requests .filter-buttons a.pending.active {
	background: #777;	
}

.cv-requests .filter-buttons a.approved {
	color: #07ad70;	
}

.cv-requests .filter-buttons a.approved.active {
	background: #07ad70;	
}

.cv-requests .filter-buttons a.denied {
	color: #ff2400;	
}

.cv-requests .filter-buttons a.denied.active {
	background: #ff2400;	
}

.cv-requests .filter-buttons a.active {
	color: #fff;
	padding: 0px 5px;
	text-decoration: none;
	cursor: default;
}

.cv-request {
	background: #fff;
	padding: 20px;
	margin-bottom: 10px;
	clear: both;
}

.cv-request .line {
	margin-bottom: 5px;
}

.cv-request .description {
	width: 20%;
	float: left;
	margin-right: 2%;
}

.cv-request .text {
	width: 78%;
	float: left;
}

.cv-request .actions {
	border-top: 1px solid #ccc;
}

.empty-wrapper {
	clear: both;
	font-size: 18px;
}

