#index-wrapper {
	width: 100%;
	background: #202935;
	height: 235px;
	background-image: url("/bundles/wanaworkmain/images/index/video-background.jpg"); 
	background-repeat: repeat-x;
}

#title h1 {
	color: #fff;
	font-weight: bold;
	font-size: 43.38px;
	text-transform: uppercase;
	padding:0;
	display: block;
	padding-top: 50px;
	margin: 0 auto;
	width: 620px;
}

#title h2 {
	color: #fff;
	font-size: 22.38px;
	display: block;
	margin: 0 auto;
	width: 265px;
	padding-top: 5px;
	font-weight: normal;
}

#customer-selection-block {
	color: #fff;
	text-align: center;
	margin-top: 20px;
}

.column {
	width: 42%;
	float: left;
	margin: 30px 0 30px 0;
}

.column1 {
	margin-right:4%;
}

.column2 {
	margin-left: 4%;
}

.column h3 {
	font-size: 20px;
	padding: 0; 
	margin: 0;
	line-height: 22px;
	margin-bottom: 5px;
	width: 320px;
}

.column h4 {
	font-size: 16px;
	line-height: 18px;
	padding: 0; 
	margin: 0;
	width: 320px;
}

#candidate-overview {
	display: none;
}

#candidate-overview, #employer-overview {
	margin-top: 20px;
}

.column .description {
}

.column .description img {
	float: right;
	position: relative;
	top: -30px;
	right: -15px;
}
