#employer-cvs {
	padding: 20px;
}

#employer-cvs #filter-buttons {
	float: right;
	margin-bottom: 20px;
}

#employer-cvs #cv-list .dropdown-menu {
	left: -95px;
}

#employer-cvs #cv-list div.action-button ul li i.icon {
	margin-right: 10px;
}

#employer-cvs #cv-list thead th.headline {
	width: 45%;
}