.profile {
	margin-top: 30px;
}

.profile .typcn {
	font-size: 1.6em;
}

.profile .verification-label {
	float: right;
	font-size: 15px;
}

.profile .top {
	background: #fff;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 28px;
}

.profile .top .column {
	float: left;
}

.profile .top .column1 {
	width: 21%;
}

.profile .top .column2 {
	width: 40%;
}

.profile .top .column3 {
	width: 37%;
}

.profile .company-name {
	color: #202935;
	font: 30px Arial;
	line-height: 30px;
	font-weight: bold;
}

.profile .two-line-pair {
	margin-bottom: 15px;
}

.profile .two-line-pair .heading {
	color: #b1b1b1;
	font-size: 14px;
	font-weight: normal;
}

.profile .two-line-pair .text {
	color: #202935;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
}

.profile .social-network {
	margin-bottom: 10px;
}

.profile .with-icon img {
	float: left;
	margin-right: 10px;
}
.profile .with-icon a,
.profile .with-icon a:ACTIVE,
.profile .with-icon a:LINK,
.profile .with-icon a:VISITED,
.profile .with-icon a:HOVER {
	color: #0365d3;
	font-size: 14px;
	text-decoration: underline;
}

.profile .middle {
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.profile .contact-details {
	float: left;
	width: 33%;
}

.profile .bottom {
	background: #fff;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.profile .bottom .column {
	float: left;
	min-height: 10px;
}

.profile .bottom .column1 {
	width: 60%;
	margin-right: 1%;
}

.profile h3 {
	color: #202935;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	margin: 0 0 5px 0;
}

.profile .edit-link {
	float: right;
	display: block;
	margin-top: 15px;
}