{% extends "::base.html.twig" %}

{% block title %}Product Overview{% endblock %}
{% block meta %}
<meta content="Learn about the services we provides to candidates and employers" name="description">
{% endblock %}

{% block container %}
<div id="index-wrapper">
    <div class="container">
        <div class="row">
            <div class="span12" id="title">
                <h1>Job Hunting &amp; Recruitment</h1>
                <h2>Product Overview</h2>
            </div>
        </div>
        
        <div class="row">
            <div class="span12">
                
                <div id="customer-selection-block">
                    <span>I am:</span>&nbsp;
                    <a href="#employer-overview" class="btn active switch">an Employer</a>&nbsp;
                    <a href="#candidate-overview" class="btn switch">a Candidate</a>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="container" id="main">
    <div id="employer-overview">
	    <div class="row">
	        <div class="span12">
	            <div class="column column1">
	                <h3>Skill Search</h3>
	                <h4>The easiest way to find skills</h4>
	                <div class="description">
	                   <img src="{{ asset('/bundles/wanaworkuser/images/pages/product-overview/i-search.png') }}" />
	                    Our custom-built skill search allows you to select the exact skills you require. 
	                    You can search for candidates based on their profession, location and many other parameters. 
	                    Using our Skill Search, you won't be wasting any time filtering through irrelevant or inaccurate CVs. 
	                </div>
	            </div>
	            
	            <div class="column column2">
	                <h3>SkillSnap</h3>
	                <h4>Real results &ndash; Real person behind every CV</h4>
	                <div class="description">
	                   <img src="{{ asset('/bundles/wanaworkuser/images/pages/product-overview/i-snap-1.png') }}" />
	                    Skill Search provides you with a list of anonymous ads (Skill Snaps). 
	                    All ads are paid for by candidates to ensure their commitment to work. 
	                    Each Ad allows you to make a hiring decision at a glance. 
	                    We rank ads based on suitability of the candidate to your role.
	                </div>
	            </div>
	        </div>
	    </div>
	    
	    <div class="row">
	        <div class="span12">
	            <div class="column column1">
	                <h3>Skill Access</h3>
	                <h4>One click to access full CV</h4>
	                <div class="description">
	                   <img src="{{ asset('/bundles/wanaworkuser/images/pages/product-overview/i-access.png') }}" />
	                    One click CV access allows you to easily request access to full 
	                    CV of candidates whose ads you think suit your role.
	                </div>
	            </div>
	            
	            <div class="column column2">
	                <h3>Onsite Mail</h3>
	                <h4>Communicate with prospective candidates right here</h4>
	                <div class="description">
	                   <img src="{{ asset('/bundles/wanaworkuser/images/pages/product-overview/i-mail.png') }}" />
	                    Once the candidate grants you access to their full CV, you can communicate with them onsite, 
	                    and offsite to request further information and arrange interviews.
	                </div>
	            </div>
	        </div>
	    </div>
	    
	    <div class="row">
	        <div class="span12">
	            <div class="column column1">
	                <h3>CV Shortlists</h3>
	                <h4>Organise your hiring process</h4>
	                <div class="description">
	                   <img src="{{ asset('/bundles/wanaworkuser/images/pages/product-overview/i-cv.png') }}" />
	                    All of the CVs you gain access to, are added to your shortlist. 
	                    You can easily go back and review all of your available CVs before making a hiring decision. 
	                </div>
	            </div>
	            
	            <div class="column column2">
	                <h3>Job Specs</h3>
	                <h4>Communicate your requirements easily</h4>
	                <div class="description">
	                   <img src="{{ asset('/bundles/wanaworkuser/images/pages/product-overview/i-specs.png') }}" />
	                    Each time you request access to candidate's CV, 
	                    you need to provide them with a role overview for which you are hiring. 
	                    We make it easy to communicate your requirements. 
	                    You can create job specs and easily attach them to every CV request.
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
    
    <div id="candidate-overview">
        <div class="row">
	        <div class="span12">
	            <div class="column column1">
	                <h3>Skill Snap</h3>
	                <h4>Advertise your skills while staying anonymous</h4>
	                <div class="description">
	                   <img src="{{ asset('/bundles/wanaworkuser/images/pages/product-overview/i-snap-2.png') }}" />
	                   While job hunting you waste time applying for numerous jobs. 
	                   At Wannawork, we do things differently. 
	                   We allows candidates to advertise their skills with simple and anonymous ads, 
	                   that provide employers with an overview of your skills. 
	                   Post your ad, and just wait for employers to contact you first.
	                </div>
	            </div>
	            
	            <div class="column column2">
	                <h3>Full CV</h3>
	                <h4>Build your standardised CV and control access to it at all times</h4>
	                <div class="description">
	                   <img src="{{ asset('/bundles/wanaworkuser/images/pages/product-overview/i-full-cv.png') }}" />
	                    Your CV is reserved only for employers who you granted access to. 
	                    Using our CV builder, you can develop a standardised CV 
	                    that will communicate your skills in the most effective manner. 
	                    Or as always, you can just upload a PDF
	                </div>
	            </div>
	        </div>
	    </div> 
	    
	    
	    <div class="row">
	        <div class="span12">
	            <div class="column column1">
	                <h3>Full Profile on employers</h3>
	                <h4>Stay on top of employers who are interested in you</h4>
	                <div class="description">
	                   <img src="{{ asset('/bundles/wanaworkuser/images/pages/product-overview/i-profile.png') }}" />
	                   When an employer requests access to your CV, 
	                   we enable you to view their full profile before making a decision to reply. 
	                   That way, you're always in control of the hiring process.
	                </div>
	            </div>
	            
	            <div class="column column2">
	                <h3>Performance Monitor</h3>
	                <h4>Monitor your ads performance with easy</h4>
	                <div class="description">
	                   <img src="{{ asset('/bundles/wanaworkuser/images/pages/product-overview/i-monitor.png') }}" />
	                    Once your ad is live, we will provide you with daily statistics about 
	                    who viewed your ad and how many times. 
	                    You will always have full visibility about your progress.
	                </div>
	            </div>
	        </div>
	    </div> 
	    
	    <div class="row">
	        <div class="span12">
	            <div class="column column1">
	                <h3>OnSite Mail</h3>
	                <h4>Communicate With prospective employers right here</h4>
	                <div class="description">
	                   <img src="{{ asset('/bundles/wanaworkuser/images/pages/product-overview/i-mail-2.png') }}" />
	                    When you grant an employer access to you CV, you can communicate with that employer 
	                    without leaving Wannawork, set up interviews, or request more information
	                </div>
	            </div>
	            
	            <div class="column column2">
	                <h3></h3>
	                <h4></h4>
	                <div class="description">
	                </div>
	            </div>
	        </div>
	    </div> 
	    
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 'bundles/wanaworkuser/css/Pages/product-overview.css' filter='?yui_css' filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
	'bundles/wanaworkuser/js/Pages/product-overview.js' %}
		<script src="{{ asset(asset_url) }}"></script>
	{% endjavascripts %}
{% endblock %}


