{% extends "::base.html.twig" %}

{% block title %}Terms and Conditions{% endblock %}
{% block meta %}
<meta content="Terms and conditions of Wannawork.ie" name="description">
{% endblock %}

{% block body %}
<div class="row">
	<div class="span12 heading">
		<h1>Terms and Conditions</h1>
	</div>
</div>

<div class="row">
	<div class="span10">
		<div id="t-and-c">

			<h3>TERMS OF USE</h3>

			<p>In this section, we will define the terms by which employers,
				candidates/jobseekers and visitors may use our website, at
				www.wannawork.ie. Please ensure that you read our Terms of Use in
				detail. By using our website, you are confirming that you accept and
				intend to abide by our Terms of Use. We reserve the right to amend
				these Terms without prior notice.</p>

			<h3>WANNAWORK INFORMATION</h3>

			<p>Wannawork is a registered business name of Wanaline Technologies
				Limited, registered in Ireland at Main Street, Rooskey, Co.
				Roscommon, with company registration office number 509592.</p>

			<h3>ACCESSING OUR SITE</h3>
			<p>Access to our site is permitted for casual visitors. However,
				certain features may only be accessed by registered users. On
				occasion, we may be required to limit access to certain parts of the
				website, to users who have registered with Wannawork.ie. When
				registered with Wannawork.ie, any ID numbers, Usernames or Passwords
				given to you will be treated as confidential and must not be
				disclosed to any third party. We retain the right to disable any ID
				numbers, Usernames or Passwords, in the event that a registered user
				is deemed to be in non-compliance with the terms of this provision.</p>

			<h3>CHANGES TO OUR SITE</h3>
			<p>We aim to update our site regularly and may change the content at
				any time and without any notice. Any of the material on our site may
				be out of date at any given time, and we are under no obligation to
				update such material. Any change to our site or revision to this
				Terms of Use or our privacy policy will become effective immediately
				upon posting. Unauthorised use of our site including, misuse of
				passwords, or misuse of any information posted on our site is
				strictly prohibited. Not all products and services are available in
				all geographic areas. Your eligibility for particular products and
				services is subject to final determination by Wannawork.ie and/or
				its affiliates.</p>

			<h3>LINKS</h3>
			<p>Our site may contain links to websites controlled or offered by
				third parties (non-affiliates of Wannawork.ie). We are not
				responsible for the content of such third party websites linked to
				our site. By providing any links to third party websites, we do not
				endorse or recommend any products or services offered or information
				contained therein, nor are we are not liable for any failure of
				products or services offered or advertised on those third party
				websites. Such third party may have a privacy policy different from
				the privacy police on our site and the third party website may
				provide less security than our site.</p>

			<h3>NO WARRANTY</h3>
			<p>The information and materials contained on our site, including
				text, graphics, information, links or other items are provided "as
				is", "as available". We do not warrant the accuracy, adequacy or
				completeness of this information and materials. We provide our site,
				to the extent permitted by law, without representation or warranties
				(whether express or implied) of any kind, including but not limited
				to non-infringement of third party rights, fitness for a particular
				purpose, and freedom from computer virus, the accuracy,
				completeness, currency, design, suitability or efficacy of our site.</p>

			<h3>OUR LIABILITY</h3>
			<p>We accept no liability for any loss (whether direct or indirect,
				for loss of business, revenue or profits, wasted expenditure,
				corruption or destruction of data or for any other indirect or
				consequential loss whatsoever) arising from your use of the site and
				we hereby exclude any such liability, whether in contract, tort
				(including for negligence) or otherwise. We hereby exclude all
				representations, warranties and conditions relating to this website
				and your use of it to the maximum extent permitted by law. You agree
				to indemnify us and keep us indemnified against all costs, expenses,
				claims, losses, liabilities or proceedings arising from use or
				misuse by you of this site. You must notify us immediately if anyone
				makes or threatens to make any claim against you relating to your
				use of this site.</p>

			<h3>CANCELLATION & REFUNDS</h3>

			<p>It is the responsibility of the user to ensure the continuity of
				any subscription that they have taken up with Wannawork.ie. Where
				applicable, timely notification is given to the user, at which time
				they can choose to continue or cancel their subscriptions. Refunds
				will only be given in exceptional circumstances, and will be
				assessed on a case by case basis by the management of Wannawork.ie.
				Refunds will only be given where it is seen fit to do so by
				management, for the purpose of customer satisfaction, and there is
				no guarantee that a refund will be granted. It is at the discretion
				of Wannawork.ie's management team as to whether or not a refund will
				be given.</p>

			<h3>RENEWAL OF SUBSCRIPTIONS</h3>
			<p>Where applicable, it is the responsibility of the user to monitor
				the status of and renew any subscriptions to services provided
				through the Wannawork.ie website. Advance written notification of
				subscription expiry (in the form of an email) might not be provided
				by Wannawork.ie. However, we will strive to ensure it is given as we
				fell appropriate.</p>

			<h3>SUBMISSIONS</h3>

			<p>All information submitted to our site shall be deemed and remain
				our property. We are the owner or the licensee of all intellectual
				property rights in our site and in the material published on it.
				Those works are protected by copyright laws and treaties around the
				world. All such rights are reserved.</p>

			<p>Any material you upload to our site will be considered
				confidential and we have the right to use your details by members of
				staff of Wannawork.ie and/or our affiliates for the purpose of
				matching your profile with potential job opportunities. Any contact
				details you provide to us through Wannawork.ie will not be sold,
				rented or leased to any third party for the purpose of selling or
				marketing to you. We will not be responsible, for the content or
				accuracy of any materials posted by you to our site. We have the
				right to remove any material or posting you make on our site, if, in
				our opinion, such material does not comply with our content
				standards. Nothing contained herein shall be construed as limiting
				or reducing our responsibilities and obligations in respect of our
				Privacy Policy.</p>

			<p>Whenever you make use of a feature that allows you to upload
				material to our site, you must comply with our content standards.
				You warrant that any such contribution does comply with those
				standards, and you indemnify us for any breach of that warranty.</p>

			<h3>CONFIDENTIALITY OF POSTING YOUR CV/PROFILE/ADVERTISEMENT(WINDOW)
				ONLINE</h3>
			<p>If you have elected to post your CV/PROFILE/ADVERTISEMENT(WINDOW)
				through any of our packages an employer who has registered with
				Wannawork.ie will only ever view the details of your
				Advertisement/Window that is of relevant to them(i.e has been
				returned in their critiqued search), this would include all
				information which you included in the advertisement/window,
				inclusive of both its "pitch and headline". Personal details
				including name, address, email and contact numbers will only become
				visible online should you grant an employer access to view your CV,
				it is your responsibility and your responsibility only, to ensure
				that you only grant access to employers you feel are bone-fide and
				who are legitimately who they claim to be, Wannawork accepts no
				responsibility for any loss or damage or inconvenience or corruption
				of any description to you or your property as a result of you
				choosing to share your personal details with anyone whom you grant
				access to your CV to. Any information which you publish on the site,
				text, graphical, or audio-visual is wholly your responsibility, and
				you agree that by publishing such materials that you are aware of
				the risks of such and are accepting that Wannawork has no liability
				whatsoever for any repercussions of publishing such materials. A
				perspective employer who may want to view more details from your CV
				will have to request access directly from you for this information.
				Your CV will also be used by members of staff only from Wannawork
				and/or our affiliates for the purpose of matching your profile with
				potential job opportunities, through our electronic matching system.
				Any contact details you provide to us through Wannawork will not be
				sold, rented or leased to any third party for the purpose of selling
				or marketing to you.</p>

			<h3>AVAILABILITY</h3>

			<p>Our site is not intended for distribution to, or use by, any
				person or entity in any jurisdiction or country where such
				distribution or use would be contrary to local law or regulation.</p>

			<h3>INFORMATION ABOUT YOU AND YOUR VISITS TO OUR SITE</h3>

			<p>We process information about you in accordance with our privacy
				policy. By using our site, you consent to such processing and you
				warrant that all data provided by you is accurate.</p>

			<h3>LIMITATIONS ON USE</h3>

			<p>Only one individual may access Wannawork.ie at the same time using
				the same email or password, unless we agree otherwise. You may print
				off one copy, and may download extras, of any page from our site for
				your personal reference and use, and you may draw the attention of
				others to material posted on our site. You must not modify the paper
				or digital copies of any materials you have printed off or
				downloaded in any way, and you must not use any illustrations,
				photographs, or any graphics separately from any accompanying text.
				You must not misuse our site by knowingly introducing viruses,
				Trojans, worms, logic bombs or other material which is malicious or
				technologically harmful. You must not attempt to gain unauthorised
				access to our site, the service on which our site is stored or any
				server, computer or database connects to our site. You must not
				attack our site in a denial-of-service attack. We will report any
				such breach to the relevant law enforcement authorities, and we will
				cooperate with those authorities by disclosing your identity to
				them. In the event of such a breach, your right to use our site will
				cease immediately. We will not be liable for any loss or damage
				caused by a distributed denial-of-service attack, viruses or other
				technologically harmful material that may infect your computer
				equipment, computer programs, data or other proprietary material due
				to your use of our site or to your downloading of any material
				posted on it, or on any website linked to it.</p>

			<h3>VALID EMAIL ADDRESS</h3>

			<p>You must supply and maintain a valid email address in order to use
				our service. Invalid email addresses will be deleted from our system
				and denied access.</p>

			<h3>USAGE POLICY</h3>

			<p>This page (and any document referenced herein) outlines the manner
				in which users are permitted to make use of Wannawork.ie (our
				website), whether as a guest or a registered user. Prior to using
				our website, we would ask that you read this Usage Policy carefully.
				By using our site, you are giving a clear indication that you
				understand and accept our Usage Policy and that you agree to abide
				by it.</p>

			<h3>PROHIBITED USES</h3>

			<p>Our site may be used only in a lawful manner, for use of the
				services outlined therein. Use of our website for any of the
				following activities is strictly forbidden:
			
			
			<ul>
				<li>Any action that breaches any applicable local, national or
					international law or regulation.</li>
				<li>Any action that is unlawful or fraudulent, or has any unlawful
					or fraudulent purpose or effect.</li>
				<li>Any action pursuant of harming or attempting to harm minors in
					any way.</li>

				<li>For the purpose of transmission, receipt, use or reuse of any
					material which does not comply with our content standards.</li>

				<li>To transmit or procure the sending of any unsolicited or
					unauthorised advertising or promotional material, or any other form
					of similar solicitation (junk mail/spam).</li>

				<li>To knowingly transmit any data, send or upload any material
					containing computer viruses, malware, spyware, adware or any other
					harmful programs or similar computer code designed to adversely
					affect the operation of any computer software or hardware.</li>

				<li>Reproduction, duplication, copying or resale of any part of our
					site, in contravention of the provisions of our Terms of Use.</li>

				<li>Unauthorised access, interference with or damage/disruption to
					any part of our website, any equipment or network on which our site
					is stored, any software used in the provision of our site, any
					equipment or network or software owned or used by any third party.</li>
			</ul>
			</p>

			<h3>ACCEPTABLE STANDARDS OF USER CONDUCT AND CONTRIBUTION</h3>

			<p>These content standards apply to any and all material which you
				contribute to our site. You must comply with the spirit of the
				following standards as well as the letter. The standards apply to
				each part of any contribution as well as to its whole. Contributions
				must be factually accurate and in compliance with any applicable
				local, national or international laws. In addition, the user will
				comply with the following requirements: The user will not make any
				posting or contribution containing material considered defamatory of
				any activities, persons or institutions.
			
			
			<ul>
				<li>The user will not make any posting or contribution contain
					material which is considered obscene, offensive, hateful or
					inflammatory. They will not promote sexually explicit material.
					They will not promote violence.</li>
				<li>Contributions will not promote discrimination based on race,
					sex, religion, nationality, disability, sexual orientation or age.</li>

				<li>By posting or contributing information to our website, the user
					will not infringe any copyright, database right or trademark of any
					other person.</li>
				<li>You will neither promote nor participate in any deceptive
					actions, while using our website. This will include the
					impersonation of any other individuals, misrepresentation of the
					user's own identity, or affiliation to other individuals or
					organisations.</li>
				<li>Information posted or contributed by users of our website must
					not be made in breach of any contractual or confidential
					obligations owed to a third party.</li>
				<li>You will neither promote nor participate in any illegal or
					unlawful activity, while using our website.</li>
				<li>You will not indulge in any action that can be considered as
					threatening or abusive toward another individual, while using our
					website.</li>
				<li>You will not indulge in any activity that can be considered an
					annoyance, inconvenience or the cause of needless anxiety or an
					invasion of privacy toward another individual, while using our
					website.</li>
			</ul>
			</p>

			<h3>SUSPENSION AND TERMINATION OF ACCOUNT/USAGE RIGHTS</h3>

			<p>In the event that we feel that any party has been responsible for
				a breach of our Terms of Use, we will take such action as we feel is
				appropriate. Failure to comply with our usage policies will be seen
				as a breach of the Terms of Use of this site and may result in any
				of the following actions be taken against the user: Immediate
				temporary or permanent withdrawal of the user's account access and
				right to use our site.
			
			
			<ul>


				<li>Immediate temporary or permanent removal of any posting or
					material uploaded by the user to our site.</li>

				<li>Issue of warning against the user.</li>
				<li>Legal proceedings against the user, for reimbursement of all
					costs on an indemnity basis (including, but not limited to,
					reasonable administrative and legal costs) resulting from the
					breach.</li>
				<li>Further legal action against the user, if required.</li>
				<li>Disclosure of such information to law enforcement authorities as
					deemed necessary.</li>
			</ul>

			</p>
			<h3>CHANGES TO THE ACCEPTABLE USE POLICY</h3>
			<p>The Usage Policy is subject to revision at any time, through
				amendments on this page. Due to the legally binding nature of our
				usage policy, it is the responsibility of site users to check this
				page periodically, in order to view and familiarize themselves with
				any changes that are made.</p>

		</div>

	</div>
</div>

<style>
#t-and-c {
	background: #fff;
	padding: 25px;
}

#t-and-c h3 {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 3px;
	margin-top: 10px;
}

#t-and-c ul {
	list-style: disc;
}

#t-and-c ul li {
	margin-left: 30px;
}
</style>
{% endblock %}
