{% extends "::base.html.twig" %}

{% block body %}
<br />
<input type="submit" class="btn" />
<input type="submit" class="btn" disabled="disabled" />
<a href="#" class="btn">Submit</a>
<a href="#" class="btn btn-small">Submit</a>
<a href="#" class="btn btn-large">Submit</a>
<a href="#" class="btn btn-mini">Submit</a>
<br />
<br />

<input type="submit" class="btn btn-main" />
<input type="submit" class="btn btn-main" disabled="disabled" />
<a href="#" class="btn btn-main">Submit</a>
<br />
<br />

<input type="submit" class="btn btn-info" />
<input type="submit" class="btn btn-info" disabled="disabled" />
<a href="#" class="btn btn-info">Submit</a>

<br />
<br />

<input type="submit" class="btn btn-success" />
<input type="submit" class="btn btn-success" disabled="disabled" />
<a href="#" class="btn btn-success">Submit</a>
<br />
<br />

<input type="submit" class="btn btn-warning" />
<input type="submit" class="btn btn-warning" disabled="disabled" />
<a href="#" class="btn btn-warning">Submit</a>

<br />
<br />

<input type="submit" class="btn btn-danger" />
<input type="submit" class="btn btn-danger" disabled="disabled" />
<a href="#" class="btn btn-danger">Submit</a>
<br />
<br />

<input type="submit" class="btn btn-inverse" />
<input type="submit" class="btn btn-inverse" disabled="disabled" />
<a href="#" class="btn btn-inverse">Submit</a>

<br />
<br />

<input type="submit" class="btn btn-main" />
<input type="submit" class="btn btn-main" disabled="disabled" />
<a href="#" class="btn btn-main">Submit</a>

<br />
<br />

<input type="submit" class="btn btn-secondary" />
<input type="submit" class="btn btn-secondary" disabled="disabled" />
<a href="#" class="btn btn-secondary">Submit</a>

<br />
<br />

<input type="submit" class="btn btn-light" />
<input type="submit" class="btn btn-light" disabled="disabled" />
<a href="#" class="btn btn-light">Submit</a>
<a href="#" class="btn btn-light btn-small">Submit</a>
<a href="#" class="btn btn-light btn-large">Submit</a>
<a href="#" class="btn btn-light btn-mini">Submit</a>
<br />
<br />

<input type="submit" class="btn btn-link" />
<input type="submit" class="btn btn-link" disabled="disabled" />
{% endblock %}