{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Daily Details{% endblock %}
{% block body %}


<div class="row">
    <div class="span12">
    
 Reporting Period:
        <form method="GET" action="{{ path('daily_details') }}">
	        <ul class="report-settings">
	            <li>
	                <span>Start Date:</span>
	                <input value="{{ start_date }}" type="datetime" id="start-date" name="start-date" class="input-small" />
	            </li>
	            <li>
	                <span>End Date:</span>
	                <input value="{{ end_date }}" type="datetime" id="finish-date" name="finish-date" />
	            </li>
	            <li>
	                <input class="btn" type="submit" value='Filter'>
	            </li>
	        </ul>
	    </form>
	    
        <table class="default-table stat-table">
            <thead>
                <tr>
                    <th>Detail</th>
                    <th>Total</th>
                    <th>Males</th>
                    <th>Females</th>
                    <th>Doctors</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Number Of Signed Up People</td>
                    <td>{{ NumberOfUsersData }}</td>
                    <td>{{ NumberOfUsersByGenderData.numberOfMales }}</td>
                    <td>{{ NumberOfUsersByGenderData.numberOfFemales }}</td>
                    <td>{{ NumberOfUsersByGenderData.numberOfDoctors }}</td>
                </tr>
                <tr>
                    <td>Number Of Posted Ads</td>
                    <td>{{ NumberOfAdsData.totalAds }}</td>
                    <td>{{ NumberOfAdsData.adsByMales }}</td>
                    <td>{{ NumberOfAdsData.adsByFemales }}</td>
                    <td>{{ NumberOfAdsData.adsByDoctors }}</td>
                </tr>
                <tr>
                    <td>Number Of Payments Made</td>
                    <td>{{ NumberOfPaymentsData }}</td>
                    <td>{{ NumberOfPaymentsByGenderData.paymentsByMales }}</td>
                    <td>{{ NumberOfPaymentsByGenderData.paymentsByFemales }}</td>
                    <td>{{ NumberOfPaymentsByGenderData.paymentsByDoctors }}</td>
                </tr>
                <tr>
                    <td>Money Received For Ads</td>
                    <td>&euro;{{ NumberOfPaymentAmountData.totalPaymentsMade/100|round(2) }}</td>
                    <td>&euro;{{ NumberOfPaymentAmountData.paymentsByMales/100|round(2) }}</td>
                    <td>&euro;{{ NumberOfPaymentAmountData.paymentsByFemales/100|round(2) }}</td>
                    <td>&euro;{{ NumberOfPaymentAmountData.paymentsByDoctors/100|round(2) }}</td>
                </tr>
                <tr>
                    <td>Searches</td>
                    <td>{{ NumberOfSearchesData.totalSearches }}</td>
                    <td>{{ NumberOfSearchesData.searchesByMales }}</td>
                    <td>{{ NumberOfSearchesData.searchesByFemales }}</td>
                    <td>{{ NumberOfSearchesData.searchesByDoctors }}</td>
                </tr>
                <tr>
                    <td>CV Requests</td>
                    <td>{{ NumberOfCVRequestsData.totalCvs }}</td>
                    <td>{{ NumberOfCVRequestsData.cvsByMales }}</td>
                    <td>{{ NumberOfCVRequestsData.cvsByFemales }}</td>
                    <td>{{ NumberOfCVRequestsData.cvsByDoctors }}</td>
                </tr>
                <tr>
                    <td>Messages</td>
                    <td>{{ NumberOfMessagesData.totalMessages }}</td>
                    <td>{{ NumberOfMessagesData.messagesByMales }}</td>
                    <td>{{ NumberOfMessagesData.messagesByFemales }}</td>
                    <td>{{ NumberOfMessagesData.messagesByDoctors }}</td>
                </tr>
                <tr>
                    <td>Standard Orders</td>
                    <td>{{ NumberOfStandardOrdersData.totalStandardOrders }}</td>
                    <td>{{ NumberOfStandardOrdersData.standardOrdersByMales }}</td>
                    <td>{{ NumberOfStandardOrdersData.standardOrdersByFemales }}</td>
                    <td>{{ NumberOfStandardOrdersData.standardOrdersByDoctors }}</td>
                </tr>
                <tr>
                    <td>Premium Orders</td>
                    <td>{{ NumberOfPremiumOrdersData.totalPremiumOrders }}</td>
                    <td>{{ NumberOfPremiumOrdersData.premiumOrdersByMales }}</td>
                    <td>{{ NumberOfPremiumOrdersData.premiumOrdersByFemales }}</td>
                    <td>{{ NumberOfPremiumOrdersData.premiumOrdersByDoctors }}</td>
                </tr>
                <tr>
                    <td>Payments By PayPal</td>
                    <td>{{ NumberOfPayPalPaymentsData }}</td>
                    <td>{{ NumberOfPayPalPaymentsByGenderData.paymentsByMales }}</td>
                    <td>{{ NumberOfPayPalPaymentsByGenderData.paymentsByFemales }}</td>
                    <td>{{ NumberOfPayPalPaymentsByGenderData.paymentsByDoctors }}</td>
                </tr>
                <tr>
                    <td>Payments By Voucher</td>
                    <td>{{ NumberOfVoucherPaymentsData }}</td>
                    <td>{{ NumberOfVoucherPaymentsByGenderData.paymentsByMales }}</td>
                    <td>{{ NumberOfVoucherPaymentsByGenderData.paymentsByFemales }}</td>
                    <td>{{ NumberOfVoucherPaymentsByGenderData.paymentsByDoctors }}</td>
                </tr>
                <tr>
                    <td>Payments By Twitter</td>
                    <td>{{ NumberOfTwitterPaymentsData }}</td>
                    <td>{{ NumberOfTwitterPaymentsByGenderData.paymentsByMales }}</td>
                    <td>{{ NumberOfTwitterPaymentsByGenderData.paymentsByFemales }}</td>
                    <td>{{ NumberOfTwitterPaymentsByGenderData.paymentsByDoctors }}</td>
                </tr>
            </tbody>
        </table>
	    
    </div>
</div>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 
	filter='?yui_css' filter='cssrewrite' 
	'vendor/datetimepicker/jquery.datetimepicker.css'
	'static/css/admin-common.css'
	%}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
	'vendor/datetimepicker/jquery.datetimepicker.js'
	'@WanaworkUserBundle/Resources/public/js/admin/overview.js'
	%}
		<script src="{{ asset(asset_url) }}"></script>	
	{% endjavascripts %}
{% endblock %}
