.tweet {
	margin-bottom: 20px;
	border: 2px solid #ccc;
}

.tweet .text .avatar {
	float: left;	
	margin-right: 10px;
}

.tweet .text .user {
	float: left;
	clear:both;
}

.tweet .text .date {
	position: absolute;
	bottom: 1px;
	right: 5px;
}

.tweet .text {
	background: #fff;
	padding: 20px;
	margin-bottom: 10px;
	position: relative;
}

.tweet .btn-respond {
	float: right;
	margin: 10px 5px 5px 10px;
}