#request-password-form {
	border: 3px solid #07AD70;
	background: #fff;
	padding: 25px 35px;
	width: 230px;
	margin: 0 auto;
}

#help-message {
	width: 500px;
	margin: 0 auto;
	color: #474747;
	text-align: center;
	margin-bottom: 20px;
}

#wanawork_userbundle_restore_password_email {
	width: 204px;
	margin: 0;
}

#error-message {
	width: 300px;
	margin: 0 auto;
	display: block;
	margin-bottom: 5px;
}

#success-message {
	width: 300px;
	margin: 0 auto;
	display: block;
	margin-bottom: 5px;
}
