#restore-password-form {
	border: 3px solid #07AD70;
	background: #fff;
	padding: 32px 35px;
	width: 230px;
	height: 200px;
	margin: 0 auto;
}

#wanawork_userbundle_containers_passwordcontainer_password_password,
#wanawork_userbundle_containers_passwordcontainer_password_confirm {
	width: 200px;
}