.user-overview {
	background: #fff;
}

.user-overview .typcn {
	font-size: 1.6em;
}

.user-overview h2 {
	font-size: 18px;
	line-height: 20px;
	margin: 0;
	padding: 0;
}

.user-overview h3 {
	font-size: 16px;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

.user-overview .subtitle-description {
	font-style: italic;
}

.user-overview .account {
	padding: 20px;
}

.user-overview .profiles {
	padding: 20px;
}

.user-overview .divider {
	background: #eee;
    color: #eee;
    height: 2px;
}

.user-overview .profile-candidate {
	margin-bottom: 20px;
}

.user-overview .profiles .typcn-tick {
	color: green;
}
.user-overview .profiles .typcn-delete {
	color: red;
}
