#registrationsGraph {
	height: 300px;
}


#month-filter label, #year-filter label {
	font-size: 12px;
	display: inline;
}

#month-filter select, #year-filter select {
	width: 150px;
	display: inline;
	font-size: 12px;
	height: 20px;
}

#year-filter {
	margin-left: 10px;
}

#total-stats {
	font-size: 20px;
	margin-bottom: 10px;
}