{% extends '::base.html.twig' %}

{% block body -%}
{% include "WanaworkUserBundle:Entity:_entity-list.html.twig" with {menu_selection: 'admin_country'} %}
    <h1>Country list</h1>

    <ul>
        <li>
            <a href="{{ path('admin_country_new') }}">
                Create a new entry
            </a>
        </li>
        <li>
            <a href="{{ path('admin_country_export') }}">Export</a>
        </li>
    </ul>
    <table class="default-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_country_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.code }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_country_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_country_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_country_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
