{% extends '::base.html.twig' %}

{% block body -%}
{% include "WanaworkUserBundle:Entity:_entity-list.html.twig" with {menu_selection: 'admin_country'} %}
    <h1>Country</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ entity.code }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_country') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_country_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
