#education-sectors-modal {
/*
	width:80%;
	margin-left:-40%;
*/
}

.sectors-list {
	float: left;
}

.sectors-list li {
	padding: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	position: relative;
}

.sectors-list li:hover {
	background: #EBEBEB;	
}

.sectors-list li.active {
	color: red;
}
	
.course-list {
	float: left;
	display: none;
}

.course-list li {
	padding: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	position: relative;
}

.course-list li.active {
	color: red;
}

#esh-first-link {
	display: none;
}

#esh-course {
	display: none;
}

#esh-divider {
	display: none;
}