#ad_stats{
	padding:30px;
}

#ad_stats h3 {
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 0;
}

div.views-graph {
	width: 100%; 
	height: 300px;
}

#path{
	background: #f3f3f3;
	padding: 15px;
	margin-bottom: 25px; 
	color:#777777;
	border-bottom: 1px solid #e6e6e6;
}