@CHARSET "UTF-8";

form.inline-education-form input[type=text]  {
	width: 190px;
}

form.inline-education-form select {
	width: 50px;
}

form.inline-education-form div.fieldText select:first-child {
	display: none;
}

form.inline-education-form input.date,
form.inline-education-form input.date
{
	width: 75px;
}

form.inline-education-form input.course{
	width: 145px;
}

form.inline-education-form input.award {
	width: 55px;
}

form.inline-education-form div.fieldPeriod {
	width: 190px;
}

form.inline-education-form div.fieldPosit {
	width: 250px;
}

form.inline-education-form input.butSave,
form.inline-education-form input.butCancel {
	float:right;
	margin: -5px 5px 5px 0;
}


form.inline-education-form-edit {
	display:none;
}


/* #job-form input[type=text] {
	width: 250px;
}

#job-form select {
	width: 70px;
} */


#inline-education-form-new {
	margin: 0;
}


div.no_entries_cv {
	border: 1px dashed #666;
	color: #333;
	text-align: center;
	font-size: 15px;
	padding: 10px 0;
}

#path{
	background: #f3f3f3;
	padding: 15px;
	margin-bottom: 25px; 
	color:#777777;
	border-bottom: 1px solid #e6e6e6;
}