textarea {
	height: 70px;
}

#cv_form {
	
}

#cv_form div.field {
	background: inherit;
}

#education-section {
	
}

#jobs-section {
	
}

#cv_form hr {
	
}

#cv_form .addable-section {
	
}

#name-covernote-section div.subform_holder,#achievements-section div.subform_holder
	{
	background: #f2f2f2;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px 30px;
}

#references-section div.form_row,#jobs-section div.form_row,#education-section div.form_row
	{
	background: #f2f2f2;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 7px 0;
	margin-bottom: 10px;
}

#name-covernote-section .subform_holder,#achievements-section .subform_holder
	{
	padding: 10px 30px;
}

#references-section .references {
	margin-bottom: 10px;
}

.error .help-inline {
	font-size: 12px;
	font-style: italic;
	margin-top: 3px;
}

#cv_form div.subform_holder div.form_row div.form-expanded {
	margin-bottom: 8px;
	padding: 7px 0 5px 20px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.education-save-button,.work-exprience-save-button,.reference-save-button
	{
	margin-right: 20px;
}

#cv_form div.subform_holder div:last-child {
	border-bottom: none;
}

#cv_form div.subform_holder div.control-group {
	float: left;
	margin-right: 5px;
}

#cv_form div.subform_holder div.description {
	float: none;
	clear: both;
}

#cv_form div.subform_holder label {
	float: left;
	text-align: left;
}

#cv_form div.subform_holder div.controls {
	margin-left: 0px;
	float: left;
	clear: left;
}

#cv_form label.multi-form-label {
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	/*margin-left: 35px;*/
	white-space: nowrap;
	margin-bottom: -10px;
	text-transform: uppercase;
	width: 100%;
	display: block;
	text-align: center;
}

/*
#cv_form #label_wanawork_userbundle_cvtype_name {
	width:95px;
	font-size: 15px; 
	font-weight: bold;	
	white-space: nowrap;
	text-transform:uppercase;
}
*/
#label_wanawork_userbundle_cvtype_name {
	margin-right: 20px;
}

#cv_form div.form_row {
	position: relative;
}

#cv_form a.delete {
	position: absolute;
	right: 10px;
	top: 10px;
}

#cv_form div.fieldEdit a.delete {
	position: static;
}

#cv_form .add-row {
	float: right;
	margin-right: 5px;
}

#cv_form .next-section {
	float: right;
	margin-bottom: 30px;
}

#cvForm .form-horizontal .controls {
	margin-left: 0px;
}

/*
#wanawork_userbundle_cvtype_coverNote{
margin-top: 15px;
}
*/
#education-sectors-modal { /*
	width:80%;
	margin-left:-40%;
*/
	width: 80%;
	margin-left: -40%;
}

.sectors-list {
	float: left;
}

.sectors-list li {
	padding: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	position: relative;
}

.course-list li.active {
	color: red;
}

#esh-first-link {
	display: none;
}

#esh-course {
	display: none;
}

#esh-divider {
	display: none;
}

.sectors-list li:hover {
	background: #EBEBEB;
}

.sectors-list li.active {
	color: red;
}

.course-list {
	float: left;
	display: none;
}

.course-list li {
	padding: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	position: relative;
}

.course-list li.active {
	color: red;
}

#esh-first-link {
	display: none;
}

#esh-course {
	display: none;
}

#esh-divider {
	display: none;
}

#cv_form .selected-sectors span {
	font-weight: bold;
}

#cv_form .selected-sectors div.chzn-container {
	display: block;
}

#cv_form .selected-sectors ul.chzn-choices {
	border: 0 none;
	background: transparent;
}

#cv_form a.accordion-toggle i {
	float: right;
	display: none;
}

#cv_form a.accordion-toggle.ok {
	background-color: #fefefe;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe),
		to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #fefefe, #f2f2f2);
	background-image: -moz-linear-gradient(top, #fefefe, #f2f2f2);
	background-image: -o-linear-gradient(top, #fefefe, #f2f2f2);
	background-image: linear-gradient(to bottom, #fefefe, #f2f2f2);
	border: solid 1px #079d05;
	color: #079d05;
	border-radius: 4px;
}

#cv_form a.accordion-toggle.ok i.ok {
	display: block;
}

.accordion-group {
	margin-bottom: 10px;
}

#cv_form a.accordion-toggle.error {
	background-color: #fefefe;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe),
		to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #fefefe, #f2f2f2);
	background-image: -moz-linear-gradient(top, #fefefe, #f2f2f2);
	background-image: -o-linear-gradient(top, #fefefe, #f2f2f2);
	background-image: linear-gradient(to bottom, #fefefe, #f2f2f2);
	border: solid 1px #DB3044;
	color: #DB3044;
	border-radius: 4px;
}

#cv_form a.accordion-toggle.error i.error {
	display: block;
}

.form-horizontal .control-group {
	margin-bottom: 7px;
}

.accordion-heading {
	background-color: #fefefe;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe),
		to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #fefefe, #f2f2f2);
	background-image: -moz-linear-gradient(top, #fefefe, #f2f2f2);
	background-image: -o-linear-gradient(top, #fefefe, #f2f2f2);
	background-image: linear-gradient(to bottom, #fefefe, #f2f2f2);
}

.accordion-group .cvIcon {
	padding-right: 10px;
}

.accordion-group .accordion-inner {
	padding: 30px 75px 0px 75px;
}

#cv-accordion a.accordion-toggle {
	text-align: left;
	text-decoration: none;
	font-size: 1.3em;
	font-weight: Bold;
	color: #000;
}