@CHARSET "UTF-8";

#education_form {
}

#wanawork_userbundle_educationtype_start,
#wanawork_userbundle_educationtype_finish {
	display: inline-block;
}
/*
#education_form select {
	width: 70px; 
}*/

#wanawork_userbundle_educationtype_start_day,
#wanawork_userbundle_educationtype_finish_day {
	display:none;
}
