@CHARSET "UTF-8";


#wanawork_userbundle_workexperiencetype_start, #wanawork_userbundle_workexperiencetype_finish {
	display:inline;
}

#wanawork_userbundle_workexperiencetype_start_day, 
#wanawork_userbundle_workexperiencetype_finish_day {
	display:none;
}

#job-form div.time_ranges {
	white-space: nowrap;
}

#job-form div.time_ranges_wrapper {
	display:inline-block;
}

#job-form div.time_ranges select {
	width: 60px;
}

#to_date_present {
	display:none;
}

div.time_ranges_wrapper label {
	font-weight: normal;
	position: relative;
	top: 2px;
}
div.time_ranges_wrapper label:after {
	content: '';
}