#main {
	padding-bottom: 0 !important;
}

.mailbox {
	width: 99%;
	border: 3px #dedede solid;
	border-radius: 4px;
	-moz-border-raduis: 4px;
	-webkit-border-raduis: 4px;
}

.mailbox .left-column {
	float: left;
}

.mailbox .threads {
	width: 315px;
	background: #fff;
	margin: 0;
	overflow-y: scroll;
}

.threads .thread {
	padding: 8px 9px;
	border-bottom: 2px solid #e5e5e5;
	background: #f7f7f7;
	cursor: pointer;
}

.threads .thread:FIRST-CHILD {
	border-top: 2px solid #e5e5e5;
}

/* .threads .thread:FIRST-CHILD {
	border-top-left-radius: 3px;
	-moz-border-top-rleftight-radius: 3px;
	-webkit-border-top-left-radius: 3px;
} */

.thread .respondent {
	font-size: 14px;
	font-weight: bold;
	color: #202935;
	margin-left: 20px;
	float: left;
}

.thread .respondent .verification-icon {
	position: relative;
	top: -2px;
}

.thread .new-message-count-badge {
	width: 20px;
	float: left;
	position: relative;
	top: -3px;
	left: -3px;
}

.thread .last-message-text {
	font-size: 12px; 
	line-height: 14px;
	color: #374558;
	max-height: 30px;
	overflow: hidden;
}

.thread .last-message-time {
	color: #7e7e7e;
	font-size: 12px;
	line-height: 12px;
	float: right;
}

.threads .thread.selected {
	background: #202935;
	color: #fff;
}

.thread.selected .last-message-time {
	color: #fff;
}

.thread.selected .respondent {
	color: #fff;
}

.thread.selected .last-message-text {
	color: #fff;
}

.mailbox .right-column {
    width: 613px;	
    float: left;
    background: #bcbec2;
    position: relative;
    height: 100%;
    border: 1px solid #e5e5e5;
}

.messages .message {
	margin-left: 9px;
	margin-right: 20px;
	margin-top: 8px;
	
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.26); 
}

.message .headline {
	background: #f7f7f7;
	border-bottom: 2px solid #e5e5e5;
	padding: 9px 8px;
}

.message .avatar {
	width: 15px;
	height: 15px;
}
.message .author {
	float: left;
}

.message .author .employer-author-name {
	font-size: 13px;
	line-height: 13px;
	font-style: italic;
}

.message .author .employer-author-name:BEFORE {
	content: '(';
}

.message .author .employer-author-name:AFTER {
	content: ')';
}

.message .author a, 
.message .author a:LINK,
.message .author a:ACTIVE,
.message .author a:VISITED,
.message .author a:HOVER
 {
	font-size: 13px;
	line-height: 13px;
	font-weight: bold;
	color: #0e69d2;
	text-decoration: underline;
}

.message .post-date {
	float: right;
	color: #7d7d7d;
	font-size: 12px;
	line-height: 12px;
	white-space: nowrap;
}

.message .body {
	background: #fff;
	padding: 12px 15px;
}

.messages {
	overflow-y: scroll;
}

.new-message-form {
	background: #fff;
	box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.75); 
	padding: 8px;
	position: absolute;
	bottom: 1px;
	height: 98px;
}

.new-message-form form {
	margin-bottom: 0;
}

.new-message-form textarea {
	width: 575px;
	border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	max-height: 300px;
}

.new-message-form .submit {
	text-align: right;
}

.left-column .search {
    background: #fff;	
    padding: 8px;
}

.left-column .search input {
	width: 269px;
	margin-bottom: 0px;
}