.regIcon {
	margin: 0 10px 0 0;
}

.regText {
	overflow: hidden;
}

.regP {
	margin: 15px 0;
}

.regP h5 {
	margin: 0;
}

#signup {
	margin-top: 10px;
	text-align: center;
}

table.Candidate {
	border: 3px #07AD70 solid;
}

table.Candidate thead {
	background-color: #07AD70;
}

table.Employer {
	border: 3px #304362 solid;
}

table.Employer thead {
	background-color: #304362;
}

table.signupTable {
	border-collapse: collapse;
	border-spacing: 0;
	margin:50px auto 0px;
	height: 500px;
	width: 100%;
}

table.signupTable .form-horizontal input + .help-block {
	margin-top: 2px;
	margin-right: 25px;
	float: right;
}

table.signupTable .form-horizontal .controls {
	margin-left: 5px;
}

table.signupTable .form-horizontal .control-label {
	width: 120px;
}

table.signupTable input {
	width: 240px;	
}

table.signupTable thead {
	color: #fff;
}

table.signupTable tbody {
	color: #535353;
}

table.signupTable tbody tr.dark {
	background-color: #f6f6f6;
}

table.signupTable tbody tr.white {
	background-color: #fff;
}

table.signupTable thead th {
	padding-top: 22px;
	padding-bottom: 27px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table.signupTable tbody td {
	padding: 14px 22px;
	text-align: left;
}

table.signupTable thead div.signupName {
	font-size: 25px;
	text-transform: uppercase;
}

table.signupTable thead span.separator,table.signupTable thead span.duration
	{
	font-weight: normal;
}

