{% extends '::base.html.twig' %}

{% block body -%}
{% include 'WanaworkUserBundle:SystemEmail:_email-admin.html.twig' with {menu_selection: 'admin_blockedemail'} %}
<div class="row">
    <div class="span12">
    
	    {{ form(edit_form) }}
	
	    <ul class="record_actions">
		    <li>
		        <a href="{{ path('admin_blockedemail') }}">
		            Back to the list
		        </a>
		    </li>
		    <li>{{ form(delete_form) }}</li>
		</ul>
    </div>
</div>
{% endblock %}
