{% extends '::base.html.twig' %}

{% block body -%}
{% include 'WanaworkUserBundle:SystemEmail:_email-admin.html.twig' with {menu_selection: 'admin_blockedemail'} %}
 
<div class="row">
    <div class="span12">
    
	    <table class="default-table">
	        <caption>People that unsubscribed from our mail</caption>
	        <thead>
	            <tr>
	                <th>Email</th>
	                <th>Date Unsubscribed</th>
	                <th>Notes</th>
	                <th>Actions</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for entity in entities %}
	            <tr>
	                <td><a href="{{ path('admin_blockedemail_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
	                <td>{% if entity.dateUnsubscribed %}{{ entity.dateUnsubscribed|date('Y-m-d H:i:s') }}{% endif %}</td>
	                <td>
	                   {% if entity.systemEmail %}
	                   Came from <a href="{{ path('systememail_show', {id: entity.systemEmail.id}) }}">this email</a>
	                   {% endif %}
	                </td>
	                <td>
	                <ul>
	                    <li>
	                        <a href="{{ path('admin_blockedemail_show', { 'id': entity.id }) }}">show</a>
	                    </li>
{# 	                    <li>#}
{# 	                        <a href="{{ path('admin_blockedemail_edit', { 'id': entity.id }) }}">edit</a>#}
{# 	                    </li>#}
	                </ul>
	                </td>
	            </tr>
	        {% else %}
	        <tr>
	           <td colspan="4" style="text-align: center;">Nobody unsubscribed. Yet</td>
	        </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	
	    <ul>
	        <li>
	            <a href="{{ path('admin_blockedemail_new') }}">
	                Create a new entry
	            </a>
	        </li>
	    </ul>
    </div>
</div>        
        
{% endblock %}

    