{% extends '::base.html.twig' %}

{% block body -%}
{% include 'WanaworkUserBundle:SystemEmail:_email-admin.html.twig' with {menu_selection: 'admin_blockedemail'} %}
<div class="row">
    <div class="span12">
	    <table class="default-table">
	        <tbody>
	            <tr>
	                <th>Email</th>
	                <td>{{ entity.id }}</td>
	            </tr>
	            <tr>
	                <th>Date unsubscribed</th>
	                <td>{{ entity.dateUnsubscribed|date('Y-m-d H:i:s') }}</td>
	            </tr>
	            {% if entity.systemEmail %}
	            <tr>
	                <th>Unsubscribed from this mail</th>
	                <td>
	                    <a href="{{ path('systememail_show', {id: entity.systemEmail.id}) }}">View</a>
	                </td>
	            </tr>
	            {% endif %}
	        </tbody>
	    </table>
	
	    <ul class="record_actions">
		    <li>
		        <a href="{{ path('admin_blockedemail') }}">
		            Back to the list
		        </a>
		    </li>
{# 		    <li>#}
{# 		        <a href="{{ path('admin_blockedemail_edit', { 'id': entity.id }) }}">#}
{# 		            Edit#}
{# 		        </a>#}
{# 		    </li>#}
		    <li>{{ form(delete_form) }}</li>
		</ul>
	</div>
</div>
{% endblock %}
