{% extends '::base.html.twig' %}

{% block body -%}
    {% include "WanaworkUserBundle:Entity:_entity-list.html.twig" with {menu_selection: 'entity_qualifications'} %}

<div class="row">
    <div class="span12">
	    <a class="btn" style="float: right;" href="{{ path('entity_qualification_new') }}"><i class="icon icon-plus-sign"></i>Create Qualification</a>
	    <a class="btn" style="float: right; margin-right:10px;" href="{{ path('entity_qualification_export') }}"><i class="icon icon-download"></i>Export Qualifications</a>
	    <table class="records_list default-table">
	        <thead>
	            <tr>
	                <th>Id</th>
	                <th>Name</th>
	                <th>Ispopular</th>
	                <th>Actions</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for entity in entities %}
	            <tr>
	                <td>{{ entity.id }}</td>
	                <td>{{ entity.name }}</td>
	                <td>{{ entity.isPopular ? 'Yes' : 'No' }}</td>
	                <td><a href="{{ path('entity_qualification_edit', { 'id': entity.id }) }}">edit</a></td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
    </div>
</div>
{% endblock %}
