{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Qualification creation</h1>

    {{ form(form) }}

{# <ul class="record_actions">#}
{#     <li>#}
{#         <a href="{{ path('entity_qualification') }}">#}
{#             Back to the list#}
{#         </a>#}
{#     </li>#}
{# </ul>#}
{% endblock %}
