{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Qualification</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Ispopular</th>
                <td>{{ entity.isPopular }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('entity_qualification') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('entity_qualification_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
{#     <li>{{ form(delete_form) }}</li>#}
</ul>
{% endblock %}
