.profile a, .profile a:link, .profile a:VISITED, .profile a:ACTIVE {
	color: #202935;
}


.profile .with-icon img {
	float: left;
	width: 7%;
}

.profile .with-icon .text {
	float: left;
	width: 93%;
}

.profile .avatar {
	float: left;
}

.profile .personal-info {
	float: left;
	width: 75%;
	margin-left: 3%;
}

.profile .name {
	color: #202935;
	font: Arial 30px;
	line-height: 30px;
	float: left;
	margin-top: 0;
}

.profile .age {
	float: left;
	position: relative;
	top: 5px;
	left: 10px;
}

.profile .contact-information {
	float: left;
	width: 50%;
	clear: left;
}

.profile .contact-information > div {
	margin-bottom: 15px;
}

.profile .social-networks {
	float: left;
	width: 47%;
	margin-left: 3%;
}

