
#employee_profile_dob select {
	
}

#employee_profile_title {
	width: 100px;
}

#employee_profile_dob {
	display: inline;
}

#employee_profile_dob_day {
	width: 65px;
}

#employee_profile_dob_month {
	width: 135px;
}

#employee_profile_dob_year {
	width: 85px;
}

#employee_profile_address {
	width: 317px;
}

#employee_profile_city {
	width: 317px;
}

#employee_profile_languages {
	width: 330px;
}

#employee_profile_county {
	width: 330px;
}

#employee_profile_phoneNumber {
	width: 317px;
}

.control-group .required {
	color: #e93f11;
}

#employee_profile_form .span7 .control-group {
	padding-bottom: 11px;
	border-bottom: 1px solid #f1f1f1;
}

#employee_profile_form .span7 .control-group.phoneNumber {
	border-bottom: 0;
}

#hidden-avatar-input {
    display: none;
}
