ul.report-settings {
	
}

ul.report-settings li {
	float: left;
	margin-right: 10px;
	font-size: 12px;
	line-height: 14px;
}

ul.report-settings li select, ul.report-settings li input {
	font-size: 12px;
	line-height: 14px;
	padding: 0 4px;
	width: 110px;
	margin: 0;
	font-weight: normal;
	text-align: center;
}

ul.report-settings li input[type=button] {
	width: auto;
	padding: 3px 6px;
}

