.btn, .btn:link {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #888;
  border: 0 none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  -webkit-font-smoothing: antialiased;
}

a.btn {
	color: #fff;
	font-weight: 600;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  background-color: #767676;
}

.btn.disabled,
.btn[disabled] {
	background: #c3c3c3;
	cursor: default;
}

.btn-primary.disabled,
.btn-primary[disabled],
.btn-info.disabled,
.btn-info[disabled],
.btn-success.disabled,
.btn-success[disabled],
.btn-danger.disabled,
.btn-danger[disabled],
.btn-warning.disabled,
.btn-warning[disabled],
.btn-inverse.disabled,
.btn-inverse[disabled],
.btn-main.disabled,
.btn-main[disabled],
.btn-secondary.disabled,
.btn-secondary[disabled] {
	opacity: 0.5;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:focus {
  outline: 0;
}


.btn.btn-large {
  padding: 15px 35px;
  font-size: 22px;
  line-height: 22px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  margin-top: 4px;
}

.btn.btn-small {
  padding: 8px 20px;
  font-size: 15px;
  line-height: 15px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.btn.btn-small [class^="icon-"],
.btn.btn-small [class*=" icon-"] {
  margin-top: 0;
}

.btn.btn-mini [class^="icon-"],
.btn.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}

.btn.btn-mini {
  padding: 4px 9px;
  font-size: 12px;
  line-height: 12px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}

.btn-main, .btn-main:link {
  background-color: #07ad70;
}

.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active,
.btn-main.disabled,
.btn-main[disabled] {
  background-color: #009e5d;
}

.btn-light, .btn-light:link, .btn-light:visited {
  background-color: #fff;
  border: 2px solid #888;
  color: #888;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.active {
  background: #767676;
  border-color: #767676;
  color: #fff;
}

.btn-white, .btn-white:link, .btn-white:visited {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active {
  background: #fff;
  color: #07ad70;
}


.btn-light.disabled,
.btn-light[disabled] {
	opacity: 1;
	color: #c3c3c3;
	border-color: #c3c3c3;
	background: #fff;
}

.btn-secondary, .btn-secondary:link {
  background-color: #f05623;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.disabled,
.btn-secondary[disabled] {
  background-color: #f04523;
}


.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active,
.btn-main.active,
.btn-secondary.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-primary, .btn-primary:link {
  background-color: #006dcc;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

.btn-warning {
  color: #ffffff;
  background-color: #faa732;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}

.btn-danger {
  color: #ffffff;
  background-color: #da4f49;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.btn-success {
  color: #ffffff;
  background-color: #5bb75b;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

.btn-info {
  color: #ffffff;
  background-color: #49afcd;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-inverse {
  color: #ffffff;
  background-color: #363636;
 
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

button.btn,
input[type="submit"].btn {
}

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button.btn.btn.btn-large,
input[type="submit"].btn.btn.btn-large {
}

button.btn.btn-small,
input[type="submit"].btn.btn-small {
}

button.btn.btn.btn-mini,
input[type="submit"].btn.btn.btn-mini {
}

.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: transparent;
  background-image: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-link {
  color: #0088cc;
  cursor: pointer;
  border-color: transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.btn-link:hover,
.btn-link:focus {
  color: #005580;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:hover,
.btn-link[disabled]:focus {
  color: #333333;
  text-decoration: none;
}



.btn-black, .btn-black:link, .btn-black:visited {
  background-color: #161d27;
  border: 2px solid #161d27;
  color: #fff;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active {
  background: #767676;
  border-color: #767676;
  color: #fff;
}

