html,body {
	height: 100%;
}

ol,li,ul {
	font: inherit;
	vertical-align: baseline;
	margin-left: 0;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display: block;
}

body {
	/*line-height: 1;*/
	-webkit-font-smoothing: antialiased;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body {
	font-family: 'Source Sans Pro', 'sans-serif';
	color: #202935;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
}

input, textarea, button, select {
	font-family: 'Source Sans Pro', 'sans-serif';
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
}

h1, h2, h3, h4, h5,h6 {
	font-family: 'Source Sans Pro', 'sans-serif';
	font-weight: 600;
}

hr {
	height: 1px;
	color: #000;
	background: #000;
	border: 0;
	margin: 15px 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

a:link, a:visited {
	text-decoration: underline;
	color: #07ad70;
	font-size: 16px;
}

a:hover {
	text-decoration: none;
}

.clear {
	clear: both;
}

body {
	background: #f2f2f2;
	background-repeat: no-repeat;
	height: 100%;
	margin: 0;
	padding: 0;
}

/* .alert{
	position: absolute;
	z-index: 1;
} */

#wrapMain {
	min-height: 100%;
	position: relative;
}

#main {
	padding-bottom:250px;
}

.form-inline .input-prepend {
	margin-bottom: 10px;
}
/*
.input-small {
	width: 130px;
}*/

.iconOk:link,.iconOk,.iconOk:visited {
	background: url("/images/iconOk.png") no-repeat top;
	display: inline-block;
	height: 19px;
	text-decoration: none;
	width: 20px;
	border: 0;
	cursor: pointer;
	text-align: right;
	margin-right: 3px;
}

.iconOk:hover {
	background: url("/images/iconOk.png") no-repeat bottom;
}

.iconRemove:link,.iconRemove,.iconRemove:visited {
	background: url("/images/iconRemove.png") no-repeat top;
	display: inline-block;
	height: 18px;
	text-decoration: none;
	width: 17px;
	border: 0;
	cursor: pointer;
	text-align: right;
}

.iconRemove:hover {
	background: url("/images/iconRemove.png") no-repeat bottom;
}

#footerArea {
	clear: both;
	height: auto;
	position:absolute;
    bottom:0;
    width:100%;
}

#footerLinks {
	margin-top: 20px;
	z-index: 1;
	position: relative;
	height: 181px;
}

#footerLinks ul {
	list-style-type: none;
}

#footerLinks ul li {
	display: block;
	float: left;
	padding: 0 2px 0 0;
}

/*Top level menu link items style*/
#footerLinks ul li a {
	display: block;
	text-decoration: underline;
	line-height: 42px;
	margin: 0 11px;
	font: 14px Arial;
	color: #fff;
	line-height: 18px;
	text-decoration: none;
}

#footerLinks ul li a.selected {
	/*CSS class that's dynamically added to the currently active menu items' LI A element*/
	color: #fff;
}

#footerLinks ul li a:hover {
	color: #ffffff;
	text-decoration: underline;
}

/*1st sub level menu*/
#footerLinks ul li ul {
	display: block; /*collapse all sub menus to begin with*/
	z-index: 1000;
}

/*Sub level menu list items (undo style from Top level List Items)*/
#footerLinks ul li ul li {
	display: list-item;
	float: none;
	margin-left: 0;
	display: block;
	height: auto;
	color: #fff;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
#footerLinks ul li ul li ul {
	top: 0;
}

/* Sub level menu links style */
#footerLinks ul li ul li a {
	font: normal 12px Arial;
	padding: 3px 5px 0px 0px;
	background: none;
	display: block;
	color: #cacaca;
	text-decoration: none;
}

#footerLinks ul li ul li a:hover {
	color: #ffffff;
	text-decoration: underline;
}

#footerLinks {
	padding: 20px 0;
}

#footer {
	height: 60px;
	z-index: 1;
	position: relative;
}

#footerBg1 {
	height: 174px;
	background-color: #202935;
	width: 100%;
	z-index: -1;
	position: relative;
	margin-top: -240px;
	opacity: .95;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
   zoom:1;/*IE7*/
   filter: alpha(opacity=95);
   -moz-opacity: 95;
   -khtml-opacity: .95;
}

#footerBg2 {
	height: 66px;
	background-color: #202935;
	width: 100%;
	z-index: -1;
	position: relative;
	margin-top: -65px;
}

#copyright {
	margin: 15px 0 0 0;
	font: 12px Arial;
	float: left;
	color: #656565;
}

ul#footer-social {
	list-style: none;
	padding: 0;
	margin: 15px 0 0 0;
}
ul#footer-social li {
	float: left;
	margin-right: 3px;
}

/*
=======================================
 Generic Form Styles /Start/
=======================================
*/

label {
	font-size: 16px;
}

/* form {
	font-size: 12px;
	width: 518px;
	margin: 0 auto;
}

form div.form_row {
	margin: 5px 0 5px 0;
}

form label {
	display: inline-block;
	width: 100px;
	font-weight: bold;
	text-align: right;
	vertical-align: top;
	margin-right: 10px;
	vertical-align: top;
}

form label span.required {
	color: red;
	float:right;
	position:absolute;
	margin-left: 1px;
	vertical-align: super;
}

form input {
	width: 400px;
	height: 15px;
	padding: 0;
	border-width: 2px;
}

form select {
	width: 100px;
}

form textarea {
	width: 400px;
	height: 100px;
	padding: 0;
	margin: 0;
}

img.loading-image {
	
}

ul.form_errors {
	border: 1px solid red;
	display: none;
}

form ul.form_errors, form ul.field_errors {
	margin-left: 115px;
	margin-top: 3px;
	margin-bottom: 7px;
	color: #E82727;
	display:block;
}

input[type=checkbox] {
	width: 15px;
}

form div.buttons-block input {
	float: right;
	margin-left: 10px;
}

fieldset {
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 4px;
	margin-bottom: 8px;
}

fieldset legend {
	color: #B1B3B2;
}

form fieldset input,
form fieldset textarea {
	width: 380px;
} */

/*
=======================================
 Generic Form Styles /End/
=======================================
*/
div.jGrowl div.jGrowl-notification {
	background: black;
	color: #fff;
}

.chzn-choices li span {
	font-size: 11px;
}

#hint {
	background: #fff6d7;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	width: 200px;
	float: right;
	margin: 10px;
	padding: 15px;
	font-size: 13px;
}

#wanawork .nav-tabs {
	border:0;
}

#wanawork .nav-tabs > .active > a,
#wanawork .nav-tabs > .active > a:hover,
#wanawork .nav-tabs > .active > a:focus {
	border-top:0;
	border-left: 0;
	border-right: 0;
	background-color: #ffffff;
	border-bottom: 1px #ffffff solid;
}

#wanawork .nav-tabs > li > a:hover,
#wanawork .nav-tabs > li > a:focus {
  border-color: #f9f9f9;
  background-color: #f9f9f9;
  border-bottom: 0;
}

#wanawork div.tab-content {
	overflow: inherit;
	border-top: none;
	background: #fff;
	/*padding: 20px;*/
}

.nav-tabs a {
	text-decoration: none;
}

.iconEdit {
	background: url("/images/iconEdit.png") no-repeat top;
	display: block;
	width: 17px;
	height: 19px;
	float: left;
	padding: 0px 15px 0 10px;
}

.iconDel {
	background: url("/images/iconDel.png") no-repeat top;
	display: block;
	width: 11px;
	height: 18px;
	float: left;
	border: 0 none;
	cursor: pointer;
}

.dropdown-menu li>a {
	text-decoration: none;
}

div.alert a.close {
	text-decoration: none;
}

/** In button groups - If dropdown items have images, given them margin **/
div.btn-group ul li a i.icon {
	margin-right: 5px;
}

/** Required to organize in future **/
/* 
.table {
	background: #eaeaea;
	margin: 40px 0 0 0;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-color: #f6f6f6;
}

.table thead {
	text-align: center;
	color: #ffffff;
	background-color: #5a5a5a;
}

.table thead th {
	border: 1px #8d8d8d solid;
}

.table tbody tr {
	height: 59px;
}

.table thead th,.table tbody td {
	text-align: center;
	vertical-align: middle;
}

.table .dropdown-menu {
	text-align: left;
	vertical-align: left;
	color: #999999;
}

.table tr.approved a:link,.table tr.denied a:link, .table tr.pending a:link {
	color: #ffffff;
	font: normal 15px Arial;
}

.table tr.approved a:visited,.table tr.denied a:visited,.table tr.pending a:visited {
	color: #ffffff;
	font: normal 15px Arial;
}

.table tr.approved a:hover,.table tr.denied a:hover,.table tr.pending a:hover {
	color: #ffffff;
	text-decoration: none;
}

.table tbody {
	
}

.table td.empty {
	text-align: center;
}

.table tr.approved {
	color: #ffffff;
	background-color: #59b259;
}

.table tr.pending {
	color: #ffffff;
	background-color: #42b4d6;
}

.table tr.denied {
	color: #ffffff;
	background-color: #d34943;
}


.table tbody tr.pending{
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8f5fb));
  background-image: -webkit-linear-gradient(top, #ffffff, #e8f5fb);
  background-image:    -moz-linear-gradient(top, #ffffff, #e8f5fb);
  background-image:      -o-linear-gradient(top, #ffffff, #e8f5fb);
  background-image:         linear-gradient(to bottom, #ffffff, #e8f5fb);
}

.table td {
	border-bottom: 1px #f6f6f6 solid;
}

.table .denied td {
	border-left: 1px #e9615b solid;
	border-right: 1px #e9615b solid;
	border-bottom: 1px #edaeab solid;
}

.table .approved td {
	border-left: 1px #7ed27e solid;
	border-right: 1px #7ed27e solid;
	border-bottom: 1px #b0deb0 solid;
}

.table .pending td {
	border-left: 1px #5fc7e6 solid;
	border-right: 1px #5fc7e6 solid;
	border-bottom: 1px #8bddf5 solid;
}

.table tr.denied .dropdown-menu a:link,.table tr.denied .dropdown-menu a:visited
	{
	color: #030303;
}

.table tr.approved .dropdown-menu a:link,.table tr.approved .dropdown-menu a:visited
	{
	color: #030303;
}

.table tr.denied .dropdown-menu a:hover,.table tr.approved .dropdown-menu a:hover
	{
	color: #ffffff;
}

.table .timeago {
	font-size: 12px;
}
*/

.form-horizontal .control-label {
	/* float: left;
	width: 205px;
	padding-top: 5px;
	color: #666666; */
	text-align: left;	
}

form span.help-block {
	color: #666;
	font-style: italic;
	font-size: 13px;
}


div.admin_panel_content {
	background: #fff;
}

div.navigation div.pagination span a, div.navigation div.pagination span.current {
	padding: 10px;
	margin-right: 1px;
	background-color: #0067cc;
	-webkit-box-shadow: 0px 2px 0px 0px #00488f;
	box-shadow: 0px 2px 0px 0px #00488f;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
}

div.navigation div.pagination span.current {
	background: #fff;
	color: #00488f;
}

div.navigation div.pagination span a:hover {
	background-color: #056fd6;
}

.empty-wrapper {
	width: 100%;
	padding: 50px 0 50px 0;
	background: #fff;
	border-radius: 5px;
	text-align: center;
	border: 3px solid #dedede;
	margin-top: 1px;
}

.empty-wrapper h3 {
	font-size: 23px;
	font-weight: 600;
	line-height: 23px;
	margin-top: 0;
	margin-bottom: 15px;
}

.empty-wrapper .message-content {
	width:50%;
	margin: 0 auto;
}

.heading h1 {
	color: #202935;
	font: 22px Arial;
	line-height: 24px;
	margin: 25px 0 0 0;
	padding: 0;
}

.heading h2 {
	color: #202935;
	font: 14px Arial;
	line-height: 18px;
	margin: 0 0 10px 0;
	padding: 0;
}

#loading-indicator {
	z-index: 5;
	position: absolute;
	top: 50px;
	left: 50%;
	background: #fff;
	color: 000;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: none;
}

.badge.badge-counter {
	background-color: #f57c20;
	-webkit-box-shadow: inset 0 2px rgba(255,204,150,.75);
	-moz-box-shadow: inset 0 2px rgba(255,204,150,.75);
	box-shadow: inset 0 2px rgba(255,204,150,.75);
	background-image: -webkit-linear-gradient(top, #f7941e, #f15724);
	background-image: -moz-linear-gradient(top, #f7941e, #f15724);
	background-image: -o-linear-gradient(top, #f7941e, #f15724);
	background-image: linear-gradient(to bottom, #f7941e, #f15724);
	padding-right: 5px;
	padding-left: 5px;
}

.admin-button-panel {
	float: right;
}

.button-separator {
	color: #333;
	font-size: .85em;
}

.top-message {
	position: absolute;
	top: 70px;
	left: 37.5%;
	width: 25%;
	z-index: 10;
	font-size: 14px;
	line-height: 20px;
	padding: 5px;
	border-width:2px;
}

.top-message ul {
	margin: 0;
	width: 100%;
}


.chosen-container-single .chosen-single div {
  top: 6px;
}

.chosen-container .chosen-results li.highlighted {
	background: #07ad70 !important;
}

#cookie-panel {
	left: 2%;
	width: 95%;
	position:fixed;
	bottom: 0;
	background: #fff;
	z-index: 100;
	padding: 10px 5px;
	border-top: 3px #fbad56 solid;
	border-bottom: 3px #fbad56 solid;
}

/* #footerArea {
	clear: both;
	height: auto;
	position: static;
	width: 100%;
} */

#footerLinks {
	height: auto;	
	margin-top: 0px;
}

#footer-wrapper1 {
	background-color: #202935;
	width: 100%;
	opacity: .95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	zoom: 1; /*IE7*/
	filter: alpha(opacity = 95);
	-moz-opacity: 95;
	-khtml-opacity: .95;
}

#footer-wrapper2 {
	background-color: #202935;
	width: 100%;
	position: relative;
}

.message-box {
	color: #fff;
	background: #07ad70;
	text-align: center;
	padding: 50px 20px;
	border-radius: 5px;
}

.message-box h1 {
	font-size: 23px;
	line-height: 23px;
}

.message-box a {
	color: #fff;
}