body {
	background: #EDEDED; 
}

header#bare-header {
	width: 100%;
	height: 166px;
	margin-bottom: 40px;
	display: block;
}

#bare-header div {
	margin: 0 auto;
	background: url('/bundles/wanaworkmain/images/login/header_decoration.png') center center;
	min-width: 940px;
	max-width: 1200px;
	overflow: hidden;
	height: 166px;
}

#bare-header div a {
	display:block;
	background: url('/bundles/wanaworkmain/images/login/logo.png');
	width: 375px;
	height: 65px;
	margin: 0 auto;
	margin-top: 40px;
	right: 20px;
	position: relative;
}

#footer {
	width: 100%;
	height: 72px;
	margin-top: -72px;
	background: #202935;
	color: #656565;
	position: absolute;
	bottom: 0;
}

#main {
	padding-bottom: 90px;
}

#footer-content {
	width: 940px;
	margin: 0 auto;
	padding-top: 35px;
}

#footer-content img {
	position: relative;
	bottom: 15px;
}

#copyright {
	float: left;
	margin: 0;
}

ul#footer-social {
	margin: 5px 0 0 90px;
	float: left;
}
ul#footer-social li {
}