#header-wrapper {
	height: 75px; 
	width: 100%;
	background: #202935;
}

#header-wrapper .container, #header-wrapper .container > .row, #header-wrapper .container > .row > .span12 {
	height: 100%;
}

#header-logo {
	background: url("/images/logo_white.png") no-repeat;
	display: block;
	height: 48px;
	margin-top: 15px;
	width: 299px;
	float: left;
}

#header-logo-small {
	background: url("/images/logo.png") no-repeat;
	display: block;
	height: 47px;
	margin-top: 17px;
	width: 62px;
	float: left;
}

#loginHolder {
	display: none;
	position: absolute;
	top: 68px;
	right: 0px;
	
	width: 210px;
	height: 115px;
	padding: 25px;
	margin-left: -40px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 30px 0px #2e2e2e;
	box-shadow: 0px 0px 30px 0px #2e2e2e;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	z-index: 5;
	/* border: solid 1px #bebebe; */
}

#loginHolder:after {
	content: "";
	display: block; /* reduce the damage in FF3.0 */
	position: absolute;
	top: -7px;
	right: 20px;
	width: 0;
	border-width: 0 7px 7px 7px;
	border-style: solid;
	border-color: #fff transparent;
	z-index: 6;
}

#loginHolder input {
	width: 195px;
}

#login-register-block {
	float: right;
	margin-top: 20px;
}

#loginHolder button.btn {
	float: right;
}

#loginHolder a.forgot {
	float: left;
	position: relative;
	top: 13px;
	font-size: 12px;
}

ul#user-menu {
	padding: 0;
	margin: 0;
	height: 100%;
	margin-left: 20px;
	color: #fff;
	font: Arial 17px;
	font-weight: bold;
	list-style:none;
	float: left;
}

ul#user-menu li {
	float: left;
	height: 100%;
	position: relative;
}

ul#user-menu li a, ul#user-menu li a:ACTIVE, ul#user-menu li a:VISITED {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 28px 15px 27px 15px;
	line-height: 20px;
	margin-right: 1px;
}

ul#user-menu li a:hover {
	background: #010C1A;
}

ul#user-menu li a.active {
	border-bottom: 3px solid #F3550E;
	background: #010C1A;
	padding: 26px 15px 26px 15px;
}

ul#user-menu li .badge-counter {
	position: absolute;
	top: 10px;
	right: 0;
}

ul#profile-menu {
	padding: 0;
	margin: 0;
	height: 100%;
	list-style:none;
	float: right;
}

ul#profile-menu li {
	float: left;
	margin-top: 26px;
	margin-right: 35px;
}

ul#profile-menu li:last-child {
	margin-right: 0;
}

#exit-link {
	background: url('/images/exit.png') no-repeat;
	display: block;
	width: 25px;
	height: 23px;
}

#requests-left-counter {
	color: #fff;
	float: left;
	font-size: 13px;
	line-height: 15px;
	margin-left: 10px;
	margin-top: 20px;
	text-decoration: none;
}

