::-webkit-input-placeholder {
   color: #7e7e7e;
}

:-moz-placeholder { /* Firefox 18- */
   color: #7e7e7e;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #7e7e7e;
}

:-ms-input-placeholder {  
   color: #7e7e7e;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], 
input[type="datetime-local"], input[type="date"], 
input[type="month"], input[type="time"], 
input[type="week"], input[type="number"], 
input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"],
select
{
	background: #f7f7f7;
	border: #ccc 1px solid;
	width: 320px;
	font-weight: 600;
	font-size: 16px;
	color: #202935;
	padding: 8px 11px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
	background: #f7f7f7;
	border: #ccc 1px solid;
	box-shadow: 0px 2px 0px 0px rgba(241, 241, 241, 1) inset; 
	text-shadow: 0px 2px 0px rgba(241, 241, 241, 1) inset;
}

/* .chosen-container {
	background: #f7f7f7;
	border: #ccc 1px solid;
	box-shadow: 0px 2px 0px 0px rgba(241, 241, 241, 1) inset; 
	text-shadow: 0px 2px 0px rgba(241, 241, 241, 1) inset;
	font-weight: 600;
	color: #595757;
	border-radius: 4px;
}

.chosen-container .chosen-choices {
	padding: 3px !important;
}

.chosen-container .chosen-choices li.search-choice {
	color: #595757 !important;
}

.chosen-container-single .chosen-single {
	padding: 5px 11px !important;
} */

select {
	height: auto;
}

.input-prepend .add-on, .input-append .add-on {
	padding: 8px 11px;
}
