.default-table {
	border: 3px solid #dedede;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #010c1a;
	width: 100%;
}

.default-table thead {
	background: #f3f3f3;
	box-shadow: 0px 1px 0px 0px rgba(237, 237, 237, 0.75); 
	text-shadow: 0px 1px 0px rgba(237, 237, 237, 0.75); - See more at: http://melaniededon.com/psd-to-css3/#sthash.npbR0heo.dpuf
}

.default-table tbody {
	background: #fff;
}

.default-table thead th {
	text-align: center;
	font-size: 17px;
	font-weight: 600;
	border: 1px solid #dedede;
	padding: 15px 5px;
}

.default-table tbody td {
	text-align: left;
	font-size: 16px;
	font-weight: 600;
	border: 1px solid #dedede;
	padding: 15px 15px;
}

