{% extends "WanaworkUserBundle::base.html.twig" %} 

{% block title %}Thank your for registering{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">
        <div class="empty-wrapper">
            <div class="message-content">
                <h3>Thank Your For Registering</h3>
                <p>
                    You're a step away from hiring.
                    You just need to create your company profile and start looking for potential candidates
                </p>
                
                <p>
                    <br />
                    <a class="btn btn-main btn-large" href="{{ path('company_new') }}">Create My Company Profile</a>
                </p>
            </div>
        </div>
    </div>
</div>

{% if app.environment == 'prod' %}
<!-- Google Code for Employer Registration Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 970932795;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "QtwCCN3lgggQu4T9zgM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/970932795/?label=QtwCCN3lgggQu4T9zgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Facebook Conversion Code for Registrations - Employer -->
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6012145715246';
fb_param.value = '0.00';
fb_param.currency = 'EUR';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6012145715246&amp;value=0&amp;currency=EUR" /></noscript>
{% endif %}
{% endblock %}