{% extends "WanaworkUserBundle::base.html.twig" %} 

{% block title %}Registration - Candidates and Employers{% endblock %}
{% block meta %}
<meta content="To use Wannawork.ie fully, please register an account with us" name="description">
{% endblock %}

{% block body %}

<div id="signup">

	<div class="row">
		<div class="span12" style="margin-top: 40px;"><img src="{{ asset("images/titleReg.png") }}" /></div>
	</div>
	
	<div class="row">
		<div class="span6">
			<table class="signupTable Candidate">
				<thead>
					<tr>
						<th>
							<div class="signupName">Candidate</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="white">
				  		<td>	
				  			<div class="employee-description" style="display: {{ type is null or type == 'employer' ? 'block': 'none' }}">
							  	<h5>Why Wannawork?</h5>
								We empower you to find your dream job like nobody else does. 
								A brand new approach to job-hunt.
							
								<div class="regP">
									<img src="{{ asset('images/reg_1.png') }}" class="left regIcon">
									<h5>Automate Your Job Search</h5>
									<p>
										You will be considered for all jobs relevant to you with no extra work.
									</p>
		                        </div>
	
		                        <div class="regP">
		                        	<img src="{{ asset('images/reg_2.png') }}" class="left regIcon">
									<h5>Get Feedback And Stats</h5>
		                        	<p>
		                        		Keep track of employers who are potentially interested in you.
		                        	</p>
		                        </div>
	                        
	
		                        <div class="regP">
		                        	<img src="{{ asset('images/reg_3.png') }}" class="left regIcon">
		                        	<h5>Stay Anonymous, Safe &amp; Secure</h5>
		                        	<p>
		                        		Review employers before allowing them access to your CV.
		                        	</p>
		                        </div>
							</div>
                        
	                        <div class="employee-form" style="display: {{ type is null or type == 'employer' ? 'none': 'block' }}">
								<form action="{{ path('wanawork_register', {type: 'employee'}) }}" method="post"  
									{{ form_enctype(form_employee) }} novalidate class="form-horizontal">
									{{ form_errors(form_employee) }} 
									{{ form_widget(form_employee) }}
						
									<div class="control-group">
										<div class="controls">
											<button id="submit-candidate" type="submit" class="btn btn-main">Sign Up</button>
										</div>
									</div>
								</form>
							</div>
						</td>
					</tr>
					  
					<tr class="white employee-description" style="border:0; display: {{ type is null or type == 'employer' ? 'table-row': 'none' }}">
					  	<td style="text-align:center;">
					  		<a id="link-employee" href="{{ path('wanawork_register', {type:'employee'}) }}" 
					  			class="btn btn-main btn-large">Sign up as Candidate</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
			
		<div class="span6">
			<table class="signupTable Employer">
				<thead>
					<tr>
						<th>
							<div class="signupName">Employer</div>
						</th>
					</tr>
				</thead>
					
				<tbody>
					<tr class="white">
				  		<td>
				  			<div class="employer-description" style="display: {{ type is null or type == 'employee' ? 'block': 'none' }}">
						  		<h5>Why Wannawork?</h5>
								We provide employers with an effective 
								online recruitment solution you can't find anywhere else.	
								<div class="regP">
									<img src="{{ asset('images/reg_4.png') }}" class="left regIcon" />
			                   	  	<h5>Accurate Search</h5>
			                       	<p>
			                       		Find a candidate with specific skils who genuinely wants to work and is not just
			                       		'looking for a job'.
			                       	</p>
								</div>
	                        
								<div class="regP">
				                  	<img src="{{ asset('images/reg_5.png') }}" class="left regIcon">
				                       	<h5>Always Current Candidates</h5>
				                       	<p>
				                       		Every candidate you find is open to opportunities of employment.
				                       	</p>
								</div>
		                        
								<div class="regP">
									<img src="{{ asset('images/reg_6.png') }}" class="left regIcon" />
									<h5>Totally Free</h5>
									<p>And you can do all of this completely FREE of charge.</p>
								</div>
							</div>
		                       
							<div class="employer-form" style="display: {{ type is null or type == 'employee' ? 'none': 'block' }}">
								<form action="{{ path('wanawork_register', {type: 'employer'}) }}" method="post"  
									{{ form_enctype(form_employer) }} novalidate class="form-horizontal">
									{{ form_errors(form_employer) }} 
									
									{{ form_row(form_employer.name, {
									   help: 'Your full name, not your company name'
                                    }) }}
									{{ form_row(form_employer.email) }}
									{{ form_row(form_employer.password) }}
									{{ form_rest(form_employer) }}
								
									<div class="control-group">
										<div class="controls">
											<button id="submit-employer" type="submit" class="btn btn-main">Sign Up</button>
										</div>
									</div>
								</form>
							</div>
                  		</td>
			  		</tr>
					<tr class="white employer-description" style=" border:0; display: {{ type is null or type == 'employee' ? 'table-row': 'none' }}">
						<td style="text-align:center; width: 100%;">
							<a id="link-employer" href="{{ path('wanawork_register', {type:'employer'}) }}" class="btn btn-main btn-large">Sign up as Employer</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
	'@WanaworkUserBundle/Resources/public/js/registration.js' %}
		<script src="{{ asset(asset_url) }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='?yui_css' filter='cssrewrite' 
		'@WanaworkUserBundle/Resources/public/css/registration.css' %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
	{% endstylesheets %}
{% endblock %}
