{% extends "WanaworkUserBundle::base.html.twig" %} 

{% block title %}Thank your for registering{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">
        <div class="empty-wrapper">
            <div class="message-content">
                <h3>Thank Your For Registering</h3>
                <p>
                    You can now go ahead and post your first advert.
                    <br />
                    Once you're done, you just sit back and wait for employers to get in touch with you
                </p>
                
                <p>
                    <br />
                    <a class="btn btn-main btn-large" href="{{ path('ad_new') }}">Post My Advert</a>
                </p>
            </div>
            
                <h5 id="subtitle">Your potential employers</h5>
                <ul id="employer-list" class="clearfix">
                    <li>
                        <img src="{{ asset('bundles/wanaworkuser/images/register/candidate-success/netpay.png') }}" />
                    </li>
                    <li>
                        <img src="{{ asset('bundles/wanaworkuser/images/register/candidate-success/bewleys.png') }}" />
                    </li>
                    <li>
                        <img src="{{ asset('bundles/wanaworkuser/images/register/candidate-success/micros.png') }}" />
                    </li>
                    <li>
                        <img src="{{ asset('bundles/wanaworkuser/images/register/candidate-success/iradio.png') }}" />
                    </li>
                </ul>
        </div>
    </div>
</div>

{% if app.environment == 'prod' %}
<!-- Google Code for Candidate Registration Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 970932795;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "Z6qmCPXigggQu4T9zgM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/970932795/?label=Z6qmCPXigggQu4T9zgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Facebook Conversion Code for Registrations - Candidate -->
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6012145710446';
fb_param.value = '0.00';
fb_param.currency = 'EUR';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6012145710446&amp;value=0&amp;currency=EUR" /></noscript>
{% endif %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='?yui_css' filter='cssrewrite' 
		'@WanaworkUserBundle/Resources/public/css/register/candidate-success.css' %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
	{% endstylesheets %}
{% endblock %}