.order-list .details {
	display: none;
}

.order-list .details table {
	width: 100%;
	margin-bottom: 10px;
}
.order-list .details table th,
.order-list .details table td {
	font-size: 12px;
	padding: 5px;
	font-weight: normal;
}

.order-list .details pre {
	display: none;
}