#avatar-column {
	float: left;
}

#textarea-column {
	float: left;
	margin-left: 15px;
}

#textarea-column > * {
	display:block;
}

textarea#form_tweet {
	margin-bottom: 2px;
	width: 400px;
	height: 100px;
}

#textarea-column span.char-counter {
	display: block;
	text-align: right;
}

.payment-button {
	clear: both;
}

#form_payment_method {
	display: none;
}