{% if edit_entity is defined %}
{% set path = path('work_experience_update', {id: edit_entity.id} )  %}
{% else %}
{% set path = path('work_experience_create', {cvId: cv.id}) %}
{% endif %}

<form id="job-form" method="post" action="{{ path }}" novalidate>
	{{ form_errors(form) }}
	
	{{ form_row(form.company) }} 
	{{ form_row(form.position) }}

{# 	<div class="form_row time_ranges">#}
{# 		<label class="required">Time Period:#}
{# 			<span title="This field is required" class="required">*</span>#}
{# 		</label>#}
{# 		<div class="time_ranges_wrapper">#}
{# 			{{ form_widget(form.currently_here) }}#}
{# 			<label>I currently work here</label>#}
{# 			<div>#}
{# 				From {{ form_widget(form.start) }} to#}
{# 				{{ form_widget(form.finish) }}#}
{# 				<span id="to_date_present">Present</span>#}
{# 			</div>#}
{# 		</div>#}
		
{# 		{{ form_errors(form.start) }}#}
{# 		{{ form_errors(form.finish) }}#}
{# 		{{ form_errors(form.currently_here) }}#}
{# 	</div>#}
	{{ form_rest(form) }}
	
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-main ">Save</button>
		</div>
	</div>
</form>

<script>
$(function(){

	$('#wanawork_userbundle_workexperiencetype_start, #wanawork_userbundle_workexperiencetype_finish').each(function(){
		var that = this;
		if(!$(that).data('monthpicker')) {
			$(that).monthpicker({
				dateFormat: 'M yy',
				yearRange: $(that).data('start') + ":" + $(that).data('end')
			});
		}
	});
	
});
</script>
