<div class="field">

	<div class="fieldInstit left">
		<img src="{{ asset('images/iconWork.png') }}">
		<div class="fieldText">{{ work.company }}</div>
	</div>

	<div class="fieldPeriod left">
		<img src="{{ asset('images/iconPeriod.png') }}">
		<div class="fieldText">
			{{ work.start | date('M Y') }} - 
			{{ (work.finish) ? work.finish | date('M Y') : 'Current' }}		
		</div>
	</div>

	<div class="fieldPosit left">
		<img src="{{ asset('images/iconPost.png') }}" />
		<div class="fieldText">
			{{ work.position }}
		</div>
	</div>

	{#
	{% if is_granted('EDIT', cv) %}
	<div class="fieldEdit right">
	    <a href="{{ path('work_experience_edit', {id: work.id}) }}" class="iconEdit"></a> 

		<form method="post" action="{{ path('work_experience_delete', {id: work.id}) }}">
			{{ form_widget(delete_form) }}
			<input type="submit" class="iconDel" value="" />
		</form>
		
	</div>
	{% endif %}
	#}
	<div class="fieldDescrip left">

		<div class="fieldDescText">
			<img src="{{ asset('images/iconDesc.png') }}" />
			<div class="fieldText">
				{{ work.description }}
			</div>
		</div>

	</div>
	<div class="clear"></div>
</div>