{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}
{% block body %}
<div class="row">
	<div class="span12">
		<ul class="breadcrumb">
			<li><a href="{{ path('cv_show', {id: entity.cv.id}) }}">{{ entity.cv.name }}</a> <span class="divider">/</span></li>
			<li class="active">
				New Work Experience
			</li>
		</ul>

{% include 'WanaworkUserBundle:WorkExperience:_form.html.twig' with {form: edit_form, edit_entity: entity} %}
	</div>
</div>


{% endblock %}

{% block javascripts %}
		{{ parent() }}
		{# <script src="{{ asset('bundles/wanaworkuser/js/jobs_form.js') }}"></script> #}
	{% endblock %}