{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Payment Failed{% endblock %}

{% block body %}
<div class="row">
	<div class="span12 heading">
	   <h1>Payment</h1>
	</div>
</div>

<div class="row">
	<div class="span12">
	   <div class="empty-wrapper">
	       <div class="message-content">
	           <h1>Your ad is not completed</h1>
	           <p>
	               Before you can pay for your ad, it needs to be completed.
	               <br />
	               Please <a href="{{ path('ad_edit', {slug: ad.slug}) }}">complete your ad</a> 
	               now, and we'll gladly publish it.
	           </p>
	       </div>
	   </div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}
