<div class='row'>
	<div class="span12">
		<ul class="nav nav-pills">
			<li class="{{ menu_selection == 'all' ? 'active' : '' }}">
		    	<a href="{{ path('payment_index') }}">All Orders</a>
		  	</li>
		  	
		  	<li class="{{ menu_selection == 'payment_report' ? 'active' : '' }}">
		    	<a href="{{ path('payment_report') }}">Payments &amp; VAT</a>
		  	</li>
		  	
		  	<li class="{{ menu_selection == 'payment_stats' ? 'active' : '' }}">
		    	<a href="{{ path('payment_stats') }}">Statistics</a>
		  	</li>
		  	
{# 		  	<li class="{{ menu_selection == 'stats' ? 'active' : '' }}">#}
{# 		  		<a href="#">Statistics</a>#}
{# 		  	</li>#}
{#             <li class="{{ menu_selection == 'employer_verification' ? 'active' : '' }}">#}
{# 		    	<a href="{{ path('payment_index') }}">Employer Verification</a>#}
{# 		  	</li>#}
		</ul>
	</div>
</div>
