{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Payment Cancelled{% endblock %}

{% block body %}
<div class="row">
	<div class="span12">
	   <div class="empty-wrapper">
	       <div class="message-content">
                <h1>Order Cancelled</h1>
                <p>
                    You chose to cancel your order. We did not charge you.
                    <br />
                    If you cancelled your order by mistake, you can 
                    <a href="{{ path('new_ad_order', {id:order.ad.id ,plan:order.planName}) }}">pay for it now</a>. 
                    You can also access your ad from the 'Ads' menu and pay for it later if you decide to.
                </p>	       
	       </div>
	   </div>
	</div>
</div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
{% javascripts filter='?yui_js' %}
	<script src="{{ asset(asset_url) }}"></script>
{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}