{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Thank You! Order Paid.{% endblock %}

{% block body %}

<div class="row">
	<div class="span12">
	   <div class="empty-wrapper">
	       <div class="message-content">
                <h1>Order Paid. Thank You!</h1>
                <p>
                    Your order is payed and your ad is now live
                    <br />
                    You can view your ad in <a href="{{ path('my_ads') }}">My Ads</a> section. <br />
                </p>	       
	       </div>
	   </div>
	</div>
</div>

{% set payment = order.payments.last %}
{% if payment.source == constant('Wanawork\\UserBundle\\Entity\\Billing\\Payment::SOURCE_PAYPAL') %}
    {% if app.environment == 'prod' %}
    {% include 'WanaworkUserBundle:Payment:_conversion-paypal.html.twig' %}
    {% else %}
    <script>console.log("Would record paypal conversion ");</script>
    {% endif %}
{% elseif payment.source == constant('Wanawork\\UserBundle\\Entity\\Billing\\Payment::SOURCE_VOUCHER') %}
    {% if app.environment == 'prod' %}
    {% include 'WanaworkUserBundle:Payment:_conversion-voucher.html.twig' %}
    {% else %}
    <script>console.log("Would record voucher conversion");</script>
    {% endif %}
{% elseif payment.source == constant('Wanawork\\UserBundle\\Entity\\Billing\\Payment::SOURCE_TWITTER') %}
    {% if app.environment == 'prod' %}
    {% include 'WanaworkUserBundle:Payment:_conversion-twitter.html.twig' %}
    {% else %}
    <script>console.log("Would record twitter conversion");</script>
    {% endif %}
{% endif %}

{% endblock %}


{% block javascripts %}
{{ parent() }}
{% javascripts filter='?yui_js' %}
	<script src="{{ asset(asset_url) }}"></script>
{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}