<!-- Facebook Conversion Code for Ad Payment - Paypal -->
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6012145717846';
fb_param.value = '0.00';
fb_param.currency = 'EUR';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6012145717846&amp;value=0&amp;currency=EUR" /></noscript>


<!-- Google Code for Ad Payment - Paypal Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 970932795;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "PSLlCNXmgggQu4T9zgM";
var google_conversion_value = 3.000000;
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/970932795/?value=3.000000&amp;label=PSLlCNXmgggQu4T9zgM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
