<div class="row">
	<div class="span12" style="margin-bottom: 20px;">
		<hr />
		<div class="row">
		    <div class="span6">
		        {{ company_legal_name }} T/A {{ company_trading_name }}<br />
		        {{ company_address | nl2br }}<br />
		        Web: {{ company_url }}<br />
		        Support: {{ company_support_email }}
		    </div>
		    <div class="span6">
		        <div style="text-align: right;">
		        VAT Number: {{ company_vat_number }}<br />
		        Company Registration Number: {{ company_registration_number }}<br />
		        Registered in Ireland
		        </div>
		    </div>
		</div>
	</div>
</div>