<div class="row">
    <div class="span6">
        <h1>Receipt</h1>
    </div>
	<div class="span6">
		<img src="{{ asset('/images/logoFull.png') }}" class="right" style="margin-top:10px;">
	</div>
</div>