{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Thank You! Order Paid.{% endblock %}

{% block body %}

<div class="row">
	<div class="span12">
	   <div class="empty-wrapper">
	       <div class="message-content">
                <h1>Order Paid. Thank You!</h1>
                <p>
                    Your order is payed. We will review your company profile and will be in touch soon.
                    <br />
                    Meanwhile, you <a href="{{ path('wanawork_main_search') }}">can search</a> for some candidates to hire.
                </p>	       
	       </div>
	   </div>
	</div>
</div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
{% javascripts filter='?yui_js' %}
	<script src="{{ asset(asset_url) }}"></script>
{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}