{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Payment Failed{% endblock %}

{% block body %}

<div class="row">
	<div class="span12">
	   <div class="empty-wrapper">
	       <div class="message-content">
                <h1>Payment Failed</h1>
                <p>
                    Your payment didn't go through. We have recorded all technical data, and will look into it,
                    but most likely it's nothing serious. Probably a glitch in credit card providers.
                    <br />
                    
                    Meanwhile, you can try to  
                    <a href="{{ path('new_ad_order', {id:order.ad.id ,plan:order.planName}) }}">pay for it again</a>. 
                </p>	       
	       </div>
	   </div>
	</div>
</div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
{% javascripts filter='?yui_js' %}
	<script src="{{ asset(asset_url) }}"></script>
{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}