{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}All Tweets Used up{% endblock %}

{% block body %}

<div class="row">
	<div class="span12">
	   <div class="empty-wrapper">
	       <div class="message-content">
                <h1>You've Already Paid With Twitter</h1>
                <p>
                   You can only pay with twitter once. Please pick another payment method.
                </p>	       
	       </div>
	   </div>
	</div>
</div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
{% javascripts filter='?yui_js' %}
	<script src="{{ asset(asset_url) }}"></script>
{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}