{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Payments{% endblock %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>Orders, Payments &amp; Transactions</h1>
    </div>
</div>

{% include 'WanaworkUserBundle:Payment:_admin-panel.html.twig' with{menu_selection: 'all'} %}
<div class="row">
    <div class="span12">
        <div class="order-list">
            <table class="default-table">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Created On</th>
                        <th>Payments &amp; Transactions</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for order in pagination %}
		            <tr>
		                <td>{{ order.id }}</td>
		                <td>{{ order.orderType }}</td>
		                <td>
		                  &euro;{{ order.amountExcludingVat / 100 }} <br />
		                  (&euro; {{ order.amountIncludingVat / 100 }} incl. VAT @ {{ order.vatRate }}%)
		                </td>
		                <td>{{ order.statusName | capitalize }}</td>
		                <td>{{ order.createdAt.format(date_format) }}</td>
		                <td>
		                    <nobr>{{ order.payments | length }} Payment{{ order.payments | length == 1 ? '' : 's'  }}</nobr>
		                    <br />
		                    <nobr>{{ order.transactions | length }} Transaction{{ order.payments | length == 1? '' : 's' }}</nobr>
		                    <br />
		                    <a href="#" class="view-details-link">View Details</a>
		                </td>
		            </tr>
		            <tr class="details">
		                <td colspan="6">
		                
		                    <table>
		                        <caption>Orders's Items</caption>
		                        <thead>
		                            <tr>
		                                <th>Item</th>
		                                <th>Price</th>
		                                <th>Quantity</th>
		                            </tr>
		                        </thead>
		                        
		                        <tbody>
		                            {% for item in order.items %}
		                            <tr>
		                                <td>{{ item.name }}</td>
		                                <td>&euro;{{ item.price / 100 }}</td>
		                                <td>{{ item.quantity }}</td>
		                            </tr>
		                            {% endfor %}
		                        </tbody>
		                    </table>
		                    
		                    {% for payment in order.payments %}
		                    <table>
		                        <caption>Payment ID: {{ payment.id }}</caption>
		                        <thead>
		                            <tr>
		                                <th>State</th>
		                                <th>Source</th>
		                                <th>Amount</th>
		                                <th>Created On</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                            <tr>
		                                <td>{{ payment.stateName | capitalize }}</td>
		                                <td>{{ payment.sourceName | capitalize }}</td>
		                                <td>&euro;{{ payment.amount / 100 }}</td>
		                                <td>{{ payment.createdAt.format(date_format) }}</td>
		                            </tr>
		                        </tbody>
		                    </table>
		                    
		                    <table>
		                        <caption>Payment's Transactions</caption>
		                        <thead>
		                            <tr>
		                                <th>Type</th>
		                                <th>State</th>
		                                <th>Created On</th>
		                                <th>Updated On</th>
		                                <th>Gateway Data &amp; Notes</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                            {% for transaction in payment.transactions %}
		                            <tr>
		                                <td>{{ transaction.typeName | capitalize }}</td>
		                                <td>{{ transaction.stateName | capitalize }}</td>
		                                <td>{{ transaction.createdAt.format(date_format) }}
		                                <td>{{ transaction.updatedAt ? transaction.updatedAt.format(date_format) : 'Never' }}</td>
		                                <td>
		                                    <ul>
		                                        <li>
			                                    {% if transaction.failReason %}
			                                    <b>Fail Reason:</b> {{ transaction.failReason }}
			                                    {% endif %}
			                                    
			                                    {% if transaction.trackingId %}
			                                    <li>
			                                        <b>Tracking ID:</b>
			                                        {{ transaction.trackingId }}
			                                    </li>
			                                    {% endif %}
			                                    </li>
			                                    {% for key,value in transaction.data if key != 'approval_url' %}
			                                    <li>
			                                        <b>{{ key }}:</b>
			                                        {% if key == 'raw' %}
			                                        <a class="show-raw-link" href="#">show</a>
			                                        <pre>{{ pp_json(value) }}</pre>
			                                        {% else %}
			                                        {{ value }}
			                                        {% endif %}
			                                    </li>
			                                    {% endfor %}
		                                    </ul>
		                                </td>
		                            </tr>
		                            {% endfor %}
		                        </tbody>
		                    </table>
		                    {% if not loop.last %}
		                    <hr />
		                    {% endif %}
		                    {% endfor %}
		                </td>
		            </tr>
		            {% endfor %}
                </tbody>
            </table>
        </div>
	</div>
</div>	


<div class="row">
	<div class="span12">
		<div class="navigation">
    	{{ knp_pagination_render(pagination) }}
		</div>
	</div>
</div>
	
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
	'bundles/wanaworkuser/js/payment/index.js'
	%}
		<script src="{{ asset(asset_url) }}"></script>	
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 
	filter='?yui_css' filter='cssrewrite' 
    'bundles/wanaworkuser/css/payment/index.css'
	%}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}