{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}New Order - Pay with a Promo Code{% endblock %}

{% block body %}

<div class="row">
    <div class="span12 heading">
        <h1>Pay With a Promo Code</h1>
        <h2>Enter your promo code below and the advert is yours!</h2>
    </div>
</div>
<div class="row">
	<div class="span12">
	    <div class="pay-with-voucher-block">
	       <form method="POST" novalidate>
		        {{ form_widget(form) }}
		        <div>
		            <input type="submit" value="Submit the code" class="btn btn-main"/>
		        </div>
	        </form>
	    </div>
	</div>
</div>

<div class="control-group" style="margin-top: 15px;">
	<div class="controls">
		<a href="{{ path('ad_step3', {slug: ad.slug}) }}"
			class="btn btn-large left">Back</a>
	</div>
</div>

{% endblock %}


{% block javascripts %}
{{ parent() }}
{% javascripts filter='?yui_js' %}
	<script src="{{ asset(asset_url) }}"></script>
{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
  'bundles/wanaworkuser/css/payment/pay-with-voucher.css' %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}
