{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Payment Already Processed{% endblock %}

{% block body %}

<div class="row">
	<div class="span12">
	   <div class="empty-wrapper">
	       <div class="message-content">
                <h1>Your Payment Already Completed</h1>
                <p>
                    You can view your ad in <a href="{{ path('my_ads') }}">My Ads</a> section. <br />
                </p>	       
	       </div>
	   </div>
	</div>
</div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
{% javascripts filter='?yui_js' %}
	<script src="{{ asset(asset_url) }}"></script>
{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}