{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}New Order - Pay with a Tweet{% endblock %}

{% block body %}

<div class="row">
    <div class="span12 heading">
        <h1>Pay With a Tweet</h1>
        <h2>You can pay for you advert by spreading the message</h2>
    </div>
</div>

{% if order.ad.profile.user.twitterAccountsWithValidTokens(oauthOptions, clientConfig) | length == 0 %}
<div class="row">
    <div class="span12">
        <div style="text-align: center; padding: 50px;">
            <a href="{{ path('connect_twitter_begin', {redirect:path('payment_twitter',{id: order.id})}) }}" class="btn btn-main btn-large">Connect your Twitter Account</a>
            
            <p style="width: 276px; margin-left:282px; margin-top: 10px; text-align: left;">
	            Please connect your twitter account first. Then you can enter a custom tweet, or use one of ours.
	        </p> 
        </div>
    </div>
</div>

{% else %}
<div class="row">
    <div class="span12 clearfix">
        <div id="avatar-column">
            {% set account = app.user.twitterAccountsWithValidTokens(oauthOptions, clientConfig)[0] %}
            <img id="twitter-profile-{{ account.id }}" 
                src="{{ account.profilePicture(oauthOptions) }}" 
                title="{{ account.username }}" /><br />
        </div>
        <div id="textarea-column">
            <form method="POST">
                <div class="control-group">
                    <div class="controls">
	                    {{ form_widget(form.tweet) }}
	                    {{ form_errors(form.tweet) }}
	                    <span class="char-counter">140 characters left</span>
	                </div>
	            </div>
	            
                <div style="text-align: right;">
                    <input class="bnt btn-main btn-large" type="submit" value="Send Tweet" />
                    <p style="margin-top: 3px;">Once the tweet is sent, <br />your advert is paid for.</p>
                </div>
                {{ form_rest(form) }}
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <a href="{{ path('connect_twitter_begin', {redirect:path('payment_twitter',{id: order.id})}) }}" 
            class="btn btn-small payment-button">Connect Another Twitter Account</a>
    </div>
</div>
{% endif %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
	'bundles/wanaworkuser/js/payment/tweet.js'
	%}
		<script src="{{ asset(asset_url) }}"></script>	
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 
	filter='?yui_css' filter='cssrewrite' 
    'bundles/wanaworkuser/css/payment/tweet.css'
	%}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}