<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="shortcut icon" href="{{ asset('images/icon.ico') }}" type="image/x-icon"/>
	<link rel="icon" href="{{ asset('images/icon.ico') }}"  type="image/ico"/>
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'bootstrap/css/bootstrap.css'
	'static/css/common.css'
	'static/css/tables.css'
%}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}	

<style>
body {
background: #fff;
}
</style>

</head>
<body>
	<div class="container">
	
	   {% include 'WanaworkUserBundle:Payment:_receipt-header.html.twig' %}
		
        <div class="row">
            <div class="span12">
                <div>
                    Bill To:<br />
                    {{ order.ad.profile.name }}<br />
                    {{ order.ad.profile.address | nl2br }}<br />
                    {{ order.ad.profile.city }}<br />
                    {{ order.ad.profile.county }}
                </div>
                
                <table class="default-table">
                    <caption>Order ID: {{ order.id }}</caption>
                    <thead>
                        <tr>
                            <th>Order Description</th>
                            <th>Date</th>
                            <th>Price</th>
                            <th>VAT</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr>
                            <td>{{ order.publicDescription }}</td>
                            <td>{{ order.payDate.format(date_format) }}</td>
                            <td>&euro;{{ order.amountExcludingVat / 100 }}</td> 
                            <td>&euro;{{ order.vat / 100 }}</td>  
                            <td>&euro;{{ order.amountIncludingVat / 100 }}</td>    
                        </tr>
                    </tbody>
                    
                </table>
            
            </div>
        </div>
		{% include 'WanaworkUserBundle:Payment:_receipt-footer.html.twig' %}
	</div>
		
</body>
</html>
