{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Payments Report{% endblock %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>Payment Reports</h1>
    </div>
</div>

{% include 'WanaworkUserBundle:Payment:_admin-panel.html.twig' with{menu_selection: 'payment_report'} %}

<div class="row">
    <div class="span12">
        <table class="default-table">
            <caption>Payments Received</caption>
            <thead>
                <tr>
                    <th>Month/Year</th>
                    <th>Amount Received</th>
                    <th>VAT</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>
                        {{ row['month_name'] }}&nbsp;{{ row['year'] }}
                    </td>
                    <td>&euro;{{ row['amount'] / 100 }}</td>
                    <td>&euro;{{ row['vat'] / 100 }}</td>
                    <td>&euro;{{ row['total'] / 100 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
	
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
	%}
		<script src="{{ asset(asset_url) }}"></script>	
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 
	filter='?yui_css' filter='cssrewrite' 
	%}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}