{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Payments Report{% endblock %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>Payment Statistics</h1>
    </div>
</div>

{% include 'WanaworkUserBundle:Payment:_admin-panel.html.twig' with{menu_selection: 'payment_stats'} %}


<div class="row">
    <div class="span12">
        Reporting Period:
        <form method="GET" action="{{ path('payment_stats') }}">
	        <ul class="report-settings">
	            <li>
	                <span>Start Date:</span>
	                <input value="{{ start_date }}" type="datetime" id="start-date" name="start-date" class="input-small" />
	            </li>
	            <li>
	                <span>End Date:</span>
	                <input value="{{ finish_date }}" type="datetime" id="finish-date" name="finish-date" />
	            </li>
	            <li>
	                <span>Grouping:</span>
	                <select id="grouping" name="grouping">
			            <option value="day" {{ grouping == 'day' ? 'selected' : '' }}>Day</option>
			            <option value="month" {{ grouping == 'month' ? 'selected' : '' }}>Month</option>
			        </select>
	            </li>
	            <li>
	                <input class="btn" type="submit" value='Filter'>
	            </li>
	        </ul>
	    </form>
	</div>
    <div class="span12">
    
        <table class="default-table stats-table">
            <caption>Payment Method Usage Breakdown</caption>
            <thead>
                <tr>
                    <th>Date</th>
                    {% for payment_source in payment_sources %}
                    <th>{{ payment_source | capitalize }}</th>
                    {% endfor %}
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for date, row in payments_by_type %}
                <tr>
                    <td>{{ date }}</td>
                    {% set totalPayments = 0 %}
                    {% set totalPaymentsPaid = 0 %}
                    
                    {% for data in row %}
                    {% set totalPayments = totalPayments + (data['paid'] + data['unpaid']) %}
                    {% set totalPaymentsPaid = totalPaymentsPaid + data['paid'] %}
                    <td>
                        <div style="white-space: nowrap;">
                            <span title="Number of payments deposited">{{ data['paid'] }}</span> /
                            <span title="Total number of payments recorded">{{ data['paid'] + data['unpaid'] }}</span>
                        </div>
                        
                        {% if (data['paid'] + data['unpaid']) > 0 %}
                        {{ (data['paid'] * 100 / (data['paid'] + data['unpaid'])) | round }}%
                        {% endif %}
                    </td>
                    {% endfor %}
                    <td>
                        <div style="white-space: nowrap;">
                            <span title="Number of payments deposited">{{ totalPaymentsPaid }}</span> /
                            <span title="Total number of payments recorded">{{ totalPayments }}</span>
                        </div>
                        
                        {% if totalPayments > 0 %}
                        {{ (totalPaymentsPaid * 100 / totalPayments) | round }}%
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <table class="default-table stats-table">
            <caption>Payment States</caption>
            <thead>
                <tr>
                    <th>Date</th>
                    {% for payment_source in payment_sources %}
                    <th>{{ payment_source | capitalize }}</th>
                    {% endfor %}
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for date, row in payments_by_status %}
                <tr>
                    <td>{{ date }}</td>
                    {% for source, data in row %}
                    <td>
                        <ul class="status-list">
                        {% for status_id, count in data %}
                        
                        {% set class = '' %}
                        
                        {% if count > 0 %}
                            {% if constant('Wanawork\\UserBundle\\Entity\\Billing\\Payment::STATE_FAILED') == status_id %}
                                {% set class = 'label-important' %}
                            {% elseif constant('Wanawork\\UserBundle\\Entity\\Billing\\Payment::STATE_CLEARING') == status_id %}
                                {% set class = 'label-warning' %}
                            {% elseif constant('Wanawork\\UserBundle\\Entity\\Billing\\Payment::STATE_DEPOSITED') == status_id %}
                                {% set class = 'label-success' %}
                            {% elseif constant('Wanawork\\UserBundle\\Entity\\Billing\\Payment::STATE_CANCELED') == status_id %}
                                {% set class = 'label-inverse' %}
                            {% elseif constant('Wanawork\\UserBundle\\Entity\\Billing\\Payment::STATE_EXPIRED') == status_id %}
                                {% set class = 'label-inverse' %}
                            {% elseif constant('Wanawork\\UserBundle\\Entity\\Billing\\Payment::STATE_PENDING') == status_id %}
                                {% set class = 'label-info' %}
                            {% endif %}
                        {% endif %}
                        
                            <li class="{{ class }} label">
                            {{ count }} {{ states[status_id] | capitalize }}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}            
            </tbody>
        </table>
        
        <table class="default-table stats-table">
            <caption>Payment Amounts</caption>
            <thead>
                <tr>
                    <th>Date</th>
                    {% for amount in amounts %}
                    <th>&euro;{{ amount / 100 | round(2) }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for date, row in payments_by_amount %}
                <tr>
                    <td>{{ date }}</td>
                    {% for amount, data in row %}
                    <td>
                        <div class="label label-success" title="Deposited Payments">
                            {{ data['paid'] }}&nbsp;&times;&nbsp;&euro;{{ amount / 100 | round(2) }} = 
                            &euro;{{ (data['paid'] * amount / 100) | round(2) }}
                        </div>
                        <div class="label label-warning" title="Unfinished (lost) Payments">
                            {{ data['unpaid'] }}&nbsp;&times;&nbsp;&euro;{{ amount / 100 | round(2) }} = 
                            &euro;{{ (data['unpaid'] * amount / 100) | round(2) }}
                        
                        </div>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
</div>
	
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
	'vendor/datetimepicker/jquery.datetimepicker.js'
	'@WanaworkUserBundle/Resources/public/js/payment/statistics.js'
	%}
		<script src="{{ asset(asset_url) }}"></script>	
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 
	filter='?yui_css' filter='cssrewrite' 
	'vendor/datetimepicker/jquery.datetimepicker.css'
	'static/css/admin-common.css'
	'@WanaworkUserBundle/Resources/public/css/payment/statistics.css'
	%}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}