{% import "::macro.html.twig" as macro %}

{% if user.employeeProfile %}
	{% set path = path('candidate_update', { 'id': user.employeeProfile.id }) %}
	{% set is_granted = is_granted('EDIT', user.employeeProfile) %}
{% else %}
	{% set path = path('candidate_create', {id: user.id}) %}
	{% set is_granted = is_granted('CREATE', emptyProfile) and is_granted('EDIT', user) %}
{% endif %}

{% if app.request.attributes.get('postTo') %}
	{% set path = app.request.attributes.get('postTo') %}
{% endif %}

{% if is_granted %}
{{ form_errors(form) }}
<div id="cntntHolderProfile">
	<form id="employee_profile_form" action="{{ path }}" method="post" {{ form_enctype(form) }} class="form-horizontal" novalidate>
		<div class="row">
			<div class="span7">
			
			<div class="control-group {{ macro.error_classes([form.title, form.name]) }}">
				{{ form_label(form.name) }}
		        <div class="controls">
    				{{ form_widget(form.title) }}
    				{{ form_widget(form.name) }}
    				{{ form_errors(form.title) }}
    				{{ form_errors(form.name) }}
       		 	</div>
    		</div>
			
			{{ form_row(form.dob) }}
			{{ form_row(form.address) }}
			{{ form_row(form.city) }}
			{{ form_row(form.county) }}
			{{ form_row(form.languages) }}
			{{ form_row(form.phoneNumber, {'control_group_class': 'phoneNumber'}) }}
			{{ form_row(form.skype) }}
			</div>
			
			<div class="span4" style="text-align:center;">
				{% if app.user.employeeProfile and app.user.employeeProfile.webPath %}
				<img id='form-avatar' src="{{ asset((app.user.employeeProfile.webPath) | apply_filter('thumbnail_192'))  }}" alt="Profile Picture" />
				{% elseif tempAvatarPath is defined %}
				<img id='form-avatar' src="{{ asset((tempAvatarPath) | apply_filter('thumbnail_192'))  }}" alt="Profile Picture" />
				{% else %}
				<img  id='form-avatar' src="/images/profAva.png" alt='Default Profile Picture'>
				{% endif %}
				<br /><br />
				
				<div class="btn fileinput-button" style="margin-left: 45px;">
                    <span>Choose Profile Picture</span>
                	<input type="file" id="avatar-upload" name="avatar-file" data-url="{{ path('update_avatar', {id: app.user.id}) }}" />    
                </div>
                
                <div id="progress-bar-outer" style="display:none; border:1px #ccc solid; clear:both;">
                	<div id="progress-bar-inner" style="background: #ddd; width: 0%;">Uploading...</div>
                </div>
				
				<div id="hidden-avatar-input">
					{{ form_widget(form.avatarFile, {'attr': {
						'class': 'input-large',
						'style': 'cursor: pointer'
					}}) }}
				</div>
			</div>
			
		</div>	
		{{ form_rest(form) }}
		
		<hr>

	    <div class="control-group">
			<div class="controls right">
				<button data-loading-text="Saving..." type="submit" class="btn btn-large btn-main">Next</button>
			</div>
		</div>
	</form>
</div>
{% endif %}
