<div id="profileDiv">
	
	{% if user.employeeProfile and user.employeeProfile.webPath %}
	<img src="{{ asset((user.employeeProfile.webPath) | apply_filter('thumbnail'))  }}" id="user.employeeProfileImg" />
	{% endif %}
	<div id="profName">{{(user.employeeProfile and user.employeeProfile.name) ? user.employeeProfile.name : 'Hi,
		There!'}}</div>
	<div id="profMail">
		<img src="{{ asset('images/iconMail.png') }}"
			style="margin-right: 7px;"> <a href="mailto:{{ user.email }}">{{
			user.email }}</a>
	</div>
	<div id="profTelep">
		<img src="{{ asset('images/iconTelep.png') }}" style="margin-right: 10px;" /> 
		{{ (user.employeeProfile and user.employeeProfile.phoneNumber) ? user.employeeProfile.phoneNumber: '' }}
	</div>
	<div class="clear"></div>
</div>