<div class="profile clearfix">
    <div class="avatar">
		{% if profile.webPath %}
	    <img src="{{ asset((profile.webPath) | apply_filter('thumbnail_192'))  }}" alt="Profile Picture" />
	    {% else %}
	    <img  src="/images/profAva.png" alt='Default Profile Picture' />
	    {% endif %}
    </div>
    
    <div class="personal-info clearfix">
        <h3 class="name">{{ profile.title }} {{ profile.name }}</h3>
        
        <div class="contact-information">
            <div class="address with-icon clearfix">
	            <img src="{{ asset('static/typicons.2.0/png-24px/location-outline.png') }}" />
	            <span class="text">
	               {{ profile.address | nl2br }}<br />
				   {{ profile.city }}<br />
				   {{ profile.county.name }}
	            </span>
            </div>
            
            <div class="phone with-icon clearfix">
                <img src="{{ asset('static/typicons.2.0/png-24px/device-phone.png') }}" />
                <span class="text">{{ profile.phoneNumber }}</span>
            </div>
            
            <div class="email with-icon clearfix">
                <img src="{{ asset('static/typicons.2.0/png-24px/mail.png') }}" />
                <a href="mailto:{{ profile.user.email }}" class="text">{{ profile.user.email }}</a>
            </div>
        </div>
        
        <div class="social-networks">
            {% if profile.skype %}
            <div class="phone with-icon clearfix">
                <img src="{{ asset('static/typicons.2.0/png-24px/social-skype-outline.png') }}" />
                <a class="text" href="skype:{{ profile.skype }}?call">{{ profile.skype }}</a>
            </div>
		 	{% endif %}
        </div>
    </div>
</div>
    
        

