{% set menuItemPrefix = app.user == user ? 'My ' : '' %}

{% set hasProfile = user.employeeProfile %}
{% set hasCvs = hasProfile and user.employeeProfile.cvs | length > 0 %}
{% set hasAds = hasProfile and user.employeeProfile.hasAds %}
<div class="row">
	<div class="span12">
		<div id="bnrMainLite">
			<div id="bnrTxtLite">
				<h1>My Profile</h1>
			</div>
		</div>
	</div>
</div>
<div id="background-blue-lite"></div>

<ul class="nav nav-tabs" id="employee_menu" style="margin-bottom: 0;">

	{% if is_granted("ROLE_ADMIN") %}
	<li class="{{ selection == 'profile' ? 'active' : '' }}">
		<a data-toggle="tab" data-target="#profile" href="{{ path('candidate_show', {id:user.id}) }}">
			{{ menuItemPrefix }} Profile
		</a>
	</li>
	{% endif %}
	
	{% if is_granted("ROLE_ADMIN") %}
	<li class="{{ selection == 'cv' ? 'active' : '' }} 
		{{ hasCvs ? "dropdown" : "" }}">
		
		{% if hasCvs %}
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ menuItemPrefix }} CVs <b class="caret"></b></a>
		{% else %}
		<a data-toggle="tab" data-target="#cv" href="{{ path('cv', {userId: user.id}) }}">
			{{ menuItemPrefix }} CV
		</a>
		{% endif %}
		
		{% if hasCvs %}
		<ul class="dropdown-menu">
			{% for cv in user.employeeProfile.cvs if is_granted('VIEW', cv) %}
				<li><a href="{{ path('cv_show', {id: cv.id}) }}"  data-toggle="tab">{{ cv.name }}</a></li>			
			{% endfor %}
			
			{% if is_granted('EDIT', user) %}
				<li class="menu-create-item">
					<a href="{{ path('cv_new', {'userId': user.id}) }}">
						<i class="icon-pencil"></i>
						New CV
					</a>
				</li>
			{% endif %}
		</ul>
		{% endif %}
	</li>
	{% endif %}
	{# {{ path('ad', {userId: user.id}) }} #}
	<li class="{{ selection == 'ads' ? 'active' : '' }} {{ hasCvs ? '' : 'disabled smallTooltip' }}">
		<a data-toggle="tab" data-target="#ads" href="{{ path('my_ads') }}">
			{{ menuItemPrefix }} Ads
		</a>
	</li>
	
	{% if is_granted('EDIT', user) %}
	
	{# {{ path('user_shortlist_requests', {userId: user.id}) }} #}
	<li class="{{ selection == 'shortlist' ? 'active' : '' }}">
		<a data-toggle="tab" data-target="#shortlist" href="{{ path('my_shortlist_requests', {userId: user.id}) }}">
			{{ menuItemPrefix }} Shortlist Request
			{% if user.getReceivedCvRequestsAndPending() | length > 0 %}
			<span class="badge badge-info">
			{{ user.getReceivedCvRequestsAndPending() | length }}
			</span>
			{% endif %}
		</a>
	</li>
	
	{# {{ path('candidate_mailbox', {id: user.id} ) }} #}
	<li class="{{ selection == 'inbox' ? 'active' : '' }}">
		<a data-toggle="tab" data-target="#inbox" href="{{ path('my_mailbox') }}">
			{{ menuItemPrefix }} Mailbox
			{% if user.getUnreadMessages() | length > 0 %}
			<span class="badge badge-info">{{ user.getUnreadMessages() | length }}</span>
			{% endif %}
		</a>
	</li>
	{% endif %}
</ul>
<script type="text/javascript">
$(function(){
	$('#employee_menu').find('a').on('show', function(e){
		location.href = $(this).attr('href');
		return false;
	});
});
</script>