{% set profile = user.employeeProfile %}

{% if user.employeeProfile and user.employeeProfile.webPath %}
	<img src="{{ asset((user.employeeProfile.webPath) | apply_filter('thumbnail'))  }}" id="profileImg" />
{% else %}
	<img src="{{ asset('images/avaPlaceHold.jpg') }}" id="profileImg" />
{% endif %}
	
{% include 'WanaworkUserBundle:EmployeeProfile:_profile-basic-info.html.twig' %}

{% if is_granted("EDIT", profile) %}
<a href="{{ path('candidate_edit', {id: profile.id}) }}" class="butEditProfile"></a>
{% endif %}

