<h1>EmployeeProfile list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Dob</th>
            <th>Address</th>
            <th>City</th>
            <th>Phonenumber</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('candidate_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{% if entity.dob %}{{ entity.dob|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.address }}</td>
            <td>{{ entity.city }}</td>
            <td>{{ entity.phoneNumber }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('candidate_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('candidate_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('candidate_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
