{% extends "WanaworkUserBundle::base.html.twig" %}
{% block body %}
<div class="row">
	<span class="span12">
		{% include 'WanaworkUserBundle:EmployeeProfile:_profile-menu.html.twig' with {selection: 'inbox'} %}

		<div class="tab-content">
			<div id="inbox" class="inbox-tab tab-pane active">
				{% render url('mailbox_index', {userId: user.id, mailboxId: mailboxId}) %}
			</div>
		</div>	
	</span>
</div>
{% endblock %}
