{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block body %}
<div class="row">
	<span class="span12">
		{% include 'WanaworkUserBundle:Ad:_breadcrums.html.twig' with {active: 1} %}
		{% include 'WanaworkUserBundle:EmployeeProfile:_form.html.twig' %}
	</span>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'@WanaworkUserBundle/Resources/public/css/employeeProfile/profile_form.css'
	'@WanaworkUserBundle/Resources/public/css/ads/ad-post-common.css'
	'vendor/fileupload/css/jquery.fileupload-ui.css' %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts filter='?yui_js' 
	'vendor/fileupload/js/jquery.fileupload.js'
	'vendor/fileupload/js/jquery.iframe-transport.js'
	'@WanaworkUserBundle/Resources/public/js/profile_form.js'
	%}
	<script src="{{ asset(asset_url) }}"></script>
{% endjavascripts %}
{% endblock %}



