{% extends "WanaworkUserBundle::base.html.twig" %}

{% block body %}
<div class="row">
	<span class="span12">
		{% include 'WanaworkUserBundle:EmployeeProfile:_profile-menu.html.twig' with {selection: 'profile'} %}

		<div class="tab-content">
			<div id="profile" class="profile-tab tab-pane active">
			{% include 'WanaworkUserBundle:EmployeeProfile:_profile.html.twig' %}
			</div>

{# 			This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.	#}
{# 			</div>#}
<div class="clear"></div>
		</div>	
	</span>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/wanaworkuser/js/profile_form.js') }}"></script>

{% endblock %}
