#wrapper-top {
	width: 100%;
	background: #07ad70;
}

#title-row {
	padding:85px 0 90px 0;
	
}

#title-row h1 {
	color: #fff;
	font-weight: bold;
	font-size: 50px;
	text-transform: uppercase;
	padding: 0;
	display: block;
	margin: 0 auto;
	text-align: center;
}

#title-row h2 {
	color: #fff;
	font-size: 30px;
	display: block;
	margin: 0 auto;
	padding-top: 5px;
	font-weight: normal;
	text-align: center;
}

#wrapper-middle {
	padding: 55px 0 70px 0;
	background: #fff;
}

#wrapper-middle .row {
	margin-bottom: 40px;
}

#wrapper-middle h3 {
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 10px;
}

.form_employer {
	background: #f2f2f2;
	display: block;
	padding: 15px;
	width: 300px;
	margin: 0 0 0 40px;
}

.form_employer input[type=text],
.form_employer input[type=email],
.form_employer input[type=password] {
	width: 275px;
}

#wrapper-benefits {
	background: #f2f2f2;
	padding: 50px 0 70px 0;
}

#wrapper-benefits h3 {
	margin-top: 0;
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 40px;
}

#wrapper-benefits h4 {
	font-size: 23px;
	line-height: 23px;
}

#wrap-testimonial {
	background: #fff;
	padding: 85px 0 75px 0;
}

#wrap-testimonial blockquote {
	padding: 0;
	margin: 0;
	border-left: 0;	
}

#wrap-testimonial blockquote table td {
	vertical-align: top;
}

#wrap-testimonial blockquote p {
	font-size: 30px;
	line-height: 32px;
	font-weight: 600;
}

#wrap-testimonial blockquote span.quote {
	font-size: 40px;
	line-height: 40px;
	font-weight: 600;
}

#wrap-testimonial blockquote span.quote.quote-left {
	display: block;
	padding-right: 3px;
}

#wrap-testimonial blockquote small {
	float: right;
	font-size: 17px;
	line-height: 19px;
	color: #161d27;
	margin-top: 20px;
}

#wrap-testimonial blockquote cite {
	font-weight: 600;	
}

#quote-scroll-left {
	background: url('/bundles/wanaworkmain/images/index/arrow-left.png');
	width: 16px;
	height: 26px;
	display: block;
	position: relative;
	top: 30px;
}

#quote-scroll-right {
	background: url('/bundles/wanaworkmain/images/index/arrow-right.png');
	width: 16px;
	height: 26px;
	display: inline-block;
	position: relative;
	top: 30px;
}

#wrap-bottom {
	background: #07ad70;
	color: #fff;
	padding: 80px 0;
}

#wrap-bottom h1 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 30px;
	line-height: 30px;
}

#wrap-bottom p {
	margin-bottom: 20px;
}