.section {
	background-color: transparent;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 1;
	-ms-behavior: url(/vendor/background-size-polyfill/backgroundsize.min.htc);
}

.section * {
	z-index: 2;
}

#home-backgrounds {
	padding: 0; 
	margin: 0;
}
#home-backgrounds li {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 0;
	display: none;
	color: transparent;
	
	background-color: transparent;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
}

li#home-backgrounds-1 {
	
	background-image: url('/bundles/wanaworkmain/images/index/backgrounds/bg-2.jpg');
	display: block;
}

li#home-backgrounds-2 {
	
	background-image: url('/bundles/wanaworkmain/images/index/backgrounds/bg-3.jpg');
}

li#home-backgrounds-3 {
	background-image: url('/bundles/wanaworkmain/images/index/backgrounds/bg-1.jpg');
}

li#home-backgrounds-4 {
	background-image: url('/bundles/wanaworkmain/images/index/backgrounds/bg-4.jpg');
}

#section-home .signup-form {
	margin-right: 40px;
}

#home-menu {
	width: 940px;
	min-width:940px;
	position: absolute; 
	top: 40px;
	left: 50%;
	margin-left: -470px;
	z-index: 2;
}

#home-menu .column {
	width: 33%;
	float: left;
}

#home-social-icons {
	width: 168px;
	float: right;
}

#home-social-icons li {
	float: left;
	margin-right: 10px;
}

#section-home .login-link {
	float: right;
}

#home-content {
	width: 940px;
	height: 320px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -470px;
	margin-top: -190px;
	z-index: 3;
}

#home-content-text {
	float: left;
	width: 400px;
	margin-top: 70px;
}

#section-home  h1 {
	color: #fff;
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
}

#section-home h1 a, #section-home h1 a:LINK,
#section-home h1 a:VISITED, #section-home h1 a:ACTIVE {
	color: #fff;
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
	text-decoration: none;
	border-bottom: 1px dashed #fff;
	display: inline-block;
}

#section-home h2 {
	color: #fff;
	float: right;
	font-size: 20px;
	line-height: 20px;
	width: 340px;
	margin-right: 40px;
}

.signup-form {
	float: right;
	background: #fff;
	width: 300px;
	padding: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.signup-form input {
	width: 275px;
}

#section-features {
	background-image: url('/bundles/wanaworkmain/images/index/background-features.jpg');
}

#section-features .row1 {
	margin: 30px 0;
}

#section-features h1 {
	margin-top: 0;
	color: #fff;
	text-align: center;
	display: block;
	font-size: 30px;
	line-height: 30px;
}


#feature-list {
	text-align: center;
	margin-left: 15px;
}

#feature-list li {
	float: left;
	margin-right: 50px;
}

#feature-list li a img {
}

#feature-list li a {
	color: #fff;
	opacity: 0.6;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  	/* IE 5-7 */
  	filter: alpha(opacity=60);

    /* Netscape */
    -moz-opacity: 0.6;

	/* Safari 1.x */
	-khtml-opacity: 0.6;
	text-decoration: underline;
}

#feature-list li a.active {
	opacity: 1;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  	/* IE 5-7 */
  	filter: alpha(opacity=100);

    /* Netscape */
    -moz-opacity: 1;

	/* Safari 1.x */
	-khtml-opacity: 1;
	text-decoration: none;
	cursor: default;
}

#section-features .row2 {
	margin-bottom: 50px;	
}

#section-features .controlArrow {
	display: none;
}

#features-content-wrap {
	background: #fff;	
	height: 100%;
}

#features-content-wrap .content {
	display: table;
	height: 100%;
	width: 780px;
	margin: 0 auto;
	padding: 5px 0;
}

#features-content-wrap .feature-slide {
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 260px;
}


#section-features h2 {
	font-size: 30px;
	line-height: 30px;
}

#features-content-wrap .feature-slide {
	display: none;
}

.feature-slide p {
	font-size: 16px;
}

.feature-slide .col-picture {
	width: 480px;
}

.feature-slide .col-text {
	width: 290px;
}


#feature-stats .col-picture {
	text-align: right;
}

#feature-inbox .col-picture {
	text-align: right;
}

#section-signup {
	background-image: url('/bundles/wanaworkmain/images/index/background-features.jpg');
}

#section-signup h1 {
	color: #fff;
	font-weight: 600;
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	margin-top: 45px;
}

#section-signup h2 {
	color: #fff;	
	text-align: center;
	font-size: 23px;
	line-height: 23px;
	font-weight: normal;
}

#section-signup .row1 {
	position: relative;
}

#section-signup .login-btn {
	position: absolute;
	right: 0;
	top: 50px;
}

#section-signup .row2 h3 {
	font-size: 23px;
	line-height: 23px;
	color: #fff;	
}


#section-signup .signup-form {
	float: none;
}

#section-signup .content-wrap {
	height: 100%;
	display: table;
	padding-bottom: 170px;
	margin: 0 auto;
}

#section-signup .content-wrap .container {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

#section-signup .footer {
	position: absolute; 
	bottom: 0; 
	left: 0;
	z-index: 10;
	background: #202935;
	color: #fff;
	width: 100%;
	padding: 15px 0;
	font-size: 16px;
}

 #footerLinks ul li ul {
 	display: none;
 }

#footer-wrapper2 {
	display: none;
}

.fullPage-tooltip {
	white-space: nowrap;
	padding: 4px 10px;
	background: #000;
	border-radius: 4px;
}

#registration_account-type {
	margin-bottom: 20px;
}

#registration_account-type label .required {
	display: none;
}
#registration_account-type input {
	width: auto;
	vertical-align: top;
}
#registration_account-type * {
	display: inline;
}

#label_candidate_account {
	display: block;
	clear: both;
}

#fullPage-nav span, .fullPage-slidesNav span {
	width: 14px;
	height: 14px;
	outline: 0 none;
}

#fullPage-nav li .active span, .fullPage-slidesNav .active span {
	background: #f05623;
	outline: 0 none;
}

#candidate_company_company, #candidate_company_company2 {
	margin-left: 10px;
}

#signup-employer {
	display: none;
}