#login-form {
	border: 3px solid #07AD70;
	background: #fff;
	padding: 32px 35px;
	width: 230px;
	height: 190px;
	margin: 0 auto;
}

input#username, input#password {
	width: 216px;
}

#error-message {
	width: 306px;
	margin: 0 auto;
	display: block;
	margin-bottom: 5px;
}

#login-button {
	float: right;
}

#forgot-pass-link {
	float: left;
	position: relative;
	top: 7px;
}

#signup {
	margin: 0 auto;
	margin-top: 30px;
	width: 300px;
	text-align: center;
}

