.search {
	
}

.search .sidebar {
	float: left;
	width: 260px;
	/* padding: 12px 20px 20px 20px; */
	/* background: #202935; */
	margin: 25px 20px 0 0;
}

.search .sidebar label {
	
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";

  /* IE 5-7 */
  filter: alpha(opacity=40);

  /* Netscape */
  -moz-opacity: 0.4;

  /* Safari 1.x */
  -khtml-opacity: 0.4;
  
	opacity: .4;
	margin-bottom: 1px;
	color: #fff;
}
.search .sidebar label .typcn {
	font-size: 1.5em;
}

.search .sidebar .group {
	margin-bottom: 10px;
}

.search .sidebar input,
.search .sidebar select {
	width: 220px;	
}

.search .sidebar .section {
	padding: 12px 20px 20px 20px;
}

.search .sidebar .work-section {
	background: #363e49;
	border-radius: 5px 5px 0 0;
}

.search .sidebar .education-section {
	background: #2b343f;
}

.search .sidebar .other-section {
	background: #202935;
	border-radius: 0 0 5px 5px;
}

.search .sidebar .search-button {
	margin-top: 10px;
}

.search .ads {
	float: left;
	width: 660px;
	margin: 25px 0 0 0;
}

.horizontal-form {
	width: 710px;
	background: #202935;
	border-radius: 4px;
	margin: 25px auto;
}

.horizontal-form .section {
	padding: 20px;
}

.horizontal-form label {
	color: #fff;

	opacity: .4;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	-moz-opacity:0.4;
	-khtml-opacity: 0.4;
}

.horizontal-form .middle-section {
	background: #121922;
	padding: 20px 0 20px 20px;
	position: relative;
}

#tiny-arrow {
	position: absolute;
	top: -6px;
	left: 21px;
}

.horizontal-form .middle-section .group {
	width: 213px;
	margin-right: 15px;
	float: left;
}

.horizontal-form .middle-section .group.margin {
	margin-bottom: 30px;	
}

.horizontal-form .middle-section select {
	width: 200px;
}

.horizontal-form label .typcn {
	font-size: 1.7em;
}

.horizontal-form #wanawork_userbundle_searchtype_profession {
	width: 655px;
}

.horizontal-form .bottom-section {
	text-align: center;
}
.horizontal-form .search-button {
	width: 210px;
	height: 40px;
	font-size: 18px;
}