{% extends "::/email/base.html.twig" %}

{% block title %}

{% endblock %}

{% block body %}
Hi {{ systemEmail.user.name }}<br /><br />

Thank you for your time. As we discussed, here are your login details for wannawork.ie:<br /><br />
Username: "{{ systemEmail.user.email }}"<br />
Password: "{{ rawPassword }}"<br />

To start hiring, you need to either log in using the above details or 
<a id="login-link" href="{{ url('user_auto_login', {id: systemEmail.user.id, token: systemEmail.user.autoLoginToken}) }}">follow this link</a>. 
<br /><br />

Just a quick thank you for becoming one of the first one-hundred employers to sign up to Wannawork.ie. 
By the end of February, you will hear our ads on the radio and see them on youtube. 
By then, candidates will be joining Wannawork, and you can get hiring.

<br /><br />
<b>Here is how it works:</b><br />

<table width="100%">
    <tr>
        <td align="center">
            <img src="{{ asset('images/stpImg2.png') }}" width="450px" />
        </td>
    </tr>
</table>

<br />
<table width="600px">
    <tr>
        <td width="33%" align="center">
            <b>Sign up</b><br />

			Join hundreds of employers today. Build
			your company profile and start looking
			for candidates who really want to work.
			It's free and easy, sign up today.
        </td>
        <td width="33%" align="center">
            <b>Search</b>
            <br />
            
			Searching is simple and offers you
			access to thousands of candidates who
			are currently looking for work. Tailor
			your search criteria to find the skills,
			qualifications and experience you need
			for your business.
        </td>
        <td width="33%" align="center">
            <b>Connect</b>
            <br />
			Gain access to an unlimited number of
			candidate profiles, communicate with
			them on/off site and manage your
			shortlists.
        </td>
    </tr>
</table>

<br /><br />

<b>Benefits:</b>
<br />

<table width="100%" background="#f05623" style="color: #fff; background: #f05623 url({{ asset('images/benefitsBg.jpg') }});">
    <tr>
        <td align="center" width="33%" style="color: #fff;">
            <img src="{{ asset('images/bnfImg_4.png') }}" /> <br />
            
            <b>Accurate Search</b><br />
            
			Find a candidate with specific skills who
			genuinely wants to work and is not just
			'looking for a job'.
        </td>
        <td align="center" width="33%" style="color: #fff;">
            <img src="{{ asset('images/bnfImg_5.png') }}" /> <br />
            
            <b>Always Current Candidates</b><br />
            Every candidate you find is open to opportunities of employment.
        </td>
        
        <td align="center" width="33%" style="color: #fff;">
            <img src="{{ asset('images/bnfImg_6.png') }}" /><br />
            <b>Totally Free</b><br />
            
            And you can do all of this completely FREE of charge.
        </td>
    </tr>
</table>

<br /> <br />

If you'd like to learn more about the product, please take a look at Wannawork.ie Overview video: 
<a href="http://www.youtube.com/watch?v=PkqHzz5_LU0">http://www.youtube.com/watch?v=PkqHzz5_LU0</a>
<br />
{% endblock %}
