<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
	<table bgcolor="#d8d5c6"
		style="background-color: #f4f3f3; font-family: Arial; font-size: 15px; color: #1c1c1c; background: #f4f3f3;"
		width="100%">
		<tr>
			<td>
				<table width="700" bgcolor="#ffffff" align="center" cellpadding="0"
					cellspacing="0" style="border-collapse: collapse;" border="0">

					<tr>
						<td border="0" bgcolor="#f4f3f3"
							style="background-color: #f4f3f3; border: none;" colspan="3">
							<a href="{{ url('wanawork_main_homepage') }}">
								<img src="{{ asset('/images/logoFull.png') }}" />
							</a>
						</td>
					</tr>

					<tr>
						<td border="0" bgcolor="#5b5b5b"
							style="line-height:5px; background-color: #5b5b5b; border: none; max-height: 5px; height:5px;" colspan="3"
							height="5px">
					    </td>
					</tr>
					<tr>
						<td border="0" style="border: none;" align="center" colspan="3"
							height="35px"></td>
					</tr>
					<tr>
						<td border="0" width="50"></td>
						<td border="0">
							<span style="font-family: Arial; font-size: 20px; color: #3b3b3b; font-weight: bold;">
							{% block title %}
							
							{% endblock %}
							</span> 
							<br />
							<br /> 
							<span style="font-family: Arial; font-size: 14px; color: #3b3b3b;">
							{% block body %}
							
							{% endblock %}
							</span>
						</td>
						<td border="0" width="50"></td>
					</tr>
					<tr>
						<td border="0" width="50"></td>
						<td border="0" style="border: none;" align="right" height="50">
						    <span style="font-family: Arial; font-size: 14px; color: #3b3b3b; font-style: italic;">
						    {% block signature %}
								<br /> Regards,<br /> Wannawork.ie team <br />
								<br />
								<br />
						    {% endblock %}
							</span>
					    </td>
						<td border="0" width="50"></td>
					</tr>
					<tr>
						<td border="0" bgcolor="#c1bead"
							style="background-color: #c1bead; border: none; line-height: 1px;" colspan="3"
							height="1px"></td>
					</tr>
					<tr>
						<td border="0" style="border: none;" colspan="3" height="20px"
							bgcolor="#f4f3f3"></td>
					</tr>

					<tr>
						<td border="0" style="border: none;" colspan="3">
							<table width="700" bgcolor="#f4f3f3" align="center" cellpadding="0" cellspacing="0"
								style="border-collapse: collapse;" border="0">
								<tr style="vertical-align: top;">
								    <td border="0" style="border: none;" width="240" align="left">
								        <span style="font-family: Arial, Tahoma; font-size: 11px; color: #646464;">
								        Copyright &copy; 2013&mdash;{{ "now"|date('Y') }} Wannawork. All Rights Reserved.
										</span>
										
										<p style="font-family: Arial, Tahoma; font-size: 11px; color: #646464;">
										{{ company_legal_name }} T/A {{ company_trading_name }}<br />
									        {{ company_address | nl2br }}<br />
									        
									        VAT Number: {{ company_vat_number }}<br />
								            Company Registration Number: {{ company_registration_number }}<br />
								            Registered in Ireland<br />
									        
									        Web: {{ company_url }}<br />
									        Support: {{ company_support_email }}
									    </p>
									    
								    </td>
								    <td border="0" style="border: none;" width="60" align="center">
									    <a href="{{ site_url_twitter }}" target="_blank"
									       style="font-family: Arial; font-size: 10px; color: #ffffff;"><img 
									       width="34" height="34" src="{{ asset('/images/email/t.jpg') }}" alt="twitter" /></a>
									       
								    </td>
								    <td border="0" style="border: none;" width="80" align="left">
								        <a href="{{ site_url_facebook }}" target="_blank"
									      style="font-family: Arial; font-size: 10px; color: #ffffff;"><img
										  width="34" height="34" src="{{ asset('/images/email/f.jpg') }}" alt="fb" /></a>
								    </td>
								    <td border="0" style="border: none;" width="240" align="right">
								        <a href="{{ url('systememail_unsubscribe', {id: systemEmail.id}) }}" 
								       target="_blank" style="font-family: Arial; font-size: 11px; color: #457fbf;">Unsubscribe</a>
								    </td>
								</tr>
								<tr>
									<td border="0" style="border: none;" colspan="4" bgcolor="#f4f3f3" height="20"></td>
								</tr>
							</table>
					     </td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<img id="email-tracker"
		src="{{ url('systememail_track', {id: systemEmail.id}) }}" width="1px"
		height="1px" />
</body>
</html>
