{% extends "::/email/base.html.twig" %}

{% block title %}
New CV Request
{% endblock %}

{% block body %}
Dear {{ systemEmail.user.name }}
<br />
You have a new request to access your CV from {{ request.employerProfile.companyName }}<br />
<br />
<a href="{{ url('my_cv_requests') }}">Click here</a> to view your CV Requests.
{% endblock %}


