{% extends "::/email/base.html.twig" %}

{% block title %}
Response to your CV Request
{% endblock %}

{% block body %}
Dear {{ systemEmail.user.name }}
<br /><br />
{% if request.granted %}
{{ request.ad.profile.name }} just approved your cv access request for the ad "{{ request.ad.headline }}"

<a href="{{ url('ad_show', {slug:request.ad.slug}) }}">Click here</a> to view the full cv
{% elseif request.denied %}

Your cv access request for the ad 
<a href="{{ url('ad_show', {slug:request.ad.slug}) }}">"{{ request.ad.headline }}"</a> 
was denied. 
<br />
In order to maximise positive responses from candidates please consider the following:

<ul>
    <li>Fill out your company profile fully.</li>
    <li>Get your company account verified</li>
    <li>When requesting CV access, please provide the full job description.</li>    
</ul>

{% endif %}

{% endblock %}


