{% extends "::/email/base.html.twig" %}

{% block title %}
Password Reset
{% endblock %}

{% block body %}
Dear {{ systemEmail.user.name }}<br />
Please  
<a href="{{ url('reset_password', {token: passwordReminder.id}) }}">follow this link</a>
to reset your password. 

<br />
If you believe you got this email in error, 
or you didn't request a password reset, please notify us as soon as possible admin@wanawork.ie
{% endblock %}


