{% extends "::/email/base.html.twig" %}

{% block title %}
New Message
{% endblock %}

{% block body %}
Dear {{ systemEmail.user.name }}
<br /><br />

You have a new message from 
{% if message.authorEmployer %}
{{ message.profile.companyName }}
{% elseif message.authorEmployee %}
{{ message.profile.user.name }}
{% endif %}
<p>
"{{ message.text | nl2br }}"
</p>

<a href="{{ url('mailbox_index', {id: message.thread.id}) }}">Click here to reply</a>
{% endblock %}


