{% extends "::/email/base.html.twig" %}

{% block title %}
Receipt
{% endblock %}

{% block body %}
Dear {{ systemEmail.user.name }}
<br /><br />
Thank you for your payment. Please find the receipt attached.
{% endblock %}


