{% extends "::/email/base.html.twig" %}

{% block title %}

{% endblock %}

{% block body %}
Hi NAME<br /><br />

My name is Emmett and I would like to give you a personal introduction to Wannawork.ie.<br /><br/>

We've just launched our Employer Beta and are already helping companies across 
Ireland eliminate the cost of recruiting great people 
with our new approach to how recruitment should work.
<br /><br/>

I noticed you were currently recruiting. I am confident, 
that Wannawork.ie can help you not have to pay for recruitment ever again 
and get better results from the time you spend recruiting, 
just like we have for many other businesses in your area.
<br /><br/>
Ask yourself the question: "Am I getting value for my money, when I'm paying a small fortune for recruitment?"
<br /><br/>
I guarantee you, if you could get better results and save time, hassle &amp; money in the process, you'd be much happier. 
That's what Wannawork does for you.
<br /><br/>
Why not check Wannawork out for yourself? It's FREE for employers.
Click Here to go straight to <a href="http://wannawork.ie">Wannawork.ie</a> or check out our 
<a href="http://www.youtube.com/watch?v=PkqHzz5_LU0">Introduction Video Here</a>.
<br /><br/>
Instead of calling you and taking up your valuable time today, 
I'll let you check out Wannawork for yourself, and you can let us know what you think.
<br /><br />
Remember, We're in our Employer Beta test, that means we don't have any candidates yet 
(You don't mind though, because it's FREE for employers, and always will be), 
but in the next few weeks keep an eye (and ear) out for Wannawork.ie on Radio, 
Facebook, Twitter, LinkedIn, YouTube & in the Press. That's when Ireland's most 
motivated job hunters will be arriving and proving that they "Wannawork".

<br /><br />

<b>Here is how it works:</b><br />

<table width="100%">
    <tr>
        <td align="center">
            <img src="{{ asset('images/stpImg2.png') }}" width="450px" />
        </td>
    </tr>
</table>

<br />
<table width="600px">
    <tr>
        <td width="33%" align="center">
            <b>Sign up</b><br />

			Join hundreds of employers today. Build
			your company profile and start looking
			for candidates who really want to work.
			It's free and easy, sign up today.
        </td>
        <td width="33%" align="center">
            <b>Search</b>
            <br />
            
			Searching is simple and offers you
			access to thousands of candidates who
			are currently looking for work. Tailor
			your search criteria to find the skills,
			qualifications and experience you need
			for your business.
        </td>
        <td width="33%" align="center">
            <b>Connect</b>
            <br />
			Gain access to an unlimited number of
			candidate profiles, communicate with
			them on/off site and manage your
			shortlists.
        </td>
    </tr>
</table>

<br /><br />

<b>Benefits:</b>
<br />

<table width="100%" background="#f05623" style="color: #fff; background: #f05623 url({{ asset('images/benefitsBg.jpg') }});">
    <tr>
        <td align="center" width="33%" style="color: #fff;">
            <img src="{{ asset('images/bnfImg_4.png') }}" /> <br />
            
            <b>Accurate Search</b><br />
            
			Find a candidate with specific skills who
			genuinely wants to work and is not just
			'looking for a job'.
        </td>
        <td align="center" width="33%" style="color: #fff;">
            <img src="{{ asset('images/bnfImg_5.png') }}" /> <br />
            
            <b>Always Current Candidates</b><br />
            Every candidate you find is open to opportunities of employment.
        </td>
        
        <td align="center" width="33%" style="color: #fff;">
            <img src="{{ asset('images/bnfImg_6.png') }}" /><br />
            <b>Totally Free</b><br />
            
            And you can do all of this completely FREE of charge.
        </td>
    </tr>
</table>

<br /> <br />

{% endblock %}

{% block signature %}
Regards,<br />

Emmett Corcoran<br />
Founder, Wannawork.ie
{% endblock %}
