{% extends "::/email/base.html.twig" %}

{% set user = systemEmail.user %}
{% block title %}
Thank You for Registering
{% endblock %}

{% block body %}
Dear {{ user.name }},
<br />
<br />

Thank you for registering to use Wannawork.ie.
<br />

Username: {{ user.email }}<br />
Password: Specified by you at registration<br />
<br /><br />

As you might have noticed we do things a bit different here at Wannawork.ie
As a candidate you will have noticed that there are no Job Vacancies advertised on our site. 
No, this is not a mistake. 
<br /><br />
At Wannawork we have noticed that the old way simply isn't working anymore.
<br /><br />
Instead of employers advertising Job Vacancies on the site, 
we have decided it's time that the Job-hunters proved 
that they actually do "Wannawork" by advertising themselves as being "Available for Work".
<br /><br />
Now that you have registered you can build your online profile and CVs. 
In order to be found by an employer you've got to publish an Advertisement, 
along with your short sales pitch and headline. Please provide accurate information for better chances to success. 
<br />
This will only cost you &euro;3 for 2 months. 
<br /><br />
<a href="{{ url('ad_new') }}">Click here</a> to start building your Advert, and be found by thousands of employers
<br /><br />
Thank you for using Wannawork.ie 

{% endblock %}
