{% extends "::/email/base.html.twig" %}

{% set user = systemEmail.user %}
{% block title %}
Thank You for Registering
{% endblock %}

{% block body %}
Dear {{ user.name }},
<br /><br />
Thank you for registering to use Wannawork.ie.
<br /><br />
Username: {{ user.email }}<br />
Password: Specified by you at registration
<br /><br />
Here at Wannawork, we do recruitment differently. 
We do not charge employers money to advertise their positions. 
It will be totally free for you, forever, that is our promise.

Instead, we allow you to search for candidates based on the skills you require. 
Every found match is a genuine candidate that is really interested in working. 
We ensure this by charging candidates a small fee to advertise themselves as being available for work. 
All search results, however, are anonymous but contain enough information to get a general idea about the candidate.
<br /><br />
To get access to candidate's full CV, you'd need to request access from them, and they would need to approve it. 
You can make 5 CV requests per day. If you need more, you need to get your account verified, and we'll lift this restriction. 
<br /><br />
Please complete your company profile fully to get the best possible response from candidates.
<br /><br />
Start <a href="{{ url('wanawork_main_search') }}">searching for candidates</a> today.
<br /><br />
Thank you for using Wannawork
{% endblock %}
