{% extends "::/email/base.html.twig" %}

{% block title %}
We have new candidates for you
{% endblock %}


{% block body %}
Hi {{ name }}<br /> <br />

We found {{ notificationCheck.newAdsCount }} candidate{{ notificationCheck.newAdsCount == 1 ? '' : 's' }} 
for your "{{ notificationCheck.notification.searchName }}" search.<br /><br />

Please <a href="{{ url('wanawork_main_search', {searchId: notificationCheck.notification.search.id}) }}">click here</a> 
to view the latest candidates.<br /><br />

If you wish to change your notification's settings,  
<a href="{{ url('search_nofitication_show', {id: notificationCheck.notification.search.id}) }}">please click here</a><br /><br />

{% endblock %}
