.main-block {
	float: left;
	background: #fff;
	width: 600px;
	padding: 20px;
}

.aside-block {
	float: left;
	width: 200px;
	margin-left: 40px;
}

.aside-block q {
	display: block;
	margin-top: 5px;
	font-size: 20px;
	background: #f5f5f5;
	padding: 15px;
	width: 180px;
	border-radius: 10px;
	
}

.aside-block .author {
	text-align: right;
}