#table-of-contents {
	padding: 0 20px;
}

#table-of-contents h3 {
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 2px;
}

#table-of-contents ul {
	list-style: disc;
	list-style-position: inside;
}

#table-of-contents ul li a:hover {
	text-decoration: underline;
	color: #d03400;
}

.articles {
	background: #fff;
	padding: 5px 20px;
	margin-bottom: 25px;
	border-bottom: 2px solid #333;
}

.articles article {
	margin-bottom: 20px;
}

.articles article ul {
	list-style: disc;
	list-style-position: outside;
	margin-left: 20px;
}

.articles article ol {
    list-style: decimal;
	list-style-position: outside;
	margin-left: 20px;
}

.articles article h4 {
    margin-bottom: 6px;	
}

h3.articles-title {
	display: block;
	text-align: center;
	margin-bottom: 3px;
	font-size:20px;
	line-height: 22px;
}