#employerCandidateSwitch {
	text-align: center;
	margin-top: 0px;
}

#feauters{
	margin-top: 50px;
}

#plans {
	margin-top: 50px;
	text-align: center;
}

table.plansTable {
	border: 3px #07ad70 solid;
	border-collapse: collapse;
	border-spacing: 0;
	margin:50px auto 0px;
}

table.plansTable thead {
	background-color: #07ad70;
	color: #fff;
}

table.plansTable tbody {
	color: #535353;
}

table.plansTable tbody tr.dark {
	background-color: #f6f6f6;
}

table.plansTable tbody tr.white {
	background-color: #fff;
}

table.plansTable thead th {
	padding-top: 22px;
	padding-bottom: 27px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table.plansTable tbody td {
	padding: 14px 22px;
	text-align: left;
}

table.plansTable tbody tr {
	border-bottom: 1px #eee solid;
}

table.plansTable thead div.planName {
	font-size: 18px;
	text-transform: uppercase;
}

table.plansTable thead div.description {
	font-size: 16px;
	font-style: italic;
	color:#ececec;
	margin:11px 0;
}

table.plansTable thead span.price {
	font-size: 25px;
}

table.plansTable thead span.duration {
	font-size: 20px;
	color:#ececec;
}

table.plansTable thead span.separator,table.plansTable thead span.duration
	{
	font-weight: normal;
}

table.plansTable tr.triangle {
	border: 0;
	font-size: 0;
	height:0;
}

table.plansTable tr.triangle td {
	text-align: center;
	padding: 0;
	vertical-align: top;
	margin:0;
}

table.plansTable tr.triangle td img {
	vertical-align: top;
}