{% extends '::base.html.twig' %}

{% block body %}

<div class="row">
    <div class="span12 heading">
        <h1>CV Access Request</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="empty-wrapper">
            <div class="message-content">
                <h3>The Ad has expired</h3>
                <p>
                    You cannot request access to full CV if the ad is expired
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

