{% extends '::base.html.twig' %}

{% block body %}

<div class="row">
    <div class="span12 heading">
        <h1>CV Access Request</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="empty-wrapper">
            <div class="message-content">
                <h3>Company Profile Required</h3>
                <p>
                    In order to request access to CVs, you need:
                    <ol>
                        <li>
                            To be logged in
                        </li>
                        <li>
                            To have a company account created
                        </li>
                    </ol>
                </p>
                
                <hr class="divider" />
                
                <a href="{{ path("company_new") }}" class="btn btn-main">Create Company Profile</a>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
    'bundles/wanaworkuser/css/cvRequest/login-required.css'
	 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}
