{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}CV Shortlist Requests{% endblock %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>CV Shortlist Requests</h1>
        <h2>Below is a list of requests you received from employers who wish to access your full CV</h2>
    </div>
</div>

<div class="row">
    <div class="span12">
        
        <div class="cv-requests">
        
            {% if requests | length > 0 or status is not null %}
		    <div class="filter-buttons">
			    <span><i class="icon icon-info-sign"></i>&nbsp;Show me:</span>   
				<a class="all {{ status is null ? 'active' : '' }}" href="{{ path('my_cv_requests') }}">All</a>
				<a class="pending {{ status=='pending' ? 'active' : '' }}" 
				   href="{{ path('my_cv_requests', {status: 'pending'}) }}">Pending</a>
				<a class="approved {{ status=='approved' ? 'active' : '' }}" 
				   href="{{ path('my_cv_requests', {status: 'approved'}) }}">Approved</a>
				<a class="denied {{ status=='denied' ? 'active' : '' }}" 
				   href="{{ path('my_cv_requests', {status: 'denied'}) }}">Denied</a>
			</div>
	        <div class="status-toopltip">
	            <b>Pending</b>
	            <p>You havn't yet replied to employer's request.</p>
	            <b>Approved</b>
	            <p>You approved employer's request. The employer can now view your full CV and communicate with you in chat</p>
	            <b>Denied</b>
	            <p>Your denied employer's request. Employer will not be able to access your full CV</p>
	        </div>
			{% endif %}
        
        {% for request in requests %}
	        
            {% if request.isGranted %}
				{% set statusClass = 'success' %}
				{% set replyTitle = "Approved on " ~ request.responseDate.format(date_format) %}
			{% elseif request.isDenied %}
				{% set statusClass = 'important' %}
				{% set replyTitle = "Denied on " ~ request.responseDate.format(date_format) %}
			{% elseif request.isPending %}
				{% set statusClass = 'info' %}
				{% set replyTitle = '' %}
			{% endif %}
					
	        <div class="cv-request">
	            <div class="line clearfix">
	                <div class="description">Requested Ad</div>
	                <div class="text">
	                    <a href="{{ path('ad_show', {slug: request.ad.slug}) }}">{{ request.ad.headline }}</a>
	                </div>
	            </div>
	            
	            <div class="line clearfix">
	                <div class="description">Company</div>
	                <div class="text">
	                    <a href="{{ path('company_show', {slug: request.employerProfile.slug}) }}">{{ request.employerProfile.companyName }}</a>
						{% if request.employerProfile.isVerified %}
						<sup><span class="label label-info">Verified</span></sup>
						{% endif %}
	                </div>
	            </div>
	            
	            <div class="line clearfix">
	                <div class="description">Requested Date</div>
	                <div class="text">
	                    <span class="timeago" title="{{ request.createDate.format('c') }}">
							{{ request.createDate.format(date_format) }}
						</span>
	                </div>
	            </div>
	            
	            <div class="line clearfix">
	                <div class="description">Status</div>
	                <div class="text">
	                    <span title="{{ replyTitle }}" class="label label-{{ statusClass }} {{ replyTitle ? '' : '' }}">
							{{ request.statusName | capitalize }}
						</span>
						
						{% if request.isGranted or request.isDenied %}
						<br />
						<span class="timeago" title="{{ request.responseDate.format('c') }}">
							{{ request.responseDate.format(date_format) }}
						</span>
						{% endif %}
	                </div>
	            </div>
	            
	            {% if request.message %}
	            <div class="line clearfix">
	                <div class="description">Message to candidate</div>
	                <div class="text">
					    {{ request.message }}
	                </div>
	            </div>
	            {% endif %}
	            
	            {% if request.job %}
	            <div class="line clearfix">
	                <div class="description">Offered Position</div>
	                <div class="text">
					    <a href="{{ path('jobs_show', {id: request.job.id, title: clean_url(request.job.title)}) }}">{{ request.job.title }}</a>
	                </div>
	            </div>
	            {% endif %}
	            
	            <div class="actions">
			  	{% if request.isGranted and request.mailThread and is_granted('CREATE', request.mailThread) %}
			  		<a href="{{ path('mailbox_index', {id: request.mailThread.id}) }}">
			  			<i class="icon icon-envelope"></i>Send a Message
			  		</a>
			  	{% elseif request.mailThread and is_granted("VIEW", request.mailThread) %}
			  		<a href="{{ path('mailbox_index', {id: request.mailThread.id}) }}">
			  			<i class="icon icon-envelope"></i>
			  			View Messages
			  		</a>
			  	{% endif %}
			  	
			  	{% if request.isPending and is_granted('EDIT', request) and request.ad.cv %}
			  	    <form class="update-status-form" action="{{ path('cv_request_set_status', {id: request.id}) }}" method="POST">
			            {{ form_widget(update_status_forms[request.id]) }}
				  	    {% if not request.isGranted %}
				    	<button class="btn btn-success approve"
				    	   data-status="{{ constant('Wanawork\\UserBundle\\Entity\\CvRequest::GRANTED') }}">
				    	   <i class="icon icon-ok icon-white"></i>&nbsp;Approve
				        </button>
				        {% endif %}
				    
				        {% if not request.isDenied %}
				    	<button class="btn btn-danger deny" 
				    	   data-status="{{ constant('Wanawork\\UserBundle\\Entity\\CvRequest::DENIED') }}">
				    		<i class="icon icon-ban-circle icon-white"></i>&nbsp;Deny
				    	</button>
				        {% endif %}
				    </form>
				{% elseif not request.ad.cv %}
				
				<a href="{{ path('ad_edit', {slug: request.ad.slug}) }}" class="btn" style="margin-top: 10px;">Upload CV to respond</a>
				<p>Your advert is missing a CV. Before you can grant/deny this employer access, you need to upload a CV first.</p>
			    {% endif %}
			    </div> 
	            
	        </div>
        
        {% else %}
            <div class="empty-wrapper">
                <div class="message-content">
				{% if emptyMessage is defined %}
					{{ emptyMessage }}
				{% else %}
					You don't have any {{ status }} cv requests yet
				{% endif %}
				</div>
		    </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' '@WanaworkUserBundle/Resources/public/js/cvRequest/list.js' %}
    <script src="{{ asset(asset_url) }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets '@WanaworkUserBundle/Resources/public/css/cvRequest/list.css' filter='?yui_css' filter='cssrewrite' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
	{% endstylesheets %}
{% endblock %}
