{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Shortlisted CVs{% endblock %}

{% block body %}

<div class="row">
    <div class="span12 heading">
        <h1>Shortlisted CVs</h1>
        <h2>Below is a list of CVs you shortlisted</h2>
    </div>
</div>

<div class="row">
    <div class="span12">
        
        <div class="cv-requests">
        
            {% if requests | length > 0 or status is not null %}
		    <div class="filter-buttons">
			    <span><i class="icon icon-info-sign"></i>&nbsp;Show me:</span>   
				<a class="all {{ status is null ? 'active' : '' }}" href="{{ path('my_shortlisted_cvs') }}">All</a>
				<a class="pending {{ status=='pending' ? 'active' : '' }}" 
				   href="{{ path('my_shortlisted_cvs', {status: 'pending'}) }}">Pending</a>
				<a class="approved {{ status=='approved' ? 'active' : '' }}" 
				   href="{{ path('my_shortlisted_cvs', {status: 'approved'}) }}">Approved</a>
				<a class="denied {{ status=='denied' ? 'active' : '' }}" 
				   href="{{ path('my_shortlisted_cvs', {status: 'denied'}) }}">Denied</a>
			</div>
			
			<div class="status-toopltip">
	            <b>Pending</b>
	            <p>The candidate hasn't yet replied to your request.</p>
	            <b>Approved</b>
	            <p>The candidate approved your request. You can now view their full CV and communicate in our chat</p>
	            <b>Denied</b>
	            <p>The candidate denied your request. You will not be able to access their full CV this time</p>
	        </div>
			{% endif %}

        
        {% for request in requests %}
	        
            {% if request.isGranted %}
				{% set statusClass = 'success' %}
				{% set replyTitle = "Approved on " ~ request.responseDate.format(date_format) %}
			{% elseif request.isDenied %}
				{% set statusClass = 'important' %}
				{% set replyTitle = "Denied on " ~ request.responseDate.format(date_format) %}
			{% elseif request.isPending %}
				{% set statusClass = 'info' %}
				{% set replyTitle = '' %}
			{% endif %}
					
	        <div class="cv-request">
	            <div class="line clearfix">
	                <div class="description">Requested Ad</div>
	                <div class="text">
	                    <a href="{{ path('ad_show', {slug: request.ad.slug}) }}">{{ request.ad.headline }}</a>
	                </div>
	            </div>
	            
	            <div class="line clearfix">
	                <div class="description">Requested Date</div>
	                <div class="text">
	                    <span class="timeago" title="{{ request.createDate.format('c') }}">
							{{ request.createDate.format(date_format) }}
						</span>
	                </div>
	            </div>
	            
	            <div class="line clearfix">
	                <div class="description">Status</div>
	                <div class="text">
	                    <span title="{{ replyTitle }}" class="label label-{{ statusClass }} {{ replyTitle ? '' : '' }}">
							{{ request.statusName | capitalize }}
						</span>
						
						{% if request.isGranted or request.isDenied %}
						<br />
						<span class="timeago" title="{{ request.responseDate.format('c') }}">
							{{ request.responseDate.format(date_format) }}
						</span>
						{% endif %}
	                </div>
	            </div>
	            
	            {% if request.message %}
	            <div class="line clearfix">
	                <div class="description">Message to candidate</div>
	                <div class="text">
					    {{ request.message }}
	                </div>
	            </div>
	            {% endif %}
	            
	            {% if request.job %}
	            <div class="line clearfix">
	                <div class="description">Offered Position</div>
	                <div class="text">
					    <a href="{{ path('jobs_show', {id: request.job.id, title: clean_url(request.job.title)}) }}">{{ request.job.title }}</a>
	                </div>
	            </div>
	            {% endif %}
	            
	            <div class="actions">
	            {% if request.isGranted and request.mailThread and is_granted('CREATE', request.mailThread) %}
			  		<a href="{{ path('mailbox_index', {id: request.mailThread.id}) }}">
			  			<i class="icon icon-envelope"></i>Send a message to candidate
			  		</a>
			  		&nbsp;
			  		<a href="{{ path('ad_download_cv', {slug: request.ad.slug}) }}">
			  		    <i class="icon icon-download"></i>Download CV
			  		</a>
			  	{% elseif request.mailThread and is_granted("VIEW", request.mailThread) %}
			  		<a href="{{ path('mailbox_index', {id: request.mailThread.id}) }}">
			  			<i class="icon icon-envelope"></i>
			  			View Messages
			  		</a>
			  	{% endif %}
			    
			    {% if request.pending and is_granted('DELETE', request) %}
			        <form action="{{ path("cv_request_delete", {id:request.id}) }}" method="POST">
			        <input type="hidden" name="_method" value="DELETE">
			        {{ form_widget(delete_forms[request.id]) }}
			        <button class="btn btn-danger delete-link">
			            <i class="icon icon-white icon-remove"></i>&nbsp;Delete Request
			        </button>
			        </form>
			    {% endif %}
			    </div> 
	            
	        </div>
        
        {% else %}
            <div class="empty-wrapper">
                <div class="message-content">
				{% if emptyMessage is defined %}
					{{ emptyMessage }}
				{% else %}
					You don't have any {{ status }} cv requests yet
				{% endif %}
				</div>
		    </div>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' '@WanaworkUserBundle/Resources/public/js/cvRequest/list.js' %}
    <script src="{{ asset(asset_url) }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='?yui_css' filter='cssrewrite'
	   '@WanaworkUserBundle/Resources/public/css/cvRequest/list.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
	{% endstylesheets %}
{% endblock %}
