{% extends '::base.html.twig' %}

{% block title %}Request Access to Candidate's Full CV{% endblock %}
{% block meta %}
<meta content="Request access to candidate's full CV. Login required" name="description">
{% endblock %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>CV Access Request</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="empty-wrapper">
            <div class="message-content">
                <h3>You must be logged in to continue</h3>
                <p>
                    In order to request access to CVs, you need:
                    <ol>
                        <li>
                            To be logged in
                        </li>
                        <li>
                            To have a company account created
                        </li>
                    </ol>
                </p>
                
                <hr class="divider" />
                <a class="btn btn-main" href="{{ path('login', {login_redirect: current_url()}) }}">Login</a>
                Or
                <a href="{{ path('wanawork_register', {type: 'employer'}) }}" class="btn btn-main">Register</a>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
    'bundles/wanaworkuser/css/cvRequest/login-required.css'
	 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}
