{% extends '::base.html.twig' %}

{% block title %}New CV Request{% endblock %}
{% block meta %}
<meta content="Send a request to access full CV to the candidate" name="description">
{% endblock %}

{% block body -%}
<div class="row">
    <div class="span12 heading">
        <h1>CV Access Request</h1>
        <h2>Please enter either a message, or select one of your job specs, or both</h2>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="cv-request-wrapper">
            <form method="POST">
                {{ form_errors(form) }}
                {{ form_label(form.message, 'Your message to candidate') }}
                {{ form_widget(form.message) }}
                {{ form_errors(form.message) }}
                
                {{ form_label(form.job, 'Job description for which you are recruiting') }}
                {{ form_widget(form.job) }}&nbsp;<a id="new-job-spec" href="{{ path('jobs_new') }}">Create new job spec?</a>
                {{ form_errors(form.job) }}
                
                {{ form_widget(form._token) }}
                
                <label>CV you're requesting</label>
                <input type="text" disabled value="{{ ad.headline }}" /> 
                <div>
                    <input type="submit" value="Send Request" class="btn btn-main" />
                </div>
                
            </form>
        </div>
    </div>
</div>

<div id="new-job-dialog" title="New Job Spec">

</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
    'bundles/wanaworkuser/css/cvRequest/form.css'
    'bundles/wanaworkuser/css/jobSpec/form.css'
	 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% javascripts filter='?yui_js' 
    'vendor/ckeditor/ckeditor.js'
	'bundles/wanaworkuser/js/cvRequest/form.js'
%}
	<script src="{{ asset(asset_url) }}" type="text/javascript"></script>
{% endjavascripts %}
{% endblock %}