{% extends '::base.html.twig' %}

{% block body %}

<div class="row">
    <div class="span12 heading">
        <h1>CV Access Request</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="empty-wrapper">
            <div class="message-content">
                <h3>No More CV Requests Left</h3>
                <p>
                    You have no more CV Requests left for today.
                    <br />
                    Please <a href="">upgrade your package</a> or come back tomorrow
                </p>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}

