{% extends '::base.html.twig' %}

{% block title %}CV Request Pending{% endblock %}

{% block body %}

<div class="row">
    <div class="span12 heading">
        <h1>CV Access Request</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="empty-wrapper">
            <div class="message-content">
                <h3>Request Already Exists</h3>
                <p>
                    You already submitted a request for the ad ({{ request.ad.headline }}), 
                    <abbr class="last-message-time timeago" title="{{ request.createDate.format('c') }}">
                    {{request.createDate.format(date_format) }}</abbr>. <br />
                    Request Status: {{ request.statusName }}
                </p>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
