{% extends '::base.html.twig' %}

{% block body %}

<div class="row">
    <div class="span12 heading">
        <h1>CV Access Request</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="empty-wrapper">
            <div class="message-content">
                <h3>Select Account to Use</h3>
                <p>
                    In order to request access to CVs, you need to select company account to use:
                    
                    <ul style="font-size: 18px;">
                    {% for profile in app.user.employerProfiles %}
                        <li style="margin-bottom: 5px;">
                            {{ profile.companyName }}
                            <a href="{{ path('user_set_default_profile', {id: app.user.id, profile_id: profile.id, redirect: current_url()}) }}" 
                                class="btn">Select</a>
                        </li>
                    {% endfor %}
                    </ul>
                </p>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
    'bundles/wanaworkuser/css/cvRequest/login-required.css'
	 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}
