{% extends '::base.html.twig' %}

{% block body -%}
{% include 'WanaworkUserBundle:SystemEmail:_email-admin.html.twig' with {menu_selection: 'social_twitter'} %}
<div class="row">
    <div class="span12">
        {% for jfTweet in entities %}
        <div class="tweet">
        
            <div class="text clearfix">
                <div class="date">{{ jfTweet.tweet.createdAt.format(date_format) }}</div>
                <img src="{{ jfTweet.tweet.user.avatarUrl }}" class="avatar" title="{{ jfTweet.tweet.user.name }}" />
                {{ jfTweet.tweet.htmlText | raw }}
                
                <a target="_blank" href="https://twitter.com/{{ jfTweet.tweet.user.screenName }}" class="user">{{ jfTweet.tweet.user.name }}</a>
            </div>
            
            
            <div class="matched-profession clearfix">
            
                {% if jfTweet.matchedProfessions | length > 0 %}
                <table class="default-table">
                    <thead>
                        <tr>
                           <th>Profession</th>
                           <th>Number of live ads</th>
                           <th>Recent Ads Url</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for profession in jfTweet.matchedProfessions %}
                        <tr>
                            <td>{{ profession.name }}</td>
                            <td>{{ adRepositry.findByProfession(profession) | length }}</td>
                            <td><a href="{{ url('ad_candidates_by_profession', {profession_slug: profession.slug}) }}">{{ url('ad_candidates_by_profession', {profession_slug: profession.slug}) }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div>
                No matches
                </div>
                {% endif %}
                
{#                 <button class="btn btn-respond">Respond</button>#}
            </div>
        </div>
        {% endfor %}
	</div>
</div>


<div class="row">
	<div class="span12">
		<div class="navigation">
    	{{ knp_pagination_render(entities) }}
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
	%}
		<script src="{{ asset(asset_url) }}"></script>	
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='?yui_css' filter='cssrewrite'
	'bundles/wanaworkuser/css/twitter/tweets.css'
		 %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
	{% endstylesheets %}
{% endblock %}
