{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Experience edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('entity_sector_experience') }}">
            Back to the list
        </a>
    </li>
{#     <li>{{ form(delete_form) }}</li>#}
</ul>
{% endblock %}
