{% extends '::base.html.twig' %}

{% block body -%}
    {% include "WanaworkUserBundle:Entity:_entity-list.html.twig" with {menu_selection: 'entity_sector_experience'} %}
    
<div class="row">
    <div class="span12">
    
        <a class="btn" href="{{ path('entity_sector_experience_new') }}">Create Experience</a>
        <a class="btn" href="{{ path('entity_sector_experience_export') }}">Export</a>
	    <table class="records_list default-table">
	        <thead>
	            <tr>
	                <th>Id</th>
	                <th>Name</th>
	                <th>Actions</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for entity in entities %}
	            <tr>
	                <td>{{ entity.id }}</td>
	                <td>{{ entity.name }}</td>
	                <td>
	                <ul>
{# 	                    <li>#}
{# 	                        <a href="{{ path('entity_sector_experience_show', { 'id': entity.id }) }}">show</a>#}
{# 	                    </li>#}
	                    <li>
	                        <a href="{{ path('entity_sector_experience_edit', { 'id': entity.id }) }}">edit</a>
	                    </li>
	                </ul>
	                </td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
    </div>
</div>
{% endblock %}
