#employer-list {
	list-style: none;
	margin-top: 50px;
	text-align: center;
	position: relative;
	top: 40px;
}

#employer-list li {
	display: inline;
	height: 150px;
}

#employer-list li img {
	margin-right: 60px;
}

#subtitle {
	position: relative;
	top: 75px;
	font-weight: 600;
}