<div class="aside-stat">
{% if ad.isPublished %}
    
    {% if ad.expired %}
    Your advert is expired and you are no longer visible to employers
    <a href="{{ path('ad_extend', {slug: ad.slug}) }}" class="btn btn-success" style="margin-top: 20px;">Extend your advert</a>
    {% else %}
    <div class="headline">Today's Statistics</div>
    
    <div class="stat-row view-stat">
        <span class="count">{{ ad.todayViews.count }}</span>
        <span class="description">Views</span>
    </div>
    
    <div class="stat-row pdf-download-stat">
        <span class="count">{{ ad.TodayViewsPDF.count }}</span>
        <span class="description">CV downloads</span>
    </div>
    
    <div class="stat-row cv-requests-stat">
        <span class="count">{{ ad.todayPendingAccessRequests.count }}</span>
        <span class="description">CV access requests</span>
    </div>
    
    <a href="{{ path('ad_stats', {slug: ad.slug}) }}" class="btn btn-main">View full statistics</a>
    <a href="{{ path('ad_edit', {slug: ad.slug}) }}" class="btn">Edit Ad</a>
    
    <div class="expiry-information">
        {% set percentageLeft = ceil(ad.expiryDateInDays * 100 / ad.runningSpanSinceLastPayment) %}
        
        {% if percentageLeft >= 50 %}
        {% set class = 'success' %}
        {% elseif percentageLeft >= 30 and percentageLeft < 50 %}
        {% set class = 'warning' %}
        {% else %}
        {% set class = 'danger' %}
        {% endif %}
        
        <div class="headline">Expiry Information</div>
        
        {% if ad.expiryDateInDays > 0 %}
        <div class="smallTooltip progress progress-{{ class }}" 
            title="{{ ad.nearExpiry ? ad.expiryDateInDays ~ " day" ~ (ad.expiryDateInDays == 1 ? '' : 's') ~ " left. ": '' }}Your ad will expire on the {{ ad.expiryDate.format('jS F') }}">
		    <div class="bar" style="width: {{ percentageLeft }}%">
		    {% if ad.expiryDateInDays > 5 %}
		    {{ ad.expiryDateInDays }} day{{ ad.expiryDateInDays == 1 ? '' : 's' }} left
		    {% endif %}
		    </div>
		</div>
		{% endif %}
		
		{% if ad.nearExpiry %}
		<div>
		    {{ ad.isExpired ? 'Your ad expired.' : "Your ad soon expires." }}
		    You can <a href="{{ path('ad_extend', {slug: ad.slug}) }}">extend it now</a>.
		</div>
		{% endif %}
        
    </div>    
    
    {% if not ad.premium %}
    <div class="upgrade-info">
        <a title="Increase your chance of getting noticed - upgrade to premium" 
            href="{{ path('ad_upgrade_premium', {slug: ad.slug}) }}" class="btn btn-secondary smallTooltip">Upgrade to premium</a>
    </div>
    {% endif %}
    
    {% endif %}
{% else %}
    <div class="alert">
	    This ad is not published 
	</div>
	<a href="{{ path('ad_edit', {slug: ad.slug}) }}" class="btn btn-main">Edit &amp; Publish</a>
{% endif %}
</div>
