<div id="ad-box-{{ ad.id }}" class="ad-box {{ ad.premium or force_premium is defined ? 'premium' : '' }}">

    <div class="header clearfix">
        {% if ((ad.canDisplayBadge or is_granted('ADMIN')) and ad.badge) or (force_badge is defined) %}
        <div class="badges">
	        <div class="left ribbon">
		        {% if badge_input is defined %}
		        <input class="badge-input" type="text" placeholder="5 words that describe you best" 
		           maxlength="100" value="{{ ad.badge }}"
		            data-url="{{ path('ad_update_badge', {slug: ad.slug}) }}" />
		        {% else %}
		        {{ ad.badge }}
		        {% endif %}
	        
	        </div>
	        <div class="left">
	           <img class="corner" src="{{ asset("/bundles/wanaworkuser/images/adpost/adbox/ribbon.png") }}" />
	        </div>
        </div>
	    {% endif %}
        
        {% if ad.match %}
        <div class="match">Match <span>{{ ad.match }}%</span></div>
        {% endif %}
    </div>
    
    <div class="ad-content">
        <div class="intro clearfix">
	        <h3 class="headline">{{ ad.headline }}</h3>
		    <div class="pitch">
		        {{ ad.pitch }}
		    </div>
		    
		    {% if hide_action is not defined and show_fake_request is not defined %}
		    <div class="action">
		        {% if is_granted('VIEW', ad) and ad.cv and ad.slug %}
		          <a href="{{ path('ad_download_cv', {slug: ad.slug}) }}" class="btn btn-light">Download CV</a>
		        {% elseif is_granted("EDIT", ad) and not ad.cv %}
		          <a href="{{ path('ad_edit', {slug: ad.slug}) }}" class="btn btn-light">Set CV</a>
		        {% elseif app.user and ad.hasCvRequestFromEmployer(app.user.defaultProfile) %}
		        Your request status: <br /><b>{{ ad.accessRequests.get(app.user.defaultProfile.id).statusName | capitalize }}</b>
		        {% else %}
		        <a title="Request Access to Candidate's CV" href="{{ path('cv_request_new', {id: ad.id, redirect: current_url()}) }}" class="btn btn-light">Request CV</a>
		        {% endif %}
		    </div>
		    {% elseif show_fake_request is defined %}
		    <div class="action">
		        <a title="Request Access to Candidate's CV" href="#" class="btn btn-light">Request CV</a>
		    </div>
		    {% endif %}
	    </div>
	    
	    <div class="work clearfix">
	    
	        <div class="experience">
                <img src="{{ asset('static/typicons.2.0/png-24px/briefcase.png') }}" />
	            I want to work as: a
	            <span class="profession {{ search is defined and search.profession == ad.profession ? 'underlined' : '' }}">
	               {{ ad.profession }}
	            </span>
	            <span class="industry-separator" style="display: {{ ad.industries.count > 0 ? 'inline' : 'hidden' }}">in</span>
	            <span class="industries" style="display: {{ ad.industries.count > 0 ? 'inline' : 'hidden' }}"> 
	                {% for industry in ad.industries %}
                    <span class="industry {{ search is defined and search.industries.contains(industry) ? 'underlined' : '' }}">
                        {{ industry }}{% if not loop.last %},{%  endif %}
                    </span>
                   	{% endfor %} 
	            </span>
	            <span class="experience-length {{ search is defined and search.experience == ad.experience ? 'underlined' : '' }}">
	            (<span class="experience-value">{{ ad.experience }}</span> experience)
	            </span>
	        </div>
	        
	        <div class="positions">
	            <img src="{{ asset('static/typicons.2.0/png-24px/directions.png') }}" />
	            Role Types:
	            
	            <span class="position-list">
	                {% for position in ad.positions %}
		            <span class="position-item item {{ search is defined and search.positions.contains(position) ? 'underlined' : '' }}">
		            {{ position }}</span>{% if not loop.last %}, {% endif %}
		            {% endfor %}
	            </span>
	        </div>
	        
	        <div class="education">
	            <img src="{{ asset('static/typicons.2.0/png-24px/book.png') }}" />
	            Education: 
	            <div class="education-level">
	               <span class="{{ search is defined and search.educationLevel == ad.educationLevel ? 'underlined' : '' }}">
	               {{ ad.educationLevel }}
	               </span>
	            </div>
	        </div>
	        
	    </div>
	    
	    <div class="misc clearfix">
	        
	        <div class="locations column">
	            <img src="{{ asset('static/typicons.2.0/png-24px/location-outline.png') }}" />
	            Locations:
	            <span class="locations-list">
		            {% for location in ad.locations %}
		            <span class="location-item item {{ search is defined and search.locations.contains(location) ? 'underlined' : '' }}">
		            {{ location }}</span>{% if not loop.last %}, {% endif %}
		            {% endfor %}
		        </span>
	        </div>
	        
	        <div class="languages column">
	            <img src="{{ asset('static/typicons.2.0/png-24px/message.png') }}" />
	            Languages:
	            
	            <span class="languages-list">
		            {% for language in ad.languages %}
		            <span class="language-item item {{ search is defined and search.languages.contains(language) ? 'underlined' : '' }}">
		              {{ language }}</span>{% if not loop.last %}, {% endif %}
		            {% endfor %}
	            </span>
	            
	        </div>
	    </div>
	    
	    {% if is_granted("ROLE_ADMIN") %}
	    <div class="admin clearfix">
	       <div class="post-date">
				<i class="icon-time"></i>
				<span>{{ ad.postDate | date(date_format) }}</span>
			</div>
		    <div class="owner">
				<i class="icon-user"></i>
				<span><a href="{{ path('user_show', {id: ad.profile.user.id}) }}">{{ ad.profile.name }}</a></span>
			</div>	
			
			<div class="">
			    <i class="icon-eye-close"></i>
			    <span>Published: {{ ad.published ? 'Yes':'No' }}</span>
			</div>	
			
			<div class="">
			    <span>Payment: &euro;{{ ad.totalPayAmount/100|round(2) }}</span>
			</div>
	    
	    </div>
	    {% endif %}
    </div>
    
    {# Admin panel for ad owner #}
    {% if is_granted("EDIT", ad) %}
    <div class="admin-panel-owner">
        {% if ad.canBump and hide_bumps is not defined %}
        <div class="bumps">
	        You have <span class="count">{{ ad.countBumpsLeft }} bump{{ ad.countBumpsLeft == 1 ? '' : 's' }}</span> you can use.
	        <a class="bump-link smallTooltip" 
	          title="Your ad falls to the bottom of the search list, as new ads get published. Bump yours, and you'll be back at the top" 
	          href="{{ path('ad_bump', {slug: ad.slug}) }}">Use one now?</a>
        </div>
        {% endif %}
    </div>
    {% endif %}
    
    {# Only visible to Administrators #}
		
{# 		{% if is_granted('OWNER', ad) and ad.id %}#}
{# 		<div class="row">#}
{# 			<div class="span12">#}
{# 				<div class="admin-box" style="position:relative;">#}
{# 					<b>Admin Panel</b>#}
					
{# 					{% if is_granted('EDIT', ad) or is_granted('DELETE', ad) %}#}
{# 					<div class="btn-group action-buttons">#}
{# 					  <a class="btn btn-main btn-small" href="" title="View Ad">#}
{# 					  	<i class="icon-eye-open icon-white"></i>#}
{# 					  </a>#}
{# 					  <a class="btn btn-main btn-small dropdown-toggle" data-toggle="dropdown" href="#">#}
{# 					  	<span class="caret"></span>#}
{# 					  </a>#}
					
{# 					  <ul class="dropdown-menu">#}
					  	
{# 					  	{% if is_granted("EDIT", ad) %}#}
{# 					    <li><a href="{{ path('ad_edit', {'id': ad.id}) }}"><i class="icon-pencil"></i> Edit</a></li>#}
{# 					  	{% endif %}#}
					  	
{# 					  	{% if is_granted("DELETE", ad) %}#}
{# 					    <li><a class="delete" href="#"><i class="icon-ban-circle"></i> Delete</a></li>#}
{# 					  	{% endif %}#}
					  	
{# 					  </ul>#}
{# 					</div>#}
					
{# 					{% set currentPath = current_url() %}#}
{# 					{% if delete_form is defined %}#}
{# 					<form class="delete-form" method="POST" action="{{ path('ad_delete', {id: ad.id, throwBack: currentPath }) }}">#}
{# 					  	{{ form_widget(delete_form) }}#}
{# 					</form>#}
{# 					{% endif %}#}
{# 					{% endif %}#}
					  
{# 				</div>#}
{# 			</div>#}
{# 		</div>#}
{# 		{% endif %}#}
</div>
