{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block body %}
<div class="row">
	<span class="span12">
		{% include 'WanaworkUserBundle:EmployeeProfile:_profile-menu.html.twig' with {selection: 'ads'} %}

		<div class="tab-content" style="background: #fff;">
			<div id="profile" class="profile-tab tab-pane active">
				<h1>Please Create a CV before you post an Ad</h1>	
			</div>
	        <div class="clear"></div>
		</div>	
	</span>
</div>
		
{% endblock %}
