<form action="" method="post" {{ form_enctype(form) }} id='ad-form' class='form-horizontal' novalidate>
	<div class="row">
		<div class="span12 clearfix">
		  
		    <div>
                {{ form_errors(form) }}
        	</div>
        	    
            {{ form_widget(form._token) }}
            
            <h1>Your Ad &mdash; Public Information</h1>
            <p>Your ad is what employers will see and judge you on. If they like it, they will request access to your CV</p>
            
            <div class="ad left">
            
                {% if ad.premium %}
                <div class="badge-holder">
			      {{ form_widget(form.badge, {
			        attr: {
			          placeholder: '5 words that describe you best',
			          class: 'withTooltip',
			          'data-content': 'Your main qualities. Keep it short, and separate by commas to capture employers\' attention',
			          'data-trigger': 'hover',
			          'data-container': 'body'
                    }
                   }) }}
			      {{ form_errors(form.badge) }}
                </div>
                {% endif %}
			  
                <div class="ad-content first-section">
			     
                    <div class="field-holder">
                        {{ form_widget(form.headline, {
			             attr: {
                            placeholder: 'Headline',
                            class: 'withTooltip', 
                            'tabindex': 1,
        		            'data-trigger': 'hover',
                            'data-content': 'This is a title of your ad. It should be short and sharp, and give employers a reason to look at you'
                         }
		          	     }) }}
                        {{ form_errors(form.headline) }}
                        
                        <p id="headline-remaining-text"></p>
                    </div>
        		
                    <div id="pitch-wrapper"  class="field-holder">	
                        {{ form_widget(form.pitch, {
                            attr: {
                                'tabindex': 2,
                                placeholder: 'Pitch', 
                                class: 'withTooltip', 
        		                'data-trigger': 'hover',
                                'data-content': 'This is a personal sales pitch to employers. It should highlight your strongest qualities, and give employers a reason to request access to your CV'                                
                            }
                        }) }}
                        {{ form_errors(form.pitch) }}
        	    
					    <p id="pitch-remaining-text"></p>
                    </div>
        	    
                </div>
                <div class="ad-content second-section">
        	     
                    <div class="clearfix">
	                    <div id="work-as-wrapper" class="field-holder left">
	                        <div>
		                        <label>
		                            <img src="{{ asset('bundles/wanaworkuser/images/adpost/step1/labels/profession.png') }}" alt="Profession Icon" />
		                            I want to work as
		                        </label>
		        	            {{ form_widget(form.profession, {
                                  attr: {
                                    'tabindex': 3,
                                    'class': 'withTooltip',
                                    'data-content': 'Who do you want to work as?',
                                    'data-placement': 'right',
                                    'data-trigger': 'hover',
                                  }
                                }) }}
		        	            {{ form_errors(form.profession) }}
	        	            </div>
	        	            <div style="margin-top: 10px;">
	        	               {{ form_widget(form.experience, {
                                attr: {
                                    'class': 'withTooltip',
                                    'data-content': 'How many years of experience do you have in the selected profession?',
                                    'data-placement': 'right',
                                    'data-trigger': 'hover',
                                }
                               }) }}
	        	               {{ form_errors(form.experience) }}
	        	            </div>
	                    </div>
	                    
	                    <div id="industries-wrapper" class="field-holder right">
	                        <label>
	                            <img src="{{ asset('bundles/wanaworkuser/images/adpost/step1/labels/industries.png') }}" alt="Industries Icon" />
	                            Industry Sector
	                        </label>   
	        	            {{ form_widget(form.industries, {
                                attr: {
                                    'class': 'withTooltip',
                                    'data-content': 'If you wish to work in specific industries, specify them here. Leave blank, otherwise.',
                                    'data-placement': 'right',
                                    'data-trigger': 'hover',
                                }
                            }) }}
	        	            {{ form_errors(form.industries) }}
	                    </div>
                    </div>
        	       
                </div>
                <div class="ad-content third-section">
        	     
        	        <div class="clearfix">
	                    <div id="positions-wrapper" class="field-holder left">
	                        <label>
	                            <img src="{{ asset('bundles/wanaworkuser/images/adpost/step1/labels/roles.png') }}" alt="Role Types Icon" />
	                            Role Types
	                        </label>
	                        {{ form_widget(form.positions, {
	                            attr: {
	                                class: 'withTooltip',
	                                'data-placeholder': 'Role Types',
	                                'data-placement': 'right',
	                                'data-content': 'Choose the types of roles you are interested in taking',
	                                'data-trigger': 'hover',
	                            }
	                        }) }}
	                        
	                        {{ form_errors(form.positions) }}
	                    </div>
	                    
	                    <div id="education-wrapper" class="field-holder right">
	                       <label>
	                           <img src="{{ asset('bundles/wanaworkuser/images/adpost/step1/labels/education.png') }}" alt="Education Level Icon" />
	                           Education
	                       </label>
	        	           {{ form_widget(form.educationLevel, {
                               attr: {
                                   'class': 'withTooltip',
                                   'data-placement': 'right',
                                   'data-content': "What's the highest level of education you hold?",
                                   'data-trigger': 'hover',
                               }
                           }) }}
	        	           {{ form_errors(form.educationLevel) }}
	        	        </div>
	        	    </div>
	        	    
	        	</div>
	        	<div class="ad-content fourth-section">
	        	
        	        <div class="clearfix">
	                    <div id="locations-wrapper" class="field-holder left">
	                        <label>
	                            <img src="{{ asset('bundles/wanaworkuser/images/adpost/step1/labels/locations.png') }}" alt="Locations Icon" />
	                            Locations
	                        </label>
	                        {{ form_widget(form.locations, {
	                            attr: {
	                                class: 'withTooltip',
	                                'data-placeholder': 'Locations',
	                                'data-placement': 'right',
	                                'data-trigger': 'hover',
	                                'data-content': 'Chose the locations you would be willing to work in. Please only choose locations you would seriously consider'
	                            },
	                        }) }}
	                        
	                        {{ form_errors(form.locations) }}
	                    </div>
	                    
	                    <div id="languages-wrapper" class="field-holder right">
	                        <label>
	                            <img src="{{ asset('bundles/wanaworkuser/images/adpost/step1/labels/languages.png') }}" alt="Languages Icon" />
	                            Languages you speak
	                        </label>
	                        {{ form_widget(form.languages, {
                                attr: {
                                    'class': 'withTooltip',
                                    'data-content': 'List the languages that you speak',
                                    'data-placement': 'right',
                                    'data-trigger': 'hover',
                                }
                            }) }}
	                        {{ form_errors(form.languages) }}
	                    </div>
                    </div>
                </div>
            </div>
	        <div class="notes right">
	           <ul>
	               <li>Your advert will be live for 60 days</li>
	               <li>Your advert is public</li>
	               <li>Your CV is always private</li>
	               <li>Employers will request access to your cv, and we'll notify you by email</li>
	           </ul>
	        </div>
	    </div>
	</div>
	
	<div class="row">
	   <div class="span9">
	       <div class="cv-wrapper">
                <h1>Your CV &ndash; Private Information <span>(You can skip this part and upload a CV later)</span></h1>
                <h2>Your CV is always private. Employers will have to request access to it and you'd have to approve it</h2>
                
                <div class="cv">
                    <div class="field-holder">
                    
                        <div class="upload-wrapper" style="display: {{ (ad.cv) ? 'none':'block' }}">
                            <div class="btn fileinput-button">
		                        <span>Upload {{ ad.cv ? 'New ' : '' }}CV</span>
		                	    <input type="file" id="cv-file-upload" name="cv-file" data-url="{{ path('cv_file_create') }}" />    
			                </div>
			                
			                <button style="display: {{ (ad.cv) ? 'inline-block' : 'none' }}" class="btn btn-secondary keep-existing-cv">Keep Existing CV</button>
			                
			                <div id="progress-bar-outer" style="display:none; border:1px #ccc solid; clear:both;">
			                	<div id="progress-bar-inner" style="background: #ddd; width: 0%;">Uploading...</div>
			                </div>
			                
			                <div>
                                Accepted file formats: Word, Open Office &amp; PDF
                            </div>
                        </div>
                        
                        <div class="cv-view-wrapper" style="display: {{ (ad.cv) ? 'block':'none' }}">
                            Uploaded CV: <span class="cv-name">{{ ad.cv ? ad.cv.name : '' }}</span>
                            <br />
                            <button class="btn btn-small change-cv">Change CV</button>&nbsp;
                            <button class="btn btn-small view-cv" data-url="{{ ad.cv ? path('ad_download_cv', {slug: ad.slug}) : '#' }}">View CV</button>
                        </div>
                        {{ form_widget(form.cv) }}
                    
{#                         {% if ad.getCv %}#}
{#                             You have cv: "{{ ad.cv.name }}"#}
{#                         {% else %}#}
{#                             {{ form_widget(form.cv.file) }}#}
{#                             {{ form_errors(form.cv.file) }}#}
{#                         {% endif %}#}
                    </div>
                </div>
            </div>
	   </div>
	</div>
	
	<button type="submit" class="btn btn-large btn-main next-button">
	    {{ ad.published ? 'Save Changes' : 'Publish Your Advert'  }}
	</button>
	<button type="button" class="btn btn-large btn-preview">Preview</button>
	
</form>

<div class="preview">
    <div class="preview-inner">
        <h1>That's How Employers Will See Your Advert</h1>
        {% include 'WanaworkUserBundle:Ad:_ad_box.html.twig' with {show_fake_request: 1, hide_bumps: 1} %}    
        <button id="hide-preview" class="btn">Okey, looks great</button>    
    </div>
</div>

