<div class='row'>
	<div class="span12">
		<ul class="nav nav-pills">
			<li class="{{ menu_selection == 'ads' ? 'active' : '' }}">
		    	<a href="{{ path('ad_list') }}">Ad List</a>
		  	</li>
		  	<li class="{{ menu_selection == 'stats' ? 'active' : '' }}">
		  		<a href="{{ path('all_ads_statistics') }}">Statistics</a>
		  	</li>		  	
		</ul>
	</div>
</div>