{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Your advert is live{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

<div class="row">
    <div class="span12">
        <img src="{{ asset('images/logoFull.png') }}" alt="Wannawork.ie logo" />
    </div>
</div>

<div class="row" style="margin-top: 50px;">
    <div class="span12">
        <div class="message-box">
            <h1>Congratulations!</h1>
            <p>Your advert is now live</p>
            <p>Go to <a href="{{ path('my_ads') }}">my ads</a> to keep track of your advert's performance</p>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 60px;">
    <div class="span12">
        <h2 style="font-size: 30px; line-height: 30px; text-align: center;">Upgrade to Premium. Attract Employer's Attention</h2>
    </div>
</div>

<div class="row" style="margin-top: 60px;">
    <div class="span8">
        <div id="adbox-holder">
        {% include 'WanaworkUserBundle:Ad:_ad_box.html.twig' with {badge_input: 1, show_fake_request: 1, force_badge: 1, force_premium: 1, hide_bumps: 1} %}  
        </div>
        <div id="preview-block">
            Preview my ad in: <a href="#" class='preview standard'>Standard</a>&nbsp;&nbsp;<a href="#" class='active preview'>Premium</a>
        </div>
    </div>
    <div class="span3 offset1">
        <h3>Premium Benefits</h3>
        <ul id="premium-benefits">
            <li>Stay on the top of the search results.</li>
            <li>Priority listing in search results for 60 days</li>
            <li>Personalised badges and colors to draw attention</li>
            <li>Access to advanced statistics</li>
            <li>Unlimited updates to your ads</li>
            <li>3 bumps per month included</li> 
            <li>Full control over who has access to your profile</li>
        </ul>
        
        <div id="price">Only &euro;5 / 2 Months</div>
        <br />
        <a class="btn btn-main" id="upgrade-button" href="{{ path('new_ad_order', {id: ad.id, plan: 'premium'}) }}">Upgrade Now</a>
        
        <ul id="payment-options">
            <li><img src="{{ asset('images/payment/paypal.png') }}" alt="Paypal Payment Option" /></li>
            <li><img src="{{ asset('images/payment/mastercard.png') }}" alt="Mastercard Payment Option" /></li>
            <li><img src="{{ asset('images/payment/visa.png') }}" alt="Mastercard Payment Option" /></li>
        </ul>
        
    </div>
</div>

{% if app.environment == 'prod' %}
<!-- Facebook Conversion Code for Free ad posted -->
<script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
  }
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6013216238446', {'value':'0.00','currency':'EUR'}]);
</script>
<noscript>
<img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6013216238446&amp;cd[value]=0&amp;cd[currency]=EUR&amp;noscript=1" />
</noscript>
{% endif %}

{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
    '@WanaworkUserBundle/Resources/public/css/ads/ad-box.css'
    '@WanaworkUserBundle/Resources/public/css/ads/published.css'
	 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}

{% block javascripts %} {{ parent() }} 
{% javascripts filter='?yui_js' '@WanaworkUserBundle/Resources/public/js/ads/ad-published.js' %}
<script src="{{ asset(asset_url) }}"></script>
{% endjavascripts %} 
{% endblock %} 