{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Changes Saved{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">
        <h1 class="published">You Advert is Updated</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        {% include 'WanaworkUserBundle:Ad:_ad_box.html.twig' with {show_fake_request: 1, hide_bumps: 1} %}  
    
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
    '@WanaworkUserBundle/Resources/public/css/ads/published.css'
    '@WanaworkUserBundle/Resources/public/css/ads/ad-box.css'
	 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}