{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}{{ profession }} Candidates{% endblock %}
{% block meta %}
<meta content="List of {{ profession }} candidates currently looking for work" name="description">
{% endblock %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>{{ profession }} Candidates</h1>
        <h2>Below is a list of candidates for the profession you selected</h2>
    </div>
</div>

<div class="row">
    <div class="span12">
        {% for ad in ads %}
        {% include 'WanaworkUserBundle:Ad:_ad_box.html.twig' %}
        {% else %}
        <div class="empty-wrapper">
	        <div class="message-content">
		        <h2>No Candidates Found</h2>
		        <p>
					We currently don't have any candidates for the profession you selected.
					Please check back later.
				</p>
				
				<p>
				    You can also subscribe to email alerts for this profession on the search page.
				</p>
				
				<a class="btn" href="{{ path('wanawork_main_search') }}">Go to Search Page</a>
	        </div>
	    </div>
        {% endfor %}
    </div>
</div>

<div class="row">
	<div class="span12">
		<div class="navigation">
    	{{ knp_pagination_render(ads) }}
		</div>
	</div>
</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='?yui_css' filter='cssrewrite'
		'@WanaworkUserBundle/Resources/public/css/ads/ad-box.css'
		 %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
	{% endstylesheets %}
{% endblock %}
