{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Candidates By Profession{% endblock %}
{% block meta %}
<meta content="List of professions, for which we can provide employers with candidates" name="description">
{% endblock %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>Candidates By Profession</h1>
        <h2>Below is a list of professions, for which we can provide employers with candidates</h2>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div style="text-align: right;">
            <a href="{{ path('ad_candidates_recent') }}">Recent Canidates</a>
        </div>
        <ul id="profession-list" class="clearfix">
            {% for row in profession_aggregate %}
            <li>
                <a href="{{ path('ad_candidates_by_profession', {profession_slug: row[0].slug}) }}">{{ row[0] }}</a> 
{#                 ({{ row['ad_count'] }})#}
            </li>
            {% endfor %}
            
        </ul>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'bundles/wanaworkuser/css/ads/profession-list.css'
	 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}
