{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Choose Your Plan{% endblock %}

{% block body %}
<div class="row">
	<div class="span12">
	    <div id="ad-progress-timeline">
            <img src="{{ asset('/bundles/wanaworkuser/images/adpost/step3/timeline.png') }}" alt="Steps - Progress" />
            <img id="ad-progress-badge" src="{{ asset('/bundles/wanaworkuser/images/adpost/steps-common/badge.png') }}" alt="Price Badge - Cheapest plan is free" />	    
	    </div>
	</div>
</div>


{% if ad.published and not ad.expired %}
<div class="row">
	<div class="span12">
		<div class="alert alert-info">
			Your ad is currently live and will expire on the {{
			ad.expiryDate.format('d/m/Y') }}. If you wish to extend again, pick a
			plan below. <br /> Otherwise, you can <a href="{{ path('my_ads') }}">navigate
				away</a>
		</div>
	</div>
</div>
{% endif %}

<div class="row">
    <div class="span12">
        <h3 class="action-heading">Select Your Plan</h3>
    </div>
</div>

<div class="row plans">
	<span class="span6">
		<table class="plansTable non-selected">
			<thead>
				<tr>
					<th>
						<div class="planName">Standard</div>
						<div class="priceAndDuration">
							<span class="price">
							    &euro;{{ ((ad_standard_price) +	floor(ad_standard_price * vat_rate / 100)) / 100 }}
							</span> 
							<span class="separator">/</span> 
							<span class="duration">
							    {{ ad_standard_length_months }} month{{ ad_standard_length_months > 1 ? 's': '' }} 
							</span>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="white triangle">
					<td>
					   <img src="{{ asset('images/plnArr.png') }}" class="green" alt="arrow" />
					   <img src="{{ asset('images/plnArrGray.png') }}" class="gray" alt="arrow" />
					</td>
				</tr>
				<tr class="white">
					<td>Automating your job search. Visibility to all Employers</td>
				</tr>
				<tr class="dark">
					<td>Unlimited updates to your ads</td>
				</tr>
				<tr class="white">
					<td>Standard listing in search results for <b>{{ ad_standard_length_days }} days</b></td>
				</tr>
				<tr class="dark">
					<td>Get back on the top. 1 Free bump per month.</td>
				</tr>
				<tr class="white">
					<td>Access to <b>standard statistics</b></td>
				</tr>
				<tr class="dark">
					<td>No badges</td>
				</tr>
				<tr class="white">
					<td>Full control over who has access to your profile</td>
				</tr>
				<tr class="white" style="border: 0;">
					<td style="text-align: center;"><a href="#" data-type='standard'
						class="btn btn-main btn-large plan-selection">Choose</a>

					</td>
				</tr>
			</tbody>
		</table>
	</span>

	<div class="span6">
		<table class="plansTable non-selected">
			<thead>
				<tr>
					<th>
						<div class="planName">Premium</div>
						<div class="priceAndDuration">
							<span class="price">
							    &euro;{{ ((ad_premium_price) + floor(ad_premium_price * vat_rate / 100)) / 100 }}
							</span> 
							<span class="separator">/</span> 
							<span class="duration">
							    {{ ad_premium_length_months }} month{{ ad_premium_length_months > 1	? 's': '' }}
							</span>
						</div>
					</th>
				</tr>
			</thead>

			<tbody>
				<tr class="white triangle">
					<td>
					<img src="{{ asset('images/plnArrGray.png') }}" class="gray" alt="arrow" />
					<img src="{{ asset('images/plnArr.png') }}"  class="green" alt="arrow" />
					</td>
				</tr>
				<tr class="white">
					<td>Automating your job search. Visibility to all Employers</td>
				</tr>
				<tr class="dark">
					<td>Unlimited updates to your ads</td>
				</tr>
				<tr class="white">
					<td><b>Priority</b> listing in search results for <b>{{
							ad_premium_length_days }} days</b></td>
				</tr>
				<tr class="dark">
					<td>Stay on the top. <b>3 bumps per month</b> included
					</td>
				</tr>
				<tr class="white">
					<td>Access to <b>advanced statistics</b></td>
				</tr>
				<tr class="dark">
					<td><b>Personalised badges</b> to draw attention</td>
				</tr>
				<tr class="white">
					<td>Full control over who has access to your profile</td>
				</tr>
				<tr class="white" style="border: 0;">
					<td style="text-align: center;"><a href="#" data-type='premium'
						class="btn btn-main btn-large plan-selection">Choose</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row" style="margin-top: 45px;">
    <div class="span12">
        <h3 class="action-heading">Select a Payment Method</h3>
    </div>
</div>

<div class="row payment-row">
    <div class="span12">
        
        <div class="column column1">
            <button class="btn btn-main  pay-button" id="pay-twitter">
                Pay with a <img src="{{ asset('bundles/wanaworkuser/images/adpost/step3/twitter.png') }}" alt="Twitter logo" /> tweet
            </button>
            <p>
                If you give us a nice mention on Twitter, we'll give you your advert FREE of charge.
            </p>
        </div>
        
        <div class="column column2">
	        <button class="btn btn-main pay-button" id="pay-voucher">
	           Pay with a <b>promo code</b>
	        </button>
	        <p>
	            Got a promo code from us? Go ahead, click the button, we'll give you the advert for FREE.
	        </p>
	    </div>
	    <div class="column column3">
	        <button class="btn btn-secondary pay-button" id="pay-paypal">
	            Pay with &nbsp;<img src="{{ asset('bundles/wanaworkuser/images/adpost/step3/paypal.png') }}" alt="PayPal logo" />
	        </button>
	        <p>
	            Got nothing of the above? Sorry, you'll have to give us 3 or 5 of your hard-earned euros. 
	            It'll be worth it. Promise!
	        </p>
	    </div>
	    
    </div>
</div>

<div class="control-group" style="margin-top: 15px;">
	<div class="controls">
		<a href="{{ path('ad_step2', {id: ad.id}) }}"
			class="btn btn-large left">Back</a>
	</div>
</div>
{% endblock %} 

