{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Edit Your Ad{% endblock %}

{% block body %}

<div class="row">
    <div class="span12 heading">
        <h1>Edit Your Advert</h1>
    </div>
</div>

<div class="row">
	<span class="span12">
	{% include 'WanaworkUserBundle:Ad:_form.html.twig' %}
	</span>
</div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
{% javascripts filter='?yui_js' 
    '@WanaworkUserBundle/Resources/public/js/ads/step1.js'
    'vendor/fileupload/js/jquery.fileupload.js'
	'vendor/fileupload/js/jquery.iframe-transport.js' %}
	<script src="{{ asset(asset_url) }}"></script>
{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
    '@WanaworkUserBundle/Resources/public/css/ads/ad-box.css'
	'@WanaworkUserBundle/Resources/public/css/ads/ad-post-common.css'
	'@WanaworkUserBundle/Resources/public/css/ads/step1.css' %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}
