{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block body %}
<div class="row" style="margin-top: 50px;">
    <div class="span12">
        <div class="message-box">
            <h1>Too Early to Extend</h1>
            <p>
                You can extend {{ constant('Wanawork\\UserBundle\\Entity\\Ad::NEAR_EXPIRY_IN_DAYS') }} days before your ad expires
            </p>
        </div>
    </div>
</div>


{% endblock %}