{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Extend Your Advert{% endblock %}
{% block body %}

<div class="row">
	<div class="span12 heading">
		<h1>Extend Your Advert</h1>
	</div>
</div>


<div class="row">
	<div class="span12">
		<form method="POST" style="display: none;">{{ form_widget(form) }}</form>
	</div>
</div>

<div class="row plans">
	<span class="span6">
		<table class="plansTable non-selected">
			<thead>
				<tr>
					<th>
						<div class="planName">Standard</div>
						<div class="priceAndDuration">
							<span class="price">
							    FREE
							</span> 
							<span class="separator">/</span> 
							<span class="duration">
							    {{ ad_standard_length_months }} month{{ ad_standard_length_months > 1 ? 's': '' }} 
							</span>
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="white triangle">
					<td>
					   <img src="{{ asset('images/plnArr.png') }}" class="green" alt="arrow" />
					   <img src="{{ asset('images/plnArrGray.png') }}" class="gray" alt="arrow" />
					</td>
				</tr>
				<tr class="white">
					<td>Automating your job search. Visibility to all Employers</td>
				</tr>
				<tr class="dark">
					<td>Unlimited updates to your ads</td>
				</tr>
				<tr class="white">
					<td>Standard listing in search results for <b>{{ ad_standard_length_days }} days</b></td>
				</tr>
				<tr class="dark">
					<td>Get back on the top. 1 Free bump per month.</td>
				</tr>
				<tr class="white">
					<td>Access to <b>standard statistics</b></td>
				</tr>
				<tr class="dark">
					<td>No badges</td>
				</tr>
				<tr class="white">
					<td>Full control over who has access to your profile</td>
				</tr>
				<tr class="white" style="border: 0;">
					<td style="text-align: center;"><a href="#" data-type='standard'
						class="btn btn-main btn-large plan-selection">Choose</a>

					</td>
				</tr>
			</tbody>
		</table>
	</span>

	<div class="span6">
		<table class="plansTable non-selected">
			<thead>
				<tr>
					<th>
						<div class="planName">Premium</div>
						<div class="priceAndDuration">
							<span class="price">
							    &euro;{{ ((ad_premium_price) + floor(ad_premium_price * vat_rate / 100)) / 100 }}
							</span> 
							<span class="separator">/</span> 
							<span class="duration">
							    {{ ad_premium_length_months }} month{{ ad_premium_length_months > 1	? 's': '' }}
							</span>
						</div>
					</th>
				</tr>
			</thead>

			<tbody>
				<tr class="white triangle">
					<td>
					<img src="{{ asset('images/plnArrGray.png') }}" class="gray" alt="arrow" />
					<img src="{{ asset('images/plnArr.png') }}"  class="green" alt="arrow" />
					</td>
				</tr>
				<tr class="white">
					<td>Automating your job search. Visibility to all Employers</td>
				</tr>
				<tr class="dark">
					<td>Unlimited updates to your ads</td>
				</tr>
				<tr class="white">
					<td><b>Priority</b> listing in search results for <b>{{
							ad_premium_length_days }} days</b></td>
				</tr>
				<tr class="dark">
					<td>Stay on the top. <b>3 bumps per month</b> included
					</td>
				</tr>
				<tr class="white">
					<td>Access to <b>advanced statistics</b></td>
				</tr>
				<tr class="dark">
					<td><b>Personalised badges</b> to draw attention</td>
				</tr>
				<tr class="white">
					<td>Full control over who has access to your profile</td>
				</tr>
				<tr class="white" style="border: 0;">
					<td style="text-align: center;"><a href="#" data-type='premium'
						class="btn btn-main btn-large plan-selection">Choose</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row payment-row">
    <div class="span12">
        <a id="pay-button" href="#" class="btn btn-success btn-large">Extend</a>
        
        <ul id="payment-options">
            <li><img src="{{ asset('images/payment/paypal.png') }}" alt="Paypal Payment Option" /></li>
            <li><img src="{{ asset('images/payment/mastercard.png') }}" alt="Mastercard Payment Option" /></li>
            <li><img src="{{ asset('images/payment/visa.png') }}" alt="Mastercard Payment Option" /></li>
        </ul>	    
    </div>
</div>
{% endblock %}

{% block javascripts %} {{ parent() }} 
{% javascripts filter='?yui_js' '@WanaworkUserBundle/Resources/public/js/ads/extend.js' %}
<script src="{{ asset(asset_url) }}"></script>
{% endjavascripts %} 
{% endblock %} 

{% block stylesheets %} 
{{ parent() }} 
{% stylesheets filter='?yui_css' filter='cssrewrite'
    '@WanaworkUserBundle/Resources/public/css/ads/extend.css'
    'bundles/wanaworkmain/css/Pages/plans.css' %}
<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}

