{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}
{% block title %}All Ads{% endblock %}
{% block body %}
{% include "WanaworkUserBundle:Ad:_ad-links.html.twig" with {menu_selection: 'ads'} %}

<div id="ad-list">
	{% for ad in pagination %}
	{% include 'WanaworkUserBundle:Ad:_ad_box.html.twig' with {delete_form: delete_forms[loop.index0]} %}
	{% endfor %}
</div>	


<div class="row">
	<div class="span12">
		<div class="navigation">
    	{{ knp_pagination_render(pagination) }}
		</div>
	</div>
</div>
	
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
		'@WanaworkUserBundle/Resources/public/js/ads.js' %}
		<script src="{{ asset(asset_url) }}"></script>	
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 'bundles/wanaworkuser/css/ads/ad-box.css'
	filter='?yui_css' filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}
