{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{# This template displays ads only to people with NO is_granted('VIEW', ad) permission #}

{% block title %}Candidate's Ad - {{ ad.headline }}{% endblock %}
{% block meta %}
<meta content="This candidate is looking for a job as a {{ ad.profession }}" name="description">
{% endblock %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>Candiate's Ad</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        {% include 'WanaworkUserBundle:Ad:_ad_box.html.twig' %}
    </div>
</div>

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='?yui_css' filter='cssrewrite'
		'@WanaworkUserBundle/Resources/public/css/ads/ad-box.css' %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
	{% endstylesheets %}
{% endblock %}