<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="shortcut icon" href="{{ asset('images/icon.ico') }}" type="image/x-icon"/>
	<link rel="icon" href="{{ asset('images/icon.ico') }}"  type="image/ico"/>
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'bootstrap/css/bootstrap.css'
	'static/css/common.css'
	'@WanaworkUserBundle/Resources/public/css/ads/show.css'
	'bundles/wanaworkuser/css/ads/ad-box.css'
	'@WanaworkUserBundle/Resources/public/css/employeeProfile/profile.css'
	'@WanaworkUserBundle/Resources/public/css/cv/show.css'
%}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}	

<style>
body {
background: #fff;
}
</style>

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="span12">
				<img src="{{ asset('/images/logoFull.png') }}" class="right" style="margin-top:10px;">
			</div>
		</div>
        <div class="row">
            <div class="span12">
                {% include 'WanaworkUserBundle:Ad:_ad_box.html.twig' with {hide_action: 1} %}
                <div class="full-ad">
                    {% include 'WanaworkUserBundle:EmployeeProfile:_profile-basic-info.html.twig' with {profile: ad.profile} %}
                    {% if ad.cv and ad.cv.type == constant('Wanawork\\UserBundle\\Entity\\CV::TYPE_FORM') %}
		            {% include 'WanaworkUserBundle:CV:_cv-view.html.twig' with {cv: ad.cv} %}
		            {% endif %}
                </div>
            </div>
        </div>
		<div class="row">
			<div class="span12" style="margin-bottom: 20px;">
				<hr />
				<div id="copyright">
				Copyright &copy; 2012 WanaWork. All Rights Reserved. <br>
				<div class="clear"></div>
				</div>
				<img src="{{ asset('/images/logoFull.png') }}" class="right" style="margin-top:10px;">
			</div>
		</div>
	</div>
		
</body>
</html>
