{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{# This template displays ads only to people with is_granted('VIEW', ad) permission #}

{% block title %}Candidate's Ad - {{ ad.headline }}{% endblock %}

{% block body %}

<div class="row">
	<span class="span12 heading">
	    <h1>Full CV</h1>
	</span>
</div>

<div class="row">
	<div class="span12">
 			
	    {% include 'WanaworkUserBundle:Ad:_ad_box.html.twig' with {hide_action: 1} %}
        <div class="full-ad">
    		    
		    {% include 'WanaworkUserBundle:EmployeeProfile:_profile-basic-info.html.twig' with {profile: ad.profile} %}
		    <hr class="divider" />
		    
		    {% if ad.cv and ad.cv.type == constant('Wanawork\\UserBundle\\Entity\\CV::TYPE_FORM') %}
		    {% include 'WanaworkUserBundle:CV:_cv-view.html.twig' with {cv: ad.cv} %}
		    {% endif %}
		  
{# 					{% if is_granted('EDIT', ad) or is_granted('DELETE', ad) %}#}
{# 					<div class="btn-group">#}
{# 					  <a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" href="#">#}
{# 					    Action#}
{# 					    <span class="caret"></span>#}
{# 					  </a>#}
{# 					  <ul class="dropdown-menu">#}
					  
{# 					  	{% if is_granted('EDIT', ad) %}#}
{# 					    <li>#}
{# 					    	<a href="{{ path('ad_edit', {id: ad.id}) }}">#}
{# 					    		<i class="icon-pencil icon"></i>Edit Ad#}
{# 					    	</a>#}
{# 					    </li>#}
{# 					    {% endif %}#}
					    
{# 					    {% if is_granted('DELETE', ad) %}#}
{# 					    <li>#}
{# 					    	<a id="ad-delete-link" href="#">#}
{# 					    		<i class="icon icon-remove"></i>Delete Ad#}
{# 					    	</a>#}
{# 					    	<form id="ad-delete-form" method="POST" action="{{ path('ad_delete', {id: ad.id}) }}">#}
{# 					    	{{ form_widget(deleteForm) }}#}
{# 					    	</form>#}
{# 					    </li>#}
{# 					    {% endif %}#}
{# 					  </ul>#}
{# 					</div>#}
{# 					{% endif %}#}
					
{# 					{% if is_granted('ROLE_EMPLOYER') and ad.hasAccessRequestByUser(app.user) %}#}
{# 					{% set mailThreadId = ad.getAccessRequestByUser(app.user).mailThread.id %}#}
{# 					<a id='send-message-button' class="btn" href="{{ path('my_mailbox', {id: mailThreadId}) }}">#}
{# 						<i class='icon icon-envelope'></i>&nbsp;Send a Message to {{ ad.cv.profile.user.name }}#}
{# 					</a>#}
{# 					<div style='clear: both;'></div>#}
{# 					{% endif %}#}
	    </div>
	    
	    <a id="profile-pdf-download-link" 
	       href="{{ path('ad_download_cv', {slug: ad.slug} ) }}" class="btn right"
	       style="margin-top: 10px;">
 		   Download CV
        </a>
	
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='?yui_css' filter='cssrewrite'
		'@WanaworkUserBundle/Resources/public/css/ads/show.css'
		'@WanaworkUserBundle/Resources/public/css/cv/show.css'
		'@WanaworkUserBundle/Resources/public/css/ads/ad-box.css'
		'@WanaworkUserBundle/Resources/public/css/employeeProfile/profile.css'
		'@WanaworkUserBundle/Resources/public/css/cv.css' %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
	{% endstylesheets %}
{% endblock %}

