{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Ad's Stats{% endblock %}

{% block body %}
<div class="row">
	<div class="span12 clearfix">
			<div class="left">
				<span>Statistics for:</span>
				<div id="months-filter" class="btn-group" data-toggle="buttons-radio">
					{% for monthNumber, monthName in ad.runMonths %}
					<button type="button" 
						class="btn {{ loop.last ? 'active' : '' }}" 
						data-month="{{ monthNumber }}">
						{{ monthName }}
					</button>
					{% endfor %}
				</div>
			</div>
			<!-- 
			<div style="float: right;">
				<span>Group by:</span>
				<div id="frequency-filter" class="btn-group filter-buttons" data-toggle="buttons-radio">
					<button type="button" class="btn btn-info active" data-filter="day">Day</button>
					<button type="button" class="btn btn-info" data-filter="week">Week</button>
				</div>
			</div>
			 -->
			
			<div class="clearfix"></div>
			
			<h3>Total Ad Views</h3>
			<div id="views-graph" class="views-graph" 
			    data-xlabel="Date when your ad was viewed"
			    data-ylabel="View Count"
			    data-url="{{ path('ad_stats', {slug: ad.slug, _format: 'json', type:'' }) }}">
			</div>
			
			<h3>Total PDF Downloads</h3>
			<div id="pdfs-graph" class="views-graph" 
			    data-xlabel="Date when your ad was downloaded"
			    data-ylabel="Download Count"
			    data-url="{{ path('ad_stats', {slug: ad.slug, _format: 'json', type: constant('Wanawork\\UserBundle\\Entity\\Adview::VIEW_PDF') }) }}">
			</div>
    </div>	
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
		'jqplot/jquery.jqplot.js'
		'jqplot/plugins/jqplot.barRenderer.js'
		'jqplot/plugins/jqplot.pointLabels.js'
		'jqplot/plugins/jqplot.categoryAxisRenderer.js'
		'jqplot/plugins/jqplot.canvasTextRenderer.js'
		'jqplot/plugins/jqplot.canvasAxisLabelRenderer.js'
		'jqplot/plugins/jqplot.canvasAxisTickRenderer.js'
		'@WanaworkUserBundle/Resources/public/js/ads/stats.js' %}
		<script src="{{ asset(asset_url) }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<!--[if lt IE 9]>
	<script language="javascript" type="text/javascript" src="/jqplot/excanvas.js"></script>
	<![endif]-->
	{% stylesheets filter='?yui_css' filter='cssrewrite' 
		'jqplot/jquery.jqplot.css'
		'@WanaworkUserBundle/Resources/public/css/ad_stats.css' %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
	{% endstylesheets %}
{% endblock %}
