{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}Upgrade to Premium{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}

<div class="row">
    <div class="span12">
        <img src="{{ asset('images/logoFull.png') }}" alt="Wannawork.ie logo" />
    </div>
</div>

<div class="row" style="margin-top: 60px;">
    <div class="span12">
        <h2 style="font-size: 30px; line-height: 30px; text-align: center;">Upgrade to Premium. Attract Employer's Attention</h2>
    </div>
</div>

<div class="row" style="margin-top: 60px;">
    <div class="span8">
        <div id="adbox-holder">
        {% include 'WanaworkUserBundle:Ad:_ad_box.html.twig' with {badge_input: 1, show_fake_request: 1, force_badge: 1, force_premium: 1, hide_bumps: 1} %}  
        </div>
        <div id="preview-block">
            Preview my ad in: <a href="#" class='preview standard'>Standard</a>&nbsp;&nbsp;<a href="#" class='active preview'>Premium</a>
        </div>
    </div>
    <div class="span3 offset1">
        <h3>Premium Benefits</h3>
        <ul id="premium-benefits">
            <li>Stay on the top of the search results.</li>
            <li>Priority listing in search results for 60 days</li>
            <li>Personalised badges and colors to draw attention</li>
            <li>Access to advanced statistics</li>
            <li>Unlimited updates to your ads</li>
            <li>3 bumps per month included</li> 
            <li>Full control over who has access to your profile</li>
        </ul>
        
        <div id="price">Only &euro;5 / 2 Months</div>
        <br />
        <a class="btn btn-main" id="upgrade-button" href="{{ path('new_ad_order', {id: ad.id, plan: 'premium'}) }}">Upgrade Now</a>
        
        <ul id="payment-options">
            <li><img src="{{ asset('images/payment/paypal.png') }}" alt="Paypal Payment Option" /></li>
            <li><img src="{{ asset('images/payment/mastercard.png') }}" alt="Mastercard Payment Option" /></li>
            <li><img src="{{ asset('images/payment/visa.png') }}" alt="Mastercard Payment Option" /></li>
        </ul>
        
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
    '@WanaworkUserBundle/Resources/public/css/ads/ad-box.css'
    '@WanaworkUserBundle/Resources/public/css/ads/published.css'
	 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}

{% block javascripts %} {{ parent() }} 
{% javascripts filter='?yui_js' '@WanaworkUserBundle/Resources/public/js/ads/ad-published.js' %}
<script src="{{ asset(asset_url) }}"></script>
{% endjavascripts %} 
{% endblock %} 