{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}My Ads{% endblock %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>My Ads</h1>
        <h2>Below is the list of ads you created</h2>
    </div>
</div>

<div class="row">
	<div class="span12">
		{% for ad in ads %}
		<div class="row">
		    <div class="span8">
		        {% include 'WanaworkUserBundle:Ad:_ad_box.html.twig' with {delete_form: delete_forms[loop.index0]} %}
		    </div>
		    <div class="span4">
		        <aside>
		        {% include 'WanaworkUserBundle:Ad:_ad-aside-stats.html.twig' %}
		        </aside>
		    </div>
		</div>
		{% else %}
        <div class="row">
            <div class="span12">
			    <div class="empty-wrapper">
			        <div class="message-content">
				        <h2>You haven't posted any ads</h2>
				        <p>
							Your ads is the way employers can find you on the site.
							Post your ad today.
						</p>
						
						<a class="btn" href="{{ path('ad_new') }}">Post your Ad</a>
			        </div>
			    </div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='?yui_css' filter='cssrewrite'
	   'bundles/wanaworkuser/css/ads/user-ads.css'
	   'bundles/wanaworkuser/css/ads/aside-stats.css'
	   'bundles/wanaworkuser/css/ads/ad-box.css'
	%}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
	{% endstylesheets %}
{% endblock %}


{% block javascripts %}
{{ parent() }}
{% javascripts filter='?yui_js' 
    '@WanaworkUserBundle/Resources/public/js/ads/ad-view.js'
	 %}
	<script src="{{ asset(asset_url) }}"></script>
{% endjavascripts %}
{% endblock %}

