{% extends '::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>Shortlisted CVs</h1>
        <h2>Below is a list of CVs you shortlisted</h2>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="empty-wrapper">
            <div class="message-content">
                <h3>You don't have any shortlisted CVs yet</h3>
                Please <a href="{{ path('company_new') }}">create your company profile</a> to be able to shortlist CVs
            </div>
        </div>
    </div>
</div>
{% endblock %}