{% extends '::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>CV Requests</h1>
        <h2>Below is a list of requests you received from employers who wish to access your full CV</h2>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="empty-wrapper">
            <div class="message-content">
                <h1>You don't have any cv requests yet</h1>
                Please <a href="{{ path('ad_new') }}">post an advert</a>, and employers will be requesting access to your CV
            </div>
        </div>
    </div>
</div>
{% endblock %}