{% extends '::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>Your Jobs Openings</h1>
        <h2>Below is a list of jobs you created. 
        When requesting access to candidate's CVs you will be using these job openings to communicate your requirements</h2>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="empty-wrapper">
            <div class="message-content">
                You don't have any job specs yet
                <br />
                Please <a href="{{ path('company_new') }}">create your company profile</a> to be able to create job specs
            </div>
        </div>
    </div>
</div>
{% endblock %}