<div class='row'>
	<div class="span12">
		<ul class="nav nav-pills">
			<li class="{{ menu_selection == 'search' ? 'active' : '' }}">
		    	<a href="{{ path('search_list') }}">Recent Searches</a>
		  	</li>
		  	<li class="{{ menu_selection == 'stats' ? 'active' : '' }}">
		  		<a href="{{ path('search_statistics') }}">Statistics</a>
		  	</li>		  	
		</ul>
	</div>
</div>