<div class="sidebar">
    <form method="POST" action="{{ path('wanawork_main_search') }}" novalidate>
        <div class="section work-section">
            <div class="group">
                {{ form_label(form.profession, '', {typcn_icon: 'briefcase'}) }}
                {{ form_widget(form.profession) }}
                {{ form_errors(form.profession) }}
            </div>
                    
            <div class="group">
	            {{ form_label(form.industries, '', {typcn_icon: 'news'}) }}
                {{ form_widget(form.industries) }}
	            {{ form_errors(form.industries) }}
            </div>
                    
            <div class="group">
	            {{ form_label(form.experience, '', {typcn_icon: 'watch'}) }}
	            {{ form_widget(form.experience) }}
	            {{ form_errors(form.experience) }}
            </div>
            
            <div class="group">
	            {{ form_label(form.positions, '', {typcn_icon: 'directions'}) }}
	            {{ form_widget(form.positions) }}
	            {{ form_errors(form.positions) }}
            </div>
        </div>
                
        <div class="section education-section">
            <div class="group">
	            {{ form_label(form.educationLevel, '', {typcn_icon: 'book'}) }}
	            {{ form_widget(form.educationLevel) }}
	            {{ form_errors(form.educationLevel) }}
            </div>
        </div>
        
        <div class="section other-section">
            <div class="group">
	            {{ form_label(form.languages, '', {typcn_icon: 'message'}) }}
	            {{ form_widget(form.languages) }}
	            {{ form_errors(form.languages) }}
            </div>
            
            <div class="group">
	            {{ form_label(form.locations, '', {typcn_icon: 'location-outline'}) }}
	            {{ form_widget(form.locations) }}
	            {{ form_errors(form.locations) }}
            </div>
            
            <input type="submit" value="Search" class="btn btn-main search-button" />
        </div>
        
        {{ form_rest(form) }}
    </form>
                
</div>