{% extends "WanaworkMainBundle::base.html.twig" %}

{% block title %}Find Candidates{% endblock %}
{% block meta %}
<meta content="Find Candidates for your job openings, connect and hire" name="description">
{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">
        <div class="search">
        
            {% if search %}
                {% include 'WanaworkMainBundle:Search:_vertical-search-form.html.twig' %}
            {% else %}
                {% include 'WanaworkMainBundle:Search:_horizontal-search-form.html.twig' %}
            {% endif %}
            
            <div class="ads">
                {% if search %}
	                {% for ad in pagination %}
	                    {% include 'WanaworkUserBundle:Ad:_ad_box.html.twig' %}
	                {% else %}
	                <div class="empty-wrapper">
	                   <div class="message-content">
	                       <h2>No Ads Found</h2>
	                       <p>
	                           We don't have any candidates currently for the profession you selected.
	                       </p>
	                   </div>
	                </div>
	                {% endfor %}
                {% endif %}
                
                
                {% if search and search.hasNotifier %}
				<div class="alert alert-success">
					<i class="icon icon-ok"></i>
					You're receiving notifications for this search.
					{% if app.user %}
					You can manage notifications in <a href="{{ path('user_saved_searches', {id: app.user.id}) }}">your profile</a>
					{% endif %}
				</div>
			    {% elseif search %}
				
				<div class="alert alert-info" style="margin-top: 10px;">
					<i class="icon icon-info-sign"></i>
					You can receive notifications for this search, when new Ads become available. <br />
					<div style="text-align: center; margin-top: 15px;">
					   <a class="btn btn-main" href="{{ path('search_nofitication_new', {id: search.id}) }}">Subscribe to updates now</a> 
					</div>
				</div>
			    {% endif %}
            </div>
            
            <div class="row">
				<div class="span12">
					<div class="navigation" style="float: right;">
					{% if pagination %}
			    	{{ knp_pagination_render(pagination) }}
			    	{% endif %}
					</div>
				</div>
			</div>
        </div>
    </div>
</div>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 
    'static/typicons.2.0/font/typicons.css'
    '@WanaworkMainBundle/Resources/public/css/search.css' 
    'bundles/wanaworkuser/css/ads/ad-box.css'
	filter='?yui_css' filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts filter='?yui_js' 
	'@WanaworkMainBundle/Resources/public/js/search_form.js'
	'@WanaworkUserBundle/Resources/public/js/ads/ad-view.js'
	 %}
	<script src="{{ asset(asset_url) }}"></script>	
{% endjavascripts %}
{% endblock %}
