{% extends "WanaworkMainBundle::base.html.twig" %}

{% block title %}All Searches{% endblock %}
{% block body %}
{% include "WanaworkMainBundle:Search:_search-links.html.twig" with {menu_selection: 'search'} %}

<div class="row">
    <div class="span12">
        <table class="default-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Profession</th>
                    <th>Number of Fields Used</th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                {% for search in pagination %}
                <tr>
                    <td>{{ search.date.format(date_format) }}</td>
                    <td>{{ search.profession }}</td>
                    <td>{{ search.countOfUsedFields }}</td>
                    <td><a href="{{ path('wanawork_main_search', {searchId: search.id}) }}">View</a></td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">No searches found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
	<div class="span12">
		<div class="navigation">
    	{{ knp_pagination_render(pagination) }}
		</div>
	</div>
</div>
{% endblock %}
