{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}

{% block title %}All Search Statistics{% endblock %}
{% block body %}
{% include "WanaworkMainBundle:Search:_search-links.html.twig" with {menu_selection: 'stats'} %}

<div class="row">
    <div class="span12">
    
     Reporting Period:
        <form method="GET" action="{{ path('search_statistics') }}">
	        <ul class="report-settings">
	            <li>
	                <span>Start Date:</span>
	                <input value="{{ start_date }}" type="datetime" id="start-date" name="start-date" class="input-small" />
	            </li>
	            <li>
	                <span>End Date:</span>
	                <input value="{{ finish_date }}" type="datetime" id="finish-date" name="finish-date" />
	            </li>
	            <li>
	                <input class="btn" type="submit" value='Filter'>
	            </li>
	        </ul>
	    </form>
	    
         <table class="default-table stat-table">
            <thead>
                <tr>
                    <th>Profession</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for row in professionsData %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row['c'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <table class="default-table stat-table">
            <thead>
                <tr>
                    <th>Industry</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for row in industryData %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row['c'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <table class="default-table stat-table">
            <thead>
                <tr>
                    <th>Language</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for row in languageData %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row['c'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="default-table stat-table">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for row in locationData %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row['c'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <table class="default-table stat-table">
            <thead>
                <tr>
                    <th>Education Level</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for row in educationData %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row['c'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <table class="default-table stat-table">
            <thead>
                <tr>
                    <th>Experience</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for row in experienceData %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row['c'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
       <table class="default-table stat-table">
            <thead>
                <tr>
                    <th>Roles</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rolesData %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row['c'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
	    
    </div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
	'vendor/datetimepicker/jquery.datetimepicker.js'
	'@WanaworkMainBundle/Resources/public/js/search/statistics.js'
	%}
    <script src="{{ asset(asset_url) }}"></script>	
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='?yui_css' filter='cssrewrite'
	    'vendor/datetimepicker/jquery.datetimepicker.css'
	    'static/css/admin-common.css'
		'@WanaworkMainBundle/Resources/public/css/search/statistics.css' %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
	{% endstylesheets %}
{% endblock %}
