{% extends "WanaworkMainBundle::base.html.twig" %}
{% block body %}
<div class="row">
    <div class="span12">
        <table>
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>            
        </table>
    </div>
</div>
{% endblock %}