<div class="field clearfix">
	<div class="fieldInstit left">
		<img src="{{ asset('images/iconInst.png') }}">
		<div class="fieldText">{{ education.college }}</div>
	</div>

	<div class="fieldPeriod left">
		<img src="{{ asset('images/iconPeriod.png') }}">
		<div class="fieldText">
			{{ education.start | date('M Y') }} - 
			{{ education.finish | date('M Y') }}
		</div>
	</div>

	<div class="fieldPosit left">
		<img src="{{ asset('images/iconCourse.png') }}">
		<div class="fieldText">{{ education.award }}</div>
	</div>
	
	{#
	{% if is_granted('EDIT', cv) %}
	<div class="fieldEdit right">
		
		<a href="{{ path('education_edit', {id: education.id}) }}" class="iconEdit"></a>
		 
		<form class="education-delete-form" action="{{ path('education_delete', {id: education.id}) }}" method="post">
			{{ form_widget(education_delete_form) }}
			<input type="submit" value="" class="iconDel" />
		</form>
	</div>
	{% endif %}
	#}
</div>
{# {% include 'WanaworkUserBundle:Education:_form-inline.html.twig' with {isEdit: true, form: education_edit_form } %}#}