{% if education %}
	{% set path = path('education_update', { 'id': education.id }) %}
{% else %}
	{% set path = path('education_create', {cvId: cv.id}) %}
{% endif %}

{{ form_errors(form) }}
<form id="education_form" action="{{ path }}" method="post" {{ form_enctype(form) }} novalidate>
    {{ form_row(form.start) }}
    {{ form_row(form.finish) }}
    {{ form_row(form.college) }}
	
	<div class="control-group description">
		<label class="control-label">
	    	Obtained Qualifications
	    <span class="required" title="This field is required">*</span></label>
	    <div class="controls">
	    	<ul class="selected-qualifications">
			
			</ul>
	    	<a href="#education-sectors-modal" role="button" class="btn btn-main qualifications-select-link" data-toggle="modal">Click to select</a>
	        {{ form_row(form.courses, { 'hide_label': true, 'hide_input': true, 'error_class': 'input-medium','control_group_class':'course', 'attr': {'class': 'input-medium'}}) }}        	    	    
		</div>
	
	</div>
	{{ form_row(form.qualification) }}
    {{ form_row(form.award) }}
    {{ form_rest(form) }}    
    <div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-main ">Save</button>
		</div>
	</div>
</form>

{% include 'WanaworkUserBundle:Education:_course-selector.html.twig' %}
<script>
$(function(){

	$('#wanawork_userbundle_educationtype_start, #wanawork_userbundle_educationtype_finish').each(function(){
		var that = this;
		if(!$(that).data('monthpicker')) {
			$(that).monthpicker({
				dateFormat: 'M yy',
				yearRange: $(that).data('start') + ":" + $(that).data('end')
			});
		}
	});

	$("select.chosen").chosen();


	var activeQualificationsSection = $(document.body);
	$("#education_form").delegate("a.qualifications-select-link", "click", function(e){
		activeQualificationsSection = $(this).parents("div.description");
		selectedCourses = activeQualificationsSection.find("select").val();
		
		var selectedCourses = activeQualificationsSection.find("select").val();
		
		// Clear the selections of sectors
		$("ul.sectors-list").find("li.active").each(function(){
			$(this).removeClass("active").find("span.selection").find("span").html("0");
		});
		
		// clear the selection of courses
		$("ul.course-list").find("li.active").removeClass("active");
		
		if(selectedCourses) {
			for(var i = 0; i < selectedCourses.length; i++) {
				$("#course_" + selectedCourses[i]).addClass("active");
			}
		}
		
		// Update count for sectors list
		var selectedSectors = {};
		$("ul.course-list").find("li.active").each(function(){
			var id = $(this).parent().data("id");
			if(!(id in selectedSectors)) {
				selectedSectors[id] = 0;
			}
			selectedSectors[id] += 1;
		});
		
		for(var sectorId in selectedSectors) {
			$("#sector-" + sectorId).addClass("active").find("span.selection").find("span").html(selectedSectors[sectorId]);
		}
		
		$("#esh-selected-sector").hide();
		$("#esh-first-span").show();
		$("#esh-first-link").hide();
		$("#esh-divider").hide();
		$(".course-list").hide();
		$(".sectors-list").show();
	});
	
	// Click on Sector Item
	$(".sectors-list").find("li").click(function(e){
		
		var toShow = [];
		var id = $(this).data("id");
		$(".course-list").each(function(){
			var forId = $(this).data("id");
			if(id == forId) {
				toShow.push(this);
			}
		});
		
		$(".sectors-list").slideLeftHide(200, function(){
			$(toShow).slideLeftShow(300);
		});
		
		$("#esh-selected-sector").html($(this).data("sector")).show();
		$("#esh-first-span").hide();
		$("#esh-first-link").show();
		$("#esh-divider").show();
	});
	
	// Click on "All Sectors" link. Return to the first list
	$("#esh-first-link").click(function(e){
		e.preventDefault();
		var visibleCourseList = $(".course-list:visible");
		$("#esh-selected-sector").hide();
		$("#esh-first-span").show();
		$("#esh-first-link").hide();
		$("#esh-divider").hide();
		visibleCourseList.slideLeftHide(200, function(){
			$(".sectors-list").slideLeftShow(300);
		});
	});

	// Click on the course 
	$(".course-list").find("li").click(function(){
		
		$(this).toggleClass("active");
		
		// Update count for sectors list
		var visibleCourseList = $(".course-list:visible");
		var sectorId = visibleCourseList.first().data("id");
		var selectedCourses = visibleCourseList.find("li.active");
		$("li#sector-" + sectorId).find("span.selection").find("span").html(selectedCourses.length);
		if(selectedCourses.length > 0) {
			$("#sector-" + sectorId).addClass("active");
		} else {
			$("#sector-" + sectorId).removeClass("active");
		}
	});
	
	// Save the educations
	$("#save-educations-button").click(function(e){
		var modal = $("#education-sectors-modal");
		modal.modal("hide");
		
		// Find all selected sectors
		var selections = {};
		var courses = [];
		modal.find(".sectors-list").find("li.active").each(function(){
			selections[$(this).data("sector")] = [];
		});
		
		modal.find(".course-list").find("li.active").each(function(){
			selections[$(this).parent().data("sector")].push($(this).data("title"));
			courses.push($(this).data("id"));
		});
		
		var qualificationsDisplay = activeQualificationsSection.find("ul.selected-qualifications").empty();
		for(var sector in selections) {
			var li = $("<li />").html("<b>" + sector + "</b>: " + selections[sector].join(", "));
			qualificationsDisplay.append(li);
		}
		
		activeQualificationsSection.find("select").val(courses);
	});
	
	
		var selectedCourses = $("#wanawork_userbundle_educationtype_courses").val();
		var selections = {};
		
		if(selectedCourses) {
			for(var i = 0; i < selectedCourses.length; i++) {
				var courseLi = $("#course_" + selectedCourses[i]);
				
				if(!(courseLi.parent().data("sector") in selections)) {
					selections[courseLi.parent().data("sector")] = [];
				}
				selections[courseLi.parent().data("sector")].push($(courseLi).data("title"));
			}
		}
		
		
		var qualificationsDisplay = $("ul.selected-qualifications").empty();
		for(var sector in selections) {
			var li = $("<li />").html("<b>" + sector + "</b>: " + selections[sector].join(", "));
			qualificationsDisplay.append(li);
		}
	
	
});
</script>
