{% set education_id = education is defined ? education.id : 'new' %}

<form method="POST" id="inline-education-form-{{ education is defined ? education.id : 'new' }}"
	class="inline-education-form {{ isEdit is defined ? "inline-education-form-edit" : "" }}"
	action="{{ isEdit is defined ? path('education_update', {_format: 'json', id: education.id}) : path('education_create', {_format: 'json'}) }}" 
	data-errorTarget="#cv-form-error_{{ education_id }}">
	<div class="field">
		<div class="fieldInstit left">
			<img src="{{ asset('images/iconInst.png') }}">
			<div class="fieldText">
				{{ form_widget(form.college, {'attr': {
					'class':'placeholder', 
					'placeholder': 'College'
				}}) }}
			</div>
		</div>
	
		<div class="fieldPeriod left">
			<img src="{{ asset('images/iconPeriod.png') }}">
			<div class="fieldText">
				{{ form_widget(form.start, {'attr': {'class':'placeholder date','placeholder': 'Start Date'}}) }}
				{{ form_widget(form.finish, {'attr': {'class':'placeholder date','placeholder': 'End Date'}}) }}
			</div>
		</div>
	
		<div class="fieldPosit left">
			<img src="{{ asset('images/iconCourse.png') }}">
			<div class="fieldText">
				{{ form_widget(form.course, {'attr': {'class':'placeholder course','placeholder': 'Course'}}) }}
				{{ form_widget(form.award, {'attr': {'class':'placeholder award','placeholder': 'Award'}}) }}
			</div>
		</div>
		
		{{ form_rest(form) }}
		
		<input type="submit" class="butSave" value="">
		{% if isEdit is defined %}
		<input type="button" class="butCancel" />
		{% endif %}
		<div class="clear"></div>
		
		<ul id="cv-form-error_{{ education_id }}" class="form-errors">
	
		</ul>
	</div>
</form>


