<h1>Education list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Start</th>
            <th>Finish</th>
            <th>Course</th>
            <th>Award</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('education_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.start %}{{ entity.start|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.finish %}{{ entity.finish|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.course }}</td>
            <td>{{ entity.award }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('education_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('education_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('education_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
