<h1>Education</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Start</th>
            <td>{{ entity.start|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Finish</th>
            <td>{{ entity.finish|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Course</th>
            <td>{{ entity.course }}</td>
        </tr>
        <tr>
            <th>Award</th>
            <td>{{ entity.award }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('education') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('education_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('education_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
