td.description-column {
	font-weight: normal !important;
}

.description-column ul {
	list-style: disc;
	margin-left: 20px;
}

.description-column ol {
	list-style: decimal;
	margin-left: 20px;
}

.new-job-button {
	float: right;
	margin-top: 15px;
}

.jobs-table .column {
	vertical-align: top;
}

.jobs-table .title-column {
	width: 30%;
}

.jobs-table .description-column {
	width: 40%;
}

.description {
	max-height: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}