.job-form-wrapper {
	background: #fff;
	padding: 20px;	
	margin-top: 15px;
}

#wanawork_userbundle_jobspec_description {
	display: none;
}

#wanawork_userbundle_jobspec_title {
	width: 60%;
}

#label_wanawork_userbundle_jobspec_public {
	display: inline;
}

.job-form-wrapper legend {
	margin-bottom: 0;
}

#wanawork_userbundle_jobspec_salary {
	width: 300px;
}

