.job-view {
	
}

.job-view .description {
	background: #fff;
	padding: 20px;
	width: 90%;
}


.job-view ul {
	list-style: disc;
	margin-left: 20px;
}

.job-view ol {
	list-style: decimal;
	margin-left: 20px;
}


.job-view-aside {
	background: #fff;
	padding: 10px;
}

.job-view-aside .title {
	font-weight: bold;
}

.job-view-aside > div {
	margin-bottom: 10px;
}