<ul class="nav nav-tabs" style="margin-bottom: 0;">
	<li {{ selection == 'my_account' ? 'class="active"': '' }}>
	   <a href="{{ path('user_show', {id: user.id}) }}">Account</a>
	</li>
	<li {{ selection == 'my_account_receipts' ? 'class="active"': '' }}>
	   <a href="{{ path("user_receipts", {id: user.id}) }}">Payment Receipts</a>
	</li>
	
    <li {{ selection == 'user_email_subscriptions' ? 'class="active"': '' }}>
	   <a href="{{ path("user_email_subscriptions", {id: user.id}) }}">Email Subscriptions</a>
	</li>
	
	{% if is_granted("ROLE_ADMIN") %}
    <li {{ selection == 'user_list_of_ads' ? 'class="active"': '' }}>
	   <a href="{{ path("user_list_of_ads", {id: user.id}) }}">Ads</a>
	</li>
	
    <li {{ selection == 'user_list_of_cvs' ? 'class="active"': '' }}>
	   <a href="{{ path("user_list_of_cvs", {id: user.id}) }}">CVs</a>
	</li>
	{% endif %}
</ul>