<div class='row'>
	<div class="span12">
		<ul class="nav nav-pills">
			<li class="{{ menu_selection == 'all' ? 'active' : '' }}">
		    	<a href="{{ path('users_list') }}">All Users</a>
		  	</li>
		  	<li class="{{ menu_selection == 'stats' ? 'active' : '' }}">
		  		<a href="{{ path('users_statistics') }}">Statistics</a>
		  	</li>
		  	<li class="{{ menu_selection == 'company' ? 'active' : '' }}">
		  		<a href="{{ path('company') }}">Employers</a>
		  	</li>
		</ul>
	</div>
</div>
