{% extends "WanaworkUserBundle::base.html.twig" %}

{% block title %}User Ad List{% endblock %}

{% block body %}

<div class="row">
    <div class="span12 heading">
        <h1>User Account</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="user-profile">
            {% include 'WanaworkUserBundle:User:_account-menu.html.twig' with {selection: 'user_list_of_ads'} %}
	        <div class="tab-content">
			    <div class="tab-pane active">
			        <div class="user-overview">
			            <div style="padding: 20px;">
			                <div id="ad-list">
								{% for ad in pagination %}
								{% include 'WanaworkUserBundle:Ad:_ad_box.html.twig' with {delete_form: delete_forms[loop.index0]} %}
								{% endfor %}
							</div>	
							<div class="row">
								<div class="span12">
									<div class="navigation">
							    	{{ knp_pagination_render(pagination) }}
									</div>
								</div>
							</div>
				        </div>
			        </div>
			    </div>
	        </div>
		</div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
		'@WanaworkUserBundle/Resources/public/js/ads.js' %}
		<script src="{{ asset(asset_url) }}"></script>	
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 'bundles/wanaworkuser/css/ads/ad-box.css'
	filter='?yui_css' filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}
