{% extends "WanaworkUserBundle::base.html.twig" %}

{% block title %}Change Password{% endblock %}

{% block body %}

<div class="row">
    <div class="span12 heading">
        <h1>User Account - Change Password</h1>
        <h2></h2>
        
    </div>
</div>

<div class="row">
    <div class="span12">
        <form method="post">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="Update Password" class="btn btn-main" />
        </div>
        </form>        
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'bundles/wanaworkuser/css/user/show.css'
	'bundles/wanaworkuser/css/user/account-menu.css'
	 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	{% javascripts filter='?yui_js' 
	'bundles/wanaworkuser/js/user/show.js'
	'bundles/wanaworkuser/js/user/account-menu.js' %}
		<script src="{{ asset(asset_url) }}"></script>
	{% endjavascripts %}
{% endblock %}
