{% extends "WanaworkUserBundle::base.html.twig" %}

{% block title %}User Ad List{% endblock %}

{% block body %}

<div class="row">
    <div class="span12 heading">
        <h1>User Account</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="user-profile">
            {% include 'WanaworkUserBundle:User:_account-menu.html.twig' with {selection: 'user_list_of_cvs'} %}
	        <div class="tab-content">
			    <div class="tab-pane active">
			        <div class="user-overview">
			            <div style="padding: 20px;">
			                <div id="ad-list">
				                <table class="default-table cv-list">
						            <thead>
						                <tr>
						                    <th>CV Name</th>
						                    <th>Last Updated</th>
						                    <th>Download</th>
						                </tr>    
						            </thead>
						            <tbody>
		                               {% for cv in pagination %}
							           <tr>
							               <td>{{ cv.name }}</td>
							               <td>{{ cv.updated.format(date_format) }}</td>
							               <td>
							               <a href="{{ path('cv_download', {id: cv.id}) }}">Download</a>
							               </td>
							           </tr>
							           {% endfor %}
						            </tbody>
						        </table>
							</div>	
				        </div>
			        </div>
			    </div>
	        </div>
		</div>
    </div>
</div>
{% endblock %}