{% extends "WanaworkUserBundle::base.html.twig" %}

{% block title %}Edit Account{% endblock %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>Account Update</h1>
        <h2></h2>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div style="background: #fff; padding:20px;">
	        <form action="{{ path('user_update', { 'id': user.id }) }}" method="post" {{ form_enctype(edit_form) }}>
			    {{ form_widget(edit_form) }}
			    <p>
			        <button type="submit" class="btn btn-main">Save</button>
			    </p>
			</form>
		</div>
    </div>
</div>

{% endblock %}

