{% extends app.request.isXmlHttpRequest ? "::blank.html.twig" : "WanaworkUserBundle::base.html.twig" %}
{% block body %}
<div class="row">
	<div class="span12">
		
		<div class="alert alert-success">
			<ul>
				<li>Please check your email for the access code and enter it in the form below</li>
				<li>Alternativelly, just click on the link provided in the email.</li>
			</ul>   
		</div>
		
		<form method="post">
			{{ form_widget(resetCodeForm) }}
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-main ">Submit</button>
				</div>
			</div>
		</form>
		
	</div>
</div>
{% endblock %}