{% extends "WanaworkUserBundle::base.html.twig" %}
{% block title %}
Admin Panel - Users
{% endblock %}
{% block body %}
{% include 'WanaworkUserBundle:User:_admin-panel.html.twig' with {menu_selection: 'all'} %}

<div class="row">
	<div class="span12">
		<form method="get" action="{{ path('users_list') }}" class="form-inline">
			<input class="filter" type="email" name="email" placeholder="Email" value="{{ app.request.get('email') }}" />
			<input class="filter" type="text" name="name" placeholder="Name" value="{{ app.request.get('name') }}" />
			<select name="account-type" id="filter-account-type" class="filter">
				<option value="">All Account Types</option>
				<option {{ app.request.get('account-type') == 'ROLE_EMPLOYER' ? 'selected' : '' }} 
					value="ROLE_EMPLOYER">Employer</option>
				<option {{ app.request.get('account-type') == 'ROLE_EMPLOYEE' ? 'selected' : '' }} 
					value="ROLE_EMPLOYEE">Employee</option>
				<option {{ app.request.get('account-type') == 'ROLE_ADMIN' ? 'selected' : '' }} 
					value="ROLE_ADMIN">Admin</option>
			</select>
			
			<select name="profiles" id="filter-profiles" class="filter">
				<option value="">All Profiles</option>
				<option {{ app.request.get('profiles') == 'with' ? 'selected' : '' }} value="with">With Profiles</option>
				<option {{ app.request.get('profiles') == 'without' ? 'selected' : '' }} value="without">Without Profile</option>
			</select>
			<input type="submit" value="Filter" class="btn btn-main btn-small" />
			{% if filtersSet %}
			<input id='filter-reset' type="reset" value="Clear filters" class="btn btn-inverse btn-small" data-path="{{ path('users_list') }}" />
			{% endif %}
		</form>
	</div>
</div>	

<div class="row">
	<div class="span12">
	   
	   <div class="admin-button-panel">
	       <a class="btn" href="{{ path('user_new_employer') }}"><i class="icon icon-plus-sign"></i>Register Employer</a>
	   </div>
	   
	
		<table class="table default-table">
			<thead>
				<tr>
					<th>Email</th>
					<th>Name</th>
					<th>Registration Date</th>
					<th>Account Type</th>
					<th>Enabled</th>
					<th></th>
				</tr>
			</thead>
			
			<tbody>
				
				{% for user in pagination %}
				<tr>
					<td>{{ user.email }}</td>
					<td><a href="{{ path('user_show', {id: user.id}) }}">{{ user.name }}</a></td>
					<td>{{ user.registrationDate.format(date_format) }}</td>
					<td>
					   {% if user.employeeProfile %}
					   Employee Profile.
					   {% else %}
					   No Employee Profile
					   {% endif %}
					   <br />
					   {{ user.employerProfiles | length }} employer profiles
					</td>
					<td>{{ user.isEnabled ? 'Yes' : 'No' }}</td>
					<td>
						<div class="btn-group action-button">
						  <a class="btn dropdown-toggle btn-inverse" data-toggle="dropdown" href="#">
						    Action
						    <span class="caret"></span>
						  </a>
						  <ul class="dropdown-menu">
						  	{% if app.user != user %}
							  	{% if user.isEnabled %}
							  	<li><a href="{{ path('users_disable', {id: user.id}) }}">Disable</a></li>
							  	{% else %}
							  	<li><a href="{{ path('users_enable', {id: user.id}) }}">Enable</a></li>
							  	{% endif %}
						  	{% endif %}
						  </ul>
						</div>
					</td>
				</tr> 	
				
				{% else %}
				<tr>
					<td colspan="7" class="empty">
						No users found
					</td>
				</tr>
				{% endfor %}
				
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="span12">
		<div class="navigation">
    	{{ knp_pagination_render(pagination) }}
		</div>
	</div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets '@WanaworkUserBundle/Resources/public/css/user/index.css' 
	filter='?yui_css' filter='cssrewrite' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
		'@WanaworkUserBundle/Resources/public/js/user/index.js' %}
		<script src="{{ asset(asset_url) }}"></script>	
	{% endjavascripts %}
{% endblock %}