{% extends "WanaworkUserBundle::base.html.twig" %}

{% block body %}
<div class="row">
    <div class="span12 heading">
        <h1>New Employer Account</h1>
        <h2></h2>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div style="background: #fff; padding:20px;">
	        <form  method="post" {{ form_enctype(form) }}>
			    {{ form_widget(form) }}
			    <p>
			        <button type="submit" class="btn btn-main">Save</button>
			    </p>
			</form>
		</div>
    </div>
</div>

{% endblock %}

