{% extends "WanaworkUserBundle::base.html.twig" %}

{% block title %}Payment Receipts{% endblock %}

{% block body %}

<div class="row">
    <div class="span12 heading">
        <h1>User Account</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="user-profile">
            {% include 'WanaworkUserBundle:User:_account-menu.html.twig' with {selection: 'my_account_receipts'} %}
	        <div class="tab-content">
			    <div class="tab-pane active">
			        <div style="padding-top: 5px;">
				        <table class="default-table">
				            <thead>
				                <tr>
				                    <th>Description</th>
				                    <th>Payment Date</th>
				                    <th>Amount</th>
				                    <th>Receipt</th>
				                </tr>
				            </thead>
				            
				            <tbody>
				                {% for order in user.orders if order.status == constant('Wanawork\\UserBundle\\Entity\\Billing\\Order::STATUS_PAID') or is_granted('ROLE_ADMIN') %}
				                <tr>
				                    <td>{{ order.publicDescription }}</td>
 				                    <td>{{ order.payDate ? order.payDate.format(date_format) : '' }}</td>
				                    <td>&euro;{{ order.amountIncludingVat / 100 }}</td>
				                    <td>
				                        {% if order.status == constant('Wanawork\\UserBundle\\Entity\\Billing\\Order::STATUS_PAID') %}
				                        <a href="{{ path('order_receipt_download', {id: order.id}) }}">Download Receipt</a>
				                        {% endif %}
				                    </td>
				                </tr>
				                {% else %}
				                <tr>
				                    <td colspan="4">No orders</td>
				                </tr>
				                {% endfor %}
				            </tbody>
				        </table>
			        </div>
			    </div>
	        </div>
		</div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'bundles/wanaworkuser/css/user/show.css'
	'bundles/wanaworkuser/css/user/account-menu.css'
	 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	{% javascripts filter='?yui_js' 
	'bundles/wanaworkuser/js/user/show.js'
	'bundles/wanaworkuser/js/user/account-menu.js' %}
		<script src="{{ asset(asset_url) }}"></script>
	{% endjavascripts %}
{% endblock %}
