{% extends "WanaworkUserBundle::base.html.twig" %}

{% block title %}Restore password{% endblock %}
{% block meta %}
<meta content="Get a new password, if you can't remember your current one" name="description">
{% endblock %}

{% block header %}
{% include '::bare_header.html.twig' %}
{% endblock %}

{% block body %}
<div class="row">
	<div class="span12">
		<img style=" float: left; width: 335px;" src="{{ asset('/bundles/wanaworkmain/images/login/login_title_line.jpg') }}" alt="line" />
		<h1 style="font-size: 18pt; margin: 0 29px 0 29px; float: left; position: relative; top: -20px;">Restore Password</h1>
		<img style="float: left; width: 335px;" src="{{ asset('/bundles/wanaworkmain/images/login/login_title_line.jpg') }}" alt="line" />
	</div>
</div>

{% if errorMessage %}
<div class="row">
    <div class="span12">
        <div id="error-message" class="alert alert-error">{{ errorMessage }}</div>
    </div>
</div>
{% endif %}

{% if successMessage %}
<div class="row">
    <div class="span12">
        <div id="success-message" class="alert alert-success">{{ successMessage }}</div>
    </div>
</div>
{% else %}
<div class="row">
	<div class="span12">
		<p id="help-message">
			Please enter your email address. <br />
			We will send you an email with instructions how to reset your password.
		</p>
	</div>
</div>
{% endif %}

<div class="row">
	<div class="span12">
	
		{{ form_errors(form) }}
		
		<form method="POST" action="{{ path('restore_password') }}" {{ form_enctype(form) }} novalidate id="request-password-form"> 
			{{ form_widget(form) }}
			
			<div class="control-group" style="margin-top: 25px; text-align: center;">
				<div class="controls">
					<button type="submit" class="btn btn-main ">Get new password</button>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}

{% block footer %}
{% include '::_footer-bare.html.twig' %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'static/css/common_bare.css'
	'@WanaworkUserBundle/Resources/public/css/user/request-password-restore.css'
%}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}
