{% extends "WanaworkUserBundle::base.html.twig" %}

{% block title %}Reset Password{% endblock %}
{% block meta %}
<meta content="Set a new password" name="description">
{% endblock %}

{% block header %}
{% include '::bare_header.html.twig' %}
{% endblock %}

{% block body %}
<div class="row">
	<div class="span12">
		<img style=" float: left; width: 335px;" src="{{ asset('/bundles/wanaworkmain/images/login/login_title_line.jpg') }}" alt="line" />
		<h1 style="font-size: 18pt; margin: 0 29px 0 29px; float: left; position: relative; top: -20px;">Reset Password</h1>
		<img style="float: left; width: 335px;" src="{{ asset('/bundles/wanaworkmain/images/login/login_title_line.jpg') }}" alt="line" />
	</div>
</div>

<div class="row">
	<div class="span12">
	   
	   {% if successMessage %}
	   <div class="alert alert-success" style="width:300px; margin: 10px auto;">
	       {{ successMessage }}
	   </div>
	   {% endif %}
	
		<form method="post" novalidate id="restore-password-form">
			{{ form_widget(form) }}
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-main right">Save New Password</button>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block footer %}
{% include '::_footer-bare.html.twig' %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'static/css/common_bare.css'
	'@WanaworkUserBundle/Resources/public/css/user/restore-password.css'
%}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}
{% endblock %}
