{% extends "WanaworkUserBundle::base.html.twig" %}

{% block title %}User Account{% endblock %}

{% block body %}

<div class="row">
    <div class="span12 heading">
        <h1>User Account</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="user-profile">
            {% include 'WanaworkUserBundle:User:_account-menu.html.twig' with {selection: 'my_account'} %}
	        <div class="tab-content">
			    <div class="tab-pane active">
			        <div class="user-overview">
			            <div class="account">
				            <div class="name">
				                <b>Name:</b> {{ user.name }}
				            </div>
				            
				            <div class="email">
				                <b>Email:</b> {{ user.email }}
				            </div>
				            <div style="margin-top:20px">
				                <a class="btn" href="{{ path("user_edit", {id: user.id}) }}">Edit Account</a>
				                <a class="btn" href="{{ path("user_change_password", {id: user.id}) }}">Change Password</a>
				            </div>
				        </div>
			        </div>
			    </div>
	        </div>
		</div>
    </div>
</div>
	        
{# 	        <hr class="divider" />#}
	        
{# 	        <div class="profiles">#}
	        
{# 	            {% if user.settings.get('hide-profile-alert-overview') != 1 %}#}
{# 	            <div class="alert alert-info">#}
{# 	               <button data-key="hide-profile-alert-overview" data-value="1" #}
{# 	                   data-store="{{ path('user_update_setting', {id: user.id}) }}" data-dismiss="alert" #}
{# 	                   type="button" class="close" >&times;</button>#}
	                   
{# 	               <b><i class="icon-info-sign"></i>&nbsp;Multiple Profiles</b>:#}
{# 	               You can have multiple profiles under one account.<br/>#}
	               
{# 	               <b><i class="icon-info-sign"></i>&nbsp;Candidate Profiles</b>:#}
{# 	               You can have one candidate account to post ads if you need to find a job.<br />#}
	               
{# 	               <b><i class="icon-info-sign"></i>&nbsp;Company Profiles</b>:#}
{# 	               You can have unlimited accounts for your companies if you need to hire workers.#}
{# 	            </div>#}
{# 	            {% endif %}#}
	            
{# 	            <div class="profile-candidate">#}
{# 	               <h2>Candidate Profile</h2>#}
{# 	               <p class="subtitle-description">#}
{# 	                   A candidate profile allows you to post ads, advertising yourself being available for work#}
{# 	               </p>#}
	               
{# 	               {% if user.employeeProfile %}#}
{# 	                   Your Profile: <b>{{ user.employeeProfile.name }}</b>#}
{# 	                   {% if user.employeeProfile == user.defaultProfile %}#}
{# 	                   (Currently Active)#}
{# 	                   {% else %}#}
{# 	                   <a href="{{ path('user_set_default_profile',{id: user.id, profile_id: user.employeeProfile.id}) }}">Switch</a>#}
{# 	                   {% endif %}#}
{# 	               {% else %}#}
{# 	                   <span class="typcn typcn-delete"></span>#}
{# 	                   You don't have a candidate's profile. If you need to find a job, you can <a href="{{ path('ad_new') }}">create an ad</a>#}
{# 	               {% endif %}#}
	               
{# 	            </div>#}
	            
{# 	            <div class="profile-company">#}
{# 	                <h2>Company Profiles</h2>#}
{# 	                <p class="subtitle-description">#}
{# 	                   Company profiles allow you to search for candidate's ads, and request access to their CVs#}
{# 	                </p>#}
{# 	                {% for profile in user.employerProfiles %}#}
{# 	                   <div>#}
{# 	                   {{ profile.companyName }}#}
	                   
{# 	                   {% if user.defaultProfile == profile %}#}
{# 	                   (Currently Active)#}
{# 	                   {% else %}#}
{# 	                   <a href="{{ path('user_set_default_profile',{id: user.id, profile_id: profile.id}) }}">Switch</a>#}
{# 	                   {% endif %}#}
{# 	                   </div>#}
	                   
{# 	                {% else %}#}
{# 	                   <span class="typcn typcn-delete"></span>#}
{# 	                   You don't have any company profiles. If you need to hire people easily, please #}
{# 	                   <a href="{{ path('company_new') }}">create a company profile</a>#}
{# 	                {% endfor %}#}
{# 	            </div>#}
{# 	        </div>#}
{#         </div>#}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'bundles/wanaworkuser/css/user/show.css'
	'bundles/wanaworkuser/css/user/account-menu.css'
	 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	{% javascripts filter='?yui_js' 
	'bundles/wanaworkuser/js/user/show.js'
	'bundles/wanaworkuser/js/user/account-menu.js' %}
		<script src="{{ asset(asset_url) }}"></script>
	{% endjavascripts %}
{% endblock %}
