{% extends "WanaworkUserBundle::base.html.twig" %}

{% block title %}
Admin Panel - User Registration Statistics
{% endblock %}

{% block body %}
{% include 'WanaworkUserBundle:User:_admin-panel.html.twig' with {menu_selection: 'stats'} %}
<div class="admin_panel_content">
	<div class="row">
		<div class="span12">
			<div id="total-stats">
				Employee Count: {{ employeeCount }},<br />
				Employer Count: {{ employerCount }},<br />
				Total: {{ employeeCount + employerCount }}
			</div>
			
			<div>
				<div class="left" id="month-filter">
					<label>Month</label>
					<select id="month">
						{% for monthNum, monthName in months %}
						<option {{ "now"|date('m') == monthNum ? 'selected' : '' }} value="{{ monthNum }}">
							{{ monthName }}
						</option>
						{% endfor %}
					</select>
				</div>
				
				<div class="left" id="year-filter">
					<label>Year</label>
					<select id="year">
						{% for year in years %}
						<option {{ "now"|date('Y') == year ? "selected" : "" }} value="{{ year }}">
							{{ year }}
						</option>
						{% endfor %}
					</select>
				</div>
				
				<div class="right" id="group-by">
					<span>Group by:</span>
					<div id="frequency-filter" class="btn-group filter-buttons" data-toggle="buttons-radio">
						<button type="button" class="btn btn-info active" data-filter="day">Day</button>
						<button type="button" class="btn btn-info" data-filter="month">Month</button>
						<button type="button" class="btn btn-info" data-filter="year">Year</button>
					</div>
				</div>
			</div>
			
			<div id="registrationsGraph" style="clear: both;">
				
			</div>
		</div>
	</div>
</div>

<script>
var registrationsEmployee = {{ registrationsEmployee | json_encode | raw }};
var registrationsEmployer = {{ registrationsEmployer | json_encode | raw }};
</script>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts filter='?yui_js' 
		'jqplot/jquery.jqplot.js'
		'jqplot/plugins/jqplot.barRenderer.js'
		'jqplot/plugins/jqplot.pointLabels.js'
		'jqplot/plugins/jqplot.categoryAxisRenderer.js'
		'jqplot/plugins/jqplot.canvasTextRenderer.js'
		'jqplot/plugins/jqplot.canvasAxisLabelRenderer.js'
		'jqplot/plugins/jqplot.canvasAxisTickRenderer.js'
		'@WanaworkUserBundle/Resources/public/js/user/statistics.js' %}
		<script src="{{ asset(asset_url) }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<!--[if lt IE 9]>
	<script language="javascript" type="text/javascript" src="/jqplot/excanvas.js"></script>
	<![endif]-->
	{% stylesheets filter='?yui_css' filter='cssrewrite' 
		'jqplot/jquery.jqplot.css'
		'@WanaworkUserBundle/Resources/public/css/user/statistics.css' %}
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset(asset_url) }}" />
	{% endstylesheets %}
{% endblock %}