{% extends "WanaworkUserBundle::base.html.twig" %}

{% block title %}Email Subscription Settings{% endblock %}

{% block body %}

<div class="row">
    <div class="span12 heading">
        <h1>User Account</h1>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="user-profile">
            {% include 'WanaworkUserBundle:User:_account-menu.html.twig' with {selection: 'user_email_subscriptions'} %}
	        <div class="tab-content">
			    <div class="tab-pane active">
			        <div class="user-overview">
			            <div style="padding: 20px;">
			            {% if isUnsubscribed %}
				        You are currently unsubscribed and won't be receiving any email communication from us.<br/><br/>
				        
				        If you wish to re-subscribe, please 
                        <a href="{{ path('user_resubscribe', {id: user.id}) }}">click here</a>
				        {% else %}
				        You are currently subscribed and will receive email communication from us<br /><br />
                        If you wish to unsubscribe, please 
                        <a href="{{ path('user_unsubscribe', {id: user.id}) }}">click here</a>			        
				        {% endif %}
				        </div>
			        </div>
			    </div>
	        </div>
		</div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='?yui_css' filter='cssrewrite'
	'bundles/wanaworkuser/css/user/account-menu.css'
	 %}
	<link rel="stylesheet" type="text/css" media="all" href="{{ asset(asset_url) }}" />
{% endstylesheets %}		
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	{% javascripts filter='?yui_js' 
	 %}
		<script src="{{ asset(asset_url) }}"></script>
	{% endjavascripts %}
{% endblock %}
